<!--
	************************************************************
	* Call to action section
	************************************************************ -->
	<section class="pd-tb-mini bg-default pos-rel" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">

			<div class="row gt20 middle-md">
				<div class="col-md-6" data-rgen-sm="mr-b-30" data-animate-in="fadeInLeft">
					<h2 class="title" data-rgen-sm="large">Ready to get started?</h2>
					<h3 class="title-sub mini mr-0" data-rgen-sm="small">Lorem ipsum dolor sit amet, consecteturin ligula convallis, vel consecteturin ligula convallis tincidunt.</h3>	
				</div><!-- // END : column //  -->

				<div class="col-md-3 offset-md-1" data-rgen-sm="mr-b-30" data-animate-in="fadeInRight">
					<div class="info-obj img-l g10 mini mid mr-0" data-rgen-sm="img-t">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
						<div class="info">
							<p class="mr-0 title-sub mini">Call us on</p>
							<h3 class="mr-0 title mini">1-123-456-7890</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-2" data-animate-in="fadeInRight">
					<a href="#popup-content" class="btn btn-white solid bdr-2 btn-block set-popup" data-rgen-sm="medium bold-n">Contact us</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- container -->
	</section>
	<!-- ************** END : Call to action section **************  -->