<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-medium bg-gray" data-rgen-sm="pd-0 align-c" id="testimonials">
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder img-half l z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/half-bg-img-02.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-6 flex-cr" data-rgen-sm="align-c mr-b-20">
					<a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="video-popup iconbox sq120 shadow-medium -mr-r-60 btn-default fs30 rd solid hov-btn-white" data-rgen-sm="mr-auto"><i class="fa fa-play mr-l-4"></i></a>
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1" data-rgen-sm="pd-b-40" data-animate-in="fadeInRight">
					<h2 class="title bold-1 mr-b-mini f-1" data-rgen-sm="medium">Start your free trial today and get instant access</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					
					<p class="mr-b-mini">Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<a href="https://goo.gl/G9rSM5" target="_blank" class="btn btn-default round solid">Start my FREE trial</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->	
			
		</div><!-- // END : Container //  -->
	</section>
	<!-- ************** END : Content section **************  -->