<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small pos-rel" data-rgen-sm="pd-tb-small" id="about">
		<div class="container align-c pos-rel z1">

			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">About us</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>

			<div class="row gt20 mb20">
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><span class="iconwrp rd bg-gray txt-dark"><i class="pe-7s-phone"></i></span></div>
						<div class="info">
							<h3 class="title mini">Fully responsive</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><span class="iconwrp rd bg-gray txt-dark"><i class="pe-7s-photo-gallery"></i></span></div>
						<div class="info">
							<h3 class="title mini">Flexible design</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><span class="iconwrp rd bg-gray txt-dark"><i class="pe-7s-photo"></i></span></div>
						<div class="info">
							<h3 class="title mini">Parallax background</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><span class="iconwrp rd bg-gray txt-dark"><i class="pe-7s-paint-bucket"></i></span></div>
						<div class="info">
							<h3 class="title mini">Easy to customize</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->