<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-small pd-b-0" id="about" data-rgen-sm="pd-t-30">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">Who we are</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>
			<p class="-mr-b-100" data-rgen-sm="mr-b-20" data-animate-in="fadeInUp"><img src="images/agency_01.jpg" alt="image"></p>
		</div><!-- // END : Container //  -->

		<div class="bg-gray pd-tb-small" data-rgen-sm="pd-tb-small">
			<div class="container pd-t-50" data-rgen-sm="pd-t-0">
				<h3 class="title small align-c" data-animate-in="fadeIn">How we work on our projects</h3>
				<hr class="mr-tb-30">
				<div class="row gt20 mb20">
					<div class="col-md-3" data-animate-in="fadeInUp|0.1">
						<div class="info-obj img-l g20 mini mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
							<div class="info">
								<h3 class="title bold-n tiny mr-b-10">PROTOTYPING</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-3" data-animate-in="fadeInUp|0.2"> 
						<div class="info-obj img-l g20 mini mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
							<div class="info">
								<h3 class="title bold-n tiny mr-b-10">DESIGN PROCESS</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-3" data-animate-in="fadeInUp|0.3">
						<div class="info-obj img-l g20 mini mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-plugin"></i></span></div>
							<div class="info">
								<h3 class="title bold-n tiny mr-b-10">DEVELOPMENT</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-3" data-animate-in="fadeInUp|0.4">
						<div class="info-obj img-l g20 mini mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-user"></i></span></div>
							<div class="info">
								<h3 class="title bold-n tiny mr-b-10">USER TESTING</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

				<hr class="mr-tb-30">

				<div class="w75 mr-auto align-c" data-animate-in="fadeInUp">
					<p class="fs20 txt-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco exaliquip exea commodo proident.</p>
					<p><a href="#" class="btn btn-default bdr-2">Want to know us better?</a></p>
					
				</div>
			</div><!-- // END : Container //  -->
		</div>
	</section>
	<!-- ************** END : Content section **************  -->