<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small" data-bgcolor="#f0f9fe" data-rgen-sm="pd-tb-medium align-c">
		<div class="container small">
			<div class="row gt20">
				<div class="col-md-4" data-rgen-sm="mr-b-30" data-animate-in="fadeInLeft">
					<h2 class="title f-2 bold-n mr-b-tiny">Overview of BOOK chapters</h2>
					<p class="title-sub mini">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>
					<a href="#" class="btn btn-default solid">Read full book</a>
				</div><!-- // END : column //  -->
				
				<div class="col-md-7 offset-md-1" data-rgen-sm="align-l">
					<div class="row gt40 mb20">
						<div class="col-md-6" data-animate-in="fadeInRight|0.1">
							<ul class="list-2 fs16 txt-dark">
								<li><i class="far fa-bookmark"></i> Introduction</li>
								<li><i class="far fa-bookmark"></i> Understand the purpose of the landing page</li>
								<li><i class="far fa-bookmark"></i> Clear primary call to action (CTA)</li>
								<li><i class="far fa-bookmark"></i> Balanced the amount of information</li>
								<li><i class="far fa-bookmark"></i> Pop ups for supplementary information</li>
							</ul>
						</div><!-- // END : column //  -->
						
						<div class="col-md-6" data-animate-in="fadeInRight|0.3">
							<ul class="list-2 fs16 txt-dark">
								<li><i class="far fa-bookmark"></i> Flexibility of content</li>
								<li><i class="far fa-bookmark"></i> visual distraction with content</li>
								<li><i class="far fa-bookmark"></i> Testimonials</li>
								<li><i class="far fa-bookmark"></i> Powerful headings and tag lines</li>
								<li><i class="far fa-bookmark"></i> Subscribe and Contact forms</li>
							</ul>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->
					
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->