<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium bg-dark" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light align-c">
			<div class="w75 mr-auto mr-b-300" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="medium">Unlimited possibilities of combinations</h2>
				<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores reprehenderit porro veritatis vitae. Dignissimos esse perspiciatis totam iusto eveniet commodi itaque in nesciunt aspernatur.</p>
				<hr class="w50 mr-auto light">
				<h2 class="title mr-b-mini" data-rgen-sm="small">Still not convinced ?</h2>
				<a href="#" class="btn btn-white round solid">Try our builder demo</a>
			</div>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.2)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/feature_bg01.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- // END : Content section //  -->