<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pos-rel min-px-h400" data-animate-in="fadeInLeft">
					<img src="images/yoga_800x600_01.jpg" class="mr-b-40" alt="Image">
					<h2 class="title" data-rgen-sm="medium">What is Yoga?</h2>
					<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaad adsfd.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1" data-animate-in="fadeInRight">
					<div class="bg-gray pd-mini align-c" data-rgen-sm="pd-20">
						<h3 class="title small">Testimonials</h3>
						<p class="title-sub tiny">Lorem ipsum dolor sitamet consectetur adipisicing elit seddo eiusmod tempor incididunt ulabore.</p>
						
						<!--=================================
						= carousel-widget
						==================================-->
						<div class="carousel-widget ctrl-1 align-c">
							<div class="owl-carousel"
								data-items="1"
								data-margin="40"
								data-nav="false"
								data-dots="true"
								data-autoplay="false"
								data-center="false">
								
								<div class="item pd-micro">
									<div class="info-obj img-t g20 medium align-c pd-tiny bg-white shadow-mini rd-10 mr-t-50" data-rgen-sm="pd-20">
										<div class="img -mr-t-80 bdr-10 bdr-primary shadow-small rd"><img src="images/person1.jpg" class="rd bdr-1 bdr-white" alt="image"></div>
										<div class="info">
											<h3 class="fs16 mr-0">Oupsum dolor</h3>
											<em class="fs12">Creative Director</em>
											<hr>
											<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
										</div>
									</div><!-- / info object -->
								</div><!-- /.item -->

								<div class="item pd-micro">
									<div class="info-obj img-t g20 medium align-c pd-tiny bg-white shadow-mini rd-10 mr-t-50" data-rgen-sm="pd-20">
										<div class="img -mr-t-80 bdr-10 bdr-primary shadow-small rd"><img src="images/person2.jpg" class="rd bdr-1 bdr-white" alt="image"></div>
										<div class="info">
											<h3 class="fs16 mr-0">Oupsum dolor</h3>
											<em class="fs12">Creative Director</em>
											<hr>
											<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua diam tempor invidunt ut labore et dolore magna diam tempor invidunt ut labore et dolore magna. </p>
										</div>
									</div><!-- / info object -->
								</div><!-- /.item -->

								<div class="item pd-micro">
									<div class="info-obj img-t g20 medium align-c pd-tiny bg-white shadow-mini rd-10 mr-t-50" data-rgen-sm="pd-20">
										<div class="img -mr-t-80 bdr-10 bdr-primary shadow-small rd"><img src="images/person6.jpg" class="rd bdr-1 bdr-white" alt="image"></div>
										<div class="info">
											<h3 class="fs16 mr-0">Oupsum dolor</h3>
											<em class="fs12">Creative Director</em>
											<hr>
											<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
										</div>
									</div><!-- / info object -->
								</div><!-- /.item -->

							</div><!-- /.owl-carousel -->
						</div><!-- /.carousel-widget -->

					</div>
				</div><!-- // END : column //  -->

			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content sections **************  -->