<!--
	************************************************************
	* Download section
	************************************************************ -->
	<section class="pd-tb-small pos-rel" data-rgen-sm="pd-tb-small" id="download">
		<div class="container pos-rel z2 align-c typo-light" data-animate-in="fadeInUp">
			<img src="images/icon-img-03.png" class="max-px-w150 mr-auto mr-b-50" alt="icon">

			<h2 class="title large" data-rgen-sm="large">Get R.Gen Now</h2>
			<p class="title-sub" data-rgen-sm="medium">R.Gen app now available for download. Join us and make your life easy.</p>

			<a href="https://goo.gl/ZMxnYs" target="_blank" class="appstore-btn app-apple" data-rgen-sm="mr-10"><i class="fab fa-apple"></i><small>Download on the</small>App Store</a>
			<a href="https://goo.gl/ZMxnYs" target="_blank" class="appstore-btn app-google-play" data-rgen-sm="mr-10"><i class="fab fa-android"></i><small>Get it on</small>Google play</a>
			<a href="https://goo.gl/ZMxnYs" target="_blank" class="appstore-btn app-amazon" data-rgen-sm="mr-10"><i class="fab fa-amazon"></i><small>Available at</small>Amazon</a>
			<a href="https://goo.gl/ZMxnYs" target="_blank" class="appstore-btn app-windows" data-rgen-sm="mr-10"><i class="fab fa-windows"></i><small>Download from</small>Windows Store</a>
		</div>
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.7)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg6.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Download section **************  -->