<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small">
		<div class="container small align-c">
			<h2 class="title f-2 bold-1 mr-b-small" data-rgen-sm="medium mr-b-30">Amazing Features</h2>

			<div class="row gt20 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><span class="iconwrp txt-white rd bg-default"><i class="pe-7s-paint-bucket"></i></span></div>
						<div class="info">
							<h3 class="title mini">Easy to customize</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><span class="iconwrp txt-white rd bg-primary"><i class="pe-7s-phone"></i></span></div>
						<div class="info">
							<h3 class="title mini">Fully responsive</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><span class="iconwrp txt-white rd bg-secondary"><i class="pe-7s-browser"></i></span></div>
						<div class="info">
							<h3 class="title mini">Advanced builder</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

			<img src="images/iphone-img-02.png" class="mr-auto mr-t-small" data-rgen-sm="mr-t-30" alt="phone image" data-animate-in="fadeIn">
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features section **************  -->