<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pd-tb-small bg-dark typo-light" data-rgen-sm="pd-tb-small align-c" id="services">
		<div class="container small align-c">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h3 class="f-2 bold-n mr-0 txt-default" data-rgen-sm="fs20">Our Main</h3>
				<h2 class="title large f-1 txt-upper mr-0" data-rgen-sm="medium">Services</h2>
				<img class="mr-tb-mini mr-auto max-px-w150" src="images/sep-01-light.png" alt="seperator">
			</div>
			<div class="row gt40 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><img src="images/icon-breakfast.png" alt="icon"></div>
						<div class="info">
							<h3 class="title mini txt-upper">Breakfast</h3>
							<p class="mr-0 op-06">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->

				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><img src="images/icon-lunch.png" alt="icon"></div>
						<div class="info">
							<h3 class="title mini txt-upper">Lunch</h3>
							<p class="mr-0 op-06">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><img src="images/icon-dinner.png" alt="icon"></div>
						<div class="info">
							<h3 class="title mini txt-upper">Dinner</h3>
							<p class="mr-0 op-06">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Feature section **************  -->