<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pd-0" id="about">
		<!--=================================
		= Image section
		==================================-->
		<div class="pd-t-small bg-default" data-rgen-sm="pd-tb-small align-c">
			<div class="container small align-c typo-light">
				<div class="w60 mr-auto mr-b-mini" data-animate-in="fadeIn">
					<h2 class="title f-1" data-rgen-sm="medium">Multipurpose Landing Pages</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>
				</div>

				<div class="video-box px-h600 -mr-b-200 mr-auto z2 pos-rel rd-10 shadow-large" data-rgen-sm="w-reset px-h400 mr-0" data-animate-in="fadeIn">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/dorZ3vag5PI" frameborder="0" allowfullscreen></iframe>
				</div>
				<!-- <img src="images/software-img-01.jpg" alt="R.Gen-image" class="mr-auto rd-10 shadow-large -mr-b-200" data-rgen-sm="mr-b-30"> -->
			</div><!-- // END : container //  -->
		</div>

		<!--=================================
		= Features info
		==================================-->
		<div class="pd-tb-mini mr-t-200" data-rgen-sm="mr-0">
			<div class="container small">
				<div class="row gt40 mb20">
					<div class="col-md-4" data-animate-in="fadeInUp|0.1">
						<div class="info-obj img-l g10 mini" data-rgen-sm="pd-10 mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-phone"></i></span></div>
							<div class="info">
								<h3 class="title mini bold-n">Responsive Design</h3>
								<p data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-4" data-animate-in="fadeInUp|0.2">
						<div class="info-obj img-l g10 mini" data-rgen-sm="pd-10 mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-copy-file"></i></span></div>
							<div class="info">
								<h3 class="title mini bold-n">Clean & Powerful Code</h3>
								<p data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-4" data-animate-in="fadeInUp|0.3">
						<div class="info-obj img-l g10 mini" data-rgen-sm="pd-10 mr-0">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-help2"></i></span></div>
							<div class="info">
								<h3 class="title mini bold-n">Dedicated Support</h3>
								<p data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
		</div>
		<!-- ======= END : Features info =======  -->
		
		<div class="container small align-c pd-b-small" data-animate-in="fadeInUp|0.4">
			<div class="w75 mr-auto">
				<h2 class="title f-1 small">One of best multi-purpose landing page template collection to quickly start your page</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

				<a href="https://goo.gl/G9rSM5" class="btn btn-default solid round">Get started now</a>
			</div>
			
		</div>
	</section>
	<!-- ************** END : Feature section **************  -->