<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small">
		<div class="container small">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="f-2 title" data-rgen-sm="medium">Create perfect landing pages</h2>
				<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua</p>
			</div>
			<div class="row">
				<div class="col-md-6" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-l g20 small pd-tiny mr-0">
						<div class="img"><img src="images/icon-bullhorn.png"></div>
						<div class="info">
							<h3 class="title mini mr-b-micro">Digital marketing tips</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-6" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-l g20 small pd-tiny mr-0">
						<div class="img txt-primary"><img src="images/icon-design-layout1.png"></div>
						<div class="info">
							<h3 class="title mini mr-b-micro">Trending designs</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-6" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-l g20 small pd-tiny mr-0">
						<div class="img txt-primary"><img src="images/icon-flow.png"></div>
						<div class="info">
							<h3 class="title mini mr-b-micro">Marketing work flows</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-6" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-l g20 small pd-tiny mr-0">
						<div class="img txt-primary"><img src="images/icon-details.png"></div>
						<div class="info">
							<h3 class="title mini mr-b-micro">Detail overview</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>

	</section>
	<!-- ************** END : Features section **************  -->