<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-medium">
		<div class="container small align-c">
			<h2 class="title f-2" data-rgen-sm="medium">Why us?</h2>
			<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>

			<div class="row gt20 mb20">
				<div class="col-md-4">
					<div class="info-obj img-t g20 mini align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
						<div class="info">
							<h3 class="title mini">Easy to customize</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4">
					<div class="info-obj img-t g20 mini align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-phone"></i></span></div>
						<div class="info">
							<h3 class="title mini">Fully responsive</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4">
					<div class="info-obj img-t g20 mini align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-browser"></i></span></div>
						<div class="info">
							<h3 class="title mini">Advanced builder</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
			<hr class="mr-tb-mini">

			<div class="row gt0 typo-light middle-md">
				<div class="col-md-4">
					<div class="bdr-1 bdr-op-1 pd-tiny bg-dark">
						<h2 class="title large">335</h2>
						<p>Completed projects</p>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-4">
					<div class="bdr-1 bdr-op-1 pd-tiny bg-default">
						<span class="iconbox sq80 fs80 mr-b-micro txt-white"><i class="pe-7s-smile"></i></span>
						<h2 class="title large">900+</h2>
						<p>Happy customers</p>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4">
					<div class="bdr-1 bdr-op-1 pd-tiny bg-dark">
						<h2 class="title large">50+</h2>
						<p>Team members</p>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features section **************  -->