<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pd-tb-small" data-bgcolor="#ebfbff" data-rgen-sm="pd-tb-mini align-c" id="features">
		<div class="container small align-c">
			<div class="w60 mr-auto mr-b-mini" data-animate-in="fadeIn">
				<span class="iconbox sq90 fs90 txt-default"><i class="pe-7s-cash"></i></span>
				<h2 class="title bold-1 f-1" data-rgen-sm="medium">Easy and powerful tool to manage invoice</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua</p>
			</div>
			
			<div class="row gt40 mb20 middle-md">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><img src="images/finance-icon-01.png" alt="icon"></div>
						<div class="info">
							<h3 class="title mini">Powerful management</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c pd-mini bg-secondary rd-4 typo-light">
						<div class="img"><img src="images/finance-icon-02.png" alt="icon"></div>
						<div class="info">
							<h3 class="title mini">Automated system</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img"><img src="images/finance-icon-03.png" alt="icon"></div>
						<div class="info">
							<h3 class="title mini">Multiple account</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Feature section **************  -->