<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-rgen-sm="pd-tb-small" id="features">
		<div class="container pos-rel z1">
			
			<div class="row gt20 mb20 middle-md" data-rgen-sm="align-c">
				<div class="col-md-7" data-animate-in="fadeIn">
					<img src="images/content-img-02.png" alt="app-image">
				</div><!-- // END : column //  -->
				
				<div class="col-md-4 offset-md-1" data-animate-in="fadeIn">
					<h3 class="title" data-rgen-sm="medium">Easy and powerful way of navigating task flow</h3>
					<p class="title-sub" data-rgen-sm="medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
	
			<hr class="mr-tb-40">

			<div class="row gt40 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t align-c g20 mini">
						<div class="img"><span class="iconwrp txt-default"><i class="pe-7s-photo-gallery"></i></span></div>
						<div class="info">
							<h3 class="bold-2 fs20 mr-b-10">Combination of blocks</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
						</div>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t align-c g20 mini">
						<div class="img"><span class="iconwrp txt-default"><i class="pe-7s-paint-bucket"></i></span></div>
						<div class="info">
							<h3 class="bold-2 fs20 mr-b-10">Easy customization</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
						</div>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t align-c g20 mini">
						<div class="img"><span class="iconwrp txt-default"><i class="pe-7s-photo"></i></span></div>
						<div class="info">
							<h3 class="bold-2 fs20 mr-b-10">Unique designs</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
						</div>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

			<hr class="mr-tb-40">
			
			<div class="row gt40 middle-md" data-animate-in="fadeIn" data-rgen-sm="align-c">
				<div class="col-md-7">
					<h2 class="title" data-rgen-sm="medium">Take quick tour of more advanced features with APP navigation guide and utilities</h2>
				</div>
				<div class="col-md-4 offset-md-1">
					<a href="#" class="btn btn-default btn-block solid large" data-rgen-sm="medium bold-n">Explore all features</a>
				</div>
			</div>

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features section **************  -->