<!-- 
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel bg-dark" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">

			<p class="align-c"><a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-block"><img src="images/logo-light.png" alt="logo"></a></p>

			<hr class="light mr-tb-40">

			<div class="row gt20 mb20">
				<div class="col-md-6">

					<!--=================================
					= Contact information
					==================================-->
					<div class="info-obj img-l g20 tiny mr-b-50" data-rgen-sm="img-t">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-4">Address</h3>
							<p class="mr-0 op-04">PO Box 16122, Collins Street West, Victoria 8007, Australia</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g20 tiny mr-b-50" data-rgen-sm="img-t">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-4">Phone</h3>
							<p class="mr-0 op-04"><strong>Office : </strong> 1-123-456-7890,<br> <strong>FAX : </strong> 1-123-456-7890</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g20 tiny mr-b-50" data-rgen-sm="img-t">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-4">Email</h3>
							<p class="mr-0 op-04"><a href="#">support@abcxyz.com</a><br><a href="#">admin@abcxyz.com</a></p>
						</div>
					</div><!-- info box -->
					
					<!--=========================================
					=  Social links
					=============================================-->
					<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq60 fs20 mr-6 rd-4 bg-glass-light-01 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
					<a href="https://twitter.com/rgenesisart" target="_blank" class="sq60 fs20 mr-6 rd-4 bg-glass-light-01 iconbox btn-white"><i class="fab fa-twitter"></i></a>
					<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq60 fs20 mr-6 rd-4 bg-glass-light-01 iconbox btn-white"><i class="fab fa-google"></i></a>
					<a href="https://www.youtube.com/channel/UC6zqsNIOeHQUODHcP70fx8w" target="_blank" class="sq60 fs20 mr-6 rd-4 bg-glass-light-01 iconbox btn-white"><i class="fab fa-youtube"></i></a>
					<a href="http://r-genesis-art.tumblr.com/" target="_blank" class="sq60 fs20 mr-6 rd-4 bg-glass-light-01 iconbox btn-white"><i class="fab fa-tumblr"></i></a>

				</div><!-- // END : column //  -->
				

				<div class="col-md-5 offset-md-1">

					<!--=================================
					= Contact form
					==================================-->
					<!-- form-block -->
					<div class="form-block">
						<h2 class="title mini">Drop us a line</h2>

						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">

								<div class="row gt10">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control form-control-light" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
										</div>
									</div><!-- // END : column //  -->
									
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control form-control-light" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
										</div>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
								
								<div class="form-group">
									<input class="form-control form-control-light" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>

								<div class="form-group">
									<input class="form-control form-control-light" data-label="Subject" type="text" name="subject" placeholder="Enter subject">
								</div>
								<div class="form-group">
									<textarea class="form-control form-control-light" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
								</div>
							</div>
							<button type="submit" class="btn btn-default hov-btn-white solid"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
			<hr class="light mr-tb-40">

			<p class="align-c"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->