<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-mini bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container typo-light" data-rgen-sm="align-c">
			<div class="row gt20 mb20">
				
				<!--=================================
				= Postal address
				==================================-->
				<div class="col-md-5" data-animate-in="fadeIn|0.1">
					<p><a href="#" class="inline-block max-px-w150"><img src="images/logo1.png" class="max-px-w140" alt="logo"></a></p>
					<h3 class="title mini mr-0">Postal Address</h3>
					<p class="op-05">PO Box 16122, Collins Street West, Victoria 8007, Australia</p>

					<!--=========================================
					=  Social links
					=============================================-->
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-twitter"></i></a>
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-google"></i></a>
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-youtube"></i></a>
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-tumblr"></i></a>
				</div><!-- // END : column //  -->

				<!--=================================
				= Quick links
				==================================-->
				<div class="col-md-7" data-animate-in="fadeIn|0.2">
					<div class="row gt20 mb20">
						<div class="col-md-4">
							<h3 class="title mini">Product</h3>
							<ul class="list-1 txt-white op-05">
								<li><a href="#" class="link-white">Features</a></li>
								<li><a href="#" class="link-white">Discover</a></li>
								<li><a href="#" class="link-white">Templates</a></li>
								<li><a href="#" class="link-white">Plan and Pricing</a></li>
							</ul>
						</div><!-- // END : column //  -->
						
						<div class="col-md-4">
							<h3 class="title mini">Help and Support</h3>
							<ul class="list-1 txt-white op-05">
								<li><a href="#" class="link-white">Video Tutorials</a></li>
								<li><a href="#" class="link-white">Forums</a></li>
								<li><a href="#" class="link-white">Help Center</a></li>
								<li><a href="#" class="link-white">Contact Us</a></li>
							</ul>
						</div><!-- // END : column //  -->

						<div class="col-md-4">
							<h3 class="title mini">About Us</h3>
							<ul class="list-1 txt-white op-05">
								<li><a href="#" class="link-white">Blog</a></li>
								<li><a href="#" class="link-white">About Us</a></li>
								<li><a href="#" class="link-white">Privacy Policy</a></li>
								<li><a href="#" class="link-white">Terms and Conditions</a></li>
							</ul>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->
				</div><!-- // END : column //  -->
				
			</div>

			<hr class="light">
			<p class="mr-0 op-05"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->