<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-small bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container small typo-light align-c" data-rgen-sm="align-c">
			
			<div class="w75 mr-auto" data-animate-in="fadeIn|0.1">
				<h2 class="title large bold-n f-2 mr-b-tiny" data-rgen-sm="medium">Get Complete Guide to Improve Your Digital Marketing</h2>
				<p class="title-sub mini mr-b-mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<a href="#" class="btn btn-default large solid bdr-2" data-rgen-sm="medium">Get your eBook</a>
			</div>

			<hr class="light mr-tb-small" data-rgen-sm="mr-tb-30">

			<div class="mr-tb-tiny" data-animate-in="fadeIn|0.2">
				<a href="#">Privacy policy</a>
				<span class="mr-lr-10">|</span>
				<a href="#">Terms and conditions</a>
			</div>
			
			<p class="mr-0 op-05"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->