<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pd-tb-small align-c">
		<div class="container" data-animate-in="fadeIn">
			<p class="mr-b-10"><a href="#" class="inline-block"><img src="images/logo.png" alt="logo"></a></p>

			<div class="mr-tb-20">
				<a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS" class="mr-10">Classes</a>
				<a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS" class="mr-10">Time table</a>
				<a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS" class="mr-10">Trainers</a>
				<a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS" class="mr-10">Work shops</a>
				<a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS" class="mr-10">Find our locations</a>
			</div>
			
			<!--=========================================
			=  Social links
			=============================================-->
			<a href="#" target="_blank" class="sq60 fs26 rd-4 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
			<a href="#" target="_blank" class="sq60 fs26 rd-4 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
			<a href="#" target="_blank" class="sq60 fs26 rd-4 iconbox btn-dark"><i class="fab fa-google"></i></a>
			<a href="#" target="_blank" class="sq60 fs26 rd-4 iconbox btn-dark"><i class="fab fa-youtube"></i></a>
			<a href="#" target="_blank" class="sq60 fs26 rd-4 iconbox btn-dark"><i class="fab fa-tumblr"></i></a>
			
			<hr class="mr-tb-30">

			<p class="mr-0"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->