<!--
	************************************************************
	* Contact form
	************************************************************ -->
	<section class="pd-tb-small bg-default" data-rgen-sm="pd-tb-medium">
		<div class="container small typo-light align-c">
			<div class="w75 mr-auto">
				<h2 class="title mr-b-mini f-2" data-rgen-sm="medium mr-b-30" data-animate-in="fadeIn">Create powerful landing pages to promote services</h2>
			</div>

			<!-- form-block -->
			<div class="form-block px-w500 mr-auto" data-rgen-sm="w-reset" data-animate-in="fadeInUp">
				<form action="form-data/formdata.php" class="form-widget">
					<div class="field-wrp">
						<input type="hidden" name="to" value="r.genesis.art@gmail.com">
						<div class="row gt10">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 bdr-white rd-0" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 bdr-white rd-0" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
						
						<div class="form-group">
							<input class="form-control form-control-light bdr-2 bdr-white rd-0" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
						</div>
						<div class="form-group">
							<input class="form-control form-control-light bdr-2 bdr-white rd-0" data-label="Subject" required data-msg="Please enter subject." type="text" name="subject" placeholder="Enter subject">
						</div>
						<div class="form-group">
							<textarea class="form-control form-control-light bdr-2 bdr-white rd-0" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
						</div>
					</div>
					<button type="submit" class="btn solid btn-dark hov-btn-white block rd-0"><i class="fa fa-envelope-o"></i> SUBMIT</button>
				</form><!-- / form -->
			</div><!-- / form block -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>

	</section>
	<!-- ************** END : Contact form **************  -->