<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-0 mr-b-1" id="home">
		<div class="carousel-widget ctrl-1 pos-rel z2">
			<div class="owl-carousel"
				data-dots="false" 
				data-autoplay="false"
				data-nav="true">
				
				<div class="item caption-left pos-rel">
					<div class="container vh100 min-px-h500 flex-bc">
						<div class="caption delay-1s pos-rel z2 w100 typo-light">
							<div class="flex-row gt20">
								<div class="flex-col-md-8 bg-glass-dark-08 pos-rel">
									<div class="pd-tiny">
										<small class="tag-text pos-abs t0 bg-default">NEW YORK CITY</small>
										<h2 class="title mr-0" data-rgen-sm="medium">Empire State Building Statue of Liberty</h2>	
									</div>
								</div><!-- // END : column //  -->
								<div class="flex-col-md-4 bg-default flex-cl">
									<p class="pd-tiny mr-0">
										<small class="fs18">From</small><br>
										<span class="fs36">$109.00</span>
									</p>
									<i class="fa fa-angle-right pos-abs r0 txt-white fs40 mr-r-20"></i>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div>
					</div>
					<a href="#" class="full-wh z10"></a>
					<div class="full-wh bg-cover bg-cc" data-bg="images/travel-slide01.jpg"></div>
				</div><!-- /.item -->

				<div class="item caption-left pos-rel">
					<div class="container vh100 min-px-h500 flex-bc">
						<div class="caption delay-1s pos-rel z2 w100 typo-light">
							<div class="flex-row gt20">
								<div class="flex-col-md-8 bg-glass-dark-08 pos-rel">
									<div class="pd-tiny">
										<small class="tag-text pos-abs t0 bg-default">ROME</small>
										<h2 class="title mr-0" data-rgen-sm="medium">Ancient Rome and Colosseum Half-Day Walking Tour</h2>
									</div>
								</div><!-- // END : column //  -->
								<div class="flex-col-md-4 bg-default flex-cl">
									<p class="pd-tiny mr-0">
										<small class="fs18">From</small><br>
										<span class="fs36">$100.00</span>
									</p>
									<i class="fa fa-angle-right pos-abs r0 txt-white fs40 mr-r-20"></i>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div>
					</div>
					<a href="#" class="full-wh z10"></a>
					<div class="full-wh bg-cover bg-cc" data-bg="images/travel-slide02.jpg"></div>
				</div><!-- /.item -->

				<div class="item caption-left pos-rel">
					<div class="container vh100 min-px-h500 flex-bc">
						<div class="caption delay-1s pos-rel z2 w100 typo-light">
							<div class="flex-row gt20">
								<div class="flex-col-md-8 bg-glass-dark-08 pos-rel">
									<div class="pd-tiny">
										<small class="tag-text pos-abs t0 bg-default">SAN FRANCISCO</small>
										<h2 class="title mr-0" data-rgen-sm="medium">San Francisco Walking Tour Golden Gate Bridge</h2>	
									</div>
								</div><!-- // END : column //  -->
								<div class="flex-col-md-4 bg-default flex-cl">
									<p class="pd-tiny mr-0">
										<small class="fs18">From</small><br>
										<span class="fs36">$99.00</span>
									</p>
									<i class="fa fa-angle-right pos-abs r0 txt-white fs40 mr-r-20"></i>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div>
					</div>
					<a href="#" class="full-wh z10"></a>
					<div class="full-wh bg-cover bg-cc" data-bg="images/travel-slide03.jpg"></div>
				</div><!-- /.item -->

			</div><!-- /.owl-carousel -->
		</div><!-- /.carousel-widget -->
	</section>
	<!-- ************** END : Intro section **************  -->