<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-0" id="home" data-rgen-sm="align-c">
		<div class="container">
			<div class="row gt20 middle-md">
				<div class="col-md-6 offset-md-1" data-rgen-sm="pd-tb-small" data-animate-in="fadeInRight">
					<!--=================================
					= Text content
					==================================-->
					<strong class="tag-text italic bg-default pd-lr-20 fs18 lh-1 rd-20 mr-b-20" data-rgen-sm="fs14">Starting at 6:00pm</strong>
					<h2 class="title bold-5 lh-1 txt-white mr-b-30 fs80" data-rgen-sm="medium">CHRISTMAS CELEBRATION</h2>

					<!--=================================
					= Counter block
					==================================-->
					<div class="countdown-widget small pd-micro mr-b-10 z1 pos-rel inline-block bg-primary txt-white rd-10 shadow-large">
						<div data-day="25" data-month="12" data-year="2017" data-hr="0" data-min="0" data-sec="0"></div>	
					</div>
					<p class="fs14 txt-white op-05">* Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 first-md vh100 flex-cc pos-rel" data-rgen-sm="h-reset pd-tb-small block" data-animate-in="fadeIn">
					
					<!--=================================
					= Contact form
					==================================-->
					<!-- form-block -->
					<div class="form-block pd-mini pos-rel z1 w100 typo-light align-c" data-rgen-sm="pd-20">

						<a href="#" class="inline-block"><img src="images/logo1.png" alt="logo"></a>
						<hr class="light">
						<p class="title-sub mini">Lorem ipsum dolor sit amet, consetetur sadipscing elitr sitamet conseteturs</p>
						
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="form-group">
									<input class="form-control form-control-light bdr-2" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bdr-2" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bdr-2" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<textarea class="form-control form-control-light bdr-2" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
								</div>
							</div>
							<button type="submit" class="btn btn-white block"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->
					
					<b class="full-wh bg-default op-08"></b>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(0, 153, 229, 0.5)|rgb(0, 26, 99)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/party_intro1.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->