<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small pd-b-0" data-rgen-md="pd-b-0" id="home" data-bgcolor="#F7F6F3">
		<div class="container">
			
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title f-1 large bold-n" data-rgen-sm="medium">AMAZING LANDING PAGE GUIDE</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elitseddo eiusmod tempor incididunt utlabore</p>
			</div>

			<div class="row gt20 mb20 middle-md">
				<div class="col-md-6" data-animate-in="fadeInLeft|0.1">
					<img src="images/book1.png" alt="R.Gen landing pages">
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1" data-animate-in="fadeIn|0.1">
					<!--=================================
					= Form block
					==================================-->
					<!-- Form block -->
					<div class="form-block mr-b-40" data-rgen-sm="align-c">
						<h2 class="title small mr-b-20 f-1 bold-n">Get sample chapters</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						<form action="form-data/formdata.php" class="form-widget" data-formtype="newsletter">
							<div class="field-wrp">
								<div class="form-group">
									<input class="form-control bg-white bdr-2 bdr-default" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control bg-white bdr-2 bdr-default" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</div>
							<button type="submit" class="btn solid btn-dark hov-btn-color1-light"><i class="far fa-envelope"></i> &nbsp; Subscribe now</button>
						</form><!-- / form -->
					</div><!-- Form block -->

					<hr>
					
					<p data-rgen-sm="align-c">
						Stay connected : 
						<a href="#" target="_blank" class="sq30 fs16 rd-4 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
						<a href="#" target="_blank" class="sq30 fs16 rd-4 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
						<a href="#" target="_blank" class="sq30 fs16 rd-4 iconbox btn-dark"><i class="fab fa-google"></i></a>
						<a href="#" target="_blank" class="sq30 fs16 rd-4 iconbox btn-dark"><i class="fab fa-youtube"></i></a>
						<a href="#" target="_blank" class="sq30 fs16 rd-4 iconbox btn-dark"><i class="fab fa-tumblr"></i></a>
					</p>
					
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : container //  -->


		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh z1 op-01" data-bg="images/pattern1.png"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->