<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-large pd-b-0 bg-dark parallax" data-rgen-sm="pd-tb-small align-c"> 

		<div class="container small pd-tb-medium typo-light pd-t-0 align-c">

			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h3 class="f-2 bold-n mr-0" data-rgen-sm="fs20">Welcome</h3>
				<h1 class="title fs100 f-1 txt-upper mr-0" data-rgen-sm="large">The R.Gen Pack</h1>
				<p class="title-sub mr-0 mr-auto" data-rgen-sm="small mr-b-30">Explore your destinations with a R.Gen</p>
			</div>
		

			<div class="row gt20 middle-md mr-tb-mini" data-rgen-sm="mr-tb-30" data-animate-in="fadeIn|0.1">
				<div class="col-md-4">
					<hr class="mr-tb-mini bdr-white" data-rgen-sm="mr-tb-20">
				</div><!-- // END : column //  -->
				
				<div class="col-md-4">
					<a href="#popup-content" class="btn btn-dark solid hov-btn-white bdr-2 round set-popup">Sign up and SAVE</a>
				</div><!-- // END : column //  -->

				<div class="col-md-4">
					<hr class="mr-tb-mini bdr-white" data-rgen-sm="mr-tb-20">
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

			
			<div class="row gt40 mb40 mr-b-mini" data-rgen-sm="mr-0">
				<div class="col-md" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-cash"></i></span></div>
						<div class="info">
							<h3 class="title mr-b-10 small">Deals for every budget</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-like2"></i></span></div>
						<div class="info">
							<h3 class="title mr-b-10 small">Flexible travel plans</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-ticket"></i></span></div>
						<div class="info">
							<h3 class="title mr-b-10 small">Price Guarantee</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->
		
		<b class="bg-cb w100 l0 absolute min-px-h150 -b1 z2 bg-repeat-x" data-bg="images/img-overlay-01.png"></b>
		<b class="w100 l0 absolute min-px-h600 b0 z1" data-gradient="y" data-g-colors="rgba(0,0,0,0)|rgba(0,0,0,1)"></b>
		
		<b ></b>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.1)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100" data-bgslider="images/travel-slide-01.jpg|images/travel-slide-02.jpg|images/travel-slide-03.jpg">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->