<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-small bg-secondary" data-rgen-sm="pd-tb-small align-c"> 

		<div class="container small align-c">
			<div class="w75 mr-auto typo-light mr-b-small" data-rgen-sm="mr-b-30" data-animate-in="fadeIn">
				<a href="#"><img src="images/logo-light.png" alt="R.Genesis.Art" class="max-px-w100 mr-auto mr-b-small" data-rgen-sm="mr-b-30"></a>
				<h1 class="title f-1 mr-b-mini" data-rgen-sm="medium">The best landing page toolkit to create powerful landing pages</h1>
				<p class="title-sub mini mr-b-mini" data-rgen-sm="small mr-0">Get powerful experience to create unique and beautiful landing pages in just few minutes with R.Gen multi-purpose landing page toolkit</p>
			</div>
			

			<!-- form-block -->
			<div class="form-block max-px-w400 mr-auto" data-rgen-sm="pd-20" data-animate-in="fadeInUp|0.1">
				<div class="bg-dark pd-tiny rd-6 mr-b-micro">
					<h3 class="title small txt-white bold-n align-c f-1" data-rgen-sm="small">30 Days FREE Trial</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
					
				</div>
				<div class="pos-rel -mr-t-40 mr-b-micro"><span class="sq60 iconbox rd txt-white fs20 bg-default bdr-5 shadow-mini bdr-white"><i class="fa fa-arrow-down"></i></span></div>
				<div class="pd-tiny bg-white shadow-medium rd-6">
					<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
						<div class="field-wrp">
							<div class="form-group">
								<input class="form-control" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
							</div>
							<div class="form-group">
								<input class="form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
							</div>
						</div>
						<button type="submit" data-loading-text="Pleae wait.." class="btn btn-default hov-btn-dark solid txt-upper block">Get started today</button>
					</form><!-- / form -->
				</div>
			</div><!-- / form block -->
			
		</div><!-- // END : container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(108, 188, 53, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-02.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->