<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-tiny" data-rgen-sm="pd-tb-small align-c"> 

		<div class="container small">

			<div class="row gt20 middle-md" data-rgen-sm="hide">
				<div class="col-md-6">
					<img src="images/logo.png" class="max-px-w200" data-rgen-sm="mr-auto mr-b-30" alt="Brand logo">
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 align-r" data-rgen-sm="align-c">
					<div class="info-obj img-l g20 mini mid inline-flex align-l mr-0">
						<div class="img txt-default"><span class="iconwrp"><i class="fa fa-phone fa-flip-horizontal"></i></span></div>
						<div class="info">
							<p class="mr-0">Call us to get expert advice</p>
							<h3 class="title small mr-0 f-2">0123 456 789</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

			<hr class="mr-tb-tiny" data-rgen-sm="hide">
			
			<div class="align-c w75 mr-auto">
				<h1 class="title large f-2" data-rgen-sm="medium">BUY . RENT . SELL</h1>
				<h2 class="title-sub" data-rgen-sm="small">Wide range of properties to explore with trusted and most reliable</h2>	
			</div>

			<!--=================================
			= Grid banners
			==================================-->
			<div class="masonry-wrp">
				<div class="masonry-grid row gt10 mb10 popgallery-widget" data-masonry-grid="y">
					
					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/realestate-sq-img-01.jpg" class="pop-img">
									<span class="t0 r0 tag-text pos-abs">RENT</span>
									<img src="images/realestate-sq-img-01.jpg">
								</a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/realestate-sq-img-02.jpg" class="pop-img">
									<span class="t0 r0 tag-text pos-abs">SELL</span>
									<img src="images/realestate-sq-img-02.jpg">
								</a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/realestate-sq-img-03.jpg" class="pop-img">
									<span class="t0 r0 tag-text pos-abs">BUY</span>
									<img src="images/realestate-sq-img-03.jpg">
								</a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/realestate-h-img-01.jpg" class="pop-img">
									<span class="t0 r0 tag-text pos-abs">BUY</span>
									<img src="images/realestate-h-img-01.jpg">
								</a>
							</div>
						</figure>
					</div>
				</div>
			</div>

			<!-- form-block -->
			<div class="form-block bg-default pd-mini mr-b-micro typo-light" data-rgen-sm="pd-30">
				<form action="form-data/formdata.php" class="form-widget">
					<div class="field-wrp">
						<input type="hidden" name="to" value="r.genesis.art@gmail.com">
						<div class="row gt14">
							<div class="col-md-4">
								<h3 class="title f-2 txt-white" data-rgen-sm="medium">Book FREE consultation</h3>
							</div><!-- // END : column //  -->
							<div class="col-md-8">
								<div class="row gt14">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control form-control-light bdr-2 bdr-op-light-5 rd-0" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
										</div>
										<div class="form-group">
											<input class="form-control form-control-light bdr-2 bdr-op-light-5 rd-0" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
										</div>
									</div><!-- // END : column //  -->
									
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control form-control-light bdr-2 bdr-op-light-5 rd-0" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
										</div>
										<div class="form-group">
											<input class="form-control form-control-light bdr-2 bdr-op-light-5 rd-0 datetime-pick" required data-label="Date and Time" data-msg="Please select your date and time" type="text" name="date-time" placeholder="Select your date and time">
										</div>
									</div><!-- // END : column //  -->
									<div class="col-md-12">
										<button type="submit" class="btn solid btn-white bdr-2 block rd-0"><i class="fa fa-envelope-o"></i> SUBMIT</button>
									</div>
								</div><!-- // END : row //  -->
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div>
					
				</form><!-- / form -->
			</div><!-- / form block -->
			
			<div class="row gt10 mr-b-mini" data-rgen-sm="align-l mr-0">
				<div class="col-md-4">
					<div class="info-obj img-l mid g20 small pd-20 bg-dark">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-way"></i></span></div>
						<div class="info">
							<h3 class="fs20 txt-white bold-n mr-0">Wide Range of Properties</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4">
					<div class="info-obj img-l mid g20 small pd-20 bg-dark">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-id"></i></span></div>
						<div class="info">
							<h3 class="fs20 txt-white bold-n mr-0">15+ Agents Available</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4">
					<div class="info-obj img-l mid g20 small pd-20 bg-dark">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-ticket"></i></span></div>
						<div class="info">
							<h3 class="fs20 txt-white bold-n mr-0">Best Deals Guaranteed</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Intro section **************  -->