<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-b-0 pd-tb-large bg-dark" data-rgen-sm="pd-tb-small pd-b-0" data-rgen-md="pd-b-0" id="home">
		<div class="container">
			<div class="w75 mr-auto typo-light align-c mr-b-40" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="medium">R.GEN LANDING PAGES WITH PAGE BUILDER</h2>
				<p class="title-sub" data-rgen-sm="small">Easy and flexible way to create powerful landing pages with lots of design and customization options</p>
				
				<hr class="w60 light mr-auto">
				<a href="#" class="inline-block txt-white mr-lr-20"><i class="pe-7s-video fs30 align-m mr-r-10"></i> <span class="fs20 align-m">Take a quick tour</span></a>
				<a href="#" class="inline-block txt-white mr-lr-20"><i class="pe-7s-menu fs30 align-m mr-r-10"></i> <span class="fs20 align-m">Explore all features</span></a>
				<hr class="w60 light mr-auto">

				<a href="#" class="btn btn-white mr-6 bdr-2 large round" data-rgen-sm="medium">Sign up for FREE trial</a>
				<a href="#" class="btn btn-white mr-6 bdr-2 large solid round" data-rgen-sm="medium">Buy now for - $18.00</a>
			</div>
			<img src="images/feature_window_small.png" class="mr-auto" alt="screen" data-animate-in="fadeIn|0.1">
		</div><!-- // END : container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(0, 64, 255, 0.5)|rgb(0, 231, 255)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg1.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->