<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-0 bg-dark" data-rgen-sm="pd-tb-small pd-b-0 align-c" data-rgen-md="pd-b-0" id="home">
		<div class="container min-vh-h100 flex-cl typo-light" data-rgen-sm="h-reset block">
			<div class="max-w50 typo-light mr-b-250" data-rgen-sm="w-reset mr-tb-30" data-animate-in="fadeInLeft">
				<a href="#" class="inline-block mr-b-40"><img src="images/logo-light.png" alt="logo"></a>
				<h2 class="title large txt-upper" data-rgen-sm="medium">Experience Benefits of Yoga In Life</h2>
				<p class="title-sub small mr-0" data-rgen-sm="small">Choose Your Classes & Start Your Training</p>
				<hr class="light mr-tb-30">
				<a href="#" class="btn btn-white bdr-2">Book your free trial</a>
			</div>
		</div><!-- // END : container //  -->
		<div class="pos-abs w100 b0 z4 pd-tb-mini" data-rgen-sm="pos-rel">
			<div class="container typo-light">
				<div class="row gt40">
					<div class="col-md-4" data-animate-in="fadeInUp|0.1">
						<div class="info-obj img-t g20 small align-c">
							<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-leaf"></i></span></div>
							<div class="info">
								<h3 class="title small mr-b-10 bold-n">Balance Body & Mind</h3>
								<p class="mr-0 fs16">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-4" data-animate-in="fadeInUp|0.2">
						<div class="info-obj img-t g20 small align-c">
							<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-smile"></i></span></div>
							<div class="info">
								<h3 class="title small mr-b-10 bold-n">Healthy Life</h3>
								<p class="mr-0 fs16">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-4" data-animate-in="fadeInUp|0.3">
						<div class="info-obj img-t g20 small align-c">
							<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-science"></i></span></div>
							<div class="info">
								<h3 class="title small mr-b-10 bold-n">Meditation Practice</h3>
								<p class="mr-0 fs16">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
			
			<b class="full-wh bg-default op-08 z1"></b>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.6)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh" data-bgslider="images/yoga_slide01.jpg|images/yoga_slide02.jpg"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->