<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-large bg-dark" data-rgen-sm="pd-tb-small align-c" id="home">
		<div class="container">
			<div class="row gt20 mb20 middle-md">
				<div class="col-md-6" data-animate-in="fadeInLeft">
					<div class="content typo-light">
						<h1 class="title large lh-2" data-rgen-sm="medium">Wide Range of Properties to Explore and Trusted Service</h1>
						<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
						<hr class="light">
						<p class="italic bold-4 fs30 lh-4" data-rgen-sm="fs20">Find your dream home<br>now made quick and easy</p>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-4 offset-md-2" data-animate-in="fadeInRight">
					<!--=================================
					= Contact form
					==================================-->
					<!-- form-block -->
					<h2 class="title bg-default pd-20 align-c txt-white small mr-0">Free Consultation</h2>
					<div class="form-block pd-tiny bg-white">
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="form-group">
									<input class="form-control" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<input class="form-control" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<input class="form-control datetime-pick" required data-label="Date and Time" data-msg="Please select date and time." type="text" name="datetime" placeholder="Date and Time">
								</div>
								<div class="form-group">
									<textarea class="form-control max-px-h100" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="20" rows="10"></textarea>
								</div>
							</div>
							<button type="submit" class="btn solid btn-dark block"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(183, 163, 73, 0.3)|rgba(183, 163, 73, 0.6)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/realestate_intro.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->