<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-0 mr-b-1" id="home">
		<div class="carousel-widget ctrl-1 pos-rel z2 pager-in ctrl-light" 
			>
			<div class="owl-carousel"
				data-animation-in="fadeIn"
				data-animation-out="fadeOut"
				data-nav="true">
				
				<div class="item caption-left pos-rel">
					<div class="container px-h800 flex-cc z3" data-rgen-sm="min-px-h500 h-reset">
						<div class="caption delay-1s pos-rel z2 typo-light align-c w100">
							<h2 class="title small txt-upper" data-rgen-sm="small">Women's hand bags</h2>
							<h3 class="title txt-upper large bold-5" data-rgen-sm="medium">Zipper front crossbody</h3>
							
							<span class="tag-text bg-dark bold-3 -mr-b-20">Save $26.00</span>
							<ul class="inline-list gt-small align-m mr-b-40">
								<li class="min-px-w200"><hr class="light"></li>
								<li class="fs28 txt-white" data-rgen-sm="fs18">
									<span class="l-through op-05">$128.00</span> &nbsp; 
									<span class="bold-3">$99.00</span>
								</li>
								<li class="min-px-w200"><hr class="light"></li>
							</ul>
							
							<a href="#" class="btn btn-white solid min-px-w200 txt-upper">Shop Now &nbsp; <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
					<b class="full-wh bg-dark op-08 z1"></b>
					<div class="full-wh bg-cover bg-cc" data-bg="images/ecom-slide01.jpg"></div>
				</div><!-- /.item -->

				<div class="item caption-left pos-rel">
					<div class="container px-h800 flex-cc" data-rgen-sm="min-px-h500 h-reset">
						<div class="caption delay-1s pos-rel z2 typo-light align-c w100">
							<h2 class="title small txt-upper" data-rgen-sm="small">Men's Watches</h2>
							<h3 class="title txt-upper large bold-5" data-rgen-sm="medium">Luxury Watches</h3>
							
							<ul class="inline-list gt-small align-m mr-b-40">
								<li class="min-px-w200"><hr class="light"></li>
								<li class="fs28 txt-white" data-rgen-sm="fs18">
									Starting from 
									<span class="bold-3">$99.00</span>
								</li>
								<li class="min-px-w200"><hr class="light"></li>
							</ul>
							
							<a href="#" class="btn btn-white solid min-px-w200 txt-upper">Check full collection &nbsp; <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
					<b class="full-wh bg-dark op-08 z1"></b>
					<div class="full-wh bg-cover bg-cc" data-bg="images/ecom-slide03.jpg"></div>
				</div><!-- /.item -->

				<div class="item caption-left pos-rel">
					<div class="container px-h800 flex-cc" data-rgen-sm="min-px-h500 h-reset">
						<div class="caption delay-1s pos-rel z2 typo-light align-c w100">
							<h2 class="title small txt-upper" data-rgen-sm="small">Christmas offers</h2>
							<h3 class="title txt-upper large bold-5" data-rgen-sm="medium">Biggest festival sale</h3>
							
							<ul class="inline-list gt-small align-m mr-b-40">
								<li class="min-px-w200"><hr class="light"></li>
								<li class="fs28 txt-white" data-rgen-sm="fs18">
									Starting from 
									<span class="bold-3">$49.00</span>
								</li>
								<li class="min-px-w200"><hr class="light"></li>
							</ul>
							
							<a href="#" class="btn btn-white solid min-px-w200 txt-upper">Check full collection &nbsp; <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div>
					<b class="full-wh bg-dark op-08 z1"></b>
					<div class="full-wh bg-cover bg-cc" data-bg="images/ecom-slide02.jpg"></div>
				</div><!-- /.item -->

			</div><!-- /.owl-carousel -->
		</div><!-- /.carousel-widget -->
	</section>
	<!-- ************** END : Intro section **************  -->