<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pd-0 pos-rel" data-rgen-sm="h-reset">
		<div class="container-fluid vh100">
		
			<div class="row h100">
				<div class="col-md-5 pos-rel flex-cc" data-rgen-sm="pd-tb-small">

					<div class="content pos-rel z2 mr-auto w75 align-c typo-light" data-rgen-sm="pd-20">
						<a href="#" class="inline-block max-px-w200"><img src="images/logo1.png" alt="logo"></a>

						<hr class="mr-tb-80 mr-auto bdr-op-light-3 max-px-w100" data-rgen-sm="mr-tb-20">

						<h1 class="title bold-n f-3 small">R.Gen Landing Pages</h1>
						<h2 class="title mr-b-mini" data-rgen-sm="medium">Quick solution to design beautiful landing pages</h2>
						<p class="mr-b-tiny" data-rgen-sm="small">Easy and flexible way to create powerful landing pages with lots of design and customization options</p>
						<a href="#" target="_blank" class="btn btn-white round solid">Purchase Now</a>
						
						<hr class="mr-tb-80 mr-auto bdr-op-light-3 max-px-w100" data-rgen-sm="mr-tb-20">

						<!--=================================
						= Newsletter section
						==================================-->
						<div class="subscribe-block _2 max-px-w500 mr-auto mr-b-30" data-rgen-sm="subscribe-reset">
							<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 bdr-white w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
									<button type="submit" data-loading-text="Pleae wait.." class="btn btn-white solid bdr-2 hov-btn-dark2"><i class="far fa-envelope"></i></button>
								</div>
							</form>
						</div><!-- ======= END : Newsletter section =======  -->


						<!--=========================================
						=  Social links
						=============================================-->
						<a href="#" target="_blank" class="sq40 fs18 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
						<a href="#" target="_blank" class="sq40 fs18 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
						<a href="#" target="_blank" class="sq40 fs18 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
						<a href="#" target="_blank" class="sq40 fs18 rd-4 iconbox btn-white"><i class="fab fa-youtube"></i></a>
						<a href="#" target="_blank" class="sq40 fs18 rd-4 iconbox btn-white"><i class="fab fa-tumblr"></i></a>
					</div>

					<!--
					=================================
					= Background holder
					=================================
					-->
					<div class="bg-holder full-wh z0">
						<!-- Overlay -->
						<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(0, 161, 228, 0.8)|rgba(0, 38, 156, 0.8)"></b>
						<!-- Background video -->
						<div data-bgholder="video" class="videobg z4 full-wh"></div>
						<!-- bg slider -->
						<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
							<div class="bgslider full-wh" data-bgslider="images/intro-bg01.jpg|images/intro-bg02.jpg|images/intro-bg03.jpg|images/intro-bg04.jpg"></div>
						</div>
						<!-- Parallax image -->
						<div data-bgholder="parallax" class="full-wh z2"></div>
						<!-- Background image -->
						<b data-bgholder="bg-img" data-bg="images/bg1.jpg" class="full-wh bg-cover bg-cc z1"></b>
					</div>

				</div><!-- // END : column //  -->
				
				<div class="col-md-7 flex-cc bg-gray">
					
					<div class="content w80 mr-auto pos-rel z1" data-rgen-sm="pd-20 align-c">
						
						<div class="row gt20 middle-md">
							<div class="col-md-5">
								<div class="carousel-widget ctrl-1 align-c">
									<div class="owl-carousel"
										data-animation-in="flipIn"
										data-animation-out="fadeOut"
										data-dots="true"
										data-autoplay="true"
										data-center="false"
										data-nav="false">
										
										<div class="item">
											<img src="images/iphone-slides_01.png" alt="image">
										</div><!-- /.item -->

										<div class="item">
											<img src="images/iphone-slides_02.png" alt="image">
										</div><!-- /.item -->

										<div class="item">
											<img src="images/iphone-slides_03.png" alt="image">
										</div><!-- /.item -->

										<div class="item">
											<img src="images/iphone-slides_04.png" alt="image">
										</div><!-- /.item -->

									</div><!-- /.owl-carousel -->
								</div><!-- /.carousel-widget -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-7 mr-b-60">
								<p class="mr-b-tiny">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>

								<div class="row gt10 mb10">
									<div class="col-md-6">
										<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-tiny mr-0">
											<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-phone"></i></span></div>
											<div class="info">
												<h2 class="title fs13 mr-0">FULLY RESPONSIVE LAYOUT SYSTEM</h2>
											</div>
										</div><!-- // END : Info object //  -->
									</div><!-- // END : column //  -->
									
									<div class="col-md-6">
										<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-tiny mr-0">
											<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-mouse"></i></span></div>
											<div class="info">
												<h2 class="title fs13 mr-0">DRAG & DROP DESIGN SECTIONS</h2>
											</div>
										</div><!-- // END : Info object //  -->
									</div><!-- // END : column //  -->

									<div class="col-md-6">
										<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-tiny mr-0">
											<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo"></i></span></div>
											<div class="info">
												<h2 class="title fs13 mr-0">WIDE RANGE OF DESIGN LAYOUT</h2>
											</div>
										</div><!-- // END : Info object //  -->
									</div><!-- // END : column //  -->
									
									<div class="col-md-6">
										<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-tiny mr-0">
											<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
											<div class="info">
												<h2 class="title fs13 mr-0">TONS OF CUSTOMIZATION OPTIONS</h2>
											</div>
										</div><!-- // END : Info object //  -->
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->

								<hr class="mr-tb-30">

								<!--=========================================
								=  Social links
								=============================================-->
								<a href="#" target="_blank" class="sq60 fs30 rd-4 bdr-2 mr-r-10 iconbox solid btn-dark"><i class="fab fa-apple"></i></a>
								<a href="#" target="_blank" class="sq60 fs30 rd-4 bdr-2 mr-r-10 iconbox solid btn-dark"><i class="fab fa-android"></i></a>
								<a href="#" target="_blank" class="sq60 fs30 rd-4 bdr-2 mr-r-10 iconbox solid btn-dark"><i class="fab fa-windows"></i></a>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div>
					
					<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div>
	</section>
	<!-- ************** END : Intro section **************  -->