<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-large" data-rgen-sm="pd-tb-small align-c" data-rgen-md="pd-b-0" id="home" data-bgcolor="#F7F6F3">
		<div class="container typo-light">
			<div class="w50" data-animate-in="fadeInLeft">
				<h1 class="title large lh-3 f-1 txt-upper" data-rgen-sm="medium">Largest and trusted car hire service</h1>
				<p class="title-sub mini">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
				<hr class="light">
				<p class="italic bold-4 fs30 lh-4 txt-default">Save up to 60%<br>in top destinations this fall</p>
				<a href="#contact" class="btn btn-white solid txt-upper">Book now</a>
			</div>
		</div><!-- // END : container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.1)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/car_slide01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->