<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-0" data-rgen-sm="align-c">
		<div class="container-fluid pos-rel z2 pd-0">
			
			<div class="row gt0">
				<div class="col-md-6" data-rgen-sm="px-h400">
					<!--=================================
					= Map section
					==================================-->
					<!-- Google map -->
					<div class="google-map-container h100" data-zoom="16" data-center="New York, NY, United States">
						<div class="google-map h100"></div>
						<ul class="google-map-markers">
						</ul>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 pd-tb-medium pos-rel" data-rgen-sm="pd-tb-small">
					<div class="w75 mr-auto typo-light align-c pos-rel z2" data-rgen-sm="pd-20" data-animate-in="fadeInRight">
						
						<span class="iconbox sq100 fs90 txt-white mr-b-20"><i class="pe-7s-clock"></i></span>
						<p class="title-sub mr-b-10" data-rgen-sm="small">Regular Opening Hours</p>
						<h2 class="title" data-rgen-sm="medium">Monday to Saturday<br>8am to 9pm</h2>
						<p class="title-sub mr-0" data-rgen-sm="small">PO Box 16122, Collins Street West, Victoria 8007, Australia</p>
						

						<hr class="light mr-tb-40" data-rgen-sm="mr-tb-20">

						<span class="iconbox sq100 fs90 txt-white mr-b-20"><i class="pe-7s-call"></i></span>
						<p class="title-sub mr-b-10" data-rgen-sm="small">Call For Emergency Cases</p>
						<h2 class="title" data-rgen-sm="medium">1-123-456-7890</h2>

						<hr class="light mr-tb-40" data-rgen-sm="mr-tb-20">

						<a href="#popup-content" class="btn btn-white solid align-m mr-10 large set-popup" data-rgen-sm="medium">Make an appointment</a>
					</div><!-- // END : Container //  -->
					

					<!--
					=================================
					= Background holder
					=================================
					-->
					<div class="bg-holder full-wh z0">
						<!-- Overlay -->
						<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.3)"></b>
						<!-- Background video -->
						<div data-bgholder="video" class="videobg z4 full-wh"></div>
						<!-- bg slider -->
						<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
							<div class="bgslider full-wh"></div>
						</div>
						<!-- Parallax image -->
						<div data-bgholder="parallax" class="full-wh z2"></div>
						<!-- Background image -->
						<b data-bgholder="bg-img" data-bg="images/bg1.jpg" class="full-wh bg-cover bg-cc z1"></b>
					</div>

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div>
	</section>
	<!-- ************** END : Other section **************  -->