<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-small bg-gray" data-rgen-sm="pd-tb-small align-c">
		<div class="container small">
			<div class="row gt20 mb20">
				<div class="col-md-5" data-animate-in="fadeInLeft">
					<h2 class="title f-2 mr-b-mini" data-rgen-sm="medium">Quick and simple process to search properties</h2>
					<img src="images/800x600-03.jpg" class="mr-b-tiny" alt="image">
					<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
					tempor incididunt ut laboreet dolore</p>
					
					<a href="https://goo.gl/ZMxnYs" class="solid btn btn-dark large block rd-0 bdr-2" data-rgen-sm="medium">Get started now</a>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 offset-md-1">
					
					<div class="info-obj img-l g0 small" data-animate-in="fadeInUp|0.1">
						<div class="img">
							<span class="txt-white bg-default iconwrp sq mr-t-20 f-2">01</span>
						</div>
						<div class="info pd-tiny bg-white shadow-mini" data-rgen-sm="pd-20">
							<span class="iconbox sq60 fs50 mr-b-micro txt-dark"><i class="pe-7s-mail"></i></span>
							<h3 class="title small">Drop us mail</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g0 small" data-animate-in="fadeInUp|0.2">
						<div class="img">
							<span class="txt-white bg-default iconwrp sq mr-t-20 f-2">02</span>
						</div>
						<div class="info pd-tiny bg-white shadow-mini" data-rgen-sm="pd-20">
							<span class="iconbox sq60 fs50 mr-b-micro txt-dark"><i class="pe-7s-map-marker"></i></span>
							<h3 class="title small">Select your location</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g0 small" data-animate-in="fadeInUp|0.3">
						<div class="img">
							<span class="txt-white bg-default iconwrp sq mr-t-20 f-2">03</span>
						</div>
						<div class="info pd-tiny bg-white shadow-mini" data-rgen-sm="pd-20">
							<span class="iconbox sq60 fs50 mr-b-micro txt-dark"><i class="pe-7s-home"></i></span>
							<h3 class="title small">Rent or Buy</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
					


				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->