<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-0 bg-gray" id="findus">
		<!--=================================
		= Map section
		==================================-->
		<!-- Google map -->
		<div class="google-map-container" data-zoom="16" data-center="New York, NY, United States">
			<div class="google-map" style="height: 400px;"></div>
			<ul class="google-map-markers">
			</ul>
		</div>

		<div class="bg-dark pd-b-1">
			<div class="container typo-light">
				<div class="info-obj img-t g20 medium align-c -mr-t-60">
					<div class="img txt-white"><span class="iconwrp rd bg-default shadow-tiny"><i class="pe-7s-map-marker"></i></span></div>
					<div class="info">
						<p class="mr-0">Visit our clinic</p>
						<h3 class="title small f-1 bold-n mr-b-tiny" data-rgen-sm="small">PO Box 16122, Collins Street West, Victoria 8007, Australia</h3>
					</div>
				</div><!-- info box -->
			</div>
		</div>
		<!-- / Google map -->

		<div class="container small pd-tb-mini">
			<div class="w75 mr-auto">
				 <div class="row gt40">
					<div class="col-md-6">
						<div class="info-obj img-l g20 mini">
							<div class="img txt-white"><span class="rd bg-dark iconwrp"><i class="pe-7s-call"></i></span></div>
							<div class="info">
								<p class="mr-0">Give us a call</p>
								<h3 class="title tiny">012 345 6789</h3>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g20 mini">
							<div class="img txt-white"><span class="rd bg-dark iconwrp"><i class="pe-7s-mail"></i></span></div>
							<div class="info">
								<p class="mr-0">Email us on</p>
								<h3 class="title tiny"><a href="#">medical@rgen.com</a></h3>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-6">
						<h2 class="title mini">Opening Hours</h2>
						<ul class="list-3">
							<li><strong>Monday - Friday :</strong> 08:00 - 16:00</li>
							<li><strong>Saturday :</strong> 08:00 - 16:00</li>
							<li><strong>Sunday :</strong> 08:00 - 16:00</li>
						</ul>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
		</div><!-- // END : Container //  -->
		
	</section>
	<!-- ************** END : Other section **************  -->