<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-medium bg-dark typo-light" data-rgen-sm="pd-tb-medium align-c">
		<div class="container small">
			<div class="row gt20 mr-auto">
				<div class="col-md-4" data-rgen-sm="mr-b-30" data-animate-in="fadeInLeft">
					<img src="images/person1.jpg" class="rd shadow-large mr-auto">
				</div><!-- // END : column //  -->
				
				<div class="col-md-7 offset-md-1" data-animate-in="fadeInRight">
					<h2 class="title f-2 txt-default bold-n large" data-rgen-sm="medium">Oupsum dolor</h2>
					<p class="title-sub f-2 italic small" data-rgen-sm="small">Digital marketing expert</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>

					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->