<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-default" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">

			<!--=================================
			= Rotate text
			==================================-->
			<div class="carousel-widget ctrl-1 align-c">
				<div class="owl-carousel"
					data-margin="40"
					data-autoplay="true"
					data-dots="false"
					data-nav="false">
					
					<div class="item">
						<h2 class="title">"Quick and easy way to manage data"</h2>
					</div><!-- /.item -->

					<div class="item">
						<h2 class="title">"Ultimate text display option"</h2>
					</div><!-- /.item -->

					<div class="item">
						<h2 class="title">"Quick and easy way to manage data"</h2>
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->

			<hr class="light mr-tb-30">
			
			<!--=================================
			= Award logos
			==================================-->
			<div class="op-05 align-c">
				<img src="images/award-1_light.png" alt="award" class="inline-block mr-20">
				<img src="images/award-2_light.png" alt="award" class="inline-block mr-20">
				<img src="images/award-3_light.png" alt="award" class="inline-block mr-20">
			</div>
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->