<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-small bg-secondary typo-light" data-rgen-sm="pd-tb-small align-c">
		<div class="container small align-c">
			<div class="w75 mr-auto mr-b-tiny" data-animate-in="fadeIn">
				<h2 class="title f-1" data-rgen-sm="medium">Simple and easy process</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
				tempor incididunt ut laboreet dolore</p>
			</div>
			<div class="row gt20 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="-mr-b-50">
						<span class="sq100 rd bg-white iconbox fs50 txt-secondary"><i class="pe-7s-cloud-download"></i></span>
					</div>
					<div class="pd-tiny bg-dark rd-6">
						<h3 class="title mini bold-n mr-t-mini">Load demo</h3>
						<p class="op-05">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="-mr-b-50">
						<span class="sq100 rd bg-white iconbox fs50 txt-secondary"><i class="pe-7s-pen"></i></span>
					</div>
					<div class="pd-tiny bg-dark rd-6">
						<h3 class="title mini bold-n mr-t-mini">Change content</h3>
						<p class="op-05">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="-mr-b-50">
						<span class="sq100 rd bg-white iconbox fs50 txt-secondary"><i class="pe-7s-box2"></i></span>
					</div>
					<div class="pd-tiny bg-dark rd-6">
						<h3 class="title mini bold-n mr-t-mini">Export package</h3>
						<p class="op-05">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->