<!--
	************************************************************
	* Popup form block
	************************************************************ -->
	
	<!-- form : "mfp-hide" Add this class before using -->
	<div id="popup-content" class="white-popup-block max-w100 px-w800 bdr-b-20 bdr-default popup-content mfp-hide">
		<div class="row gt20">

			<!--=================================
			= Image section
			==================================-->
			<div class="col-md-5 last-md flex-bc" data-rgen-md="hide">
				<img src="images/executive.png" alt="executive" class="pd-r-40 pd-t-40 pd-b-0">
			</div><!-- // END : column //  -->
			
			
			<!--=================================
			= Form section
			==================================-->
			<div class="col-md-7 flex-bl">
				<div class="content pd-small pd-r-0 mr-auto pd-tb-mini align-l" data-rgen-md="pd-30">
					<h2 class="title small" data-rgen-sm="small">Drop us a line</h2>
					<p class="mr-b-30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt labore magna aliqua</p>

					<!-- form-block -->
					<div class="form-block">
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="row gt10">
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
										</div>		
									</div><!-- // END : column //  -->
									
									<div class="col-md-6">
										<div class="form-group">
											<input class="form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
										</div>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
								<div class="form-group">
									<input class="form-control" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<select class="form-control" required data-label="Service" data-msg="Please select service" name="service">
										<option value="">-- Select service -- </option>
										<option value="Website Development">Website Development</option>
										<option value="Search Engine Optimization">Search Engine Optimization</option>
										<option value="E-Commerce Solutions">E-Commerce Solutions</option>
										<option value="Mobile Application Development">Mobile Application Development</option>
										<option value="Software Development">Software Development</option>
										<option value="Other">Other</option>
									</select>
								</div>
								<div class="form-group">
									<textarea class="form-control" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
								</div>
							</div>
							<button type="submit" class="btn solid btn-dark2"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->
				</div><!-- // END : content //  -->
				
			</div><!-- // END : column //  -->
		</div><!-- // END : row //  -->
	</div><!-- /#popup-content -->
	<!-- ************** END : Popup form block **************  -->