<!--
	************************************************************
	* Portfolio section
	************************************************************ -->
	<section class="pos-rel pd-tb-small pd-b-0" data-rgen-sm="pd-tb-small" id="portfolio">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">Our work</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>
		</div>


		<!--=================================
		= Portfolio gallery
		==================================-->
		<div class="masonry-wrp" data-masonry-grid="y">
			<div class="masonry-grid row gt0 mb0 popgallery-widget ratio-square">

				<!-- column item -->
				<div class="masonry-item col-md-4">
					<figure>
						<div class="portfolio-item hover-box1 mr-0">
							<div class="overlay flex-bl typo-light">
								<div class="content mr-30 z2">
									<!-- Pop-up Image and link -->
									<a href="images/mockup-01.jpg" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
									<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
									
									<!-- Text content -->
									<h3 class="title mini bold-n">Project name will come</h3>
									<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
								</div>
								<b class="full-wh bg-dark op-09 z1 l0"></b>
							</div>
							<!-- Project image -->
							<img src="images/mockup-01.jpg" alt="image">
						</div><!-- / hover box -->
					</figure>
				</div><!-- // END : Column //  -->

				<!-- column item -->
				<div class="masonry-item col-md-2">
					<figure>
						<div class="portfolio-item hover-box1 mr-0">
							<div class="overlay flex-bl typo-light">
								<div class="content mr-30 z2">
									<!-- Pop-up Image and link -->
									<a href="images/mockup-02.jpg" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
									<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
									
									<!-- Text content -->
									<h3 class="title mini bold-n">Project name will come</h3>
									<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
								</div>
								<b class="full-wh bg-dark op-09 z1 l0"></b>
							</div>
							<!-- Project image -->
							<img src="images/mockup-02.jpg" alt="image">
						</div><!-- / hover box -->
					</figure>
					
				</div><!-- // END : Column //  -->

				<!-- column item -->
				<div class="masonry-item col-md-2">
					<figure>
						<div class="portfolio-item hover-box1 mr-0">
							<div class="overlay flex-bl typo-light">
								<div class="content mr-30 z2">
									<!-- Pop-up Image and link -->
									<a href="images/mockup-03.jpg" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
									<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
									
									<!-- Text content -->
									<h3 class="title mini bold-n">Project name will come</h3>
									<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
								</div>
								<b class="full-wh bg-dark op-09 z1 l0"></b>
							</div>
							<!-- Project image -->
							<img src="images/mockup-03.jpg" alt="image">
						</div><!-- / hover box -->
					</figure>
					
				</div><!-- // END : Column //  -->

				<!-- column item -->
				<div class="masonry-item col-md-4">
					<figure class="half">
						<div class="portfolio-item hover-box1 mr-0">
							<div class="overlay flex-bl typo-light">
								<div class="content mr-30 z2">
									<!-- Pop-up Image and link -->
									<a href="images/800x400_1.jpg" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
									<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
									
									<!-- Text content -->
									<h3 class="title mini bold-n">Project name will come</h3>
									<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
								</div>
								<b class="full-wh bg-dark op-09 z1 l0"></b>
							</div>
							<!-- Project image -->
							<img src="images/800x400_1.jpg" alt="image">
						</div><!-- / hover box -->
					</figure>
					
				</div><!-- // END : Column //  -->

				<!-- column item -->
				<div class="masonry-item col-md-4">
					<figure class="half">
						<div class="portfolio-item hover-box1 mr-0">
							<div class="overlay flex-bl typo-light">
								<div class="content mr-30 z2">
									<!-- Pop-up Image and link -->
									<a href="images/800x400_2.jpg" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
									<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
									
									<!-- Text content -->
									<h3 class="title mini bold-n">Project name will come</h3>
									<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
								</div>
								<b class="full-wh bg-dark op-09 z1 l0"></b>
							</div>
							<!-- Project image -->
							<img src="images/800x400_2.jpg" alt="image">
						</div><!-- / hover box -->
					</figure>
					
				</div><!-- // END : Column //  -->

				<!-- column item -->
				<div class="masonry-item col-md-2">
					<figure>
						<div class="portfolio-item hover-box1 mr-0">
							<div class="overlay flex-bl typo-light">
								<div class="content mr-30 z2">
									<!-- Pop-up Image and link -->
									<a href="images/mockup-04.jpg" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
									<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
									
									<!-- Text content -->
									<h3 class="title mini bold-n">Project name will come</h3>
									<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
								</div>
								<b class="full-wh bg-dark op-09 z1 l0"></b>
							</div>
							<!-- Project image -->
							<img src="images/mockup-04.jpg" alt="image">
						</div><!-- / hover box -->
					</figure>
					
				</div><!-- // END : Column //  -->

				<!-- column item -->
				<div class="masonry-item col-md-2">
					<figure>
						<div class="portfolio-item hover-box1 mr-0">
							<div class="overlay flex-bl typo-light">
								<div class="content mr-30 z2">
									<!-- Pop-up Image and link -->
									<a href="images/mockup-05.jpg" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
									<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-flex sq40 bg-primary flex-cc fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
									
									<!-- Text content -->
									<h3 class="title mini bold-n">Project name will come</h3>
									<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
								</div>
								<b class="full-wh bg-dark op-09 z1 l0"></b>
							</div>
							<!-- Project image -->
							<img src="images/mockup-05.jpg" alt="image">
						</div><!-- / hover box -->
					</figure>
					
				</div><!-- // END : Column //  -->

			</div>
		</div>
		<!-- ======= END : Portfolio gallery =======  -->
		
	</section>
	<!-- ************** END : Portfolio section **************  -->