<!--
	************************************************************
	* Gallery section
	************************************************************ -->
	<section class="pd-tb-small pos-rel bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container">
			<div class="w75 mr-auto align-c typo-light" data-animate-in="fadeIn">
				<h3 class="title" data-rgen-sm="medium">Delightful Experience</h3>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>
		</div><!-- // END : Container //  -->

		<div class="w90 mr-auto pos-rel z1">
			<ul class="rw eq4 gt30 mb30">
				<li class="cl" data-animate-in="fadeInUp|0.1">
					<div class="hover-box1">
						<div class="overlay flex-bl">
							<div class="content pos-rel z1 pd-tiny typo-light">
								<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
								
								<hr class="light">
								<div class="flex-row gt20 middle-md">
									<div class="flex-col-md-6">
										<p class="mr-0 fs24">$18.90</p>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6 align-r">
										<a href="#" class="btn btn-secondary solid mini">Read more...</a>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
							</div><!-- // END : content //  -->
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/food_img01.jpg">
					</div><!-- // END : hover box //  -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.2">
					<div class="hover-box1">
						<div class="overlay flex-bl">
							<div class="content pos-rel z1 pd-tiny typo-light">
								<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
								
								<hr class="light">
								<div class="flex-row gt20 middle-md">
									<div class="flex-col-md-6">
										<p class="mr-0 fs24">$18.90</p>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6 align-r">
										<a href="#" class="btn btn-secondary solid mini">Read more...</a>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
							</div><!-- // END : content //  -->
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/food_img02.jpg">
					</div><!-- // END : hover box //  -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.3">
					<div class="hover-box1">
						<div class="overlay flex-bl">
							<div class="content pos-rel z1 pd-tiny typo-light">
								<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
								
								<hr class="light">
								<div class="flex-row gt20 middle-md">
									<div class="flex-col-md-6">
										<p class="mr-0 fs24">$18.90</p>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6 align-r">
										<a href="#" class="btn btn-secondary solid mini">Read more...</a>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
							</div><!-- // END : content //  -->
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/food_img03.jpg">
					</div><!-- // END : hover box //  -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.4">
					<div class="hover-box1">
						<div class="overlay flex-bl">
							<div class="content pos-rel z1 pd-tiny typo-light">
								<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
								
								<hr class="light">
								<div class="flex-row gt20 middle-md">
									<div class="flex-col-md-6">
										<p class="mr-0 fs24">$18.90</p>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6 align-r">
										<a href="#" class="btn btn-secondary solid mini">Read more...</a>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
							</div><!-- // END : content //  -->
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/food_img04.jpg">
					</div><!-- // END : hover box //  -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.1">
					<div class="hover-box1">
						<div class="overlay flex-bl">
							<div class="content pos-rel z1 pd-tiny typo-light">
								<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
								
								<hr class="light">
								<div class="flex-row gt20 middle-md">
									<div class="flex-col-md-6">
										<p class="mr-0 fs24">$18.90</p>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6 align-r">
										<a href="#" class="btn btn-secondary solid mini">Read more...</a>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
							</div><!-- // END : content //  -->
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/food_img05.jpg">
					</div><!-- // END : hover box //  -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.2">
					<div class="hover-box1">
						<div class="overlay flex-bl">
							<div class="content pos-rel z1 pd-tiny typo-light">
								<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
								
								<hr class="light">
								<div class="flex-row gt20 middle-md">
									<div class="flex-col-md-6">
										<p class="mr-0 fs24">$18.90</p>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6 align-r">
										<a href="#" class="btn btn-secondary solid mini">Read more...</a>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
							</div><!-- // END : content //  -->
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/food_img06.jpg">
					</div><!-- // END : hover box //  -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.3">
					<div class="hover-box1">
						<div class="overlay flex-bl">
							<div class="content pos-rel z1 pd-tiny typo-light">
								<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
								
								<hr class="light">
								<div class="flex-row gt20 middle-md">
									<div class="flex-col-md-6">
										<p class="mr-0 fs24">$18.90</p>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6 align-r">
										<a href="#" class="btn btn-secondary solid mini">Read more...</a>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
							</div><!-- // END : content //  -->
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/food_img07.jpg">
					</div><!-- // END : hover box //  -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.4">
					<div class="hover-box1">
						<div class="overlay flex-bl">
							<div class="content pos-rel z1 pd-tiny typo-light">
								<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
								
								<hr class="light">
								<div class="flex-row gt20 middle-md">
									<div class="flex-col-md-6">
										<p class="mr-0 fs24">$18.90</p>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6 align-r">
										<a href="#" class="btn btn-secondary solid mini">Read more...</a>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
							</div><!-- // END : content //  -->
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/food_img08.jpg">
					</div><!-- // END : hover box //  -->
				</li><!-- // END : Column //  -->

			</ul>
		</div><!-- // END : Gallery module //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Gallery section **************  -->