<!--
	************************************************************
	* Gallery section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small" id="gallery">
		<div class="container pos-rel z1 align-c">
			<h2 class="title mr-b-50" data-rgen-sm="medium mr-b-20">View all features & screen shots of app</h2>
			
			<!-- carousel-widget -->
			<div class="carousel-widget ctrl-1 popgallery-widget zoom-carousel" data-animate-in="fadeIn">
				<div class="owl-carousel"
					data-xs-items="1"
					data-sm-items="2"
					data-md-items="3"
					data-lg-items="4"
					data-dots="true"
					data-autoplay="false"
					data-center="true"
					data-nav="true">
					
					<div class="item">
						<div class="content"><a href="images/app-img-01.jpg" class="pop-img"><img src="images/app-img-01.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-02.jpg" class="pop-img"><img src="images/app-img-02.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-03.jpg" class="pop-img"><img src="images/app-img-03.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-04.jpg" class="pop-img"><img src="images/app-img-04.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-05.jpg" class="pop-img"><img src="images/app-img-05.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-06.jpg" class="pop-img"><img src="images/app-img-06.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-07.jpg" class="pop-img"><img src="images/app-img-07.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-08.jpg" class="pop-img"><img src="images/app-img-08.jpg" alt="image"></a></div>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->

			<hr class="mr-tb-40">


			<div class="row gt20 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
						<div class="info">
							<h3 class="title mini">Easy customization</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod onsetetur sadipscin</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
						<div class="info">
							<h3 class="title mini">Combination of blocks</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod onsetetur sadipscin</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo"></i></span></div>
						<div class="info">
							<h3 class="title mini">Unique designs</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod onsetetur sadipscin</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-plugin"></i></span></div>
						<div class="info">
							<h3 class="title mini">Unlimited possibilities</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod onsetetur sadipscin</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-browser"></i></span></div>
						<div class="info">
							<h3 class="title mini">Advanced page builder</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod onsetetur sadipscin</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-albums"></i></span></div>
						<div class="info">
							<h3 class="title mini">Flexible blocks</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod onsetetur sadipscin</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
		
	</section>
	<!-- ************** END : Gallery section **************  -->