<!--
	************************************************************
	* Price
	************************************************************ -->
	<section class="pd-tb-small bg-gray" data-rgen-sm="pd-tb-small" id="price">
		<div class="container small">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Affordable Event Packages</h2>
				<p class="title-sub small">We guarantee best price</p>
			</div>
			<div class="row gt20 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<!--=================================
					= Price box
					==================================-->
					<div class="overflow-hidden bg-white rd-6 shadow-tiny hov-bdr-default bdr-2 bdr-glass anim hov-shadow-large mr-b-10">
						<div class="pd-tiny bg-default typo-light">
							<h2 class="title tag-text mr-0 mini mr-b-10 txt-upper">Silver</h2>
							<h3 class="title mr-0">$15.00</h3>	
						</div>

						<div class="pd-mini">
							<ul class="list-1 mr-b-20">
								<li><i class="fa fa-check"></i> Free Brochure</li>
								<li><i class="fa fa-check"></i> Lunch Box</li>
								<li><i class="fa fa-check"></i> All Day Entry</li>
								<li><i class="fa fa-check"></i> Comfortable Seat</li>
							</ul>

							<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn btn-default">Book now</a>	
						</div>
					</div>
					<!-- ======= END : Price box =======  -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<!--=================================
					= Price box
					==================================-->
					<div class="overflow-hidden bg-white rd-6 shadow-tiny hov-bdr-dark bdr-2 bdr-glass anim hov-shadow-large mr-b-10">
						<div class="pd-tiny bg-dark typo-light">
							<h2 class="title tag-text bg-default mr-0 mini mr-b-10 txt-upper">Gold</h2>
							<h3 class="title mr-0">$30.00</h3>	
						</div>

						<div class="pd-mini">
							<ul class="list-1 mr-b-20">
								<li><i class="fa fa-check"></i> Free Brochure</li>
								<li><i class="fa fa-check"></i> Lunch Box</li>
								<li><i class="fa fa-check"></i> All Day Entry</li>
								<li><i class="fa fa-check"></i> Catering Seat</li>
							</ul>

							<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn btn-default">Book now</a>	
						</div>
					</div>
					<!-- ======= END : Price box =======  -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<!--=================================
					= Price box
					==================================-->
					<div class="overflow-hidden bg-white rd-6 shadow-tiny hov-bdr-default bdr-2 bdr-glass anim hov-shadow-large mr-b-10">
						<div class="pd-tiny bg-default typo-light">
							<h2 class="title tag-text mr-0 mini mr-b-10 txt-upper">Platinum</h2>
							<h3 class="title mr-0">$50.00</h3>	
						</div>

						<div class="pd-mini">
							<ul class="list-1 mr-b-20">
								<li><i class="fa fa-check"></i> Free Brochure</li>
								<li><i class="fa fa-check"></i> Lunch Box</li>
								<li><i class="fa fa-check"></i> All Day Entry</li>
								<li><i class="fa fa-check"></i> VIP Seat</li>
							</ul>

							<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn btn-default">Book now</a>	
						</div>
					</div>
					<!-- ======= END : Price box =======  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Price **************  -->