<!--
	************************************************************
	* Price section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-color2" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light align-c">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Entry pricing</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet consetetur sadipscing elitrsed diam nonumy eirmod tempor invidunt</p>
			</div>
			<div class="row gt20 mb20">
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="pd-micro bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-white anim">
						<div class="bg-glass-dark-02 overflow-hidden rd-6 -mr-b-10">
							<h2 class="bg-glass-dark-01 pd-20 title mr-0 small bold-n">Standard</h2>
							<p class="mr-0 pd-tiny"><strong class="fs50">$20</strong></p>
						</div>
						<div class="iconbox txt-white block lh-1 -mr-b-20"><i class="fs60 fa fa-caret-up"></i></div>
						<div class="bg-glass-light-01 overflow-hidden rd-6 pd-tiny bdr-t bdr-t-4 bdr-white">
							<p>1 Person only</p>
							<hr>
							<p>Lorem ipsum dolor sit amet consetetur</p>
							<a href="#" class="btn btn-white small">Book now</a>
						</div>
					</div><!-- // END : Price box //  -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="pd-micro bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-white anim">
						<div class="bg-glass-dark-02 overflow-hidden rd-6 -mr-b-10">
							<h2 class="bg-glass-dark-01 pd-20 title mr-0 small bold-n">Silver</h2>
							<p class="mr-0 pd-tiny"><strong class="fs50">$30</strong></p>
						</div>
						<div class="iconbox txt-white block lh-1 -mr-b-20"><i class="fs60 fa fa-caret-up"></i></div>
						<div class="bg-glass-light-01 overflow-hidden rd-6 pd-tiny bdr-t bdr-t-4 bdr-white">
							<p>3 Person only</p>
							<hr>
							<p>Lorem ipsum dolor sit amet consetetur</p>
							<a href="#" class="btn btn-white small">Book now</a>
						</div>
					</div><!-- // END : Price box //  -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="pd-micro bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-white anim pos-rel">
						<span class="tag-text rd-4 pos-abs t0 c-item -mr-t-30 bg-white txt-dark bold-3 pd-lr-20">
							POPULAR
							<i class="fs26 fa fa-caret-down pos-abs c-item txt-white" style="bottom: -15px;"></i>
						</span>
						<div class="bg-dark overflow-hidden rd-6 -mr-b-10">
							<h2 class="bg-glass-dark-01 pd-20 title mr-0 small bold-n">Golden</h2>
							<p class="mr-0 pd-tiny"><strong class="fs50">$60</strong></p>
						</div>
						<div class="iconbox txt-white block lh-1 -mr-b-20"><i class="fs60 fa fa-caret-up"></i></div>
						<div class="bg-glass-light-01 overflow-hidden rd-6 pd-tiny bdr-t bdr-t-4 bdr-white">
							<p>4 Person only</p>
							<hr>
							<p>Lorem ipsum dolor sit amet consetetur</p>
							<a href="#" class="btn btn-white small">Book now</a>
						</div>
					</div><!-- // END : Price box //  -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="pd-micro bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-white anim">
						<div class="bg-glass-dark-02 overflow-hidden rd-6 -mr-b-10">
							<h2 class="bg-glass-dark-01 pd-20 title mr-0 small bold-n">Platinum</h2>
							<p class="mr-0 pd-tiny"><strong class="fs50">$100</strong></p>
						</div>
						<div class="iconbox txt-white block lh-1 -mr-b-20"><i class="fs60 fa fa-caret-up"></i></div>
						<div class="bg-glass-light-01 overflow-hidden rd-6 pd-tiny bdr-t bdr-t-4 bdr-white">
							<p>6 Person only</p>
							<hr>
							<p>Lorem ipsum dolor sit amet consetetur</p>
							<a href="#" class="btn btn-white small">Book now</a>
						</div>
					</div><!-- // END : Price box //  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- / container -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.2)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg15.png" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Price section **************  -->