<!--
	************************************************************
	* Pricing section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="price">
		<div class="container pos-rel z1">
			
			<div class="w75 mr-auto align-c">
				<h2 class="title" data-rgen-sm="medium" data-animate-in="fadeIn">Choose Free or Unlimited</h2>
				<p class="title-sub" data-rgen-sm="small" data-animate-in="fadeIn">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy	eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
				</p>

				<div class="price-table-1 pd-mini bdr-1 bdr-op-1 anim inline-block min-px-w300 rd-6 mr-20" data-animate-in="fadeInUp|0.1" data-rgen-sm="mr-0 w-reset w100">
					<h2 class="title bold-n">Free</h2>
					<hr>
					<p class="fs60">$0<span class="fs16">/mo</span></p>
					<hr>
					<p>Up to 20 free project</p>
					<p>Maximum 30 sub tasks</p>
					<p>5 sharing</p>
					<p>Limited to single device</p>
					<hr>
					<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn btn-dark">Get started</a>
				</div>

				<div class="price-table-1 pd-mini bdr-1 bdr-default anim inline-block min-px-w300 rd-6 mr-20" data-animate-in="fadeInUp|0.2" data-rgen-sm="mr-0 w-reset w100">
					<h2 class="title bold-n">Unlimited</h2>
					<hr>
					<p class="fs60 txt-default">$10<span class="fs16">/mo</span></p>
					<hr>
					<p>Up to 20 free project</p>
					<p>Maximum 30 sub tasks</p>
					<p>5 sharing</p>
					<p>Limited to single device</p>
					<hr>
					<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn btn-dark">Get started</a>
				</div>
			</div>
			
			<hr class="mr-tb-40">

			<!--=================================
			=            FAQ section            =
			==================================-->
			<h2 class="title align-c small mr-b-50">Frequently Asked Questions</h2>
			
			<div class="flex-row gt60 mb20" data-animate-in="fadeIn">
				<div class="flex-col-md-6">
					<h2 class="title mini mr-b-10">Lorem ipsum dolor sit amet</h2>
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus.</p>

					<hr>
					
					<h2 class="title mini mr-b-10">Eros euismod ultrices cum sociis natoque penatibus</h2>
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis.</p>

					<hr>

					<h2 class="title mini mr-b-10">Curabitur vitae tortor id eros</h2>
					<p>Anterdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis.</p>

				</div><!-- // END : column //  -->
				
				<div class="flex-col-md-6">
					<h2 class="title mini mr-b-10">Lorem ipsum dolor sit amet</h2>
					<p>Rtor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus.</p>

					<hr>
					
					<h2 class="title mini mr-b-10">Eros euismod ultrices cum sociis natoque penatibus</h2>
					<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis.</p>

					<hr>

					<h2 class="title mini mr-b-10">Curabitur vitae tortor id eros</h2>
					<p>Anterdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis.</p>

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

			
			<div class="row gt20 pd-tiny middle-md bg-gray" data-animate-in="fadeIn">
				<div class="col-md-8">
					<div class="info-obj img-l g30 mid medium mr-0" data-rgen-sm="img-t mr-b-40">
						<div class="img"><span class="iconwrp txt-default"><i class="pe-7s-comment"></i></span></div>
						<div class="info">
							<h3 class="title small mr-b-10 lh-1">Can't find suitable answer?</h3>
							<p class="title-sub mr-0">Ask our support team</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4 align-c">
					<p><a href="https://goo.gl/ZMxnYs" class="btn btn-dark solid block">Any questions left?</a></p>
					<a href="https://goo.gl/ZMxnYs">View all FAQs <i class="fa fa-long-arrow-right"></i></a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->			

			<!-- ======= END : FAQ section =======  -->

		</div><!-- / container -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section><!-- / Content section -->
	<!-- ************** END : Pricing section **************  -->