<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small">
		<div class="container small filter-widget">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title f-2" data-rgen-sm="medium">Search your desire location</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua</p>
			</div>

			<div class="filter-list align-c" data-animate-in="fadeIn">
				<a class="active btn rd-0 btn-dark small bdr-2 mr-4" data-filter="all">All</a>
				<a class="btn rd-0 btn-dark small bdr-2 mr-4" data-filter=".rent">Rent</a>
				<a class="btn rd-0 btn-dark small bdr-2 mr-4" data-filter=".buy">Buy</a>
			</div><!-- filter list -->
			
			<ul class="rw eq3 gt30 mb30 filter-container">
				<li class="cl rent filter-content" data-animate-in="fadeInUp|0.1">
					<div class="bg-gray">
						<a href="#"><img src="images/realestate-800x600-01.jpg" alt="image"></a>
						<div class="pd-tiny">
							<span class="tag-text fs12 bg-default mr-b-micro">RENT</span><br>
							<h2 class="title mini"><a href="#">3140 Cherry Street Mobile, AL 36605</a></h2>
						</div>
					</div><!-- // END : Product box //  -->
				</li><!-- // END : Filter item //  -->

				<li class="cl buy filter-content" data-animate-in="fadeInUp|0.2">
					<div class="bg-gray">
						<a href="#"><img src="images/realestate-800x600-02.jpg" alt="image"></a>
						<div class="pd-tiny">
							<span class="tag-text fs12 bg-default mr-b-micro">BUY</span><br>
							<h2 class="title mini"><a href="#">3140 Cherry Street Mobile, AL 36605</a></h2>
						</div>
					</div><!-- // END : Product box //  -->
				</li><!-- // END : Filter item //  -->

				<li class="cl buy filter-content" data-animate-in="fadeInUp|0.3">
					<div class="bg-gray">
						<a href="#"><img src="images/realestate-800x600-03.jpg" alt="image"></a>
						<div class="pd-tiny">
							<span class="tag-text fs12 bg-default mr-b-micro">BUY</span><br>
							<h2 class="title mini"><a href="#">3140 Cherry Street Mobile, AL 36605</a></h2>
						</div>
					</div><!-- // END : Product box //  -->
				</li><!-- // END : Filter item //  -->

				<li class="cl rent filter-content" data-animate-in="fadeInUp|0.1">
					<div class="bg-gray">
						<a href="#"><img src="images/realestate-800x600-04.jpg" alt="image"></a>
						<div class="pd-tiny">
							<span class="tag-text fs12 bg-default mr-b-micro">RENT</span><br>
							<h2 class="title mini"><a href="#">3140 Cherry Street Mobile, AL 36605</a></h2>
						</div>
					</div><!-- // END : Product box //  -->
				</li><!-- // END : Filter item //  -->

				<li class="cl rent filter-content" data-animate-in="fadeInUp|0.2">
					<div class="bg-gray">
						<a href="#"><img src="images/realestate-800x600-05.jpg" alt="image"></a>
						<div class="pd-tiny">
							<span class="tag-text fs12 bg-default mr-b-micro">RENT</span><br>
							<h2 class="title mini"><a href="#">3140 Cherry Street Mobile, AL 36605</a></h2>
						</div>
					</div><!-- // END : Product box //  -->
				</li><!-- // END : Filter item //  -->

				<li class="cl buy filter-content" data-animate-in="fadeInUp|0.3">
					<div class="bg-gray">
						<a href="#"><img src="images/realestate-800x600-06.jpg" alt="image"></a>
						<div class="pd-tiny">
							<span class="tag-text fs12 bg-default mr-b-micro">BUY</span><br>
							<h2 class="title mini"><a href="#">3140 Cherry Street Mobile, AL 36605</a></h2>
						</div>
					</div><!-- // END : Product box //  -->
				</li><!-- // END : Filter item //  -->

			</ul><!-- // END : Filter container //  -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Product section **************  -->