<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="masonry-wrp" data-masonry-grid="y">
				<div class="masonry-grid row gt0 mb0 popgallery-widget">
					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_1.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title mini mr-b-4">Consectetur adipisicing</h2>
											<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light mr-tb-10">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_2.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title mini mr-b-4">Consectetur adipisicing</h2>
											<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light mr-tb-10">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_3.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>

					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title mini mr-b-4">Consectetur adipisicing</h2>
											<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light mr-tb-10">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_2.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title mini mr-b-4">Consectetur adipisicing</h2>
											<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light mr-tb-10">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_3.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>

					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title mini mr-b-4">Consectetur adipisicing</h2>
											<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light mr-tb-10">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_2.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title mini mr-b-4">Consectetur adipisicing</h2>
											<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light mr-tb-10">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_3.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>

					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title small mr-b-10">Consectetur adipisicing</h2>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_1.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>

					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title mini mr-b-4">Consectetur adipisicing</h2>
											<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light mr-tb-10">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_2.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<div class="hover-box1">
									<div class="overlay flex-bl">
										<div class="content hover-up -mr-b-20 pos-rel z1 pd-tiny typo-light">
											<h2 class="title mini mr-b-4">Consectetur adipisicing</h2>
											<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime</p>
											
											<hr class="light mr-tb-10">
											<div class="flex-row gt20 middle-md">
												<div class="flex-col-md-6">
													<p class="mr-0 fs24">$18.90</p>
												</div><!-- // END : column //  -->
												
												<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
													<a href="#" class="btn btn-primary solid mini">Buy now</a>
												</div><!-- // END : column //  -->
											</div><!-- // END : row //  -->
										</div><!-- // END : content //  -->
										<b class="full-wh bg-dark op-08"></b>
									</div>
									<img src="images/prd_800x800_3.jpg" alt="product" class="no-scale">
								</div><!-- // END : hover box //  -->
							</div>
						</figure>
					</div>


				</div>
			</div>

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
		
	</section>
	<!-- ************** END : Product section **************  -->