<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pos-rel pd-0 pd-tb-small bg-gray" data-rgen-sm="pd-tb-small align-c">
		<!-- Tab structure -->
		<div class="tabs-auto tab-style3 xlarge" data-pn-active="animated fadeIn" data-tb-normal="txt-white" data-tb-active="bg-glass-dark-08 txt-secondary">
			<ul class="tb-list align-c bg-dark ">
				<li class="tb">Featured</li>
				<li class="tb">Buy</li>
				<li class="tb">Rent</li>
			</ul><!-- /.tb-list -->

			<div class="tb-content pd-0">
				<div class="tb-pn">
					<div class="container pd-tb-small" data-rgen-sm="pd-tb-small">
						<!--=================================
						= carousel-widget
						==================================-->
						<div class="carousel-widget ctrl-1">
							<div class="owl-carousel"
								data-items="1"
								data-margin="30"
								data-xs-items="1"
								data-sm-items="1"
								data-md-items="1"
								data-lg-items="1"
								data-dots="true"
								data-autoplay="false"
								data-center="true"
								data-nav="true">
								<div class="item pd-micro">
									<div class="row shadow-tiny">
										<div class="col-md-6">
											<a href="#"><img src="images/realestate_800x600_01.jpg" alt="Image"></a>
										</div><!-- // END : column //  -->
										<div class="col-md-6 bg-white">
											<div class="pd-mini pos-rel" data-rgen-sm="pd-30">
												<small class="tag-text pos-abs r0 t0 fs14 bg-default">Rent</small>
												<h2 class="title small mr-b-30" data-rgen-sm="small">
													<a href="#" target="_blank">7372 4th Street Fairhope, AL 36532</a>
												</h2>
												<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
												<hr class="mr-tb-10">
												<div class="fs16">
													<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
													<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
													<i class="fa fa-building-o"></i> 1908 Sq Ft
												</div>
												<hr class="mr-tb-10">

												<div class="row gt20 middle-md">
													<div class="col-md-6 txt-primary" data-rgen-sm="mr-b-20">
														<strong class="fs30" data-rgen-sm="fs20">$1800/mo</strong>
													</div><!-- // END : column //  -->
													<div class="col-md-6 align-r" data-rgen-sm="align-c">
														<a href="#" target="_blank" class="btn btn-primary small bdr-2 bold-4">More info</a>
													</div><!-- // END : column //  -->
												</div><!-- // END : row //  -->
											</div>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div><!-- /.item -->
								
								<div class="item pd-micro">
									<div class="row shadow-tiny">
										<div class="col-md-6">
											<a href="#"><img src="images/realestate_800x600_02.jpg" alt="Image"></a>
										</div><!-- // END : column //  -->
										<div class="col-md-6 bg-white">
											<div class="pd-mini pos-rel" data-rgen-sm="pd-30">
												<small class="tag-text pos-abs r0 t0 fs14 bg-default">Buy</small>
												<h2 class="title small mr-b-30" data-rgen-sm="small">
													<a href="#" target="_blank">5984 Rosewood Drive Cockeysville, MD 21030</a>
												</h2>
												<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
												<hr class="mr-tb-10">
												<div class="fs16">
													<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
													<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
													<i class="fa fa-building-o"></i> 1908 Sq Ft
												</div>
												<hr class="mr-tb-10">

												<div class="row gt20 middle-md">
													<div class="col-md-6 txt-primary" data-rgen-sm="mr-b-20">
														<strong class="fs30" data-rgen-sm="fs20">$280000*</strong>
													</div><!-- // END : column //  -->
													<div class="col-md-6 align-r" data-rgen-sm="align-c">
														<a href="#" target="_blank" class="btn btn-primary small bdr-2 bold-4">More info</a>
													</div><!-- // END : column //  -->
												</div><!-- // END : row //  -->
											</div>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div><!-- /.item -->

								<div class="item pd-micro">
									<div class="row shadow-tiny">
										<div class="col-md-6">
											<a href="#"><img src="images/realestate_800x600_03.jpg" alt="Image"></a>
										</div><!-- // END : column //  -->
										<div class="col-md-6 bg-white">
											<div class="pd-mini pos-rel" data-rgen-sm="pd-30">
												<small class="tag-text pos-abs r0 t0 fs14 bg-default">Buy</small>
												<h2 class="title small mr-b-30" data-rgen-sm="small">
													<a href="#" target="_blank">689 Cottage Street Grand Forks, ND 58201</a>
												</h2>
												<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
												<hr class="mr-tb-10">
												<div class="fs16">
													<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
													<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
													<i class="fa fa-building-o"></i> 1908 Sq Ft
												</div>
												<hr class="mr-tb-10">

												<div class="row gt20 middle-md">
													<div class="col-md-6 txt-primary" data-rgen-sm="mr-b-20">
														<strong class="fs30" data-rgen-sm="fs20">$235000*</strong>
													</div><!-- // END : column //  -->
													<div class="col-md-6 align-r" data-rgen-sm="align-c">
														<a href="#" target="_blank" class="btn btn-primary small bdr-2 bold-4">More info</a>
													</div><!-- // END : column //  -->
												</div><!-- // END : row //  -->
											</div>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div><!-- /.item -->
							
								<div class="item pd-micro">
									<div class="row shadow-tiny">
										<div class="col-md-6">
											<a href="#"><img src="images/realestate_800x600_04.jpg" alt="Image"></a>
										</div><!-- // END : column //  -->
										<div class="col-md-6 bg-white">
											<div class="pd-mini pos-rel" data-rgen-sm="pd-30">
												<small class="tag-text pos-abs r0 t0 fs14 bg-default">Buy</small>
												<h2 class="title small mr-b-30" data-rgen-sm="small">
													<a href="#" target="_blank">9405 Jackson Avenue Marcus Hook, PA 19061</a>
												</h2>
												<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
												<hr class="mr-tb-10">
												<div class="fs16">
													<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
													<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
													<i class="fa fa-building-o"></i> 1908 Sq Ft
												</div>
												<hr class="mr-tb-10">

												<div class="row gt20 middle-md">
													<div class="col-md-6 txt-primary" data-rgen-sm="mr-b-20">
														<strong class="fs30" data-rgen-sm="fs20">$255000*</strong>
													</div><!-- // END : column //  -->
													<div class="col-md-6 align-r" data-rgen-sm="align-c">
														<a href="#" target="_blank" class="btn btn-primary small bdr-2 bold-4">More info</a>
													</div><!-- // END : column //  -->
												</div><!-- // END : row //  -->
											</div>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div><!-- /.item -->

							</div><!-- /.owl-carousel -->
						</div><!-- /.carousel-widget -->
					</div>
				</div><!-- tab pane -->

				<div class="tb-pn">
					<div class="container pd-tb-small" data-rgen-sm="pd-tb-small">
						<ul class="rw eq3 gt30 mb10">
							<li class="cl">
								<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
									<div class="img pos-rel">
										<span class="tag-text pos-abs r2 t2 fs11 z1">Popular</span>
										<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$350000.00</strong>
										<a href="#"><img src="images/realestate_800x600_01.jpg" alt="product image"></a>
									</div>
									<div class="info pd-tiny bg-white">
										<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
										<hr class="mr-tb-10">
										<div class="fs14">
											<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
											<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
											<i class="fa fa-building-o"></i> 1908 Sq Ft
										</div>
										<hr class="mr-tb-10">

										<a href="#" class="btn btn-dark small">More info</a>
									</div>
								</div><!-- info box -->
							</li><!-- // END : column //  -->
							<li class="cl">
								<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
									<div class="img pos-rel">
										<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$300000.00</strong>
										<a href="#"><img src="images/realestate_800x600_02.jpg" alt="product image"></a>
									</div>
									<div class="info pd-tiny bg-white">
										<h3 class="title mini">3140 Cherry Street Mobile, AL 36605</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
										<hr class="mr-tb-10">
										<div class="fs14">
											<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
											<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
											<i class="fa fa-building-o"></i> 1908 Sq Ft
										</div>
										<hr class="mr-tb-10">

										<a href="#" class="btn btn-dark small">More info</a>
									</div>
								</div><!-- info box -->
							</li><!-- // END : column //  -->
							<li class="cl">
								<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
									<div class="img pos-rel">
										<span class="tag-text pos-abs bg-color4 r2 t2 fs11 z1">Hot</span>
										<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$250000.00</strong>
										<a href="#"><img src="images/realestate_800x600_03.jpg" alt="product image"></a>
									</div>
									<div class="info pd-tiny bg-white">
										<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
										<hr class="mr-tb-10">
										<div class="fs14">
											<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
											<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
											<i class="fa fa-building-o"></i> 1908 Sq Ft
										</div>
										<hr class="mr-tb-10">

										<a href="#" class="btn btn-dark small">More info</a>
									</div>
								</div><!-- info box -->
							</li><!-- // END : column //  -->
							<li class="cl">
								<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
									<div class="img pos-rel">
										<span class="tag-text pos-abs r2 t2 fs11 z1">Popular</span>
										<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$350000.00</strong>
										<a href="#"><img src="images/realestate_800x600_04.jpg" alt="product image"></a>
									</div>
									<div class="info pd-tiny bg-white">
										<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
										<hr class="mr-tb-10">
										<div class="fs14">
											<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
											<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
											<i class="fa fa-building-o"></i> 1908 Sq Ft
										</div>
										<hr class="mr-tb-10">

										<a href="#" class="btn btn-dark small">More info</a>
									</div>
								</div><!-- info box -->
							</li><!-- // END : column //  -->
							<li class="cl">
								<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
									<div class="img pos-rel">
										<span class="tag-text pos-abs r2 t2 fs11 z1">Popular</span>
										<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$350000.00</strong>
										<a href="#"><img src="images/realestate_800x600_05.jpg" alt="product image"></a>
									</div>
									<div class="info pd-tiny bg-white">
										<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
										<hr class="mr-tb-10">
										<div class="fs14">
											<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
											<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
											<i class="fa fa-building-o"></i> 1908 Sq Ft
										</div>
										<hr class="mr-tb-10">

										<a href="#" class="btn btn-dark small">More info</a>
									</div>
								</div><!-- info box -->
							</li><!-- // END : column //  -->
							<li class="cl">
								<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
									<div class="img pos-rel">
										<span class="tag-text pos-abs r2 t2 fs11 z1">Popular</span>
										<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$350000.00</strong>
										<a href="#"><img src="images/realestate_800x600_06.jpg" alt="product image"></a>
									</div>
									<div class="info pd-tiny bg-white">
										<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
										<hr class="mr-tb-10">
										<div class="fs14">
											<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
											<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
											<i class="fa fa-building-o"></i> 1908 Sq Ft
										</div>
										<hr class="mr-tb-10">

										<a href="#" class="btn btn-dark small">More info</a>
									</div>
								</div><!-- info box -->
							</li><!-- // END : column //  -->
						</ul><!-- // END : row //  -->
					</div>					
				</div><!-- tab pane -->

				<div class="tb-pn">
					<div class="container pd-tb-small" data-rgen-sm="pd-tb-small">
						<!--=================================
						= carousel-widget
						==================================-->
						<div class="carousel-widget ctrl-1">
							<div class="owl-carousel"
								data-items="1"
								data-margin="30"
								data-xs-items="1"
								data-sm-items="2"
								data-md-items="3"
								data-lg-items="3"
								data-dots="true"
								data-autoplay="false"
								data-center="true"
								data-nav="true">
								<div class="item">
									<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
										<div class="img pos-rel">
											<span class="tag-text pos-abs r2 t2 fs11 z1">Popular</span>
											<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$350000.00</strong>
											<a href="#"><img src="images/realestate_800x600_01.jpg" alt="product image"></a>
										</div>
										<div class="info pd-tiny bg-white">
											<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
											<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
											<hr class="mr-tb-10">
											<div class="fs14">
												<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
												<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
												<i class="fa fa-building-o"></i> 1908 Sq Ft
											</div>
											<hr class="mr-tb-10">

											<a href="#" class="btn btn-dark small">More info</a>
										</div>
									</div><!-- info box -->
								</div><!-- /.item -->
								<div class="item">
									<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
										<div class="img pos-rel">
											<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$300000.00</strong>
											<a href="#"><img src="images/realestate_800x600_02.jpg" alt="product image"></a>
										</div>
										<div class="info pd-tiny bg-white">
											<h3 class="title mini">3140 Cherry Street Mobile, AL 36605</h3>
											<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
											<hr class="mr-tb-10">
											<div class="fs14">
												<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
												<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
												<i class="fa fa-building-o"></i> 1908 Sq Ft
											</div>
											<hr class="mr-tb-10">

											<a href="#" class="btn btn-dark small">More info</a>
										</div>
									</div><!-- info box -->
								</div><!-- /.item -->
								<div class="item">
									<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
										<div class="img pos-rel">
											<span class="tag-text pos-abs bg-color4 r2 t2 fs11 z1">Hot</span>
											<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$250000.00</strong>
											<a href="#"><img src="images/realestate_800x600_03.jpg" alt="product image"></a>
										</div>
										<div class="info pd-tiny bg-white">
											<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
											<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
											<hr class="mr-tb-10">
											<div class="fs14">
												<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
												<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
												<i class="fa fa-building-o"></i> 1908 Sq Ft
											</div>
											<hr class="mr-tb-10">

											<a href="#" class="btn btn-dark small">More info</a>
										</div>
									</div><!-- info box -->
								</div><!-- /.item -->
								<div class="item">
									<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
										<div class="img pos-rel">
											<span class="tag-text pos-abs r2 t2 fs11 z1">Popular</span>
											<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$350000.00</strong>
											<a href="#"><img src="images/realestate_800x600_04.jpg" alt="product image"></a>
										</div>
										<div class="info pd-tiny bg-white">
											<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
											<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
											<hr class="mr-tb-10">
											<div class="fs14">
												<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
												<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
												<i class="fa fa-building-o"></i> 1908 Sq Ft
											</div>
											<hr class="mr-tb-10">

											<a href="#" class="btn btn-dark small">More info</a>
										</div>
									</div><!-- info box -->
								</div><!-- /.item -->
								<div class="item">
									<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
										<div class="img pos-rel">
											<span class="tag-text pos-abs r2 t2 fs11 z1">Popular</span>
											<strong class="fs16 bg-secondary txt-white pos-abs z1 b2 l2 lh-3 align-c shadow-mini pd-tb-10 pd-lr-20">$350000.00</strong>
											<a href="#"><img src="images/realestate_800x600_05.jpg" alt="product image"></a>
										</div>
										<div class="info pd-tiny bg-white">
											<h3 class="title mini">7372 4th Street Fairhope, AL 36532</h3>
											<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
											<hr class="mr-tb-10">
											<div class="fs14">
												<i class="fa fa-bed"></i> 4 Bed, &nbsp;&nbsp; 
												<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
												<i class="fa fa-building-o"></i> 1908 Sq Ft
											</div>
											<hr class="mr-tb-10">

											<a href="#" class="btn btn-dark small">More info</a>
										</div>
									</div><!-- info box -->
								</div><!-- /.item -->

							</div><!-- /.owl-carousel -->
						</div><!-- /.carousel-widget -->
					</div>
				</div><!-- tab pane -->

			</div><!-- / tab content wrapper -->
		</div><!-- / tabs-auto -->
		
	</section>
	<!-- ************** END : Product section **************  -->