<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="deals">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title f-1 large" data-rgen-sm="medium">Hot Deals</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaad adsfd</p>
			</div>
			
			<ul class="eq3 rw gt30 mb10">

				<li class="cl" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
						<div class="img pos-rel">
							<span class="tag-text pos-abs l2 t2 fs11">SAVE 10%</span>
							<div data-bgcolor="#dc0e21" class="sq90 fs16 rd txt-white iconbox pos-abs b0 r10 -mr-b-10 lh-3 align-c shadow-mini"><span>From<br>$25.00</span></div>
							<img src="images/car_800x600_01.jpg" alt="car image">
						</div>
						<div class="info pd-tiny bg-gray">
							<h3 class="title mini">Consetetur sadipsc</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
							<hr>
							<ul class="list-1">
								<li><strong class="txt-dark">Type :</strong> Economy</li>
								<li><strong class="txt-dark">Air conditioning :</strong> Available</li>
								<li><strong class="txt-dark">Seats :</strong> 4 Seats</li>
								<li><strong class="txt-dark">Transmission :</strong> Automatic</li>
								<li><strong class="txt-dark">Doors :</strong> 2</li>
								<li><strong class="txt-dark">Bags :</strong> 1 Suitcases + 1 Small bag</li>
							</ul>
							<hr>
							<a href="#" class="btn btn-primary solid mr-b-10 small">More info</a>
							<p class="fs12 mr-0">All prices display per day</p>
						</div>
					</div><!-- info box -->
				</li><!-- // END : Column //  -->


				<li class="cl" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
						<div class="img pos-rel">
							<span class="tag-text pos-abs l2 t2 fs11">SAVE 10%</span>
							<div data-bgcolor="#dc0e21" class="sq90 fs16 rd txt-white iconbox pos-abs b0 r10 -mr-b-10 lh-3 align-c shadow-mini"><span>From<br>$22.00*</span></div>
							<img src="images/car_800x600_01.jpg" alt="car image">
						</div>
						<div class="info pd-tiny bg-gray">
							<h3 class="title mini">Consetetur sadipsc</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
							<hr>
							<ul class="list-1">
								<li><strong class="txt-dark">Type :</strong> Economy</li>
								<li><strong class="txt-dark">Air conditioning :</strong> Available</li>
								<li><strong class="txt-dark">Seats :</strong> 4 Seats</li>
								<li><strong class="txt-dark">Transmission :</strong> Automatic</li>
								<li><strong class="txt-dark">Doors :</strong> 2</li>
								<li><strong class="txt-dark">Bags :</strong> 1 Suitcases + 1 Small bag</li>
							</ul>
							<hr>
							<a href="#" class="btn btn-primary solid mr-b-10 small">More info</a>
							<p class="fs12 mr-0">All prices display per day</p>
						</div>
					</div><!-- info box -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
						<div class="img pos-rel">
							<span class="tag-text pos-abs l2 t2 fs11">SAVE 10%</span>
							<div data-bgcolor="#dc0e21" class="sq90 fs16 rd txt-white iconbox pos-abs b0 r10 -mr-b-10 lh-3 align-c shadow-mini"><span>From<br>$23.00*</span></div>
							<img src="images/car_800x600_01.jpg" alt="car image">
						</div>
						<div class="info pd-tiny bg-gray">
							<h3 class="title mini">Consetetur sadipsc</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
							<hr>
							<ul class="list-1">
								<li><strong class="txt-dark">Type :</strong> Economy</li>
								<li><strong class="txt-dark">Air conditioning :</strong> Available</li>
								<li><strong class="txt-dark">Seats :</strong> 4 Seats</li>
								<li><strong class="txt-dark">Transmission :</strong> Automatic</li>
								<li><strong class="txt-dark">Doors :</strong> 2</li>
								<li><strong class="txt-dark">Bags :</strong> 1 Suitcases + 1 Small bag</li>
							</ul>
							<hr>
							<a href="#" class="btn btn-primary solid mr-b-10 small">More info</a>
							<p class="fs12 mr-0">All prices display per day</p>
						</div>
					</div><!-- info box -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
						<div class="img pos-rel">
							<span class="tag-text pos-abs l2 t2 fs11">SAVE 10%</span>
							<div data-bgcolor="#dc0e21" class="sq90 fs16 rd txt-white iconbox pos-abs b0 r10 -mr-b-10 lh-3 align-c shadow-mini"><span>From<br>$25.00</span></div>
							<img src="images/car_800x600_01.jpg" alt="car image">
						</div>
						<div class="info pd-tiny bg-gray">
							<h3 class="title mini">Consetetur sadipsc</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
							<hr>
							<ul class="list-1">
								<li><strong class="txt-dark">Type :</strong> Economy</li>
								<li><strong class="txt-dark">Air conditioning :</strong> Available</li>
								<li><strong class="txt-dark">Seats :</strong> 4 Seats</li>
								<li><strong class="txt-dark">Transmission :</strong> Automatic</li>
								<li><strong class="txt-dark">Doors :</strong> 2</li>
								<li><strong class="txt-dark">Bags :</strong> 1 Suitcases + 1 Small bag</li>
							</ul>
							<hr>
							<a href="#" class="btn btn-primary solid mr-b-10 small">More info</a>
							<p class="fs12 mr-0">All prices display per day</p>
						</div>
					</div><!-- info box -->
				</li><!-- // END : Column //  -->


				<li class="cl" data-animate-in="fadeInUp|0.5">
					<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
						<div class="img pos-rel">
							<span class="tag-text pos-abs l2 t2 fs11">SAVE 10%</span>
							<div data-bgcolor="#dc0e21" class="sq90 fs16 rd txt-white iconbox pos-abs b0 r10 -mr-b-10 lh-3 align-c shadow-mini"><span>From<br>$22.00*</span></div>
							<img src="images/car_800x600_01.jpg" alt="car image">
						</div>
						<div class="info pd-tiny bg-gray">
							<h3 class="title mini">Consetetur sadipsc</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
							<hr>
							<ul class="list-1">
								<li><strong class="txt-dark">Type :</strong> Economy</li>
								<li><strong class="txt-dark">Air conditioning :</strong> Available</li>
								<li><strong class="txt-dark">Seats :</strong> 4 Seats</li>
								<li><strong class="txt-dark">Transmission :</strong> Automatic</li>
								<li><strong class="txt-dark">Doors :</strong> 2</li>
								<li><strong class="txt-dark">Bags :</strong> 1 Suitcases + 1 Small bag</li>
							</ul>
							<hr>
							<a href="#" class="btn btn-primary solid mr-b-10 small">More info</a>
							<p class="fs12 mr-0">All prices display per day</p>
						</div>
					</div><!-- info box -->
				</li><!-- // END : Column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.6">
					<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
						<div class="img pos-rel">
							<span class="tag-text pos-abs l2 t2 fs11">SAVE 10%</span>
							<div data-bgcolor="#dc0e21" class="sq90 fs16 rd txt-white iconbox pos-abs b0 r10 -mr-b-10 lh-3 align-c shadow-mini"><span>From<br>$23.00*</span></div>
							<img src="images/car_800x600_01.jpg" alt="car image">
						</div>
						<div class="info pd-tiny bg-gray">
							<h3 class="title mini">Consetetur sadipsc</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
							<hr>
							<ul class="list-1">
								<li><strong class="txt-dark">Type :</strong> Economy</li>
								<li><strong class="txt-dark">Air conditioning :</strong> Available</li>
								<li><strong class="txt-dark">Seats :</strong> 4 Seats</li>
								<li><strong class="txt-dark">Transmission :</strong> Automatic</li>
								<li><strong class="txt-dark">Doors :</strong> 2</li>
								<li><strong class="txt-dark">Bags :</strong> 1 Suitcases + 1 Small bag</li>
							</ul>
							<hr>
							<a href="#" class="btn btn-primary solid mr-b-10 small">More info</a>
							<p class="fs12 mr-0">All prices display per day</p>
						</div>
					</div><!-- info box -->
				</li><!-- // END : Column //  -->

			</ul><!-- // END : Row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Product section **************  -->