<!--
	************************************************************
	* Slider section
	************************************************************ -->
	<section class="pd-tb-small pos-rel bg-dark" data-rgen-sm="pd-b-40">
		<div class="container">
			<div class="w75 mr-auto align-c typo-light">
				<h3 class="title" data-rgen-sm="medium">Fashion Trends</h3>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>
		</div>
		<!--
		************************************************************
		* carousel-widget
		************************************************************ -->
		<div class="carousel-widget ctrl-light ctrl-1 z2 pos-rel zoom-carousel align-c">
			<div class="owl-carousel"
				data-margin="10" 
				data-xs-items="1" 
				data-sm-items="3" 
				data-md-items="4" 
				data-lg-items="5" 
				data-dots="true" 
				data-autoplay="false" 
				data-center="true"
				data-loop="false" 
				data-nav="true">
				
				<div class="item caption-up">
					<div class="content overflow-hidden">
						<a href="#" class="full-wh z2"></a>
						<div class="caption delay-0-2s bg-glass-dark-07 pos-abs b0 w100 z1 pd-20 typo-light">
							<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing</h2>
							<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium</p>
						</div><!-- // END : Caption //  -->
						<img src="images/prd1_1.jpg" alt="product">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content overflow-hidden">
						<a href="#" class="full-wh z2"></a>
						<div class="caption delay-0-2s bg-glass-dark-07 pos-abs b0 w100 z1 pd-20 typo-light">
							<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing</h2>
							<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium</p>
						</div><!-- // END : Caption //  -->
						<img src="images/prd1_2.jpg" alt="product">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content overflow-hidden">
						<a href="#" class="full-wh z2"></a>
						<div class="caption delay-0-2s bg-glass-dark-07 pos-abs b0 w100 z1 pd-20 typo-light">
							<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing</h2>
							<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium</p>
						</div><!-- // END : Caption //  -->
						<img src="images/prd1_3.jpg" alt="product">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content overflow-hidden">
						<a href="#" class="full-wh z2"></a>
						<div class="caption delay-0-2s bg-glass-dark-07 pos-abs b0 w100 z1 pd-20 typo-light">
							<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing</h2>
							<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium</p>
						</div><!-- // END : Caption //  -->
						<img src="images/prd1_4.jpg" alt="product">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content overflow-hidden">
						<a href="#" class="full-wh z2"></a>
						<div class="caption delay-0-2s bg-glass-dark-07 pos-abs b0 w100 z1 pd-20 typo-light">
							<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing</h2>
							<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium</p>
						</div><!-- // END : Caption //  -->
						<img src="images/prd1_5.jpg" alt="product">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content overflow-hidden">
						<a href="#" class="full-wh z2"></a>
						<div class="caption delay-0-2s bg-glass-dark-07 pos-abs b0 w100 z1 pd-20 typo-light">
							<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing</h2>
							<p class="mr-0 lh-3">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium</p>
						</div><!-- // END : Caption //  -->
						<img src="images/prd1_6.jpg" alt="product">
					</div>
				</div><!-- /.item -->

			</div><!-- /.owl-carousel -->
		</div><!-- /.carousel-widget -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.6)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/trends-bg.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Slider section **************  -->