<!--
	************************************************************
	* Newsletter section
	************************************************************ -->
	<section class="pos-rel pd-tb-mini bg-dark" data-rgen-sm="pd-tb-small" data-bgcolor="#ff6858">
		<div class="container pos-rel z1 typo-light">
			
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title mr-b-4" data-rgen-sm="medium">Always be the first to know</h2>
				<p class="title-sub mr-b-30" data-rgen-sm="small">Sign up for our newsletter!</p>


				<form action="form-data/notify-me.php" class="form-widget mr-b-20" data-rgen-sm="mr-0" data-formtype="newsletter" data-animate-in="fadeIn|0.1">
					<div class="field-wrp">
						<div class="row gt10">
							<div class="col-md-5">
								<div class="form-group">
									<input class="form-control form-control-light bdr-white bdr-2 w100" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<input class="form-control form-control-light bdr-white bdr-2 w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<button type="submit" data-loading-text="Pleae wait.." class="btn solid btn-dark bdr-2 block btn-reset bold-n" style="height: 46px;"><i class="fas fa-long-arrow-alt-right fs30"></i></button>
								</div>
							</div>
						</div>
					</div>
				</form><!-- / form -->
				
				<p data-animate-in="fadeIn|0.2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua</p>
			</div>
			
		</div><!-- // END : container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Newsletter section **************  -->