<!--
	************************************************************
	* Subscribe section
	************************************************************ -->
	<section class="pd-tb-small bg-gray pos-rel" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="row gt20 middle-md">
				<div class="col-md-5 mr-b-30" data-animate-in="fadeInLeft">
					<h2 class="title" data-rgen-sm="medium">Create Professional Landing Pages</h2>
					<p class="title-sub small mr-0" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ex libero quas ratione rem eos, recusandae aut quasi dolorum, atque temporibus nam odit consequatur excepturi</p>	
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 offset-md-1 align-c" data-animate-in="fadeInRight">
					<!-- form-block -->
					<div class="form-block bg-white bdr-2 bdr-default pd-mini rd-10 shadow-small mr-b-20" data-rgen-sm="pd-30">
						<h2 class="title small mr-b-30">START 30 DAY TRIAL</h2>
						<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
							<div class="field-wrp">
								<div class="form-group">
									<input class="form-control large" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control large" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</div>
							<button type="submit" class="btn solid btn-dark">Try it now</button>
						</form><!-- / form -->
					</div><!-- / form block -->
					<p class="fs12">By clicking this button, you agree to our Terms & Conditions and Privacy Policy.</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- container -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Subscribe section **************  -->