<!--
	************************************************************
	* Team section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small" id="agents">
		<div class="container align-c">
			<div class="w75 mr-auto">
				<h2 class="title" data-rgen-sm="medium">Our Agents</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>

			<!--=================================
			= carousel-widget
			==================================-->
			<div class="carousel-widget ctrl-1">
				<div class="owl-carousel"
					data-margin="30"
					data-xs-items="1"
					data-sm-items="2"
					data-md-items="3"
					data-lg-items="4"
					data-dots="true"
					data-autoplay="false"
					data-center="false"
					data-nav="true">
					
					<div class="item">
						<div class="info-obj img-t align-c mr-0">
							<div class="img"><img src="images/person1.jpg" alt="person"></div>
							<div class="info bg-gray pd-20">
								<h3 class="title mini bold-n">Jessie Mckinney</h3>
								<p class="mr-0 fs12"><i class="fa fa-phone"></i> 0123 456 789</p>
								<hr class="mr-tb-10">
								<div class="op-06">
									<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
									<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
									<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-google"></i></a>
								</div>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c mr-0">
							<div class="img"><img src="images/person2.jpg" alt="person"></div>
							<div class="info bg-gray pd-20">
								<h3 class="title mini bold-n">Alma Gomez</h3>
								<p class="mr-0 fs12"><i class="fa fa-phone"></i> 0123 456 789</p>
								<hr class="mr-tb-10">
								<div class="op-06">
									<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
									<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
									<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-google"></i></a>
								</div>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c mr-0">
							<div class="img"><img src="images/person3.jpg" alt="person"></div>
							<div class="info bg-gray pd-20">
								<h3 class="title mini bold-n">Peggy Washington</h3>
								<p class="mr-0 fs12"><i class="fa fa-phone"></i> 0123 456 789</p>
								<hr class="mr-tb-10">
								<div class="op-06">
									<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
									<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
									<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-google"></i></a>
								</div>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c mr-0">
							<div class="img"><img src="images/person4.jpg" alt="person"></div>
							<div class="info bg-gray pd-20">
								<h3 class="title mini bold-n">Lydia Park</h3>
								<p class="mr-0 fs12"><i class="fa fa-phone"></i> 0123 456 789</p>
								<hr class="mr-tb-10">
								<div class="op-06">
									<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
									<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
									<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-google"></i></a>
								</div>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c mr-0">
							<div class="img"><img src="images/person5.jpg" alt="person"></div>
							<div class="info bg-gray pd-20">
								<h3 class="title mini bold-n">John Turner</h3>
								<p class="mr-0 fs12"><i class="fa fa-phone"></i> 0123 456 789</p>
								<hr class="mr-tb-10">
								<div class="op-06">
									<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
									<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
									<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-google"></i></a>
								</div>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c mr-0">
							<div class="img"><img src="images/person6.jpg" alt="person"></div>
							<div class="info bg-gray pd-20">
								<h3 class="title mini bold-n">Wilson Young</h3>
								<p class="mr-0 fs12"><i class="fa fa-phone"></i> 0123 456 789</p>
								<hr class="mr-tb-10">
								<div class="op-06">
									<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
									<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
									<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-0 iconbox btn-dark"><i class="fab fa-google"></i></a>
								</div>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->
				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->
		</div><!-- // END : Container //  -->
	</section>
	<!-- ************** END : Team section **************  -->