<!--
	************************************************************
	* Testimonial sections
	************************************************************ -->
	<section class="pd-0 bdr-t bdr-b bdr-op-1" data-rgen-sm="pd-0" id="testimonials">
		<div class="container">
			<div class="row gt20">
				<div class="col-md-5 pd-tb-small" data-rgen-sm="pd-tb-small">
					<h2 class="title small mr-b-40" data-rgen-sm="align-c" data-animate-in="fadeIn">What our customer say</h2>

					<div class="info-obj img-l g20 small mr-b-40" data-animate-in="fadeInUp|0.1">
						<div class="img"><img src="images/person1.jpg" class="rd" alt="person"></div>
						<div class="info">
							<p class="mr-b-10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
							<p class="mr-0">
								<strong class="txt-dark">Oupsum dolor</strong><br>
								<em class="fs12">Creative Director</em>
							</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g20 small mr-b-40" data-animate-in="fadeInUp|0.2">
						<div class="img"><img src="images/person2.jpg" class="rd" alt="person"></div>
						<div class="info">
							<p class="mr-b-10">Consetetur sadipscing elitr, sed diam nonumy eimagna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
							<p class="mr-0">
								<strong class="txt-dark">Oupsum dolor</strong><br>
								<em class="fs12">Creative Director</em>
							</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g20 small mr-b-40" data-animate-in="fadeInUp|0.3">
						<div class="img"><img src="images/person3.jpg" class="rd" alt="person"></div>
						<div class="info">
							<p class="mr-b-10">Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
							<p class="mr-0">
								<strong class="txt-dark">Oupsum dolor</strong><br>
								<em class="fs12">Creative Director</em>
							</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g20 small mr-b-40" data-animate-in="fadeInUp|0.4">
						<div class="img"><img src="images/person4.jpg" class="rd" alt="person"></div>
						<div class="info">
							<p class="mr-b-10">Sadipscing elitr, sed diam labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
							<p class="mr-0">
								<strong class="txt-dark">Oupsum dolor</strong><br>
								<em class="fs12">Creative Director</em>
							</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 offset-md-1 bg-light pd-tb-small align-c" data-rgen-sm="pd-tb-small" data-animate-in="fadeInRight">
					<div class="w80 mr-auto">
						<h2 class="title small">Our clients</h2>
						<p class="title-sub small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod sadipscing</p>
						<hr>
						<ul class="inline-list gt-small size-small reset op-05">
							<li><img src="images/brand-logo1.png" alt="brand"></li>
							<li><img src="images/brand-logo2.png" alt="brand"></li>
							<li><img src="images/brand-logo3.png" alt="brand"></li>
							<li><img src="images/brand-logo4.png" alt="brand"></li>
							<li><img src="images/brand-logo5.png" alt="brand"></li>
							<li><img src="images/brand-logo6.png" alt="brand"></li>
						</ul>
						<hr>
						<p class="bold-n fs20 italic">One stop solution you need for your next project</p>
						<a href="#popup-content" class="set-popup btn btn-dark solid">Contact Us</a>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
			
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Testimonial sections **************  -->