<!--
	************************************************************
	* Testimonials
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small" id="testimonials">
		<div class="container small">
			<div class="row gt40 mb20">
				<div class="col-md-6" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-l g30 small">
						<div class="img -mr-r-40 pos-rel z1 mr-t-tiny"><img src="images/person1.jpg" class="rd mr-auto"></div>
						<div class="info pd-tiny bg-gray">
							<p class="fs16">Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>

							<h3 class="title mini bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-6" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-l g30 small">
						<div class="img -mr-r-40 pos-rel z1 mr-t-tiny"><img src="images/person2.jpg" class="rd mr-auto"></div>
						<div class="info pd-tiny bg-gray">
							<p class="fs16">Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>

							<h3 class="title mini bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->
	</section>
	<!-- ************** END : Testimonials **************  -->