<!--
	************************************************************
	* Testimonials section
	************************************************************ -->
	<section class="pd-tb-mini bg-gray" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="info-obj img-l mid g20 large w75 mr-auto" data-animate-in="fadeIn">
				<div class="img"><img src="images/person1.jpg" class="rd" alt="person"></div>
				<div class="info">
					<h3 class="title mini">Elizebeth Edman <br><em class="fs14 bold-n">Creative Director</em></h3>
					<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis quae quia, ratione in alias. Laudantium, doloribus asperiores in minus, officia illum adipisci consequatur veritatis voluptates aperiam consectetur eos dicta molestiae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				</div>
			</div><!-- info box -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Testimonials section **************  -->