<!--
	************************************************************
	* Testimonial section
	************************************************************ -->
	<section class="pd-tb-small pos-rel bg-gray" data-rgen-sm="pd-tb-small" id="testimonials">
		<div class="container">
			<div class="w75 mr-auto align-c mr-b-60" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">What our customers say</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>

			<div class="row gt40 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person1.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person2.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person3.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person4.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person5.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 mini pd-tiny bg-white rd-6 -mr-b-10 shadow-tiny">
						<div class="img"><span class="iconwrp rd bg-default txt-white -mr-t-50"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						</div>
					</div><!-- info box -->
					<div class="info-obj img-l g10 small mid pd-lr-20">
						<div class="img bdr-4 bdr-white shadow-small rd"><img src="images/person6.jpg" class="rd" alt="image"></div>
						<div class="info pd-tb-20">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- / info object -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Testimonial section **************  -->