<!--
	************************************************************
	* Testimonials
	************************************************************ -->
	<section class="pos-rel pd-tb-small pd-b-0" id="reviews" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="row gt20 middle-md">
				<div class="col-md-6 mr-t-20" data-animate-in="fadeInLeft">
					<img src="images/person-800x800-01.jpg" alt="person">
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1 pd-tb-20" data-animate-in="fadeInRight">
					<h2 class="title tiny" data-rgen-sm="small">SUCCESS STORY</h2>
					<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco exaliquip exea commodo proident.</p>
					
					<hr>

					<h3 class="bold-1 fs16 mr-0">Oupsum dolor</h3>
					<em class="fs12">Creative Director of Company</em>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->
	</section>
	<!-- ************** END : Testimonials **************  -->