<!--
	************************************************************
	* Video section
	************************************************************ -->
	<section class="pd-tb-medium bg-default" data-rgen-sm="pd-tb-medium align-c">
		<div class="container small typo-light">
			<div class="w75 mr-auto">
				<div class="row gt40 middle-md">
					<div class="col-md-3" data-animate-in="fadeInLeft">
						<a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="iconbox sq140 fs140 video-popup txt-white"><i class="far fa-play-circle"></i></a>			
					</div><!-- // END : column //  -->
					
					<div class="col-md-9" data-animate-in="fadeInRight">
						<h2 class="title f-2 bold-1" data-rgen-sm="medium">Take quick tour</h2>
						<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(0, 149, 251, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Video section **************  -->