<!--
	************************************************************
	* Video section
	************************************************************ -->
	<section class="pos-rel pd-0 bg-gray" data-rgen-sm="pd-tb-small">
		<div class="container-fluid">
			<div class="row min-vh-h100">

				<!--=================================
				= Parallax background
				==================================-->
				<div class="col-md-4 pos-rel">
					<!--
					=================================
					= Background holder
					=================================
					-->
					<div class="bg-holder full-wh z0">
						<!-- Overlay -->
						<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
						<!-- Parallax image -->
						<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/appintro_slide4.jpg"></div>
						<!-- Background image -->
						<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
					</div>
				</div><!-- // END : column //  -->
				
				<!--=================================
				= Content
				==================================-->
				<div class="col-md-8 pd-tb-medium flex-cc" data-rgen-sm="pd-0">
					<div class="w60 mr-auto align-c" data-rgen-sm="pd-20" data-animate-in="fadeInUp">
						<h2 class="title" data-rgen-sm="medium">Take quick overview of features</h2>
						<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumyeirmod tempor invidunt ut labore etdolore.</p>
						
						<div class="video-box px-h500 mr-b-40" data-rgen-sm="px-h400">
							<iframe width="100%" height="100%" src="https://www.youtube.com/embed/dorZ3vag5PI" frameborder="0" allowfullscreen=""></iframe>
							<div class="frameCover" data-type="video"></div>
						</div>

						<a href="#" class="btn btn-default solid bdr-2 large" data-rgen-sm="medium">Learn more...</a>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
	</section>
	<!-- ************** END : Video section **************  -->