<!--
	************************************************************
	* Video introduction 
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small">
		<div class="container pos-rel z2 align-c">

			<div class="w75 mr-auto typo-light" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Video introduction</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
				
				<!-- carousel-widget -->
				<div class="carousel-widget ctrl-1 ctrl-light popgallery-widget">
					<div class="owl-carousel" 
						data-dots="true"
						data-autoplay="false"
						data-nav="true">
						
						<div class="item">
							<div class="pos-rel bg-cc bg-cover px-h600" data-rgen-sm="px-h400" data-bg="images/800x600_01.jpg">
								<a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="full-wh flex-cc video-popup z1">
									<span class="sq80 fs30 btn-white flex-cc solid bdr-2 rd"><i class="fa fa-play mr-l-6"></i></span>
								</a>
							</div>
						</div><!-- /.item -->

						<div class="item">
							<div class="pos-rel bg-cc bg-cover px-h600" data-rgen-sm="px-h400" data-bg="images/800x600_02.jpg">
								<a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="full-wh flex-cc video-popup z1">
									<span class="sq80 fs30 btn-white flex-cc solid bdr-2 rd"><i class="fa fa-play mr-l-6"></i></span>
								</a>
							</div>
						</div><!-- /.item -->

						<div class="item">
							<div class="pos-rel bg-cc bg-cover px-h600" data-rgen-sm="px-h400" data-bg="images/800x600_03.jpg">
								<a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="full-wh flex-cc video-popup z1">
									<span class="sq80 fs30 btn-white flex-cc solid bdr-2 rd"><i class="fa fa-play mr-l-6"></i></span>
								</a>
							</div>
						</div><!-- /.item -->
						
					</div><!-- /.owl-carousel -->
				</div><!-- /.carousel-widget -->
			</div>
		</div><!-- // END : Container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.3)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/blur-bg4.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Video introduction **************  -->