.text-bold {
  font-weight: bold;
}
.text-orange {
  color: orange;
}

#choose-image {
  border-radius: 0px;
}

.img-preview {
  margin-top: 10px;
  .item-img-preview {
    margin-top: 10px;
    position: relative;
    img {
      height: 150px;
      margin: 0 auto;
    }
    label {
      padding-top: 5px;
    }
    .img-preview-btn-remove {
      color: red;
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 20px;
    }
  }
}
