.btn-collappse-wrap {
    //text-align: center;
}
.btn-collapse, .btn-collapse-second {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: none;
    border-radius: 25px;
    background-color: #f5f6f7;
    width: 102px;
    &:hover {
        background-color: #ebedf0;
    }
    &:focus {
        outline: none;
    }
}
.btn-collapse-second {
    width: 60px;
    i {
        color: #4b4f56;
        font-size: 9px;
    }
}
.detail-top {
    margin-bottom: 20px;
    .row-wrap {
        height: 215px;
    }
    .cover-wrap {
        position: absolute;
        z-index: 10;
        &:hover {
            .btn-change-cover {
                display: block;
            }
        }
        .cover-content-wrap {
            background: #1c1e21;
            height: 215px;
        }
        img {
            height: 215px;
            width: 100%;
        }
        .btn-change-cover {
            display: none;
            position: absolute;
            top: 10px;
            left: 30px;
            background-clip: padding-box;
            background-color: #000;
            border: 1px solid #fff;
            border-color: rgba(255, 255, 255, .8);
            border-radius: 2px;
            box-shadow: 0 0 6px rgba(0, 0, 0, .6);
            box-sizing: border-box;
            color: #fff;
        }
        .cfr-change-cv {
            background: linear-gradient( transparent, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, .6) 100% );
            display: none;
            position: absolute;
            top: 5px;
            right: 25px;
            a {
                color: #fff;
                cursor: pointer;
                font-size: 14px;
                text-decoration: none;
                &:first-child {
                    margin-right: 5px;
                }
                i {
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
    }
    .av-and-name-wrap {
        height: 215px;

    }
    .av-wrap {
        display: inline-block;
        //margin-bottom: 15px;
        position: absolute;
        left: 30px;
        bottom: 0;
        z-index: 11;
        &:hover {
            .btn-change-av {

                display: block !important;

            }
        }
        .btn-change-av {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: #fff;
            display: none;
            position: absolute;
            bottom: 5px;
            left: 5px;
            background: linear-gradient( transparent, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, .6) 100% );
        }
        .cfr-change-av {
            background: linear-gradient( transparent, rgba(0, 0, 0, .6) 50%, rgba(0, 0, 0, .6) 100% );
            display: none;
            position: absolute;
            bottom: 5px;
            right: 5px;
            a {
                color: #fff;
                cursor: pointer;
                font-size: 14px;
                text-decoration: none;
                &:first-child {
                    margin-right: 5px;
                }
                i {
                    cursor: pointer;
                    font-size: 20px;
                }
            }
        }
    }
    .avatar {
        background: #fff;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 4px;
        width: 168px;
        height: 168px;
    }
    .name {
        color: #fff;
        display: inline-block;
        font-size: 24px;
        text-shadow: 0 0 3px rgba(0, 0, 0, .4);
        position: absolute;
        bottom: 20px;
        left: 220px;
        z-index: 11;
    }
    .update-info-wrap {
        position: absolute;
        right: 25px;
        bottom: 20px;
        z-index: 11;
        p {
            background-color: #f5f6f7;
            border-color: rgba(0, 0, 0, .4);
            color: #4b4f56;
            padding: 10px 15px;
            font-size: 12px;
            font-weight: bold;
            border-radius: 3px;
            transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
            a {
                color: #4b4f56;
                text-decoration: none;
            }
        }
    }
}
.user-desc {
    margin-bottom: 15px;
}
//.user-info {
    .panel {
        border-radius: 0;
    }
    .name {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
    }
    .description-label, .rate-label, .posted-real-estate-label {
        font-size: 20px;
        font-weight: 600;
    }
    .social {
        text-align: right;
        a {

        }
    }

    .top-head {
        background: #f5f6f7;
        border: 1px solid #ccc;
        border-bottom: none;
        p {
            font-size: 14px;
            margin: 0;
            padding: 10px 0;
        }
    }
    .center-top {
        border: 1px solid #ccc;
        padding-top: 15px;
    }
    .alert-title {
        font-size: 18px;
        text-transform: uppercase;
    }
    .title-short-section {
        margin-bottom: 0px;
        margin-top: 0;
        background: #e40b00;
        color: #fff;
        font-weight: 600;
        font-size: 16px;
        padding: 10px 15px;
        text-transform: uppercase;
    }
    .border-block {
        border: 1px solid #ccc;
        border-top: none;
        margin-bottom: 15px;
        padding: 15px;
    }
    .list-friend {

    }
    .joined-project {

    }
    .list-re {
        margin-top: 15px;
    }
//}

._btn {
    display: inline-block;
    padding: 9px 15px;
    color: #fff;
    font-weight: 600;
}
.bg_red {
    background: #e40b00;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.clickable {
    cursor: pointer;
}
#postReModal {
    .modal-content {
        margin-top: 50px;
    }
}

.pg-item {
    float: left;
    margin-top: 5px;
    text-align: center;
    width: 25%;
    img {
        margin: 0 auto;
    }
}
.contact-phone {
    padding-top: 15px;
}

.form-create-re {
    .panel-footer {
        background: #fff;
    }
    #list-cl {
        margin-top: 15px;
    }
}
