
.user-info {
    .name {
        font-size: 20px;
        font-weight: 600;
        margin-top: 0;
    }
    .description-label, .rate-label, .posted-real-estate-label {
        font-size: 20px;
        font-weight: 600;
    }
    .social {
        text-align: right;
        a {

        }
    }
}
