.detail-content-wrap .detail-content {
  border: 1px solid #ddd;
  padding: 15px;
}

.detail-content-wrap .detail-content .title,
.detail-content-wrap .detail-content .title-second {
  color: #e40b00;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 0;
}

.detail-content-wrap .detail-content .brief_detail__right {
  text-align: right;
}

.detail-content-wrap .detail-content .brief_detail__right .price,
.detail-content-wrap .detail-content .brief_detail__right .is_deal {
  font-size: 20px;
  color: #e40b00;
}

.detail-content-wrap .detail-content .brief_detail__right .price {
  margin-bottom: 0;
}

.detail-content-wrap .detail-content .description__item {
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  color: #333;
}

.detail-content-wrap .detail-content .description__item strong {
  line-height: 32px;
  font-weight: 600;
  display: inline-block;
  width: 110px;
}

.detail-content-wrap .detail-content .description__title {
  font-weight: 600;
  font-size: 18px;
  padding: 10px 10px 0 0px;
}

.detail-content-wrap .detail-content .description__body {
  font-weight: bolder;
}

.detail-content-wrap .detail-content .description__body p {
  font-size: 14px;
  line-height: 18px;
  margin: 8px 0;
}

.detail-content-wrap .detail-content .post-by-info__avatar {
  border: 1px solid #ddd;
  padding: 4px;
}

.detail-content-wrap .detail-content .post-by-info__right p {
  padding: 5px 0;
  border-top: 1px dotted #ddd;
  margin-bottom: 0;
}

.detail-content-wrap .detail-content .post-by-info__right p:first-child {
  border-top: 0;
}

.detail-content-wrap .detail-content .post-by-info__right p strong {
  font-weight: 600;
  width: 120px;
  display: inline-block;
}

.short-section {
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

