.flex-direction-nav .flex-prev {
  left: 0px !important;
}

.flex-direction-nav .flex-next {
  right: 0px !important;
}

.flex-control-nav {
  bottom: 20px !important;
}

.search-wrap {
  position: relative;
}

.search-wrap .search-content {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 999999;
}

.search-wrap .search-content ul li {
  display: block;
  margin-bottom: 20px;
  position: relative;
  float: left;
}

.search-wrap .search-content ul li:hover a {
  background: #0085e0;
  color: #fff;
}

.search-wrap .search-content ul li:hover span {
  display: block;
}

.search-wrap .search-content ul li a {
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
}

.search-wrap .search-content ul li span {
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
  display: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #0085e0;
  border-bottom: 10px solid transparent;
}

.search-wrap .search-content ul li form {
  float: left;
  background: #fff;
}

.search-wrap .search-content ul li form > * {
  float: left;
  background: transparent;
  border: 0;
  color: #444;
  outline: none;
  font-style: italic;
  display: block;
}

.search-wrap .search-content ul li form > input[type=text] {
  text-indent: 10px;
  width: 250px;
  height: 41px;
}

.search-wrap .search-content ul li form > button {
  padding: 0;
}

.search-wrap .search-content ul li form > button i {
  line-height: 41px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  display: block;
  color: #e40b00;
  background: #e9e9e9;
  font-size: 18px;
}

.search-wrap .search-content ul li.active a {
  background: #0085e0;
  color: #fff;
}

.search-wrap .search-content ul li.active span {
  display: block;
}

.search-wrap .search-content ul li + li {
  margin-left: 5px;
}

.search-wrap .search-content .search-select-wrap {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
}

.search-wrap .search-content .search-select-wrap .item {
  padding: 5px;
}

.search-wrap .search-content .search-select-wrap select {
  width: 100%;
  height: 38px;
  text-indent: 10px;
  outline: none;
  border: 1px solid #969696;
}

.search-wrap .search-content .search-select-wrap button {
  border: none;
  width: 100%;
  height: 38px;
  background: #e40b00;
  color: #fff;
  text-transform: uppercase;
}

.hot-real-estate .title-hot-wrap {
  margin: 30px 0px 25px 0px;
}

.hot-real-estate .title-hot-real-estate {
  background: #efefef;
  padding: 0;
}

.hot-real-estate .title-hot-real-estate a.active {
  background: #e40b00;
  color: #fff;
}

.hot-real-estate .title-hot-real-estate a.active span {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e40b00;
  border-bottom: 5px solid transparent;
}

.hot-real-estate .title-hot-real-estate a {
  color: #333;
  line-height: 50px;
  display: block;
  float: left;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  border-left: 1px solid #ddd;
}

.hot-real-estate .title-hot-real-estate a:hover {
  background: #e40b00;
  color: #fff;
}

.hot-real-estate .title-hot-real-estate a:hover span {
  display: inline-block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e40b00;
  border-bottom: 5px solid transparent;
}

.hot-real-estate .title-hot-real-estate a:first-child {
  border-left: 0;
}

.adv_box.adv_home_hot a {
  margin-top: 0;
}
.adv_box a {
  display: inline-block;
}
.adv_box a img {
  max-width: 100%;
}
@media (min-width: 992px) {
  .list-hot .item {
    width: 20%;
    padding-left: 0;
  }
  .list-hot .item:nth-child(5n+5) {
    padding-right: 0;
  }
}
