body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #000;
}

.margin-0 {
  margin: 0;
}

.margin-top-20 {
  margin-top: 20px;
}

.padding-0 {
  padding: 0;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-right-10 {
  padding-right: 10px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-left-10 {
  padding-left: 10px;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

/*
    modify css of bootstrap
*/

.form-control {
  border-radius: 0;
}

button {
  border: none;
}

.text-red {
  color: red;
}

.bx-wrapper .bx-controls-direction a {
  z-index: 999;
}

/*------------ Header ------------*/

.top_page {
  background: #e8e8e8;
}

.top_page .welcome-text {
  text-transform: uppercase;
  line-height: 36px;
  color: #000;
}

.top_page .welcome-text p {
  margin-bottom: 0;
}

.top_page .user-action p {
  margin-bottom: 0;
}

.top_page .user-action a {
  color: #000;
  display: inline-block;
  line-height: 36px;
  text-decoration: none;
  margin: 0 5px;
}

.top_page .user-action a i {
  color: #e40b00;
  margin-right: 5px;
}

/*-------------- banner header --------------*/

.banner-header .left a {
  display: inline-block;
  /*margin: 15px 0;*/
}

.banner-header .right a {
  display: inline-block;
  margin: 15px 0;
}

.banner-header .right a img {
  height: 100px;
}
.banner-header .right form {
  margin: 25px 0;
}
.banner-header .right .col-md-3, .banner-header .right .col-md-2, .banner-header .right .col-md-1  {
  padding: 0 2px 0 2px;
}
.banner-header .right form input, .banner-header .right form select {
  width: 100% !important;
}
.banner-header .right form .btn-search {
  width: 100%;
  height: 34px;
  background: #d83c11;
  cursor: pointer;
  color: #fff;
  border-radius: 0;
}
.main-menu {
  background: #ed1b24;
  background-image: linear-gradient(to right,#b52a01,#c13b22,#e84b21,#ca2e03,#a02300);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  min-height: 42px;
}

#mainmenu a{
  font-weight: 500;
}

.main-menu .main-menu-list {
  padding-left: 0;
}

.main-menu .main-menu-list ul li a {
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  text-transform: uppercase;
  padding: 2px 11px 0 15px;
}

.main-menu .main-menu-list ul li ul {
  width: 260px;
  background: #e40b00;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-menu .main-menu-list ul li ul li a {
  font-size: 13px;
  line-height: 20px;
  padding: 9px 10px;
  text-transform: capitalize;
}

.main-menu .main-menu-list ul li.active a,
.main-menu .main-menu-list ul li.open a {
  background: none !important;
}

.main-menu .main-menu-list .menu-search {
  float: left;
  margin-top: 10px;
  width: 100%;
}

.main-menu .main-menu-list .menu-search .wrap {
  width: 100%;
}

.main-menu .main-menu-list .menu-search #ip-kw {
  font-size: 12px;
}

.main-menu .main-menu-list .menu-search input {
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-style: italic;
  height: 30px;
  width: 170px;
}

@media screen and (max-width: 767px) {
  .main-menu .main-menu-list .menu-search input {
    width: calc(100% - 30px);
  }
}

.main-menu .main-menu-list .menu-search button {
  border: none;
  padding: 0;
}

.main-menu .main-menu-list .menu-search button i {
  background: #e9e9e9;
  color: #e40b00;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

/*---------- menu header only for user info page ---------------*/

.sliderz {
  background: #090807;
  padding-top: 8px;
  width: 100%;
  overflow: hidden;
}

.sliderz>div {
  position: relative;
  width: 132%;
  margin: 0 -16%;
}
.owl-theme .owl-nav {
  margin-top: 0 !important;
}
.owl-theme .owl-nav [class*=owl-] {
  margin: 0;
  padding: 0;
  position: absolute; top: 50%;
  border-radius: 35px;
  width: 32px;
  height: 32px;
  line-height: 26px;
  padding-bottom: 6px;
  margin-top: -12px !important;
  background: rgba(0,0,0,.4) !important;
  color: #8a8a8a;
}
.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(0,0,0,.6) !important;
  color: #fff;
}
.owl-carousel .owl-nav .owl-prev {
  left: -50px;
}
.owl-carousel .owl-nav .owl-next {
  right: -50px;
}
@media (max-width: 991.98px) {
  .owl-carousel .owl-nav .owl-prev {
    left: 10px;
  }
  .owl-carousel .owl-nav .owl-next {
    right: 10px;
  }
}
.sliderz p {
    margin-bottom: 0;
}
/*------------------------*/

.text_carousel p {
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.text_carousel.owl-theme .owl-nav {
  margin: 0;
}
.text_carousel.owl-theme .owl-nav [class*=owl-] {
  margin: 0;
  padding: 0;
  position: absolute; top: 50%;
  border-radius: 35px;
  width: 24px;
  height: 24px;
  line-height: 22px;
  padding-top: 2px;
  margin-top: -12px;
  background: #454545;
  color: #8a8a8a;
}
.text_carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: #8a8a8a;
  color: #aeaeae;
}
.text_carousel.owl-carousel .owl-nav .owl-prev {
  left: -24px;
}
.text_carousel.owl-carousel .owl-nav .owl-next {
  right: -24px;
}



.main-menu-user-info .menu-search input {
  width: 400px !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.main-menu-user-info .menu-search button {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.main-menu-user-info .menu-search button i {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.main-menu-user-info .navbar-right .home-link {
  padding-top: 2px;
  text-transform: capitalize;
}

.main-menu-user-info .navbar-right li.dropdown a {
  padding-left: 12px;
  padding-top: 16px;
}

.main-menu-user-info .navbar-right li.dropdown a i {
  font-size: 18px;
}

.main-menu-user-info .navbar-right a {
  padding: 12px;
  padding-left: 12px !important;
}

.main-menu-user-info .navbar-right .header-avatar {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.main-menu-user-info .navbar-right .header-name {
  text-transform: capitalize;
}

.main-menu-user-info .friend-request-list li a {
  display: inline-block;
  padding-bottom: 5px !important;
  padding-top: 5px !important;
}

.main-menu-user-info .friend-request-list li .btn-accept-rq {
  border-color: #fff;
  margin-right: 5px;
}

/*------------ End Header ------------*/

/*------------ Footer ------------*/

/*
    3 cols footer
*/

.addition_info {
  margin-top: 20px;
}

.brokers .broker_slider .broker-item {
  background: #f5f5f5;
  border-bottom: 1px dotted #ccc;
  padding-top: 14px;
  width: 100% !important;
}

.brokers .broker_slider .broker-item .ct_left {
  float: left;
}

.brokers .broker_slider .broker-item .ct_left a img {
  height: 100px;
}

.brokers .broker_slider .broker-item .ct_right {
  margin-left: 85px;
}

.brokers .broker_slider .broker-item .ct_right .name {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  text-transform: capitalize;
}

.brokers .broker_slider .broker-item .ct_right .phone {
  color: #ea3c00;
  font-size: 12px;
  font-weight: 600;
}

.brokers .bx-wrapper .bx-prev {
  right: 35px;
}

.brokers .bx-wrapper .bx-next {
  right: 0px;
}

.brokers .broker_see_all {
  background: #f5f5f5;
}

.brokers .broker_see_all a {
  padding: 5px 15px;
  color: #fff;
  background: #228511;
  display: block;
  float: right;
  font-style: italic;
  margin: 10px 0;
  text-decoration: none;
  width: 90px;
}

.design .design_content {
  padding-bottom: 15px;
}

.menu-footer {
  background-color: #e40b00;
  clear: both;
  margin-top: 15px;
}

.menu-footer ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}

.menu-footer ul li {
  display: inline-block;
}

.menu-footer ul li a {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 45px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#footer {
  background-color: #f5f5f5;
}

#footer .footer-info {
  padding-top: 20px;
}

#footer .footer-info p {
  margin-bottom: 0;
}

/*------------ End Footer ------------*/

/*------------ Item real estate ------------*/

.list-re-item {
  margin: 0;
}

.list-re-item .re-item {
  margin-bottom: 20px;
  position: relative;
  border: 2px solid #eee;
  padding: 5px;
}

.list-re-item .re-item:hover {
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.list-re-item .re-item > a {
  display: block;
  height: 170px;
  background: #ddd;
}

.list-re-item .re-item > a img {
  width: 100%;
  height: 100%;
}

.list-re-item .re-item .icon_viphot {
  position: absolute;
  top: 8px;
  left: 8px;
}

.list-re-item .re-item h3 {
  height: 40px;
  overflow: hidden;
  margin: 10px 0;
}

.list-re-item .re-item h3 a {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  line-height: 20px;
  color: #000;
}

.list-re-item .re-item > p {
  line-height: 18px;
  height: 72px;
  overflow: hidden;
}

.list-re-item .re-item .area {
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0;
}

.list-re-item .re-item .area .larea {
  padding: 0;
}

.list-re-item .re-item .area .rarea {
  padding: 0;
  text-align: right;
}

.list-re-item .re-item .price {
  font-weight: 600;
  margin: 0;
}

.list-re-item .re-item .price .lprice {
  padding: 0;
  text-align: center;
  background: #eeeeee;
  line-height: 30px;
}

.list-re-item .re-item .price .lprice i {
  color: #e40b00;
  margin-right: 2px;
}

.list-re-item .re-item .price .rprice {
  text-align: center;
  background: #e40b00;
  line-height: 30px;
  color: #fff;
  padding: 0;
}

.list-re-item .hot {
  border: 2px solid #f00;
  background: #fffce6;
}

.list-re-item .hot a {
  color: #e40b00 !important;
}

.list-re-item .vip a {
  color: #e40b00 !important;
}

.code_row {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 11px;
  line-height: 18px;
  padding: 0 5px;
  font-weight: 600;
}

/*--------------- row two columns ---------------*/

.two_cols {
  margin: 20px 0;
}

.title_box {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.title_box strong {
  border-bottom: 2px solid #e40b00;
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
  position: relative;
  margin-bottom: -1px;
  font-weight: 600;
  text-transform: uppercase;
}

.cat_top_box {
  border-bottom: 2px solid #ddd;
}

.cat_top_box > a {
  display: inline-block;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #333;
  padding: 0 10px;
  position: relative;
  margin-bottom: -2px;
  font-weight: 600;
  border: 1px solid transparent;
  border-bottom: 0;
}

.cat_top_box > form {
  float: right;
  background: #fff;
  margin-top: 10px;
}

.cat_top_box > form > input[type=text] {
  text-indent: 5px;
  width: 250px;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-right: 0;
}

.cat_top_box > form > * {
  float: left;
  background: transparent;
  border: 0;
  color: #444;
  outline: none;
  font-style: italic;
  display: block;
}

.cat_top_box > form button {
  padding: 0;
}

.cat_top_box > form button i {
  line-height: 30px;
  width: 30px;
  text-align: center;
  cursor: pointer;
  display: block;
  color: #e40b00;
  background: #e9e9e9;
  font-size: 16px;
}

.body_top_box {
  padding: 15px 0 15px 0;
  border: 1px solid #ddd;
  border-top: 0;
  margin: 0;
}

.body_top_box .re_item2 {
  border-bottom: 2px dotted #ddd;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 20px;
  position: relative;
}

.body_top_box .re_item2 .row {
  border: 2px solid #fff;
  margin: 0;
}

.body_top_box .re_item2 .lgp_item {
  padding-left: 0;
  padding-right: 10px;
  position: relative;
}

.body_top_box .re_item2 .lgp_item a {
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}

.body_top_box .re_item2 .lgp_item a img {
  width: 100%;
  height: 100%;
}

.body_top_box .re_item2 .lgp_item .code_row {
  right: 15px;
}

.body_top_box .re_item2 .rgp_item {
  padding: 0;
}

.body_top_box .re_item2 .rgp_item h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.body_top_box .re_item2 .rgp_item h3 a {
  color: #04578b;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  display: block;
  max-height: 36px;
  overflow: hidden;
}

.body_top_box .re_item2 .rgp_item h3 span {
  width: 60px;
  display: block;
  border-bottom: 3px solid #d3d3d3;
  margin-top: 5px;
}

.body_top_box .re_item2 .rgp_item div {
  line-height: 18px;
  max-height: 54px;
  overflow: hidden;
  margin: 5px 0;
}

.body_top_box .re_item2 .rgp_item p {
  font-size: 11.5px;
  font-weight: 600;
  margin-bottom: 0;
  max-height: 16px;
  overflow: hidden;
}

.body_top_box .re_item2 .rgp_item p strong {
  font-weight: normal;
}

.body_top_box .re_item2 .icon_viphot {
  position: absolute;
  top: 8px;
  left: 8px;
}

.body_top_box .re_item2 ._vip_hot {
  border: 2px solid #f00;
}

.body_top_box ._vip {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6e97f), to(#fff));
  background: linear-gradient(#f6e97f, #fff);
}

.body_top_box ._vip .rgp_item h3 a {
  color: #f00;
}

.body_top_box ._vip_hot {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6e97f), to(#fff));
  background: linear-gradient(#f6e97f, #fff);
}

p.more {
  text-align: center;
}

p.more a {
  display: inline-block;
  background: #e40b00;
  color: #fff;
  padding: 8px 20px;
  text-transform: uppercase;
}

.vip_box > div {
  background: #f5f5f5;
  border: 1px solid #e7e7e7;
}

.vip_box > div dl {
  padding: 14px;
  border-bottom: 2px dotted #ccc;
  margin-bottom: 0;
}

.vip_box > div dl dt {
  float: left;
  position: relative;
}

.vip_box > div dl dt a {
  display: block;
  width: 80px;
  height: 65px;
  margin-top: 4px;
}

.vip_box > div dl dt a img {
  width: 100%;
  height: 100%;
}

.vip_box > div dl dt div {
  margin-top: 4px;
  text-align: center;
}

.vip_box > div dl dd {
  margin-left: 90px;
  margin-top: -20px;
}

.vip_box > div dl dd h3 {
  margin-bottom: 5px;
  height: 36px;
  overflow: hidden;
}

.vip_box > div dl dd h3 a {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: 600;
  color: #04538b;
}

.vip_box > div dl dd p {
  font-size: 12px;
  margin-top: 2px;
}

.vip_box > div dl dd p strong {
  font-weight: 600;
  color: #000;
}

.vip_box > div dl dd span {
  color: #e40b00;
  font-weight: 600;
}

.vip_box .vip_slider {
  padding: 0;
  margin: 0;
  border: 0;
}

/*--------------- end row two columns ---------------*/

/*--------------- row three columns ---------------*/

@media screen and (max-width: 767px) {
  .three_cols .three_i {
    margin-bottom: 15px;
  }

  .three_cols .three_i:last-child {
    margin-bottom: 0;
  }
}

.three_cols .three_i .title_col {
  background: #e40b00;
  color: #fff;
  line-height: 45px;
  text-indent: 15px;
  font-size: 18px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.three_cols .three_i .title_col a {
  color: #fff;
}

.three_cols .three_i .title_col a:hover {
  text-decoration: none;
}

.three_cols .three_i .title_col i {
  margin-right: 5px;
}

.three_cols .three_i .content {
  background: #f5f5f5;
  height: 100%;
  padding-top: 15px;
}

/*--------------- end row three columns ---------------*/

.title_box1 {
  background: #efefef;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}

.title_box1 strong {
  display: inline-block;
  font-size: 16px;
  line-height: 50px;
  font-weight: 600;
  padding-left: 15px;
  border-left: 15px solid #e40b00;
}

/*
*---------------------- CSS for detail real estate page --------------------------
*/

.title-short-section {
  background: #f8f8f8;
  color: #e40b00;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  margin: 15px 0 5px 0;
}

.strike-title {
  border-bottom: 1px solid #ddd;
  margin: 10px 0 20px 0;
}

.strike-title strong {
  background: #fff;
  display: inline-block;
  position: relative;
  bottom: -10px;
  font-weight: 600;
  line-height: 20px;
  font-size: 16px;
}

.adv-content a {
  display: inline-block;
  width: 49.6%;
}

.adv-content a:last-child {
  width: 100%;
}

/*
*---------------------- END CSS for detail real estate page --------------------------
*/

