<!--
	************************************************************
	* Call to action section
	************************************************************ -->
	<section class="pd-tb-small pos-rel" data-rgen-sm="pd-tb-small">
		<div class="container typo-light align-c pos-rel z2">
			<div class="w75 mr-auto" data-animate-in=fadeInUp>
				<h2 class="title fs100" data-rgen-sm="large">6,70,8890</h2>
				<h3 class="title-sub mr-b-50" data-rgen-sm="small">Customers have been downloaded and actively using our APP successfully.</h3>
				<a href="#" class="btn btn-white solid large round bdr-2" data-rgen-sm="medium bold-n">GET STARTED FOR FREE</a>
			</div>
		</div><!-- container -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="#0095fb"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Call to action section **************  -->