<!--
	************************************************************
	* Call to action
	************************************************************ -->
	<section class="pd-tb-small shadow-medium pos-rel z1" data-rgen-sm="pd-tb-small">
		<div class="container small align-c" data-rgen-sm="align-c">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<p class="title-sub small mr-b-10">What are waiting for?</p>
				<h2 class="title bold-1 mr-b-tiny" data-rgen-sm="medium">Join our network build career with thousands of industry experts</h2>
				<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn btn-primary round solid">Start my FREE trial</a>
			</div>

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Call to action **************  -->