<!--
	************************************************************
	* Call to action
	************************************************************ -->
	<section class="pd-0 bg-default" data-rgen-sm="align-c">
		<div class="container small typo-light">
			<div class="row gt20 bottom-md">
				<div class="col-md-6 pd-t-small" data-animate-in="fadeIn">
					<img src="images/iphone-img-08.png" alt="iphone image">
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1 pd-tb-small" data-rgen-sm="pd-tb-small" data-animate-in="fadeInRight">
					<h2 class="title mr-b-mini bold-1" data-rgen-sm="medium mr-b-30">Create powerful landing pages to promote services</h2>
					<p class="mr-b-mini">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua</p>
					<a href="#" class="btn btn-default solid">Get started now</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : Container //  -->
	
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-02.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Call to action **************  -->