<!--
	************************************************************
	* Call to action-section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="max-px-w600 typo-light" data-animate-in="fadeInLeft">
				<h2 class="title" data-rgen-sm="medium">WINTER SPECIAL OFFER</h2>
				<h3 class="title large bold-1" data-rgen-sm="medium">Get <strong class="txt-secondary bold-5">30%</strong> on all program</h3>
				<p class="title-sub" data-rgen-sm="small">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>

				<a href="#popup-content" class="btn btn-white solid bdr-2 set-popup">Join now</a>
			</div>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.1)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/gym-bg1.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Call to action-section **************  -->