<!--
	************************************************************
	* Call to action
	************************************************************ -->
	<section class="pd-tb-medium bg-default" data-rgen-sm="pd-tb-medium">
		<div class="container small typo-light align-c">
			<div class="w75 mr-auto" data-animate-in="fadeInUp">
				<h2 class="title mr-b-mini" data-rgen-sm="medium">Create powerful landing pages to promote services</h2>
				<p class="fs16 mr-b-mini">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>
				<a href="#" class="btn btn-default solid">Get started now</a>
			</div>
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.9)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-02.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Call to action **************  -->