<!--
	************************************************************
	* Call to action section
	************************************************************ -->
	<section class="pd-tb-small bg-default pos-rel" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="large">Start your trial now</h2>
				<p class="title-sub small" data-rgen-sm="small">14 days free. No credit card required</p>
				<a href="#" class="btn btn-white solid large bdr-2" data-rgen-sm="medium bold-n">Sign up for FREE</a>
			</div>
		</div><!-- container -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Call to action section **************  -->