<!--
	************************************************************
	* Call to action section
	************************************************************ -->
	<section class="pos-rel pd-tb-large" data-animate-in="fadeInUp" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="w75 mr-auto align-c">
				<h2 class="title large" data-rgen-sm="medium">Require something special?</h2>
				<p class="title-sub" data-rgen-sm="small">We might help you to build it better way!</p>
				<a href="https://goo.gl/ZMxnYs" target="_blank" data-rgen-sm="small" class="btn btn-dark solid txt-upper bdr-2">Send us some words</a>
			</div>
		</div>
		
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z3" data-bgcolor="rgba(255, 255, 255, 0.6)"></b>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg24.jpg" class="full-wh bg-cover bg-cb z1"></b>
		</div>
	</section>
	<!-- ************** END : Call to action section **************  -->