<!--
	************************************************************
	* Call to action
	************************************************************ -->
	<section class="pd-tb-mini bg-dark" data-animate-in="fadeIn">
		<div class="container small typo-light" data-rgen-sm="align-c">
			<div class="row gt20">
				<div class="col-md-7" data-rgen-sm="mr-b-30">
					<p class="mr-0 fs16">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-4 offset-md-1">
					<a href="#" class="btn btn-default solid block">Start work with us</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->
	</section>
	<!-- ************** END : Call to action **************  -->