<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-medium" data-rgen-sm="pd-tb-medium align-c" id="findus">
		
		<div class="container small typo-light">
			<div class="row middle-md">
				<div class="col-md-7" data-animate-in="fadeInLeft">
					<img src="images/icon-check.png" alt="icon" class="mr-b-tiny max-px-w150" data-rgen-sm="mr-auto">
					<h2 class="title bold-1 f-1 large" data-rgen-sm="medium">Get paid on time</h2>
					<p class="title-sub" data-rgen-sm="small">Easy automated system that make your work more easier to manage invoices</p>
					
					<p class="mr-b-mini">Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<a href="https://goo.gl/G9rSM5" target="_blank" class="btn btn-white round solid">Start my FREE trial</a>
				</div><!-- // END : column //  -->
				
				<div class="col-md-5" data-rgen-sm="pd-b-40">
					
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->	
			
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.2)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-13.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Content section **************  -->