<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small bg-gray" data-rgen-sm="pd-tb-small" id="services">
		<div class="container small">
			<div class="row mb20">
				<div class="col-md-4" data-rgen-sm="align-c" data-animate-in="fadeInLeft">
					<span class="iconbox sq160 rd fs80 mr-b-mini bg-default txt-white"><i class="pe-7s-way"></i></span>
					<h2 class="f-2 txt-upper lh-1 title">Offering premium quality services</h2>
					<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-8">
					<div class="pd-l-50 mr-l-50 bdr-l bdr-op-1" data-rgen-sm="pd-0 mr-0 bdr-reset">
						<div class="row gt30 middle-md mb20" data-animate-in="fadeInUp|0.1">
							<div class="col-md-6">
								<img src="images/construction-800x600-01.jpg" alt="image">
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<h3 class="title mini mr-b-micro">Consectetur adipisicing</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->

						<div class="row gt30 middle-md mb20" data-animate-in="fadeInUp|0.2">
							<div class="col-md-6">
								<img src="images/construction-800x600-02.jpg" alt="image">
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<h3 class="title mini mr-b-micro">Eiusmod adipisicing</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->


						<div class="row gt30 middle-md mb20" data-animate-in="fadeInUp|0.3">
							<div class="col-md-6">
								<img src="images/construction-800x600-03.jpg" alt="image">
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<h3 class="title mini mr-b-micro">Sdipisicing consectetur</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div>

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->