<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small" id="feature">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="medium">Create powerful landing pages that convert your traffic</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo unde totam quos, quo non hic velit odio ipsum voluptates nobis ab aspernatur amet magni officiis, dolores dignissimos</p>
			</div>
			<hr class="mr-tb-40">
			<!-- Tab structure -->
			<div class="tabs-auto tab-style4 side-tab side-large" data-tb-active="typo-light" data-pn-active="animated fadeIn" data-animate-in="fadeIn|0.1">
				<ul class="tb-list default">
					<li class="tb">
						<div class="info-obj img-l mid g10 mini mr-0 pd-tb-10">
							<div class="img"><span class="iconwrp"><i class="pe-7s-photo-gallery fs36"></i></span></div>
							<div class="info">
								<h3 class="title fs16 bold-n mr-0">Flexible layout</h3>
							</div>
						</div><!-- info box -->
					</li>
					<li class="tb">
						<div class="info-obj img-l mid g10 mini mr-0 pd-tb-10">
							<div class="img"><span class="iconwrp"><i class="pe-7s-paint-bucket fs36"></i></span></div>
							<div class="info">
								<h3 class="title fs16 bold-n mr-0">Unlimited design possibility</h3>
							</div>
						</div><!-- info box -->
					</li>
					<li class="tb">
						<div class="info-obj img-l mid g10 mini mr-0 pd-tb-10">
							<div class="img"><span class="iconwrp"><i class="pe-7s-albums fs36"></i></span></div>
							<div class="info">
								<h3 class="title fs16 bold-n mr-0">300+ design sections</h3>
							</div>
						</div><!-- info box -->
					</li>
					<li class="tb">
						<div class="info-obj img-l mid g10 mini mr-0 pd-tb-10">
							<div class="img"><span class="iconwrp"><i class="pe-7s-menu fs36"></i></span></div>
							<div class="info">
								<h3 class="title fs16 bold-n mr-0">Easy form structure</h3>
							</div>
						</div><!-- info box -->
					</li>
					<li class="tb">
						<div class="info-obj img-l mid g10 mini mr-0 pd-tb-10">
							<div class="img"><span class="iconwrp"><i class="pe-7s-plugin fs36"></i></span></div>
							<div class="info">
								<h3 class="title fs16 bold-n mr-0">Powerful javascript widgets</h3>
							</div>
						</div><!-- info box -->
					</li>
				</ul><!-- /.tb-list -->

				<div class="tb-content">
					<div class="tb-pn">
						<p class="pd-tiny bg-gray title-sub mini">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quaerat similique eveniet, cum officiis reprehenderit fuga sed tempore molestiae modi illum doloremque sapiente. Nulla culpa debitis rerum quidem, eius alias!</p>
						
						<div class="row gt30 mb20">
							<div class="col-md-7">
								<img src="images/feature_01.png" class="mr-b-20" alt="image">
							</div><!-- // END : column //  -->
							
							<div class="col-md-5">
								<div class="info-obj img-l g20 mini mr-b-40">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Combination of blocks</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->

								<div class="info-obj img-l g20 mini mr-b-40">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Easy customization</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->

								<div class="info-obj img-l g20 mini mr-b-40">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Unique designs</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- tab pane -->

					<div class="tb-pn">
						<img src="images/feature_02.jpg" class="mr-b-40" alt="image">
						<div class="row gt40 mb40">
							<div class="col-md-6">
								<div class="info-obj img-l g20 small">
									<div class="img"><span class="iconwrp rd bg-default txt-white"><i class="pe-7s-photo-gallery"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Combination of blocks</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<div class="info-obj img-l g20 small">
									<div class="img"><span class="iconwrp rd bg-default txt-white"><i class="pe-7s-paint-bucket"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Easy customization</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->

							<div class="col-md-6">
								<div class="info-obj img-l g20 small">
									<div class="img"><span class="iconwrp rd bg-default txt-white"><i class="pe-7s-photo"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Unique designs</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<div class="info-obj img-l g20 small">
									<div class="img"><span class="iconwrp rd bg-default txt-white"><i class="pe-7s-loop"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Unlimited possibilities</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->

					</div><!-- tab pane -->

					<div class="tb-pn align-c">
						<h2 class="title" data-rgen-sm="medium">300+ Design section</h2>
						<p class="title-sub" data-rgen-sm="small">Gives flexibility to make unlimited combination of designs</p>
						<img src="images/feature_03.png" class="mr-b-40" alt="image">
					</div><!-- tab pane -->

					<div class="tb-pn">
						<p class="pd-tiny bg-gray title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quaerat similique eveniet, cum officiis reprehenderit fuga sed tempore molestiae modi illum doloremque sapiente. Nulla culpa debitis rerum quidem, eius alias!</p>

						<div class="row gt40 mb40">
							<div class="col-md-6">
								<div class="info-obj img-l g20 mini">
									<div class="img"><span class="iconwrp txt-default"><i class="pe-7s-photo-gallery"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Combination of blocks</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<div class="info-obj img-l g20 mini">
									<div class="img"><span class="iconwrp txt-default"><i class="pe-7s-paint-bucket"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Easy customization</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->

							<div class="col-md-6">
								<div class="info-obj img-l g20 mini">
									<div class="img"><span class="iconwrp txt-default"><i class="pe-7s-photo"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Unique designs</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<div class="info-obj img-l g20 mini">
									<div class="img"><span class="iconwrp txt-default"><i class="pe-7s-loop"></i></span></div>
									<div class="info">
										<h3 class="title mini mr-b-10">Unlimited possibilities</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt dolore magna aliquyam</p>
									</div>
								</div><!-- info box -->
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->		
					</div><!-- tab pane -->

					<div class="tb-pn align-c">
						<h2 class="title" data-rgen-sm="medium">Repellat beatae ab assumenda</h2>
						<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat beatae ab assumenda numquam, commodi dolores, at nam mollitia! Nam numquam id facilis ut labore, sunt doloremque dolorem harum excepturi voluptatum.</p>

						<div class="video-box">
							<iframe width="80%" data-rgen-sm="w100" height="400" src="https://www.youtube.com/embed/dorZ3vag5PI" frameborder="0" allowfullscreen=""></iframe>
							<div class="frameCover" data-type="video"></div>
						</div>	
					</div><!-- tab pane -->


				</div><!-- / tab content wrapper -->
			</div><!-- / tabs-auto -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->