<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-mini align-c" id="about">
		<div class="container small">
			<div class="row gt20">
				<div class="col-md-6 offset-md-1 last-md bg-cc bg-cover" data-bg="images/restaurant-img-01.jpg" data-animate-in="fadeInRight">
					
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 pd-tb-small pos-rel z1" data-rgen-sm="pd-tb-small" data-animate-in="fadeInLeft">
					<h3 class="f-2 bold-n mr-0 txt-default" data-rgen-sm="fs20">Delicious</h3>
					<h2 class="title large f-1 txt-upper mr-0" data-rgen-sm="medium">PREMIUM FOOD HOME</h2>
					<img class="mr-tb-mini max-px-w150" src="images/sep-01.png" data-rgen-sm="mr-auto" alt="seperator">
					<p class="mr-b-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

					<div class="row gt0 middle-md">
						<div class="col-md-10">
							<img src="images/restaurant-img-02.jpg" alt="image">
						</div><!-- // END : column //  -->
						
						<div class="col-md-2">
							<div class="pd-mini px-w300 bg-dark" data-rgen-sm="w100">
								<p class="txt-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>	
							</div>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->