<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-medium bg-dark" data-rgen-sm="pd-tb-mini align-c" id="attractions">
		<div class="container small">
			
			<!--=================================
			= Title content
			==================================-->
			<div class="row gt20 middle-md" data-animate-in="fadeIn">
				<div class="col-md-8">
					<h3 class="f-2 bold-n mr-0 txt-white" data-rgen-sm="fs20">Top attractions</h3>
					<h2 class="title fs100 f-1 txt-upper txt-white mr-b-mini mr-0" data-rgen-sm="large">London</h2>
				</div><!-- // END : column //  -->
				
				<div class="col-md-4 align-r" data-rgen-sm="hide">
					<a href="#" class="iconbox btn-white sq100 fs40 rd bdr-5"><i class="fa fa-arrow-right"></i></a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			

			<hr class="mr-tb-mini bdr-white">
			
			<!--=================================
			= Products content
			==================================-->
			<div class="row">
				<div class="col-md-5 typo-light" data-animate-in="fadeInLeft|0.1">
					<div class="content pos-rel z1 max-px-w400 float-right h100">
						<p class="title-sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua</p>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
						
						<a href="#" class="btn btn-white solid">View all attractions</a>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 offset-md-1" data-rgen-sm="pd-tb-small" data-animate-in="fadeInRight|0.1">
					<div class="info-obj img-l mid g30 large mr-b-tiny bg-white" data-rgen-sm="pd-20">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/travel-600x600-10.jpg" alt="image"></a></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="https://goo.gl/G9rSM5">Big Ben</a></h3>
							<p class="mr-b-micro">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							<a href="https://goo.gl/G9rSM5" class="link-default">More info &nbsp; <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l mid g30 large mr-b-tiny bg-white" data-rgen-sm="pd-20">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/travel-600x600-04.jpg" alt="image"></a></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="https://goo.gl/G9rSM5">Tower of London</a></h3>
							<p class="mr-b-micro">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							<a href="https://goo.gl/G9rSM5" class="link-default">More info &nbsp; <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l mid g30 large mr-b-tiny bg-white" data-rgen-sm="pd-20">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/travel-600x600-11.jpg" alt="image"></a></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="https://goo.gl/G9rSM5">London Eye</a></h3>
							<p class="mr-b-micro">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							<a href="https://goo.gl/G9rSM5" class="link-default">More info &nbsp; <i class="fa fa-long-arrow-right"></i></a>
						</div>
					</div><!-- info box -->
					
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.4)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/travel-bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Content section **************  -->