<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small bg-gray" data-rgen-sm="pd-tb-small">
		<div class="container small" data-rgen-sm="align-c">
			<div class="row gt20 middle-md">
				<div class="col-md-7 offset-md-1 last-md" data-animate-in="fadeInRight">
					<img src="images/content-img-04.png" data-rgen-sm="mr-b-30" alt="phone image">
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInLeft">
					<h2 class="title f-2 bold-1 mr-b-mini" data-rgen-sm="medium">Modern, User Friendly and Powerful Interface</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content action **************  -->