<!--
	************************************************************
	* Content
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small">
		<div class="container">
			<div class="w75 mr-auto align-c mr-b-mini" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Latest Tips and Articles</h2>
			</div>
			<div class="row gt80 mb20 row-sep bdr-op-1">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20">
						<div class="img"><a href="https://goo.gl/ZMxnYs" target="_blank"><img src="images/800x600-01.jpg"></a></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="https://goo.gl/ZMxnYs" target="_blank">Lorem ipsum dolor sit ametconsetetur</a></h3>
							<p class="italic"><i class="fa fa-calendar"></i> 25 Apr 2016</p>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>

							<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn small btn-dark">Read more...</a>
							
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20">
						<div class="img"><a href="https://goo.gl/ZMxnYs" target="_blank"><img src="images/800x600-02.jpg"></a></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="https://goo.gl/ZMxnYs" target="_blank">Lorem ipsum dolor sit ametconsetetur</a></h3>
							<p class="italic"><i class="fa fa-calendar"></i> 25 Apr 2016</p>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>

							<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn small btn-dark">Read more...</a>
							
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20">
						<div class="img"><a href="https://goo.gl/ZMxnYs" target="_blank"><img src="images/800x600-03.jpg"></a></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="https://goo.gl/ZMxnYs" target="_blank">Lorem ipsum dolor sit ametconsetetur</a></h3>
							<p class="italic"><i class="fa fa-calendar"></i> 25 Apr 2016</p>
							
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua.</p>

							<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn small btn-dark">Read more...</a>
							
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content **************  -->