<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small" id="about">
		<div class="container">
			

			<div class="w75 mr-auto align-c popgallery-widget mr-b-40" data-animate-in="fadeIn">
				<h2 class="title f-1 bold-n large txt-upper" data-rgen-sm="medium">What's Inside</h2>
				
				<!--=================================
				= carousel-widget
				==================================-->
				<div class="carousel-widget ctrl-1 align-c">
					<div class="owl-carousel"
							data-nav="true"
							data-dots="true"
							data-margin="40">
						
						<div class="item">
							<div class="hover-box1">
								<!--=================================
								= hover content
								==================================-->
								<a href="images/bookimg_1.jpg" class="overlay flex-cc full-wh pop-img">
									<b class="sq80 bg-color1 rd fs40 z1 iconbox"><i class="pe-7s-expand1"></i></b>
									<b class="full-wh bg-dark1 op-08"></b>
								</a>
								<img src="images/bookimg_1.jpg" alt="image">
							</div>
						</div><!-- /.item -->

						<div class="item">
							<div class="hover-box1">
								<!--=================================
								= hover content
								==================================-->
								<a href="images/bookimg_2.jpg" class="overlay flex-cc full-wh pop-img">
									<b class="sq80 bg-color1 rd fs40 z1 iconbox"><i class="pe-7s-expand1"></i></b>
									<b class="full-wh bg-dark1 op-08"></b>
								</a>
								<img src="images/bookimg_2.jpg" alt="image">
							</div>
						</div><!-- /.item -->

						<div class="item">
							<div class="hover-box1">
								<!--=================================
								= hover content
								==================================-->
								<a href="images/bookimg_3.jpg" class="overlay flex-cc full-wh pop-img">
									<b class="sq80 bg-color1 rd fs40 z1 iconbox"><i class="pe-7s-expand1"></i></b>
									<b class="full-wh bg-dark1 op-08"></b>
								</a>
								<img src="images/bookimg_3.jpg" alt="image">
							</div>
						</div><!-- /.item -->

						<div class="item">
							<div class="hover-box1">
								<!--=================================
								= hover content
								==================================-->
								<a href="images/bookimg_4.jpg" class="overlay flex-cc full-wh pop-img">
									<b class="sq80 bg-color1 rd fs40 z1 iconbox"><i class="pe-7s-expand1"></i></b>
									<b class="full-wh bg-dark1 op-08"></b>
								</a>
								<img src="images/bookimg_4.jpg" alt="image">
							</div>
						</div><!-- /.item -->

					</div><!-- /.owl-carousel -->
				</div><!-- /.carousel-widget -->
			</div>
			

			<div class="w75 mr-auto align-c mr-b-60" data-rgen-sm="align-c" data-animate-in="fadeIn">
				<h2 class="title small f-1 bold-n">Learn new tricks that help you to grow your business</h2>
				<p class="mr-b-mini">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>	
			</div>

			<div class="row gt20 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-l g10 mini">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-ribbon"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-n mr-b-10">Lorem ipsum dolor</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-l g10 mini">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-ribbon"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-n mr-b-10">Lorem ipsum dolor</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-l g10 mini">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-ribbon"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-n mr-b-10">Lorem ipsum dolor</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-l g10 mini">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-ribbon"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-n mr-b-10">Lorem ipsum dolor</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.5">
					<div class="info-obj img-l g10 mini">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-ribbon"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-n mr-b-10">Lorem ipsum dolor</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.6">
					<div class="info-obj img-l g10 mini">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-ribbon"></i></span></div>
						<div class="info">
							<h3 class="title mini bold-n mr-b-10">Lorem ipsum dolor</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- / container -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->