<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small align-c">
		<div class="container small mr-t-small" data-rgen-sm="mr-0">
			<div class="row middle-md">
				<div class="col-md-6" data-rgen-sm="mr-b-30" data-animate-in="fadeInLeft">
					<img src="images/finance-img-02.png" alt="R.Gen finance landing page">
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1" data-rgen-sm="pd-b-40" data-animate-in="fadeInRight">
					<h2 class="title bold-1 f-1" data-rgen-sm="medium">Powerful features</h2>
					<p class="title-sub">Powerful features that makes your life easy to manage payments and accounts</p>
					
					<p class="mr-b-mini">Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<a href="https://goo.gl/G9rSM5" target="_blank" class="btn btn-default round solid">Start my FREE trial</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->	
			
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->