<!--
	************************************************************
	* Content action
	************************************************************ -->
	<section class="pd-tb-small bg-gray" id="department" data-rgen-sm="pd-tb-small">
		<div class="container small">
			<div class="w75 mr-auto mr-b-mini align-c" data-animate-in="fadeIn">
				<h2 class="title f-1" data-rgen-sm="medium">Our Departments</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			</div>

			<div class="row gt30 mb30">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="bg-white shadow-tiny h100">
						<a href="#"><img src="images/medical-600x400-01.jpg" alt="Image"></a>
						<div class="pd-tiny">
							<h3 class="title tiny">Acupuncture</h3>
							<p class="mr-0" data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="bg-white shadow-tiny h100">
						<a href="#"><img src="images/medical-600x400-02.jpg" alt="Image"></a>
						<div class="pd-tiny">
							<h3 class="title tiny">Emergency Contraception</h3>
							<p class="mr-0" data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="bg-white shadow-tiny h100">
						<a href="#"><img src="images/medical-600x400-03.jpg" alt="Image"></a>
						<div class="pd-tiny">
							<h3 class="title tiny">Laboratory</h3>
							<p class="mr-0" data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="bg-white shadow-tiny h100">
						<a href="#"><img src="images/medical-600x400-04.jpg" alt="Image"></a>
						<div class="pd-tiny">
							<h3 class="title tiny">Nutrition Services</h3>
							<p class="mr-0" data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="bg-white shadow-tiny h100">
						<a href="#"><img src="images/medical-600x400-05.jpg" alt="Image"></a>
						<div class="pd-tiny">
							<h3 class="title tiny">Prescription Medications</h3>
							<p class="mr-0" data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="bg-white shadow-tiny h100">
						<a href="#"><img src="images/medical-600x400-06.jpg" alt="Image"></a>
						<div class="pd-tiny">
							<h3 class="title tiny">Primary Medical Care</h3>
							<p class="mr-0" data-rgen-sm="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
						</div>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			

			<hr class="mr-tb-mini">

			<h2 class="title small align-c f-1 mr-b-mini" data-rgen-sm="medium" data-animate-in="fadeIn">What our customers say</h2>
			<div class="row gt40">
				<div class="col-md-6" data-animate-in="fadeInLeft">
					<div class="info-obj img-l g20 mini">
						<div class="img"><span class="iconwrp op-03 txt-default"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

							<h4 class="title tiny mr-0">Oupsum dolor</h4>
							<p class="fs12"><em>Creative Director</em></p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-6" data-animate-in="fadeInRight">
					<div class="info-obj img-l g20 mini">
						<div class="img"><span class="iconwrp op-03 txt-default"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

							<h4 class="title tiny mr-0">Oupsum dolor</h4>
							<p class="fs12"><em>Creative Director</em></p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content action **************  -->