<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small bg-gray" data-rgen-sm="pd-tb-small">
		<div class="container small">
			<div class="w75 mr-auto align-c">
				<h2 class="title f-2 mr-b-tiny" data-rgen-sm="medium" data-animate-in="fadeIn">Overview of BOOK</h2>
				<p class="title-sub mini" data-rgen-sm="small" data-animate-in="fadeIn">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>

				<img src="images/book-preview-01.png" class="mr-auto" alt="Book preivew" data-animate-in="fadeInUp">
			</div>

			<div class="pd-mini bg-white shadow-small pos-rel z1 -mr-t-30" data-rgen-sm="pd-20">
				<div class="row gt40 mb20">
					<div class="col-md-6" data-animate-in="fadeInLeft">
						<ul class="list-2 fs16 txt-dark">
							<li><i class="far fa-bookmark"></i> Introduction <hr></li>
							<li><i class="far fa-bookmark"></i> Understand the purpose of the landing page <hr></li>
							<li><i class="far fa-bookmark"></i> Clear primary call to action (CTA) <hr></li>
							<li><i class="far fa-bookmark"></i> Balanced the amount of information <hr></li>
							<li><i class="far fa-bookmark"></i> Pop ups for supplementary information</li>
						</ul>
					</div><!-- // END : column //  -->
					
					<div class="col-md-6">
						<ul class="list-2 fs16 txt-dark" data-animate-in="fadeInRight">
							<li><i class="far fa-bookmark"></i> Flexibility of content <hr></li>
							<li><i class="far fa-bookmark"></i> visual distraction with content <hr></li>
							<li><i class="far fa-bookmark"></i> Testimonials <hr></li>
							<li><i class="far fa-bookmark"></i> Powerful headings and tag lines <hr></li>
							<li><i class="far fa-bookmark"></i> Subscribe and Contact forms</li>
						</ul>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
			
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->