<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-animate-in="fadeIn" data-rgen-sm="pd-tb-small">
		<div class="container align-c">
			<div class="max-px-w600 mr-auto">
				<h2 class="title" data-rgen-sm="medium">Seamlessly manage all your accounts in one place</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim.</p>	
			</div>
			
			<span class="sq80 mr-10 iconbox txt-white rd fs30" data-bgcolor="#d34836"><i class="fab fa-google"></i></span>
			<span class="sq80 mr-10 iconbox txt-white rd fs30" data-bgcolor="#7b0099"><i class="fab fa-yahoo"></i></span>
			<span class="sq80 mr-10 iconbox txt-white rd fs30" data-bgcolor="#01a2f0"><i class="fab fa-windows"></i></span>
			<span class="sq80 mr-10 iconbox txt-white rd fs30" data-bgcolor="#333"><i class="fab fa-apple"></i></span>
			<span class="sq80 mr-10 iconbox txt-white rd fs30" data-bgcolor="#576180"><i class="far fa-envelope"></i></span>

			<img src="images/iphone-img-02.png" class="mr-auto mr-tb-40" alt="iphone">

			<a href="#" class="btn btn-default large solid" data-rgen-sm="medium">Get started now</a>
		</div>
	</section>
	<!-- ************** END : Content section **************  -->