<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-0" data-rgen-sm="pd-0" id="about">
		<div class="container-fluid pos-rel z2">
			<div class="row gt20 mb20">
				<div class="col-md-6 typo-light bg-primary pd-tb-small flex-cr" data-rgen-sm="align-c pos-rel pd-tb-small">
					<div class="max-px-w500 mr-r-small" data-rgen-sm="w-reset pd-lr-30 mr-0" data-animate-in="fadeInLeft">
						<h2 class="title large f-1" data-rgen-sm="medium">Why us?</h2>
						<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolorsit ametcon setetur sadip scing elitr, seddiam nonumy eirmod tempor inviduntut laboreet dolore magna aliquyam erat, sed diam voluptua. Atvero eos et accusam et justo duo dolores et ea rebum.</p>	
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 pd-tb-small flex-cl" data-rgen-sm="pd-tb-small">
					<div class="max-px-w500 mr-l-small" data-rgen-sm="mr-0 pd-lr-30">
						<div class="info-obj img-l g30 small mr-b-50" data-animate-in="fadeInUp|0.1">
							<div class="img"><span class="iconwrp txt-dark"><i class="pe-7s-ticket"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10">Affordable car rentals</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g30 small mr-b-50" data-animate-in="fadeInUp|0.2">
							<div class="img"><span class="iconwrp txt-dark"><i class="pe-7s-like2"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10">Long term rentals available</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g30 small mr-b-50" data-animate-in="fadeInUp|0.3">
							<div class="img"><span class="iconwrp txt-dark"><i class="pe-7s-car"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10">500+ vehicles in our fleet</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g30 small" data-animate-in="fadeInUp|0.4">
							<div class="img"><span class="iconwrp txt-dark"><i class="pe-7s-medal"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10">Biggest car hire booking service</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
							</div>
						</div><!-- info box -->
					</div>

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->