<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" id="about" data-rgen-sm="pd-tb-small">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">How we work</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>

			<div class="row gt20 mb20">
				<div class="col-md-6" data-animate-in="fadeInUp|0.1">

					<div class="hover-box1 min-px-h350">
						<div class="full-wh z2 pd-mini flex-bl overlay-wrp" data-rgen-sm="pd-30">
							<a href="#" class="full-wh z3">&nbsp;</a>
							<div class="info-obj img-t g20 small z2 pos-rel">
								<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
								<div class="info typo-light">
									<h3 class="title small bold-n">PROTOTYPING</h3>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
								</div>
							</div><!-- info box -->
							<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.7)"></div>
						</div>
						<b class="bg-cc bg-cover full-wh img-wrp" data-bg="images/800x600_11.jpg"></b>
					</div><!-- / hover box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-6" data-animate-in="fadeInUp|0.2">
					<div class="hover-box1 min-px-h350">
						<div class="full-wh z2 pd-mini flex-bl overlay-wrp" data-rgen-sm="pd-30">
							<a href="#" class="full-wh z3">&nbsp;</a>
							<div class="info-obj img-t g20 small z2 pos-rel">
								<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
								<div class="info typo-light">
									<h3 class="title small bold-n">DESIGN PROCESS</h3>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
								</div>
							</div><!-- info box -->
							<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.7)"></div>
						</div>
						<b class="bg-cc bg-cover full-wh img-wrp" data-bg="images/800x600_12.jpg"></b>
					</div><!-- / hover box -->
				</div><!-- // END : column //  -->

				<div class="col-md-6" data-animate-in="fadeInUp|0.1">
					<div class="hover-box1 min-px-h350">
						<div class="full-wh z2 pd-mini flex-bl overlay-wrp" data-rgen-sm="pd-30">
							<a href="#" class="full-wh z3">&nbsp;</a>
							<div class="info-obj img-t g20 small z2 pos-rel">
								<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-plugin"></i></span></div>
								<div class="info typo-light">
									<h3 class="title small bold-n">DEVELOPMENT</h3>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
								</div>
							</div><!-- info box -->
							<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.7)"></div>
						</div>
						<b class="bg-cc bg-cover full-wh img-wrp" data-bg="images/800x600_13.jpg"></b>
					</div><!-- / hover box -->
				</div><!-- // END : column //  -->

				<div class="col-md-6" data-animate-in="fadeInUp|0.2">
					<div class="hover-box1 min-px-h350">
						<div class="full-wh z2 pd-mini flex-bl overlay-wrp" data-rgen-sm="pd-30">
							<a href="#" class="full-wh z3">&nbsp;</a>
							<div class="info-obj img-t g20 small z2 pos-rel">
								<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-user"></i></span></div>
								<div class="info typo-light">
									<h3 class="title small bold-n">USER TESTING</h3>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
								</div>
							</div><!-- info box -->
							<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.7)"></div>
						</div>
						<b class="bg-cc bg-cover full-wh img-wrp" data-bg="images/800x600_14.jpg"></b>
					</div><!-- / hover box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->