<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="about">
		<div class="container">
			<div class="row gt20 mb20">
				<div class="col-md-5" data-animate-in="fadeInLeft">
					<div class="video-box">
						<iframe width="100%" height="350" src="https://www.youtube.com/embed/dorZ3vag5PI" frameborder="0" allowfullscreen=""></iframe>
						<div class="frameCover" data-type="video"></div>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 offset-md-1" data-animate-in="fadeInRight">
					<h2 class="title small" data-rgen-sm="medium">Welcome to R.Gen Landing Pages</h2>
					<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaad adsfd</p>

					<div class="row gt20 mb20">
						<div class="col-md-6">
							<ul class="list-2" data-rgen-sm="align-l">
								<li><i class="fa fa-check txt-secondary"></i> Responsive layout</li>
								<li><i class="fa fa-check txt-secondary"></i> Drag and drop sections</li>
								<li><i class="fa fa-check txt-secondary"></i> Wide range of design</li>
								<li><i class="fa fa-check txt-secondary"></i> Extensive documentation</li>
							</ul>
						</div><!-- // END : column //  -->
						
						<div class="col-md-6">
							<ul class="list-2" data-rgen-sm="align-l">
								<li><i class="fa fa-check txt-secondary"></i> Endless possibilities</li>
								<li><i class="fa fa-check txt-secondary"></i> Easy from setup</li>
								<li><i class="fa fa-check txt-secondary"></i> Advanced builder</li>
								<li><i class="fa fa-check txt-secondary"></i> 1300+ icons</li>
							</ul>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content section **************  -->