<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-rgen-sm="pd-0 align-c">

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder img-half l full-wh z0" data-rgen-sm="pos-rel px-h400">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2 bg-cover bg-cc"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg-img3.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>

		<div class="container">
			<div class="row mb20">
				<div class="col-md-6">
				</div><!-- / column -->

				<div class="col-md-5 offset-md-1" data-rgen-sm="pd-30" data-animate-in="fadeInRight">
					<h2 class="title f-1 large bold-1" data-rgen-sm="medium">Who we are</h2>
					<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				</div><!-- / column -->
			</div><!-- / row -->
		</div><!-- / container -->
	</section>
	<!-- ************** END : Content section **************  -->