<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small" id="about">
		<div class="container align-c">
			<h2 class="title mr-b-40" data-rgen-sm="medium" data-animate-in="fadeIn">Why choose RGen Landing Pages</h2>

			<div class="row">
				<div class="col-md-6 pos-rel min-px-h400 bg-cc bg-cover" data-bg="images/800x600_13.jpg" data-animate-in="fadeInLeft">
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 bg-gray" data-animate-in="fadeInRight">
					<div class="pd-tb-small w75 mr-auto" data-rgen-sm="pd-30">
						<h2 class="title" data-rgen-sm="medium">Carefully crafted code</h2>
						<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-6 pos-rel min-px-h400 last-md bg-cc bg-cover" data-bg="images/800x600_12.jpg" data-animate-in="fadeInRight|0.1">
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 bg-gray" data-animate-in="fadeInLeft|0.1">
					<div class="pd-tb-small w75 mr-auto" data-rgen-sm="pd-30">
						<h2 class="title" data-rgen-sm="medium">Combination of blocks</h2>
						<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Content sections **************  -->