<!--
	************************************************************
	* Content section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" id="casestudies" data-rgen-sm="pd-tb-small">
		<div class="container">
			
			<div class="row gt20 mb20 middle-md">
				<div class="col-md-4" data-animate-in="fadeInLeft">
					
					<h2 class="title" data-rgen-sm="small align-c">Case studies</h2>
					<p class="title-sub small" data-rgen-sm="small align-c">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	


					<div class="info-obj img-l g0 mini align-l" data-rgen-sm="mr-b-20 h-reset">
						<div class="img z1 mr-t-10 -mr-r-20" data-rgen-sm="hide"><span class="iconwrp rd bg-default txt-white"><i class="fa fa-quote-left"></i></span></div>
						<div class="info bg-gray pd-tiny rd-5" data-rgen-sm="h-reset">
							<p>Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>
							<hr>
							<div class="mr-t-10">
								<img src="images/person1.jpg" class="rd inline-block align-m mr-r-10 max-px-w50" alt="Person">
								<div class="inline-block align-m">
									<h3 class="bold-1 fs16 mr-0">Oupsum dolor</h3>
									<em class="fs12">Creative Director</em>
								</div>
							</div>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-7 offset-md-1" data-animate-in="fadeInRight">
					<div class="carousel-widget ctrl-1 popgallery-widget">
						<div class="owl-carousel"
							data-nav="true"
							data-dots="true"
							data-margin="20">
							
							<div class="item">
								<figure class="hover-box1 mr-0">
									<div class="overlay flex-cc typo-light">
										<div class="content mr-30 z2">
											<!-- Pop-up Image and link -->
											<a href="images/800x600_1.jpg" class="iconbox sq40 bg-primary fs24 mr-6 pop-img"><i class="pe-7s-expand1"></i></a>
											<a href="#" target="_blank" class="iconbox sq40 bg-primary fs24 mr-6"><i class="pe-7s-exapnd2"></i></a>
										</div>
										<b class="full-wh bg-dark op-08 z1 l0"></b>
									</div>
									<!-- Project image -->
									<img src="images/800x600_1.jpg" alt="image">
								</figure><!-- / hover box -->
								<div class="pd-tiny bg-default typo-light" data-rgen-sm="pd-20">
									<h2 class="title small">Lorem ipsum dolor sitamet consectetur</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
								</div>
							</div><!-- /.item -->

							<div class="item">
								<figure class="hover-box1 mr-0">
									<div class="overlay flex-cc typo-light">
										<div class="content mr-30 z2">
											<!-- Pop-up Image and link -->
											<a href="images/800x600_2.jpg" class="iconbox sq40 bg-primary fs24 mr-6 pop-img"><i class="pe-7s-expand1"></i></a>
											<a href="#" target="_blank" class="iconbox sq40 bg-primary fs24 mr-6"><i class="pe-7s-exapnd2"></i></a>
										</div>
										<b class="full-wh bg-dark op-08 z1 l0"></b>
									</div>
									<!-- Project image -->
									<img src="images/800x600_2.jpg" alt="image">
								</figure><!-- / hover box -->
								<div class="pd-tiny bg-default typo-light" data-rgen-sm="pd-20">
									<h2 class="title small">Lorem ipsum dolor sitamet consectetur</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
									quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
								</div>
							</div><!-- /.item -->

						</div><!-- /.owl-carousel -->
					</div><!-- /.carousel-widget -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Slider section **************  -->