<!--
	************************************************************
	* Counter section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container">

			<div class="w75 mr-auto align-c typo-light mr-b-70" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Fun facts</h2>
				<p class="title-sub mini" data-rgen-sm="small">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy	eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
				</p>
			</div>
			
			<div class="row gt50 mb20 mr-b-60">
				
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 medium align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white rd bg-default"><i class="pe-7s-users"></i></span></div>
						<div class="info">
							<h2 class="title fs70"><span class="count">4000</span></h2>
							<p class="mr-0 fs18">Happy Clients</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 medium align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white rd bg-default"><i class="pe-7s-network"></i></span></div>
						<div class="info">
							<h2 class="title fs70"><span class="count">500</span></h2>
							<p class="mr-0 fs18">Branches Around The World</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 medium align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white rd bg-default"><i class="pe-7s-chat"></i></span></div>
						<div class="info">
							<h2 class="title fs70"><span class="count">200000</span></h2>
							<p class="mr-0 fs18">Questions Answered</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->	

				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g20 medium align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white rd bg-default"><i class="pe-7s-help2"></i></span></div>
						<div class="info">
							<h2 class="title fs70"><span class="count">100</span>+</h2>
							<p class="mr-0 fs18">Custom Services</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

			</div><!-- // END : row //  -->


			<div class="row gt20 mb20 align-c middle-md" data-animate-in="fadeIn|0.5">
				<div class="col-md-4">
					<hr class="light">
				</div><!-- // END : column //  -->
				<div class="col-md-4">
					<a href="#" class="btn btn-white mr-auto solid large round" data-rgen-sm="medium">GET STARTED NOW</a>
				</div><!-- // END : column //  -->
				<div class="col-md-4">
					<hr class="light">
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.1)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg2.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Counter section **************  -->