<!--
	************************************************************
	* Counter section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container">
			<ul class="rw eq5 gt30">
				<li class="cl" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-like2"></i></span></div>
						<div class="info">
							<hr class="max-px-w100 mr-auto light bdr-b-2 mr-tb-30">
							<h2 class="title bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">100</span>%</h2>
							<p class="mr-0">Quality</p>
						</div>
					</div><!-- // END : Info object // -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-diamond"></i></span></div>
						<div class="info">
							<hr class="max-px-w100 mr-auto light bdr-b-2 mr-tb-30">
							<h2 class="title bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">40</span></h2>
							<p class="mr-0">Years of experience</p>
						</div>
					</div><!-- // END : Info object // -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-user"></i></span></div>
						<div class="info">
							<hr class="max-px-w100 mr-auto light bdr-b-2 mr-tb-30">
							<h2 class="title bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">15</span>+</h2>
							<p class="mr-0">Expert Trainers</p>
						</div>
					</div><!-- // END : Info object // -->
				</li><!-- // END : column //  -->	

				<li class="cl" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-note2"></i></span></div>
						<div class="info">
							<hr class="max-px-w100 mr-auto light bdr-b-2 mr-tb-30">
							<h2 class="title bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">20</span>+</h2>
							<p class="mr-0">Yoga Courses</p>
						</div>
					</div><!-- // END : Info object // -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.5">
					<div class="info-obj img-t g20 small align-c count-box typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-id"></i></span></div>
						<div class="info">
							<hr class="max-px-w100 mr-auto light bdr-b-2 mr-tb-30">
							<h2 class="title bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">800</span>+</h2>
							<p class="mr-0">Members</p>
						</div>
					</div><!-- // END : Info object // -->
				</li><!-- // END : column //  -->
			</ul>

		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.5)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg11.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Counter section **************  -->