<!--
	************************************************************
	* Counter section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small">
		<div class="container small">

			<div class="w75 mr-auto align-c mr-b-mini" data-animate-in="fadeIn">
				<h2 class="title bold-1" data-rgen-sm="medium">Our achievements</h2>
				<p class="title-sub f-2 small" data-rgen-sm="small">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy	eirmod tempor invidunt ut labore et dolore magna aliquyam
				</p>
			</div>
			
			<div class="row gt20 mb10 mr-b-60" data-rgen-sm="mr-b-30">
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g30 mini align-c count-box bg-white shadow-tiny pd-mini">
						<div class="img"><span class="iconwrp txt-primary"><i class="icon-profile-male"></i></span></div>
						<div class="info">
							<h2 class="title large mr-0" data-rgen-sm="fs30 mr-b-0"><span class="count">2140</span></h2>
							<p class="title-sub f-2 small mr-0">Happy Clients</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g30 mini align-c count-box bg-white shadow-tiny pd-mini">
						<div class="img"><span class="iconwrp txt-primary"><i class="icon-layers"></i></span></div>
						<div class="info">
							<h2 class="title large mr-0" data-rgen-sm="fs30 mr-b-0"><span class="count">2580</span></h2>
							<p class="title-sub f-2 small mr-0">Projects Completed</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g30 mini align-c count-box bg-white shadow-tiny pd-mini">
						<div class="img"><span class="iconwrp txt-primary"><i class="icon-alarmclock"></i></span></div>
						<div class="info">
							<h2 class="title large mr-0" data-rgen-sm="fs30 mr-b-0"><span class="count">4500</span>+</h2>
							<p class="title-sub f-2 small mr-0">Hours Worked</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->	

			</div><!-- // END : row //  -->

			<div class="row gt20 mb20 align-c middle-md">
				<div class="col-md-4"><hr></div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeIn|0.4">
					<a href="#" target="_blank" class="btn btn-primary solid bdr-2 bold-n mr-auto large round" data-rgen-sm="medium">GET STARTED NOW</a>
				</div><!-- // END : column //  -->
				<div class="col-md-4"><hr></div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Counter section **************  -->