<!--
	************************************************************
	* Counter section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container">

			<div class="w75 mr-auto align-c typo-light mr-b-70">
				<h2 class="title" data-rgen-sm="medium">Our achievements</h2>
				<p class="title-sub mini" data-rgen-sm="small">
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy	eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
				</p>
			</div>
			
			<div class="row gt50 mb20 mr-b-60" data-rgen-sm="mr-b-30">
				
				<div class="col-md-3">
					<div class="info-obj img-t g20 large align-c count-box typo-light">
						<div class="img"><span class="iconwrp bg-default rd txt-white"><i class="fs60 icon-profile-male"></i></span></div>
						<div class="info">
							<h2 class="title fs70 bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">2140</span></h2>
							<p class="mr-0">Happy Clients</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

				<div class="col-md-3">
					<div class="info-obj img-t g20 large align-c count-box typo-light">
						<div class="img"><span class="iconwrp bg-default rd txt-white"><i class="fs60 icon-layers"></i></span></div>
						<div class="info">
							<h2 class="title fs70 bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">2580</span></h2>
							<p class="mr-0">Projects Completed</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

				<div class="col-md-3">
					<div class="info-obj img-t g20 large align-c count-box typo-light">
						<div class="img"><span class="iconwrp bg-default rd txt-white"><i class="fs60 icon-alarmclock"></i></span></div>
						<div class="info">
							<h2 class="title fs70 bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">4500</span>+</h2>
							<p class="mr-0">Hours Worked</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->	

				<div class="col-md-3">
					<div class="info-obj img-t g20 large align-c count-box typo-light">
						<div class="img"><span class="iconwrp bg-default rd txt-white"><i class="fs60 icon-pencil"></i></span></div>
						<div class="info">
							<h2 class="title fs70 bold-n" data-rgen-sm="fs30 mr-b-0"><span class="count">100</span>+</h2>
							<p class="mr-0">Articles Published</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

			</div><!-- // END : row //  -->

			<div class="row gt20 mb20 align-c middle-md">
				<div class="col-md-4">
					<hr class="light bdr-op-light-4">
				</div><!-- // END : column //  -->
				<div class="col-md-4">
					<a href="http://goo.gl/hs5BPz" target="_blank" class="btn btn-white solid bdr-2 bold-n mr-auto large round" data-rgen-sm="medium">GET STARTED NOW</a>
				</div><!-- // END : column //  -->
				<div class="col-md-4">
					<hr class="light bdr-op-light-4">
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.7)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg18.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Counter section **************  -->