<!--
	************************************************************
	* Counter section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small">
		<div class="container">

			<div class="w75 mr-auto align-c typo-light" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">10 Years of Experience</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>

			<div class="row gt20 mb20" data-animate-in="fadeInUp">
				<div class="col-md-3">
					<div class="info-obj img-t g30 mini align-c count-box typo-light bdr-1 bdr-op-light-4 pd-mini">
						<div class="img"><span class="iconwrp txt-white"><i class="icon-profile-male"></i></span></div>
						<div class="info">
							<h2 class="title mr-b-10"><span class="count">2140</span></h2>
							<p class="mr-0">Happy Clients</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-3">
					<div class="info-obj img-t g30 mini align-c count-box typo-light bdr-1 bdr-op-light-4 pd-mini">
						<div class="img"><span class="iconwrp txt-white"><i class="icon-layers"></i></span></div>
						<div class="info">
							<h2 class="title mr-b-10"><span class="count" data-prefix="">2580</span></h2>
							<p class="mr-0">Projects Completed</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

				<div class="col-md-3">
					<div class="info-obj img-t g30 mini align-c count-box typo-light bdr-1 bdr-op-light-4 pd-mini">
						<div class="img"><span class="iconwrp txt-white"><i class="icon-alarmclock"></i></span></div>
						<div class="info">
							<h2 class="title mr-b-10"><span class="count">4500</span></h2>
							<p class="mr-0">Hours Worked</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->

				<div class="col-md-3">
					<div class="info-obj img-t g30 mini align-c count-box typo-light bdr-1 bdr-op-light-4 pd-mini">
						<div class="img"><span class="iconwrp txt-white"><i class="icon-pencil"></i></span></div>
						<div class="info">
							<h2 class="title mr-b-10"><span class="count">100</span></h2>
							<p class="mr-0">Articles Published</p>
						</div>
					</div><!-- // END : Info object // -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div>
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z3" data-bgcolor="rgba(45, 51, 69, 0.8)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg25.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg25.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Counter section **************  -->