<!--
	************************************************************
	* Download section
	************************************************************ -->
	<section class="pd-tb-small pos-rel" data-rgen-sm="pd-tb-small" id="download">
		<div class="container pos-rel z2 align-c typo-light">
			<img src="images/icon-img-03.png" class="max-px-w150 mr-auto mr-b-50" alt="icon" data-animate-in="fadeIn">

			<h2 class="title large f-1 txt-upper" data-rgen-sm="medium" data-animate-in="fadeInUp|0.1">Get R.Gen Now</h2>
			<p class="title-sub" data-rgen-sm="small" data-animate-in="fadeInUp|0.2">R.Gen app now available for download. Join us and make your life easy.</p>

			<a href="http://goo.gl/hs5BPz" class="appstore-btn btn-primary solid bdr-2 app-apple" data-animate-in="fadeInUp|0.3"><i class="fab fa-apple"></i><small>Download on the</small>App Store</a>
			<a href="http://goo.gl/hs5BPz" class="appstore-btn btn-primary solid bdr-2 app-google-play" data-animate-in="fadeInUp|0.4"><i class="fab fa-android"></i><small>Get it on</small>Google play</a>
			<a href="http://goo.gl/hs5BPz" class="appstore-btn btn-primary solid bdr-2 app-amazon" data-animate-in="fadeInUp|0.5"><i class="fab fa-amazon"></i><small>Available at</small>Amazon</a>
			<a href="http://goo.gl/hs5BPz" class="appstore-btn btn-primary solid bdr-2 app-windows" data-animate-in="fadeInUp|0.6"><i class="fab fa-windows"></i><small>Download from</small>Windows Store</a>
		</div>
		
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.7)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg6.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Download section **************  -->