<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small" id="feature">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Features display section</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy</p>
			</div>
			
			<img src="images/screen-img1.png" class="mr-b-60" alt="Screen image" data-animate-in="fadeIn|0.1">
			
			<div class="row gt40 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-l g20 medium">
						<div class="img"><span class="iconwrp rd bg-white txt-dark shadow-tiny"><i class="pe-7s-arc"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Easy widgets</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-l g20 medium">
						<div class="img"><span class="iconwrp rd bg-white txt-dark shadow-tiny"><i class="pe-7s-hammer"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Simple tabs</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-l g20 medium">
						<div class="img"><span class="iconwrp rd bg-white txt-dark shadow-tiny"><i class="pe-7s-piggy"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Accordions</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-l g20 medium">
						<div class="img"><span class="iconwrp rd bg-white txt-dark shadow-tiny"><i class="pe-7s-plugin"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Carousels</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-l g20 medium">
						<div class="img"><span class="iconwrp rd bg-white txt-dark shadow-tiny"><i class="pe-7s-way"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Slide show</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-l g20 medium">
						<div class="img"><span class="iconwrp rd bg-white txt-dark shadow-tiny"><i class="pe-7s-portfolio"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Parallax backgrounds</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Feature section **************  -->