<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small align-c">
		<div class="container small">
			<div class="row mb20">
				<div class="col-md-6" data-animate-in="fadeInLeft">
					<h2 class="f-2 txt-upper lh-1 title" data-rgen-sm="medium">25 YEARS OF EXPERIENCE</h2>
					<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>

					<div class="info-obj img-l g30 small pd-b-tiny mr-0" data-rgen-sm="align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-diamond"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-micro">Digital marketing tips</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g30 small pd-b-tiny mr-0" data-rgen-sm="align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-way"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-micro">Trending designs</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g30 small pd-b-tiny mr-0" data-rgen-sm="align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-network"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-micro">Marketing work flows</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g30 small pd-b-tiny mr-0" data-rgen-sm="align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-home"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-micro">Detail overview</h3>
							<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1" data-animate-in="fadeInRight">

					<div class="info-obj img-l mid g20 small pd-20 bg-default typo-light">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-date"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-10">Date : March 12, 2017</h3>
							<p class="mr-0">Time: 11 AM GMT | 2 PM GMT</p>
						</div>
					</div><!-- info box -->


					<!-- form-block -->
					<div class="form-block bg-dark pd-tiny typo-light">
						<h3 class="title small txt-white bold-n align-c">Book Now</h3>
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 rd-0" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 rd-0" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 rd-0" data-label="Company name" type="text" name="company" placeholder="Enter your company name">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 rd-0" data-label="Website" type="text" name="website" placeholder="Enter your website URL">
								</div>
							</div>
							<button type="submit" class="btn solid btn-white block rd-0"><i class="fa fa-envelope-o"></i> Sign up today</button>
						</form><!-- / form -->
					</div><!-- / form block -->
					
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features section **************  -->