<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pos-rel pd-0 bg-dark" id="features">
		<div class="container-fluid pos-rel z2">
			<div class="row min-vh-h100 typo-light">

				<!--=================================
				= Parallax background
				==================================-->
				<div class="col-md-6 pos-rel">
					<!--
					=================================
					= Background holder
					=================================
					-->
					<div class="bg-holder full-wh z0">
						<!-- Overlay -->
						<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
						<!-- Parallax image -->
						<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/appintro_slide2.jpg"></div>
						<!-- Background image -->
						<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
					</div>
				</div><!-- // END : column //  -->
				
				<!--=================================
				= Content
				==================================-->
				<div class="col-md-6 pd-tb-medium flex-cc" data-rgen-sm="pd-tb-small">
					<div class="w80 mr-auto align-c" data-rgen-sm="pd-20">
						<h2 class="title" data-rgen-sm="medium" data-animate-in="fadeInUp">Explore amazing features</h2>
						<p class="title-sub small" data-animate-in="fadeInUp" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit culpa accusamus aperiam earum inventore voluptas placeat soluta nostrum illo porro incidunt vitae</p>

						<hr class="light mr-tb-40" data-rgen-sm="mr-tb-20">

						<div class="row gt40 mb40">
							<div class="col-md-4" data-animate-in="fadeInUp|0.1">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-phone"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Fully Responsive Layout System</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-4" data-animate-in="fadeInUp|0.2">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-mouse"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Drag & Drop Design Sections</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-4" data-animate-in="fadeInUp|0.3">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Wide Range Of Design Layout</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-4" data-animate-in="fadeInUp|0.4">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-menu"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Easy From Structure To Setup</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-4" data-animate-in="fadeInUp|0.5">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Tons Of Customization Options</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-4" data-animate-in="fadeInUp|0.6">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-notebook"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Extensive Help Documentation</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-4" data-animate-in="fadeInUp|0.7">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Endless Customization Possibilities</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-4" data-animate-in="fadeInUp|0.8">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Parallax Background Image Support</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-4" data-animate-in="fadeInUp|0.9">
								<div class="info-obj img-l g20 mini align-l mid h100 mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
									<div class="info">
										<h2 class="title fs14 bold-n mr-0">Full Screen Slider & Video</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->

						<hr class="light mr-tb-40">

						<a href="#" class="btn btn-default large solid" data-animate-in="fadeInUp" data-rgen-sm="medium">View all features</a>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
	</section>
	<!-- ************** END : Features section **************  -->