<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small">
		<div class="container pos-rel z2 align-c">
			<div class="w75 mr-auto mr-b-small" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">How it works</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>
			
			<div class="row gt50 mb20">
				
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g30 small align-c">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-download"></i></span></div>
						<div class="info">
							<h3 class="fs16">INSTALL</h3>
							<p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g30 small align-c">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-world"></i></span></div>
						<div class="info">
							<h3 class="fs16">REGISTER</h3>
							<p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g30 small align-c">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-user"></i></span></div>
						<div class="info">
							<h3 class="fs16">SET YOUR PROFILE</h3>
							<p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g30 small align-c">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-like2"></i></span></div>
						<div class="info">
							<h3 class="fs16">AND DONE</h3>
							<p>Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

			</div><!-- // END : row //  -->

		</div><!-- // END : container //  -->


		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(0,153,229,0)|rgba(0,153,229,0.15)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Feature section **************  -->