<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small" id="features">
		<div class="container">
			
			<!--=========================================
			=            Content section - 1            =
			==========================================-->
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">More advanced features</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam incidunt debitis molestias ex quam nobis</p>
				<hr class="mr-tb-50">
			</div>

			<div class="row middle-md mb20">
				
				<div class="col-md-3">
					<div class="info-obj img-t g10 mini align-c mr-b-20" data-animate-in="fadeInUp|0.1">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo"></i></span></div>
						<div class="info">
							<h3 class="title tiny bold-n">Share photos</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy</p>
						</div>
					</div><!-- info box -->

					<hr class="mr-t-30 mr-b-20">

					<div class="info-obj img-t g10 mini align-c mr-b-20" data-animate-in="fadeInUp|0.2">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-light"></i></span></div>
						<div class="info">
							<h3 class="title tiny bold-n">Share idea</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing diam nonumy eirmod</p>
						</div>
					</div><!-- info box -->

					<hr class="mr-t-30 mr-b-20">
					
					<div class="info-obj img-t g10 mini align-c mr-b-20" data-animate-in="fadeInUp|0.3">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-map-2"></i></span></div>
						<div class="info">
							<h3 class="title tiny bold-n">Share location</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- column -->

				<div class="col-md-6 align-c" data-animate-in="fadeIn">
					<img src="images/iphone-img-01.png" class="mr-auto max-px-w300" data-rgen-sm="max-px-w200" alt="image">
				</div><!-- / column -->

				<div class="col-md-3">
					<div class="info-obj img-t g10 mini align-c mr-b-20" data-animate-in="fadeInUp|0.1">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-chat"></i></span></div>
						<div class="info">
							<h3 class="title tiny bold-n">Send message</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy</p>
						</div>
					</div><!-- info box -->

					<hr class="mr-t-30 mr-b-20">

					<div class="info-obj img-t g10 mini align-c mr-b-20" data-animate-in="fadeInUp|0.2">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-compass"></i></span></div>
						<div class="info">
							<h3 class="title tiny bold-n">Explore destinations</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing diam nonumy eirmod</p>
						</div>
					</div><!-- info box -->

					<hr class="mr-t-30 mr-b-20">
					
					<div class="info-obj img-t g10 mini align-c mr-b-20" data-animate-in="fadeInUp|0.3">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-add-user"></i></span></div>
						<div class="info">
							<h3 class="title tiny bold-n">Invite friends</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- column -->

			</div><!-- / row -->
		</div><!-- / container -->
		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section><!-- / Content section -->
	<!-- ************** END : Feature section **************  -->