<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small" id="features">
		<div class="container pos-rel z1">

			<div class="w75 mr-auto align-c mr-b-60" data-animate-in="fadeIn" data-rgen-sm="mr-b-20">
				<h3 class="title large" data-rgen-sm="medium">Amazing features</h3>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>
			
			<hr>

			<div class="w75 mr-auto">

				<div class="row gt20 middle-md" data-animate-in="fadeInUp">
					<div class="col-md-6 align-c">
						<span class="sq280 fs200 txt-default iconbox"><i class="icon-cloud"></i></span>
					</div><!-- // END : column //  -->
					
					<div class="col-md-6 align-c pd-tb-mini">
						<h2 class="title bold-n fs30">Your Data in Cloud</h2>
						<p>Dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

				<div class="row gt20 middle-md" data-animate-in="fadeInUp">
					<div class="col-md-6 align-c last-md">
						<span class="sq280 fs200 txt-default iconbox"><i class="icon-calendar"></i></span>
					</div><!-- // END : column //  -->
					
					<div class="col-md-6 align-c pd-tb-mini">
						<h2 class="title bold-n fs30">Monthly Rewards</h2>
						<p>Dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

				<div class="row gt20 middle-md" data-animate-in="fadeInUp">
					<div class="col-md-6 align-c">
						<span class="sq280 fs200 txt-default iconbox"><i class="icon-clock"></i></span>
					</div><!-- // END : column //  -->
					
					<div class="col-md-6 align-c pd-tb-mini">
						<h2 class="title bold-n fs30">24/7 Support</h2>
						<p>Dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

			</div>

		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features section **************  -->