<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pos-rel pd-0 bg-gray" id="features">
		<div class="container-fluid pos-rel z2">
			<div class="row min-vh-h100">

				<!--=================================
				= Parallax background
				==================================-->
				<div class="col-md-4 pos-rel last-md">
					<!--
					=================================
					= Background holder
					=================================
					-->
					<div class="bg-holder full-wh z0">
						<!-- Overlay -->
						<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
						<!-- Parallax image -->
						<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/appintro_slide2.jpg"></div>
						<!-- Background image -->
						<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
					</div>
				</div><!-- // END : column //  -->
				
				<!--=================================
				= Content
				==================================-->
				<div class="col-md-8 pd-tb-medium flex-cc" data-rgen-sm="pd-tb-small">
					<div class="w80 mr-auto align-c" data-rgen-sm="pd-20">
						<h2 class="title" data-rgen-sm="medium">Explore amazing features</h2>
						<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit culpa accusamus aperiam earum inventore voluptas placeat soluta nostrum illo porro incidunt vitae tempore deserunt</p>

						<div class="row gt10 mb10">
							<div class="col-md-3" data-animate-in="fadeInUp|0.1">
								<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-mini mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-phone"></i></span></div>
									<div class="info">
										<h2 class="title fs13 mr-0">FULLY RESPONSIVE LAYOUT SYSTEM</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-3" data-animate-in="fadeInUp|0.2">
								<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-mini mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-mouse"></i></span></div>
									<div class="info">
										<h2 class="title fs13 mr-0">DRAG & DROP DESIGN SECTIONS</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-3" data-animate-in="fadeInUp|0.3">
								<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-mini mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo"></i></span></div>
									<div class="info">
										<h2 class="title fs13 mr-0">WIDE RANGE OF DESIGN LAYOUT</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-3" data-animate-in="fadeInUp|0.4">
								<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-mini mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-menu"></i></span></div>
									<div class="info">
										<h2 class="title fs13 mr-0">EASY FROM STRUCTURE TO SETUP</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-3" data-animate-in="fadeInUp|0.5">
								<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-mini mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
									<div class="info">
										<h2 class="title fs13 mr-0">TONS OF CUSTOMIZATION OPTIONS</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-3" data-animate-in="fadeInUp|0.6">
								<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-mini mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-notebook"></i></span></div>
									<div class="info">
										<h2 class="title fs13 mr-0">EXTENSIVE HELP DOCUMENTATION</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-3" data-animate-in="fadeInUp|0.7">
								<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-mini mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint"></i></span></div>
									<div class="info">
										<h2 class="title fs13 mr-0">ENDLESS CUSTOMIZATION POSSIBILITIES</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->

							<div class="col-md-3" data-animate-in="fadeInUp|0.8">
								<div class="info-obj img-t g20 mini align-c h100 bg-white shadow-tiny pd-mini mr-0">
									<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
									<div class="info">
										<h2 class="title fs13 mr-0">PARALLAX BACKGROUND IMAGE SUPPORT</h2>
									</div>
								</div><!-- // END : Info object //  -->
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
	</section>
	<!-- ************** END : Features section **************  -->