<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pd-tb-mini bg-default typo-light" data-rgen-sm="pd-tb-mini">
		<div class="container small">
			<div class="row gt30">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-l mid g20 small" data-rgen-sm="pd-10">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-way"></i></span></div>
						<div class="info">
							<h3 class="title small bold-n mr-0">Wide Range of Properties</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-l mid g20 small" data-rgen-sm="pd-10">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-id"></i></span></div>
						<div class="info">
							<h3 class="title small bold-n mr-0">15+ Agents Available</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-l mid g20 small" data-rgen-sm="pd-10">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-ticket"></i></span></div>
						<div class="info">
							<h3 class="title small bold-n mr-0">Best Deals Guaranteed</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features section **************  -->