<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pd-tb-small" id="aboutus" data-rgen-sm="pd-tb-small">
		<div class="container small">
			<div class="row mb20">
				<div class="col-md-4" data-rgen-sm="align-c" data-animate-in="fadeInLeft">
					<span class="iconbox sq160 rd fs80 mr-b-mini bg-default txt-white"><i class="pe-7s-medal"></i></span>
					<h2 class="f-2 txt-upper lh-1 title">25 YEARS OF EXPERIENCE</h2>
					<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-8">
					<div class="pd-l-50 mr-l-50 bdr-l bdr-op-1" data-rgen-sm="pd-0 mr-0 bdr-reset">
						<div class="info-obj img-l g30 small pd-tiny mr-0" data-rgen-sm="pd-20" data-animate-in="fadeInUp|0.1">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-diamond"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-micro">Digital marketing tips</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g30 small pd-tiny mr-0" data-rgen-sm="pd-20" data-animate-in="fadeInUp|0.2">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-way"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-micro">Trending designs</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g30 small pd-tiny mr-0" data-rgen-sm="pd-20" data-animate-in="fadeInUp|0.3">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-network"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-micro">Marketing work flows</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g30 small pd-tiny mr-0" data-rgen-sm="pd-20" data-animate-in="fadeInUp|0.4">
							<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-home"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-micro">Detail overview</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
							</div>
						</div><!-- info box -->
					</div>

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features section **************  -->