<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-medium">
		<div class="container small">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="f-2 title bold-n" data-rgen-sm="medium">Create perfect landing pages</h2>
				<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua</p>
			</div>
			<div class="row gt30 bdr-t bdr-op-1 row-sep">
				<div class="col-md-4 pd-t-tiny" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 mini align-c pd-tiny mr-0" data-rgen-sm="pd-0">
						<div class="img"><img src="images/icon-design-blocks.png"></div>
						<div class="info">
							<h3 class="title mini">Wide design collections</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4 pd-t-tiny" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 mini align-c pd-tiny mr-0" data-rgen-sm="pd-0">
						<div class="img txt-primary"><img src="images/icon-design-layout.png"></div>
						<div class="info">
							<h3 class="title mini">Ready landing pages</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4 pd-t-tiny" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 mini align-c pd-tiny mr-0" data-rgen-sm="pd-0">
						<div class="img txt-primary"><img src="images/icon-colors.png"></div>
						<div class="info">
							<h3 class="title mini">Easy to customize</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features section **************  -->