<!--
	************************************************************
	* Features 
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small" id="services">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">Our services</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>
			<div class="row gt20 mb20">
				<div class="col-md-3">
					<div class="info-obj img-t g40 medium align-c" data-animate-in="fadeInUp|0.1">
						<div class="img txt-primary"><span class="iconwrp"><i class="pe-7s-light"></i></span></div>
						<div class="info pd-tiny bg-gray min-px-h250 rd-5" data-rgen-sm="h-reset">
							<h3 class="title tiny">Strategy</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-3">
					<div class="info-obj img-t g40 medium align-c" data-animate-in="fadeInUp|0.2">
						<div class="img txt-primary"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
						<div class="info pd-tiny bg-gray min-px-h250 rd-5" data-rgen-sm="h-reset">
							<h3 class="title tiny">Design</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-3">
					<div class="info-obj img-t g40 medium align-c" data-animate-in="fadeInUp|0.3">
						<div class="img txt-primary"><span class="iconwrp"><i class="pe-7s-plugin"></i></span></div>
						<div class="info pd-tiny bg-gray min-px-h250 rd-5" data-rgen-sm="h-reset">
							<h3 class="title tiny">Development</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-3">
					<div class="info-obj img-t g40 medium align-c" data-animate-in="fadeInUp|0.4">
						<div class="img txt-primary"><span class="iconwrp"><i class="pe-7s-like2"></i></span></div>
						<div class="info pd-tiny bg-gray min-px-h250 rd-5" data-rgen-sm="h-reset">
							<h3 class="title tiny">Quality check</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
	
		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features **************  -->