<!--
	************************************************************
	* Features section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" id="services" data-rgen-sm="pd-tb-small">
		<div class="container">
			<div class="w75 mr-auto align-c typo-light" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">Services we offer</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>
			
			<div class="rw eq3 gt10 mb10">
				<div class="cl" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-rocket"></i></span></div>
						<div class="info">
							<h3 class="title mini">UX DESIGN</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="cl" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-browser"></i></span></div>
						<div class="info">
							<h3 class="title mini">INTERFACE DESIGN</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="cl" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-phone"></i></span></div>
						<div class="info">
							<h3 class="title mini">APP DEVELOPMENT</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="cl" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-global"></i></span></div>
						<div class="info">
							<h3 class="title mini">WEB DEVELOPMENT</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="cl" data-animate-in="fadeInUp|0.5">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-mouse"></i></span></div>
						<div class="info">
							<h3 class="title mini">SOFTWARE SOLUTIONS</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="cl" data-animate-in="fadeInUp|0.6">
					<div class="info-obj img-t g20 mini align-c h100 bg-white pd-tiny shadow-tiny mr-0">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-paint"></i></span></div>
						<div class="info">
							<h3 class="title mini">PRINT MEDIA</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.2)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg21.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Features section **************  -->