<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pd-t-0 pd-tb-medium pos-rel" data-rgen-sm="pd-b-40">

		<img src="images/iphone-img-06.png" data-animate-in="fadeIn" class="mr-b-80 mr-auto" data-rgen-sm="mr-b-10" alt="image">
		
		<div class="container pos-rel z1">
			<div class="w75 mr-auto align-c mr-b-60" data-animate-in="fadeIn">
				<h3 class="title large" data-rgen-sm="medium">Explore amazing features</h3>
				<p class="title-sub small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>

			<div class="row gt40 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-l g20 mini align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-arc"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Easy widgets</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-l g20 mini align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-hammer"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Simple tabs</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-l g20 mini align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-piggy"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Accordions</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-l g20 mini align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-plugin"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Carousels</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-l g20 mini align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-way"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Slide show</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-l g20 mini align-l">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-portfolio"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Parallax backgrounds</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Features **************  -->