<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium bg-gray bdr-b bdr-op-1" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="row gt40">
				<div class="col-md-7"></div>
				<div class="col-md-5" data-animate-in="fadeInRight">
					<h2 class="title" data-rgen-sm="medium">Features display section with screen shot image</h2>
					<p class="title-sub mr-b-60" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumyeirmod tempor invidunt ut labore etdolore</p>
					
					<div class="info-obj img-l g20 mini align-l mr-b-40">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-10">Easy customization</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g20 mini align-l mr-b-40">
						<div class="img txt-default"><span class="iconwrp"><i class="pe-7s-photo"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-10">Unique designs</h3>
							<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
						</div>
					</div><!-- info box -->

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<div class="img-half l mr-t-40" data-animate-in="fadeInLeft"><img src="images/feature_window_01.png" class="float-right" alt="image"></div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Feature section **************  -->