<!--
	************************************************************
	* Feature section
	************************************************************ -->
	<section class="pd-tb-small pos-rel bg-gray" data-rgen-sm="pd-b-40 pd-tb-small">
		<div class="container pos-rel z1">
			<div class="w75 mr-auto align-c mr-b-mini" data-animate-in="fadeIn">
				<h3 class="title f-1 bold-1" data-rgen-sm="medium">Explore amazing features</h3>
				<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>

			<div class="row gt40 mb20">
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-secondary"><span class="iconwrp"><i class="pe-7s-arc"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Easy widgets</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-secondary"><span class="iconwrp"><i class="pe-7s-hammer"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Simple tabs</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-secondary"><span class="iconwrp"><i class="pe-7s-piggy"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Accordions</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-secondary"><span class="iconwrp"><i class="pe-7s-plugin"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Carousels</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-secondary"><span class="iconwrp"><i class="pe-7s-way"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Slide show</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-secondary"><span class="iconwrp"><i class="pe-7s-portfolio"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Parallax backgrounds</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-secondary"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Easy customization</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g20 small align-c">
						<div class="img txt-secondary"><span class="iconwrp"><i class="pe-7s-photo-gallery"></i></span></div>
						<div class="info">
							<h2 class="title mini bold-n">Combination of blocks</h2>
							<p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p>
						</div>
					</div><!-- // END : Info object //  -->
				</div><!-- // END : column //  -->
				
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
		
	</section>
	<!-- ************** END : Features **************  -->