<!--
	************************************************************
	* Footer
	************************************************************ -->
	<footer class="pos-rel" data-rgen-sm="pd-tb-small">
		<div class="container pos-rel z2">
			
			<!--=========================================
			=            Content information            =
			==========================================-->
			<div class="row gt50 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g30 mini align-c">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
						<div class="info">
							<h3 class="title mini">ADDRESS</h3>
							<p>PO Box 16122, Collins Street West,<br>Victoria 8007, Australia</p>
						</div>
					</div><!-- info box -->
				</div><!-- column -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g30 mini align-c">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
						<div class="info">
							<h3 class="title mini">PHONE</h3>
							<p><strong>Office : </strong> 1-123-456-7890,<br> <strong>FAX : </strong> 1-123-456-7890</p>
						</div>
					</div><!-- info box -->
				</div><!-- column -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g30 mini align-c">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
						<div class="info">
							<h3 class="title mini">EMAIL</h3>
							<p><a href="#">support@abcxyz.com</a><br><a href="#">admin@abcxyz.com</a></p>
						</div>
					</div><!-- info box -->
				</div><!-- column -->
			</div><!-- row -->

			
			<!--==================================
			=            Contact form            =
			===================================-->
			<div class="row gt50 middle-md mr-tb-50 align-c" data-animate-in="fadeIn">
				<div class="col-md-4"><hr></div>
				<div class="col-md-4">
					<a href="#popup-content" class="btn block btn-default solid large round set-popup" data-rgen-sm="medium">DROP US LINE</a>
				</div>
				<div class="col-md-4"><hr></div>
			</div><!-- row -->

			<!--=======================================
			=            Social icon links            =
			========================================-->
			<div class="align-c mr-b-40">
				<a href="https://www.facebook.com/rgenesisart/" target="_blank" data-animate-in="fadeInUp|0.1" class="sq40 fs16 mr-4 rd-4 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a>
				<a href="https://twitter.com/rgenesisart" target="_blank" data-animate-in="fadeInUp|0.2" class="sq40 fs16 mr-4 rd-4 iconbox btn-dark"><i class="fab fa-twitter"></i></a>
				<a href="https://plus.google.com/+RGenesis" target="_blank" data-animate-in="fadeInUp|0.3" class="sq40 fs16 mr-4 rd-4 iconbox btn-dark"><i class="fab fa-google"></i></a>
				<a href="https://www.youtube.com/channel/UC6zqsNIOeHQUODHcP70fx8w" target="_blank" data-animate-in="fadeInUp|0.4" class="sq40 fs16 mr-4 rd-4 iconbox btn-dark"><i class="fab fa-youtube"></i></a>
				<a href="http://r-genesis-art.tumblr.com/" target="_blank" data-animate-in="fadeInUp|0.5" class="sq40 fs16 mr-4 rd-4 iconbox btn-dark"><i class="fab fa-tumblr"></i></a>
			</div>

			<p class="align-c"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>
	</footer>
	<!-- ************** END : Footer section **************  -->