<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pd-tb-mini pos-rel bg-dark" data-rgen-sm="align-c">
		<div class="w90 mr-auto pos-rel z1">
			<div class="row gt20 middle-md typo-light">
				
				<div class="col-md-4">
					<p class="mr-b-10"><a href="#" class="inline-block max-px-w150"><img src="images/logo1.png" class="max-px-w140" alt="logo"></a></p>
					<p class="mr-0"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-4 align-c" data-rgen-sm="mr-tb-20">
					<a href="#popup-content" class="btn btn-default solid round bdr-2 large set-popup" data-rgen-sm="medium">Get in touch</a>
				</div><!-- // END : column //  -->

				<div class="col-md-4 align-r" data-rgen-sm="align-c">
					<!--=========================================
					=  Social links
					=============================================-->
					<a href="#" target="_blank" class="sq60 fs22 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
					<a href="#" target="_blank" class="sq60 fs22 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
					<a href="#" target="_blank" class="sq60 fs22 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
					<a href="#" target="_blank" class="sq60 fs22 rd-4 iconbox btn-white"><i class="fab fa-youtube"></i></a>
					<a href="#" target="_blank" class="sq60 fs22 rd-4 iconbox btn-white"><i class="fab fa-tumblr"></i></a>
				</div><!-- // END : column //  -->

			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->
		<b class="full-wh bg-glass-dark-03"></b>
	</footer>
	<!-- ************** END : Footer section **************  -->