<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-0 align-c">
		<div class="bdr-b bdr-op-1">
			<!--=========================================
			=  Social links
			=============================================-->
			<div class="row gt0 justify-content-md-center">
				<div class="col-md-auto"><a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq80 fs26 rd-0 iconbox btn-dark"><i class="fab fa-facebook-f"></i></a></div>
				<div class="col-md-auto"><a href="https://twitter.com/rgenesisart" target="_blank" class="sq80 fs26 rd-0 iconbox btn-dark"><i class="fab fa-twitter"></i></a></div>
				<div class="col-md-auto"><a href="https://plus.google.com/+RGenesis" target="_blank" class="sq80 fs26 rd-0 iconbox btn-dark"><i class="fab fa-google"></i></a></div>
				<div class="col-md-auto"><a href="https://www.youtube.com/channel/UC6zqsNIOeHQUODHcP70fx8w" target="_blank" class="sq80 fs26 rd-0 iconbox btn-dark"><i class="fab fa-youtube"></i></a></div>
				<div class="col-md-auto"><a href="http://r-genesis-art.tumblr.com/" target="_blank" class="sq80 fs26 rd-0 iconbox btn-dark"><i class="fab fa-tumblr"></i></a></div>
			</div>
		</div>
		<div class="container pd-tb-mini">
			<p class="mr-b-10"><a href="https://goo.gl/ZMxnYs" class="inline-block max-px-w150"><img src="images/logo.png" class="max-px-w140" alt="logo"></a></p>
			<p class="mr-0"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->