<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pd-tb-mini bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container small typo-light align-c" data-rgen-sm="align-c">
			<!--=========================================
			=  Social links
			=============================================-->
			<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
			<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-twitter"></i></a>
			<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-google"></i></a>
			<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-youtube"></i></a>
			<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-2 bg-glass-light-01 iconbox btn-white"><i class="fab fa-tumblr"></i></a>
			<hr class="light">
			<p class="mr-0"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->