<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-tiny bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container small typo-light" data-rgen-sm="align-c">
			<div class="row gt20">
				<div class="col-md-6" data-rgen-sm="mr-b-30">
					<p class="mr-0 op-05"><a href="#" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 align-r" data-rgen-sm="align-c">
					<a href="#">Privacy policy</a>
					<span class="mr-lr-10">|</span>
					<a href="#">Terms and conditions</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->