<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-tiny" data-rgen-sm="pd-tb-small">
		<div class="container small align-c" data-rgen-sm="align-c" data-animate-in="fadeIn">
			
			<p>
				<a href="#" class="iconbox sq60 fs20 btn-dark rd mr-4"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="iconbox sq60 fs20 btn-dark rd mr-4"><i class="fab fa-twitter"></i></a>
				<a href="#" class="iconbox sq60 fs20 btn-dark rd mr-4"><i class="fab fa-google"></i></a>
				<a href="#" class="iconbox sq60 fs20 btn-dark rd mr-4"><i class="fab fa-youtube"></i></a>
				<a href="#" class="iconbox sq60 fs20 btn-dark rd mr-4"><i class="fab fa-tumblr"></i></a>	
			</p>
			
			<p>
				<a href="#">Privacy policy</a>
				<span class="mr-lr-10">|</span>
				<a href="#">Terms and conditions</a>	
			</p>

			<p class="mr-0"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
			
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->