<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-small bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container typo-light" data-rgen-sm="align-c">
			<div class="row gt20 mb20">
				<div class="col-md-5">
					<p><a href="#" class="inline-block max-px-w150"><img src="images/logo1.png" class="max-px-w140" alt="logo"></a></p>
					<p>PO Box 16122, Collins Street West,<br>Victoria 8007, Australia</p>
					
					<!--=========================================
					=  Social links
					=============================================-->
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-4 iconbox btn-white"><i class="fab fa-youtube"></i></a>
					<a href="#" target="_blank" class="sq30 fs16 mr-r-4 rd-4 iconbox btn-white"><i class="fab fa-tumblr"></i></a>
				</div><!-- // END : Column //  -->
				
				<div class="col-md-7">
					<div class="row gt20 mb20">
						<div class="col-md-4">
							<h3 class="title tiny">Product</h3>
							<ul class="list-1 txt-white op-05">
								<li><a href="#">Features</a></li>
								<li><a href="#">Discover</a></li>
								<li><a href="#">Templates</a></li>
								<li><a href="#">Plan and Pricing</a></li>
							</ul>
						</div><!-- // END : column //  -->
						
						<div class="col-md-4">
							<h3 class="title tiny">Help and Support</h3>
							<ul class="list-1 txt-white op-05">
								<li><a href="#">Video Tutorials</a></li>
								<li><a href="#">Forums</a></li>
								<li><a href="#">Help Center</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div><!-- // END : column //  -->

						<div class="col-md-4">
							<h3 class="title tiny">About Us</h3>
							<ul class="list-1 txt-white op-05">
								<li><a href="#">About Us</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Templates</a></li>
								<li><a href="#">Terms and Conditions</a></li>
							</ul>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->
					
				</div><!-- // END : Column //  -->
			</div><!-- // END : row //  -->

			<hr class="light">
			<p class="mr-0 op-05"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->