<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-tiny bg-dark" data-rgen-sm="pd-tb-small" data-color="#dfdfdf">
		<div class="container small typo-light align-c" data-rgen-sm="align-c">
			<div class="mr-b-tiny" data-animate-in="fadeIn">
				<a href="#" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-primary txt-white mr-4"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-primary txt-white mr-4"><i class="fab fa-twitter"></i></a>
				<a href="#" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-primary txt-white mr-4"><i class="fab fa-google"></i></a>
				<a href="#" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-primary txt-white mr-4"><i class="fab fa-youtube"></i></a>
				<a href="#" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-primary txt-white mr-4"><i class="fab fa-tumblr"></i></a>
			</div>

			<div class="mr-tb-tiny" data-animate-in="fadeIn">
				<a href="#">Privacy policy</a>
				<span class="mr-lr-10">|</span>
				<a href="#">Terms and conditions</a>
			</div>
			
			<p class="mr-0 op-05"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>

	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->