<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-b-mini pd-t-medium" data-rgen-sm="pd-tb-small align-c" id="contact">
		<div class="container small typo-light">

			<div class="row gt30 mb20 mr-b-mini">
				<div class="col-md-5" data-animate-in="fadeInLeft">
					<p><img src="images/logo-light.png" alt="Logo" class="max-px-w150" data-rgen-sm="mr-auto"></p>
					
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco</p>
					
					<hr class="mr-tb-mini light">

					<div class="info-obj img-l g20 tiny mr-b-tiny" data-rgen-sm="img-t">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
						<div class="info">
							<h3 class="title tiny mr-b-4">Find us on</h3>
							<p class="mr-0">PO Box 16122, Collins Street West, Victoria 8007, Australia</p>
						</div>
					</div><!-- info box -->

					<div class="info-obj img-l g20 tiny" data-rgen-sm="img-t">
						<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
						<div class="info">
							<h3 class="title tiny mr-b-4">Call us on</h3>
							<p class="mr-0">123 456 7890, 123 456 7890</p>
						</div>
					</div><!-- info box -->
					
					<p>
						<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="iconbox sq50 fs18 btn-white"><i class="fab fa-facebook-f"></i></a>
						<a href="https://twitter.com/rgenesisart" target="_blank" class="iconbox sq50 fs18 btn-white"><i class="fab fa-twitter"></i></a>
						<a href="https://plus.google.com/+RGenesis" target="_blank" class="iconbox sq50 fs18 btn-white"><i class="fab fa-google"></i></a>
						<a href="https://www.youtube.com/channel/UC6zqsNIOeHQUODHcP70fx8w" target="_blank" class="iconbox sq50 fs18 btn-white"><i class="fab fa-youtube"></i></a>
						<a href="http://r-genesis-art.tumblr.com/" target="_blank" class="iconbox sq50 fs18 btn-white"><i class="fab fa-tumblr"></i></a>
						<a href="https://pinterest.com/rgenesis" target="_blank" class="iconbox sq50 fs18 btn-white"><i class="fab fa-pinterest-p"></i></a>
					</p>

				</div><!-- // END : column //  -->
				
				<div class="col-md-6 offset-md-1" data-animate-in="fadeInRight">
					<!-- form-block -->
					<div class="form-block" data-rgen-sm="w-reset">
						<h2 class="title mr-b-tiny" data-rgen-sm="medium">Have Questions?</h2>
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">

								<div class="form-group">
									<input class="form-control form-control-light bdr-op-light-6" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>

								<div class="form-group">
									<input class="form-control form-control-light bdr-op-light-6" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								
								<div class="form-group">
									<input class="form-control form-control-light bdr-op-light-6" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>

								<div class="form-group">
									<textarea class="form-control form-control-light bdr-op-light-6" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
								</div>
								
							</div>
							<button type="submit" class="btn btn-white solid"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
			<hr class="mr-tb-mini light" data-rgen-sm="mr-tb-20">

			<div class="row">
				<div class="col-md-6">
					<p><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 align-r" data-rgen-sm="align-c">
					<p>
						<a href="https://goo.gl/G9rSM5">Privacy policy</a>
						<span class="mr-lr-10">|</span>
						<a href="https://goo.gl/G9rSM5">Terms and conditions</a>
					</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->	
			
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.3)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1" data-bg="images/bg-img-11.jpg"></b>
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->