<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-mini bg-dark" data-rgen-sm="pd-tb-mini">
		<div class="container typo-light align-c">
			<p><a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-block max-px-w150"><img src="images/logo-light.png" class="max-px-w140" alt="logo"></a></p>
			
			<p>	
				<!--=========================================
				=  Social links
				=============================================-->
				<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq60 fs20 mr-4 rd-4 iconbox btn-white bdr-1 bdr-op-light-1"><i class="fab fa-facebook-f"></i></a>
				<a href="https://twitter.com/rgenesisart" target="_blank" class="sq60 fs20 mr-4 rd-4 iconbox btn-white bdr-1 bdr-op-light-1"><i class="fab fa-twitter"></i></a>
				<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq60 fs20 mr-4 rd-4 iconbox btn-white bdr-1 bdr-op-light-1"><i class="fab fa-google"></i></a>
				<a href="https://www.youtube.com/channel/UC6zqsNIOeHQUODHcP70fx8w" target="_blank" class="sq60 fs20 mr-4 rd-4 iconbox btn-white bdr-1 bdr-op-light-1"><i class="fab fa-youtube"></i></a>
				<a href="http://r-genesis-art.tumblr.com/" target="_blank" class="sq60 fs20 mr-4 rd-4 iconbox btn-white bdr-1 bdr-op-light-1"><i class="fab fa-tumblr"></i></a>
			</p>

			<p class="mr-0 op-05"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>
		<b class="full-wh bg-glass-dark-02"></b>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->