<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-medium bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container small typo-light align-c" data-rgen-sm="align-c">
			
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h2 class="title f-2 mr-b-tiny" data-rgen-sm="medium">Looking for best location and price? Just few steps away.</h2>
				<p class="title-sub mini mr-b-mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<a href="#popup-content" class="btn btn-default large solid rd-0 bdr-2 set-popup" data-rgen-sm="medium">Get best deals</a>
			</div>

			<hr class="light mr-tb-small" data-rgen-sm="mr-tb-20">

			<div class="mr-b-tiny" data-animate-in="fadeIn|0.1">
				<a href="" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-default txt-white mr-4"><i class="fab fa-facebook-f"></i></a>
				<a href="" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-default txt-white mr-4"><i class="fab fa-twitter"></i></a>
				<a href="" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-default txt-white mr-4"><i class="fab fa-google"></i></a>
				<a href="" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-default txt-white mr-4"><i class="fab fa-youtube"></i></a>
				<a href="" class="iconbox sq60 fs26 bg-glass-light-01 hov-bg-default txt-white mr-4"><i class="fab fa-tumblr"></i></a>
			</div>

			<div class="mr-tb-tiny" data-animate-in="fadeIn|0.2">
				<a href="#">Privacy policy</a>
				<span class="mr-lr-10">|</span>
				<a href="#">Terms and conditions</a>
			</div>
			
			<p class="mr-0 op-05"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1" data-bg="images/bg-img-01.jpg"></b>
		</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->