<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-mini bg-dark" data-rgen-sm="pd-tb-small align-c" id="contact">
		<div class="container small typo-light">
			
			<div class="row gt40 mb20">
				<div class="col-md-8">
					<div class="row gt20 mb20">
						<div class="col-md-4" data-animate-in="fadeIn|0.1">
							<h3 class="title mini bold-n">Learning</h3>
							<ul class="list-1 txt-white op-06">
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Tutorials</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Video courses</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Instructors</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Examples</a></li>
							</ul>
						</div><!-- // END : column //  -->
						
						<div class="col-md-4" data-animate-in="fadeIn|0.2">
							<h3 class="title mini bold-n">About us</h3>
							<ul class="list-1 txt-white op-06">
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">About us</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Careers</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Instructors</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Advertise</a></li>
							</ul>
						</div><!-- // END : column //  -->

						<div class="col-md-4" data-animate-in="fadeIn|0.3">
							<h3 class="title mini bold-n">Support</h3>
							<ul class="list-1 txt-white op-06">
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">FAQ</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Help center</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Contact us</a></li>
								<li><a href="https://goo.gl/G9rSM5" target="_blank" class="link-white">Feedback</a></li>
							</ul>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeIn|0.4">
					<p><img src="images/logo-light.png" alt="Logo" class="max-px-w150" data-rgen-sm="mr-auto"></p>
					
					<p>PO Box 16122, Collins Street West, Victoria 8007, Australia</p>

					<p><a href="mailto:abc@xyz.com">abc@xyz.com</a></p>
				</div><!-- // END : column //  -->

			</div><!-- // END : row //  -->
			
			<hr class="mr-tb-10 light" data-rgen-sm="mr-tb-10">
			
			<div class="row gt20">
				<div class="col-md-6">
					<p><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 align-r" data-rgen-sm="align-c">
					<a href="https://goo.gl/G9rSM5">Privacy policy</a>
					<span class="mr-lr-10">|</span>
					<a href="https://goo.gl/G9rSM5">Terms and conditions</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->