<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small">
		<div class="container small align-c" data-rgen-sm="align-c">
			
			<div class="w75 mr-auto">
				<h2 class="title f-2 mr-b-tiny small" data-animate-in="fadeIn|0.1">Get Complete Guide to Improve Your Digital Marketing</h2>
				<p class="fs40" style="color: #ffa700;" data-animate-in="fadeIn|0.2">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
				</p>
				<h2 class="title large f-2" data-rgen-sm="medium" data-animate-in="fadeIn|0.3">Only $10.00</h2>
				<p class="title-sub mini mr-b-mini" data-rgen-sm="small" data-animate-in="fadeIn|0.4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<a href="#" class="btn btn-default large solid bdr-2" data-rgen-sm="medium" data-animate-in="fadeInUp|0.5">Get your eBook</a>
			</div>

			<hr class="mr-tb-mini">

			<div class="mr-tb-tiny" data-animate-in="fadeIn">
				<a href="#">Privacy policy</a>
				<span class="mr-lr-10">|</span>
				<a href="#">Terms and conditions</a>
			</div>
			
			<p class="mr-0"><a href="https://goo.gl/ZMxnYs" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->