<!--
	************************************************************
	* Footer section
	************************************************************ -->
	<footer class="pos-rel pd-tb-mini bg-dark" data-rgen-sm="pd-tb-small align-c">
		<div class="container small typo-light">
			<div class="mr-b-tiny align-c">
				<a href="#" class="iconbox sq60 fs22 btn-default txt-white mr-4"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="iconbox sq60 fs22 btn-default txt-white mr-4"><i class="fab fa-twitter"></i></a>
				<a href="#" class="iconbox sq60 fs22 btn-default txt-white mr-4"><i class="fab fa-google"></i></a>
				<a href="#" class="iconbox sq60 fs22 btn-default txt-white mr-4"><i class="fab fa-youtube"></i></a>
				<a href="#" class="iconbox sq60 fs22 btn-default txt-white mr-4"><i class="fab fa-tumblr"></i></a>
			</div>

			<hr class="light">

			<div class="flex-row middle-md">
				<div class="flex-col-md-6" data-rgen-sm="mr-b-30">
					<p class="mr-0 op-06"><a href="#" target="_blank">R.Gen - landing pages</a> &copy; <span class="copyright-year"></span></p>
				</div><!-- // END : column //  -->
				
				<div class="flex-col-md-6 align-r" data-rgen-sm="align-c">
					<a href="#">Privacy policy</a>
					<span class="mr-lr-10">|</span>
					<a href="#">Terms and conditions</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : Container //  -->
	</footer><!-- / Footer section -->
	<!-- ************** END : Footer section **************  -->