<!--
	************************************************************
	* Contact form
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-medium" id="book">
		<div class="container small align-c">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h3 class="f-2 bold-n mr-0 txt-default" data-rgen-sm="fs20">Opening hours</h3>
				<h2 class="title f-1 mr-0" data-rgen-sm="medium">Everyday 9am to 10pm</h2>
				<img class="mr-tb-mini mr-auto max-px-w150" src="images/sep-01.png" alt="seperator">
				
				<h3 class="f-2 bold-n mr-0 txt-default" data-rgen-sm="fs20">Location</h3>
				<h2 class="title f-1 mr-0" data-rgen-sm="medium">PO Box 16122, Collins Street West, Victoria 8007, Australia</h2>
				
				<img class="mr-tb-mini mr-auto max-px-w150" src="images/sep-01.png" alt="seperator">

				<h3 class="f-2 bold-n mr-0 txt-default" data-rgen-sm="fs20">Book now</h3>
				<h2 class="title f-1 mr-b-mini" data-rgen-sm="medium">Reserve your table</h2>
			</div>

			<!-- form-block -->
			<div class="form-block max-px-w600 mr-auto bg-dark pd-mini typo-light" data-rgen-sm="w-reset pd-20" data-animate-in="fadeIn|0.1">
				<form action="form-data/formdata.php" class="form-widget">
					<div class="field-wrp">
						<input type="hidden" name="to" value="r.genesis.art@gmail.com">
						<div class="row gt10">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control form-control-light" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control form-control-light" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
						
						<div class="form-group">
							<input class="form-control form-control-light" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
						</div>

						<div class="form-group">
							<input class="form-control form-control-light date-pick" required data-label="Date" data-msg="Please select date" type="text" name="date" placeholder="Enter your date">
						</div>
						
						<div class="form-group">
							<select class="form-control form-control-light" data-label="People" required data-msg="How many people?" name="people">
								<option>How many people?</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
							</select>
						</div>
					</div>
					<button type="submit" class="btn btn-default block solid"><i class="fa fa-envelope-o"></i> SUBMIT</button>
				</form><!-- / form -->
			</div><!-- / form block -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Contact form **************  -->