<!--
	************************************************************
	* Contact form
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="contact">
		<div class="container">
			<div class="row gt20 mb20 align-items-center">

				<!--=================================
				= Contact form
				==================================-->
				<div class="col-md-6" data-animate-in="fadeInLeft">
					
					<!-- form-block -->
					<div class="form-block bg-gray rd-10 pd-mini" data-rgen-sm="pd-20">
						<h2 class="title small mr-b-20" data-rgen-sm="small align-c">Drop us a line</h2>
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="form-group">
									<input class="form-control bg-white" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control bg-white" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<input class="form-control bg-white" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<textarea class="form-control bg-white" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
								</div>

								<div class="form-group inline-control">
	<label>I agree to the <a href="#popup-privacy" class="set-popup link-default">Privacy Policy</a></label>
	<input required data-label="Terms" data-msg="You must agree to the privacy policy to continue." type="checkbox" name="terms">
</div>

<div class="form-group">
	<div class="g-recaptcha" data-sitekey="INSERT YOUR KEY HERE"></div>
</div>

							</div>
							<button type="submit" class="btn solid btn-dark"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->

				</div><!-- // END : column //  -->
				
				<!--=================================
				= Contact information
				==================================-->
				<div class="col-md-5 offset-md-1" data-animate-in="fadeInRight">
					
					<h2 class="title" data-rgen-sm="medium">Contact information</h2>
					<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					
					<div class="info-obj img-l g20 tiny mr-0" data-rgen-sm="img-t">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-4">Address</h3>
							<p class="mr-0">PO Box 16122, Collins Street West,<br>Victoria 8007, Australia</p>
						</div>
					</div><!-- info box -->

					<hr>

					<div class="info-obj img-l g20 tiny mr-0" data-rgen-sm="img-t">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-4">Phone</h3>
							<p class="mr-0"><strong>Office : </strong> 1-123-456-7890,<br> <strong>FAX : </strong> 1-123-456-7890</p>
						</div>
					</div><!-- info box -->

					<hr>

					<div class="info-obj img-l g20 tiny mr-0" data-rgen-sm="img-t">
						<div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
						<div class="info">
							<h3 class="title mini mr-b-4">Email</h3>
							<p class="mr-0"><a href="#">support@abcxyz.com</a><br><a href="#">admin@abcxyz.com</a></p>
						</div>
					</div><!-- info box -->

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Contact form **************  -->

	<!--
	************************************************************
	* Privacy Popup
	************************************************************ -->
	
	<!-- form : "mfp-hide" Add this class before using -->
	<div id="popup-privacy" class="white-popup-block popup-content align-l mfp-hide">
		<div class="pop-header bg-default typo-light pd-tb-20">
			<h2 class="title mr-0 small" data-rgen-sm="small">Privacy Policy</h2>
		</div>
		<div class="pop-body" data-rgen-sm="pd-20">
			<h3 class="title mini">Title of content</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<hr>
			
			<h3 class="title mini">List example</h3>
			<ul class="list-3">
				<li>Lorem ipsum dolor sit amet, consectetur</li>
				<li>Sed do eiusmod tempor incididunt ut labore</li>
				<li>Consectetur adipisicing</li>
				<li>Exercitation ullamco laboris</li>
			</ul>
		</div>
	</div><!-- /#popup-content -->
	<!-- ************** END : Popup form block **************  -->
