<!--
	************************************************************
	* Contact form
	************************************************************ -->
	<section class="pd-tb-small bg-dark" data-rgen-sm="pd-tb-small" id="contact">

		<!--=================================
		= Contact information
		==================================-->
		<div class="container">

			<div class="w75 mr-auto align-c typo-light" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Contact us</h2>
				<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
			
			<div class="pd-tiny bg-secondary typo-light rd-6 pd-t-50 -mr-b-50" data-rgen-sm="mr-b-30">
				<div class="row gt20 mb20">
					<div class="col-md-4" data-animate-in="fadeInUp|0.1">
						<div class="info-obj img-t g20 mini mr-0 align-c">
							<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-4">Address</h3>
								<p class="mr-0">PO Box 16122, Collins Street West,<br>Victoria 8007, Australia</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-4" data-animate-in="fadeInUp|0.2">
						<div class="info-obj img-t g20 mini mr-0 align-c">
							<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-4">Phone</h3>
								<p class="mr-0"><strong>Office : </strong> 1-123-456-7890,<br> <strong>FAX : </strong> 1-123-456-7890</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-4" data-animate-in="fadeInUp|0.3">
						<div class="info-obj img-t g20 mini mr-0 align-c">
							<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-mail"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-4">Email</h3>
								<p class="mr-0"><a href="#">support@abcxyz.com</a><br><a href="#">admin@abcxyz.com</a></p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
		</div><!-- // END : Container //  -->

		
		<!--=================================
		= Map section
		==================================-->
		<!-- Google map -->
		<div class="google-map-container" data-zoom="16" data-center="New York, NY, United States">
			<div class="google-map" style="height: 500px;"></div>
			<ul class="google-map-markers">
			</ul>
		</div>

		
		<!--=================================
		= Contact form
		==================================-->
		<div class="container small pd-t-70 align-c typo-light" data-rgen-sm="pd-tb-small">
			<!-- form-block -->
			<div class="form-block max-px-w600 mr-auto">
				<h2 class="title mr-b-40" data-rgen-sm="medium" data-animate-in="fadeIn|0.4">Drop us a line</h2>

				<form action="form-data/formdata.php" class="form-widget" data-animate-in="fadeInUp|0.5">
					<div class="field-wrp">
						<input type="hidden" name="to" value="r.genesis.art@gmail.com">

						<div class="row gt10">
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control form-control-light" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
							</div><!-- // END : column //  -->
							
							<div class="col-md-6">
								<div class="form-group">
									<input class="form-control form-control-light" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
						
						<div class="form-group">
							<input class="form-control form-control-light" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
						</div>
						<div class="form-group">
							<textarea class="form-control form-control-light" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
						</div>
					</div>
					<button type="submit" class="btn solid btn-secondary hov-btn-white"><i class="fa fa-envelope-o"></i> SUBMIT</button>
				</form><!-- / form -->
			</div><!-- / form block -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Contact form **************  -->