<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-medium bg-dark" data-rgen-sm="pd-tb-small"> 
		<div class="container small">
			<div class="row gt20 mb20 middle-md">
				<div class="col-md-5" data-animate-in="fadeInLeft">
					<img src="images/book-img-01.jpg" class="shadow-large" data-rgen-sm="max-px-w300 mr-auto" alt="R.Genesis.Art">
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 offset-md-1" data-animate-in="fadeIn|0.1">
					<div class="typo-light" data-rgen-sm="align-c">
						<h2 class="title large f-2 bold-n" data-rgen-sm="medium">R.Genesis's<br>First Guide Book</h2>
						<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua.</p>
						
						<hr class="light">

						<p class="title-sub f-2 bold-n mr-b-micro" data-rgen-sm="small">Sign up now and get 50% OFF</p>
					</div>

					<!--=================================
					= Form block
					==================================-->
					<div class="form-block bg-white rd-4 pd-lr-20 pd-t-20 pd-b-10 mr-b-10 shadow-large" data-rgen-sm="mr-0" data-animate-in="fadeIn|0.2">
						<form action="form-data/notify-me.php" class="form-widget" data-rgen-sm="mr-0" data-formtype="newsletter">
							<div class="field-wrp">
								<div class="row gt10">
									<div class="col-md-10">
										<div class="form-group mr-0">
											<input class="form-control bdr-2 w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group mr-0">
											<button type="submit" data-loading-text="Pleae wait.." class="btn solid btn-dark hov-btn-default bdr-2 block btn-reset bold-n" style="min-height: 46px;"><i class="fas fa-long-arrow-alt-right fs30"></i></button>
										</div>
									</div>
								</div>
							</div>
						</form><!-- / form -->
					</div><!-- / form block -->

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(0, 149, 251, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg-img-01.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->