<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pd-0 pos-rel" data-rgen-md="pd-b-0">
		<div class="container-fluid">
			<div class="row pos-rel z2 min-vh-h100">
				<div class="col-md-4 pos-rel last-md">
					<!--
					=================================
					= Background holder
					=================================
					-->
					<div class="bg-holder full-wh z0">
						<!-- Overlay -->
						<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
						<!-- Parallax image -->
						<div data-bgholder="parallax" class="full-wh z2 bg-cc bg-cover" data-parallax-img="images/appintro_slide1.jpg"></div>
						<!-- Background image -->
						<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
					</div>
					
				</div><!-- // END : column //  -->

				<div class="col-md-8 pd-tb-small bg-default flex-cc" data-rgen-sm="pd-tb-small align-c">
					
					<div class="content w80 mr-auto" data-rgen-sm="pd-20">
						<div class="row gt20 middle-md">
							<div class="col-md-5">
								<div class="carousel-widget ctrl-light ctrl-1 align-c">
									<div class="owl-carousel"
										data-animation-in="flipIn"
										data-animation-out="fadeOut"
										data-dots="true"
										data-autoplay="true"
										data-center="false"
										data-nav="false">
										
										<div class="item">
											<img src="images/iphone-slides_01.png" class="w-auto mr-auto" alt="image">
										</div><!-- /.item -->

										<div class="item">
											<img src="images/iphone-slides_02.png" class="w-auto mr-auto" alt="image">
										</div><!-- /.item -->

										<div class="item">
											<img src="images/iphone-slides_03.png" class="w-auto mr-auto" alt="image">
										</div><!-- /.item -->

										<div class="item">
											<img src="images/iphone-slides_04.png" class="w-auto mr-auto" alt="image">
										</div><!-- /.item -->

									</div><!-- /.owl-carousel -->
								</div><!-- /.carousel-widget -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-7 typo-light">
								<a href="#" class="inline-block max-px-w200 mr-b-60"><img src="images/logo1.png" alt="logo"></a>

								<h1 class="title bold-n f-3 small">R.Gen Landing Pages</h1>
								<h2 class="title mr-b-mini" data-rgen-sm="medium">Quick solution to design beautiful landing pages</h2>
								<p class="mr-b-mini" data-rgen-sm="small">Easy and flexible way to create powerful landing pages with lots of design and customization options</p>
								
								<!--=================================
								= Newsletter section
								==================================-->
								<div class="subscribe-block _2 max-px-w500 mr-b-60" data-rgen-sm="subscribe-reset">
									<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
										<div class="form-group">
											<input class="form-control form-control-light bdr-2 bdr-white w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
											<button type="submit" data-loading-text="Pleae wait.." class="btn btn-white solid bdr-2 hov-btn-dark2"><i class="far fa-envelope btn-icon"></i> <span class="btn-txt fs14">Subscribe</span></button>
										</div>
									</form>
								</div><!-- ======= END : Newsletter section =======  -->
								
								<a href="#" class="inline-block mr-r-10" data-rgen-sm="mr-5"><img src="images/btn-app-store.svg" class="min-px-w160" alt="app store"></a>
								<a href="#" class="inline-block" data-rgen-sm="mr-5"><img src="images/btn-play-store.svg" class="min-px-w160" alt="app store"></a>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->

					</div>

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
		
	</section>
	<!-- ************** END : Intro section **************  -->