<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-tb-large" id="home" data-rgen-sm="pd-tb-small">
		<div class="container pos-rel z2 h100 flex-cc" data-rgen-sm="h-reset pd-tb-small">
			<div class="content w80 align-c typo-light">

				<p><a href="#" class="inline-block mr-b-30"><img src="images/app-icon1.png" alt="app icon"></a></p>
				
				<div class="carousel-widget ctrl-1 mr-b-30">
					<div class="owl-carousel" 
						data-animation-in="flipInX"
						data-animation-out="fadeOut"
						data-autoplay="true"
						data-nav="false">
						
						<div class="item">
							<h2 class="title large bold-6 txt-upper" data-rgen-sm="medium">Quick and easy way to create powerful landing pages</h2>
						</div><!-- /.item -->

						<div class="item">
							<h2 class="title large bold-6 txt-upper" data-rgen-sm="medium">Drag and drop page builder to generate landing pages</h2>
						</div><!-- /.item -->

					</div><!-- /.owl-carousel -->
				</div><!-- /.carousel-widget -->
				
				<p class="title-sub" data-rgen-sm="small">Create powerful landing pages using flexible design blocks and unlimited design possibility with drag and drop page builder fully loaded with advanced customization features</p>
				<a href="https://goo.gl/ZMxnYs" target="_blank" data-rgen-sm="small" class="btn btn-white bdr-2 solid large">DOWNLOAD NOW</a>
			</div>
		</div><!-- // END : Container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.8)"></b>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg3.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->