<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-tb-large" id="home" data-rgen-sm="pd-tb-small">
		<div class="container align-c pd-tb-medium" data-rgen-sm="pd-tb-small">
			<div class="w75 mr-auto typo-light">
				<p class="f-1 fs30 mr-0">Introducing</p>
				<h2 class="title large" data-rgen-sm="large">R.GEN LANDING PAGES</h2>
				<p class="title-sub" data-rgen-sm="small">Easy and flexible way to create powerful landing pages with lots of design and customization options</p>	

				<a href="#" class="btn btn-white bdr-2 small solid">OUR PORTFOLIO</a>
			</div>
		</div><!-- // END : Container //  -->
		
		
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z3" data-bgcolor="rgba(0, 149, 251, 0.7)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z2 full-wh" data-videoid="dorZ3vag5PI"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg7.jpg" class="full-wh bg-cover bg-dark bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->