<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pd-tb-medium pd-b-0 pos-rel" data-rgen-sm="pd-tb-small pd-b-0" data-rgen-md="pd-b-0">
		
		<!--=================================
		= Upper part content
		==================================-->
		<div class="container" data-rgen-sm="align-c">
			<div class="row gt20 bottom-md">
				<div class="col-md-6" data-rgen-md="pd-t-0" data-rgen-sm="mr-b-30">
					<img src="images/app-img1.png" class="mr-auto" alt="image">
				</div><!-- // END : column //  -->

				<div class="col-md-6 mr-b-100 typo-light" data-rgen-md="mr-b-30">
					<p class="mr-b-40"><img src="images/app-icon1.png" class="inline-block" alt="image"></p>
					<h2 class="title fs40 mr-b-30" data-rgen-md="medium" data-rgen-sm="medium">Quick solution to design beautiful landing pages</h2>
					<p class="title-sub small" data-rgen-sm="small">Easy and flexible way to create powerful landing pages with lots of design and customization options</p>
					<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-block mr-r-10"><img src="images/btn-app-store.svg" class="min-px-w180" alt="app store"></a>
					<a href="https://goo.gl/ZMxnYs" target="_blank" class="inline-block"><img src="images/btn-play-store.svg" class="min-px-w180" alt="play store"></a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : container //  -->

		
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(68, 46, 150,0.8)|rgba(181, 43, 87,0.8)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg1.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->