<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-small pd-b-0" data-rgen-sm="pd-tb-small pd-b-0 align-c" data-rgen-md="pd-b-0" id="home">
		<div class="container">
			<div class="row gt20 mb20">
				<div class="col-md-6 offset-md-1 last-md" data-animate-in="fadeInRight">
					<img src="images/book.png" alt="R.Gen landing pages" class="-mr-b-200" data-rgen-sm="mr-0">
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 typo-light pd-t-100" data-rgen-sm="pd-0">
					<h2 class="title txt-upper" data-rgen-sm="medium" data-animate-in="fadeInUp|0.1">R.Genesis's first guide book now on sale with 50% off</h2>
					<hr class="light">
					<p class="title-sub small italic" data-rgen-sm="small" data-animate-in="fadeInUp|0.2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : container //  -->
		
		<div class="pd-tb-mini pos-rel z2" data-rgen-sm="pd-tb-small">
			<div class="container">
				<div class="row gt20 mb20">
					<div class="col-md-6 typo-light">
						<div class="row middle-md">
							<div class="col-md-6" data-rgen-sm="mr-b-30" data-animate-in="fadeInUp">
								<p class="mr-0 fs28">Offer Price</p>
								<p class="mr-0 fs28"><span class="l-through">$200.00</span> &nbsp; <strong>$100.00</strong></p>
								<p class="mr-0">Offer valid until 31, March 2016</p>
							</div><!-- // END : column //  -->
							
							<div class="col-md-6" data-animate-in="fadeInUp">
								<a href="#" class="btn btn-white large solid bdr-2" data-rgen-sm="medium">Purchase now</a>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-6">
						
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
			<b class="full-wh z1 bg-primary op-08"></b>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.1)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/book_intro.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->