<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-large" data-rgen-sm="pd-tb-small" id="home">
		<div class="container">
			<div class="w75 mr-auto align-c typo-light" data-animate-in="fadeIn">
				<p><a href="#" class="inline-block max-px-w200 mr-b-40"><img src="images/logo1.png" alt="logo"></a></p>
				
				<div class="mr-b-60">
					<ul class="inline-list gt-tiny mr-tb-20 align-m">
						<li class="min-px-w100"><hr class="bdr-b-2 bdr-op-light-2"></li>
						<li><p class="f-3 fs30 mr-0">Welcome to</p></li>
						<li class="min-px-w100"><hr class="bdr-b-2 bdr-op-light-2"></li>
					</ul>

					<h2 class="title fs60 txt-upper mr-b-4" data-rgen-sm="medium">R.Gen Restaurant</h2>
					<p class="title-sub mr-0" data-rgen-sm="small">THE DELICIOUS PREMIUM FOOD HOME</p>
					
					<ul class="inline-list gt-tiny mr-tb-20 align-m">
						<li class="min-px-w100"><hr class="bdr-b-2 bdr-op-light-2"></li>
						<li><p class="fs18 mr-0">SINCE 1990</p></li>
						<li class="min-px-w100"><hr class="bdr-b-2 bdr-op-light-2"></li>
					</ul>
				</div>
				
				<a href="#" class="btn btn-secondary solid bdr-2 min-px-w200 txt-upper small mr-6">Book your table</a>
				<a href="#" class="btn btn-secondary solid bdr-2 min-px-w200 txt-upper small mr-6">View menu</a>
			</div>
		</div>
		

		<div class="bg-holder full-wh z1">
			<b bg-holder="overlay" class="full-wh bg-dark z2 op-08"></b>
			<div bg-holder="slider" class="full-wh" data-stellar="y" data-stellar-ratio="0.8" data-rgen-sm="h100">
				<div class="bgslider full-wh" data-bgslider="images/food_01.jpg|images/food_02.jpg|images/food_03.jpg|images/food_04.jpg"></div>
			</div>
			<b bg-holder="bg-img" class="full-wh bg-cover bg-cc"></b>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.8)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh" data-bgslider="images/food_01.jpg|images/food_02.jpg|images/food_03.jpg|images/food_04.jpg"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->