<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-small bg-dark parallax" data-rgen-sm="pd-tb-small align-c"> 

		<div class="container small">
			<div class="row gt20 middle-md">
				<div class="col-md-6" data-animate-in="fadeInLeft">
					<p class="mr-b-mini"><img src="images/logo-light.png" class="max-px-w140" data-rgen-sm="mr-auto" alt="Brand logo"></p>

					<h1 class="title large f-2 txt-white" data-rgen-sm="medium">BUY . RENT . SELL</h1>
					<h2 class="title txt-white small bold-n" data-rgen-sm="small">Wide range of properties to explore with trusted and most reliable service</h2>
					
					<hr class="mr-tb-tiny light">

					<div class="info-obj img-l g20 small mid typo-light" data-rgen-sm="img-t">
						<div class="img txt-default"><span class="iconwrp"><i class="fa fa-phone fa-flip-horizontal"></i></span></div>
						<div class="info">
							<p class="mr-0">Call us to get expert advice</p>
							<h3 class="title small mr-0 f-2">0123 456 789</h3>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1" data-animate-in="fadeInRight">
					
					<!-- form-block -->
					<div class="form-block bg-glass-dark-06 pd-mini bdr-5 bdr-default" data-rgen-sm="pd-20">
						<h3 class="title small txt-white bold-n align-c" data-rgen-sm="small">Book your FREE consultation</h3>
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 rd-0" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 rd-0" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 rd-0" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bdr-2 rd-0 datetime-pick" required data-label="Date and Time" data-msg="Please select your date and time" type="text" name="date-time" placeholder="Select your date and time">
								</div>
							</div>
							<button type="submit" class="btn solid btn-white block rd-0"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->

				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->


		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.8)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-04.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->