<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-large bg-dark2" data-rgen-sm="pd-tb-small align-c" data-rgen-md="pd-b-0" id="home">
		<div class="container">
			
			<div class="max-px-w500" data-animate-in="fadeInLeft">
				<div class="content typo-light">
					<h1 class="title large lh-2 txt-upper bold-5" data-rgen-sm="medium">Quick & easy way to create landing page</h1>
					<hr class="light">
					<h3 class="title small italic" data-rgen-sm="small">Our Popular Programs</h3>
				</div><!-- // END : Content //  -->

				<div class="carousel-widget ctrl-1">
					<div class="owl-carousel"
						data-items="1"
						data-itemrange="false"
						data-hauto="true" 
						data-autoplay="true" 
						data-loop="true"
						data-dots="false"
						data-nav="false">
						
						<div class="item">
							<div class="info-obj img-l g20 small pd-20 bg-secondary">
								<div class="img"><img src="images/gym-program_small3.jpg" alt="image"></div>
								<div class="info">
									<h3 class="title mini mr-b-4">Aerobics</h3>
									<p class="mr-0 txt-dark">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
								</div>
							</div><!-- info box -->
						</div><!-- /.item -->

						<div class="item">
							<div class="info-obj img-l g20 small pd-20 bg-secondary">
								<div class="img"><img src="images/gym-program_small2.jpg" alt="image"></div>
								<div class="info">
									<h3 class="title mini mr-b-4">Cardio Training</h3>
									<p class="mr-0 txt-dark">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
								</div>
							</div><!-- info box -->
						</div><!-- /.item -->

						<div class="item">
							<div class="info-obj img-l g20 small pd-20 bg-secondary">
								<div class="img"><img src="images/gym-program_small1.jpg" alt="image"></div>
								<div class="info">
									<h3 class="title mini mr-b-4">Power Training</h3>
									<p class="mr-0 txt-dark">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore</p>
								</div>
							</div><!-- info box -->
						</div><!-- /.item -->

					</div><!-- /.owl-carousel -->
				</div><!-- /.carousel-widget -->

				<a href="#popup-content" class="btn btn-white bdr-2 set-popup">Reserve a Free Trial</a>
			</div>
		</div><!-- // END : container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31,34,41, 0.1)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/gym_intro.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->