<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-0" data-rgen-sm="pd-tb-small pd-b-0 align-c" data-rgen-md="pd-b-0" id="home" data-bgcolor="#F7F6F3">
		<div class="container vh100 flex-cl typo-light" data-rgen-sm="h-reset">
			<div class="w50 mr-b-100" data-animate-in="fadeInLeft">
				<h1 class="title small italic" data-rgen-sm="small">R.Gen Landing Pages</h1>
				<h2 class="title large txt-upper bold-5" data-rgen-sm="medium">Explore A New Way Of Presenting Your Business</h2>
				<hr class="light">
				<p class="mr-b-mini">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua</p>
				<a href="#contact" class="btn btn-white txt-upper solid">Start your new project</a>
			</div>
		</div><!-- // END : container //  -->
		
		<div class="pos-abs b0 w100" data-rgen-sm="pos-rel">
			<div class="container typo-light">
				<div class="row bg-default" data-animate-in="fadeInUp">
					<div class="col-md-4" data-bgcolor="rgba(0,0,0,0.4)">
						<div class="info-obj img-t g30 mini align-c pd-mini mr-0">
							<div class="img txt-white"><span class="iconwrp"><i class="icon-desktop"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10">Responsive Design</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-4" data-bgcolor="rgba(0,0,0,0.2)">
						<div class="info-obj img-t g30 mini align-c pd-mini mr-0">
							<div class="img txt-white"><span class="iconwrp"><i class="icon-edit"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10">Clean & Powerful Code</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-4">
						<div class="info-obj img-t g30 mini align-c pd-mini mr-0">
							<div class="img txt-white"><span class="iconwrp"><i class="icon-lifesaver"></i></span></div>
							<div class="info">
								<h3 class="title mini mr-b-10">Dedicated Support</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->		
			</div>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.2)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/business_intro1.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->