<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-medium bg-dark" data-rgen-sm="pd-tb-medium align-c"> 
		<div class="container small">
			<div class="row gt20 mb20 middle-md">
				<div class="col-md-5 last-md offset-md-1" data-animate-in="fadeInRight">
					<img src="images/book-img-02.jpg" class="shadow-large" data-rgen-sm="max-px-w300 mr-auto mr-b-30">
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 typo-light" data-animate-in="fadeInLeft">
					<img src="images/logo-light.png" class="max-px-w150 mr-b-mini" alt="R.Genesis.Art" data-rgen-sm="mr-auto">

					<h2 class="title f-2 large lh-1" data-rgen-sm="medium">Complete guide to manage your digital marketing</h2>
					
					<p class="mr-b-mini">By R.Genesis.Art</p>

					<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					
					<a href="#" class="btn btn-white solid bdr-2 mr-r-tiny" data-rgen-sm="block mr-auto mr-b-20">$10 - Buy Now</a>
					<a href="#" class="link-white">Read reviews <i class="fas fa-long-arrow-alt-right mr-l-10"></i></a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(96, 71, 191, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg-img-01.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->