<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-medium pd-b-0 bg-dark" data-rgen-sm="pd-tb-small pd-b-0" id="home">
		<div class="container"> 
			<div class="w75 mr-auto typo-light align-c mr-b-40" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="medium">QUICK & EASY TO MANAGE PROJECTS</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat</p>

				<a href="#" class="btn btn-white mr-6 bdr-2 solid round">Try for FREE</a>
				<a href="#" class="btn btn-white mr-6 bdr-2 round">Learn more..</a>
			</div>
			<img src="images/screen-img1.png" alt="App image" data-animate-in="fadeInUp|0.1">
		</div><!-- // END : container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(0, 109, 239, 0.8)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg7.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->