<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-0" data-rgen-sm="pd-tb-small pd-b-0" id="home">
		<div class="container-fluid pos-rel z2">
			
			<div class="row pos-rel z3 min-vh-h100">
				<div class="col-md-6 flex-cc typo-light" data-animate-in="fadeInLeft">
					<div class="w75 mr-auto align-c">
						<p><a href="#" class="inline-block max-px-w200 mr-b-40"><img src="images/logo1.png" alt="logo"></a></p>
						
						<ul class="inline-list gt-tiny mr-tb-20 align-m">
							<li class="min-px-w100"><hr class="bdr-b-4 bdr-op-light-4"></li>
							<li><p class="txt-white f-3 fs30 mr-0">Welcome to</p></li>
							<li class="min-px-w100"><hr class="bdr-b-4 bdr-op-light-4"></li>
						</ul>

						<h2 class="title large txt-upper mr-b-4" data-rgen-sm="medium">R.Gen Restaurant</h2>
						<p class="title-sub mr-0" data-rgen-sm="small">THE DELICIOUS PREMIUM FOOD HOME</p>
						
						<ul class="inline-list gt-tiny mr-tb-20 align-m">
							<li class="min-px-w100"><hr class="bdr-b-4 bdr-op-light-4"></li>
							<li><p class="txt-white fs18 mr-0">SINCE 1990</p></li>
							<li class="min-px-w100"><hr class="bdr-b-4 bdr-op-light-4"></li>
						</ul>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 pos-rel flex-cc" data-animate-in="fadeInRight">
					<!-- form-block -->
					<div class="form-block pos-rel z1 min-px-w400 typo-light align-c" data-rgen-sm="pd-30 w-reset w100">
						<span class="sq100 fs80 mr-b-20 iconbox txt-white"><i class="pe-7s-wine"></i></span>
						<h2 class="title small mr-b-30">BOOK YOUR TABLE</h2>

						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp mr-b-30">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="form-group">
									<input class="form-control form-control-light bg-glass-dark-02 bdr-glass" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bg-glass-dark-02 bdr-glass" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bg-glass-dark-02 bdr-glass" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light bg-glass-dark-02 bdr-glass datetime-pick" required data-label="Date" data-msg="Please select date" type="text" name="date" placeholder="Enter your date">
								</div>
								<div class="form-group">
									<select class="form-control form-control-light bg-glass-dark-02 bdr-glass" data-label="People" required data-msg="How many people?" name="people">
										<option>How many people?</option>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
									</select>
								</div>
							</div>
							<button type="submit" class="btn btn-white small"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->

					<b class="full-wh bg-default op-08"></b>		
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.6)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh" data-bgslider="images/food_01.jpg|images/food_02.jpg|images/food_03.jpg|images/food_04.jpg"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->