<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-small bg-dark" data-rgen-sm="pd-tb-small align-c" id="home"> 

		<div class="container small pd-t-small" data-rgen-sm="pd-0">
			<div class="row gt20 mb20">
				<div class="col-md-6"></div><!-- // END : column //  -->
				<div class="col-md-6 align-c" data-animate-in="fadeInRight">
					<!-- form-block -->
					<div class="form-block mr-auto" data-rgen-sm="pd-20">
						<div class="bg-dark pd-mini rd-6 mr-b-micro" data-rgen-sm="pd-30">
							<h3 class="title txt-white f-1" data-rgen-sm="small">Complete Medical Solution</h3>
							<p class="txt-white op-08" data-rgen-sm="small mr-0">Get powerful experience to create unique landing pages in just few minutes with R.Gen landing page toolkit</p>
						</div>
						<div class="pos-rel -mr-t-40 mr-b-micro"><span class="sq60 iconbox rd txt-white fs20 bg-default bdr-5 shadow-mini bdr-white"><i class="fa fa-arrow-down"></i></span></div>
						<div class="pd-mini bg-white shadow-medium rd-6 bdr-3 bdr-default" data-rgen-sm="pd-30">
							<h3 class="title small">Book an Appointment</h3>
							<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
								<div class="field-wrp">
									<div class="form-group">
										<input class="form-control" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
									</div>
									<div class="form-group">
										<input class="form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
									</div>
									<div class="form-group">
										<input class="form-control" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
									</div>

									<div class="form-group">
										<select class="form-control" data-label="Department" required name="department" data-msg="Select department">
											<option value="">Select department</option>
											<option value="Acupuncture">Acupuncture</option>
											<option value="Laboratory">Laboratory</option>
											<option value="Nutrition">Nutrition</option>
											<option value="Prescription">Prescription</option>
											<option value="Travel Medicine">Travel Medicine</option>
											<option value="Other">Other</option>
										</select>
									</div>

									<div class="form-group">
										<input class="form-control date-pick" required data-label="Date" data-msg="Please select date" type="text" name="date" placeholder="Enter your date">
									</div>
									
								</div>
								<button type="submit" data-loading-text="Pleae wait.." class="btn btn-dark hov-btn-default solid">Make an Appointment</button>
							</form><!-- / form -->
						</div>
					</div><!-- / form block -->
				</div><!-- // END : column //  -->

				
			</div><!-- // END : row //  -->
		
		</div><!-- // END : container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.0)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/medical-bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->