<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-medium" data-rgen-sm="pd-tb-medium align-c"> 
		<div class="container small">

			<div class="row gt20 mb20 middle-md">
				<div class="col-md-6 typo-light" data-animate-in="fadeInLeft">
					<img src="images/logo-light.png" class="max-px-w150 mr-b-tiny" alt="R.Genesis.Art" data-rgen-sm="mr-auto">
					<h2 class="title f-2 bold-3 fs60 lh-1 mr-b-mini" data-rgen-sm="large mr-b-30">Build your dream home with trusted service</h2>
					<p class="title-sub mini mr-0" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
				</div><!-- // END : column //  -->

				<div class="col-md-5 offset-md-1" data-animate-in="fadeInRight">
					<!-- form-block -->
					<div class="form-block bg-default pd-mini" data-rgen-sm="pd-30">
						<h3 class="title small align-c mr-b-tiny bold-5">Get A FREE Quote!</h3>
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="form-group">
									<input class="form-control bg-white bdr-n" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control bg-white bdr-n" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<input class="form-control bg-white bdr-n" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<input class="form-control bg-white bdr-n datetime-pick" required data-label="Date and Time" data-msg="Please select your date and time" type="text" name="date-time" placeholder="Select your date and time">
								</div>
							</div>
							<button type="submit" class="btn solid btn-dark bdr-2 block"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->
				</div>
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.8)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-03.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->