<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-tb-large parallax" id="home" data-rgen-sm="pd-tb-small align-c">
		<div class="container pd-tb-small" data-rgen-sm="pd-tb-small">
			<div class="w60 typo-light">
				<h2 class="title large lh-3" data-rgen-sm="large">One stop solution to design beautiful landing pages</h2>
				<p class="title-sub small" data-rgen-sm="small">Easy and flexible way to create powerful landing pages with lots of design and customization options</p>
				
				<a href="https://goo.gl/ZMxnYs" data-rgen-sm="small" target="_blank" class="btn btn-default hov-btn-white solid bdr-2 rd-6">BUY NOW FOR - $18</a>
				<a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="btn txt-white large video-popup mr-lr-20">
					<i class="pe-7s-video fs40 btn-icon" data-rgen-sm="fs20"></i> <span class="btn-txt fs20" data-rgen-sm="fs16">Take quick tour</span>
				</a>
			</div>
		</div><!-- // END : Container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z3" data-bgcolor="rgba(0, 0, 0, 0.3)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg23.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1" data-bg="images/bg23.jpg"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->