<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-0 bg-default" data-rgen-sm="align-c" id="home">
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder z0 min-px-h500" data-rgen-sm="min-px-h300">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.0)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/medical-bg-img-02.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>

		<div class="pos-rel z2 bg-default">
			<div class="container small pd-tb-mini" data-rgen-sm="pd-tb-small">
				<div class="row gt20 middle-md">
					<div class="col-md-7 typo-light" data-animate-in="fadeInLeft">
						<h3 class="title f-1" data-rgen-sm="small">Your Medical Solution</h3>
						<p class="title-sub small mr-0" data-rgen-sm="small mr-b-20">Get powerful experience to create unique landing pages in just few minutes with R.Gen landing page toolkit</p>
					</div><!-- // END : column //  -->
					
					<div class="col-md-4 offset-md-1" data-animate-in="fadeInRight">
						<a href="https://goo.gl/ZMxnYs" target="_blank" data-rgen-sm="medium" class="btn large btn-white solid align-c bdr-2">Book an Appointment</a>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div><!-- // END : container //  -->
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->