<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" id="home" data-rgen-sm="pd-tb-small" data-rgen-md="pd-lr-30 pd-b-30">
		<div class="container small align-c typo-light">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h1 class="title-sub italic mr-b-10">Online Marketing</h1>
				<h2 class="title mr-b-mini" data-rgen-sm="medium">Digital Marketing Conference Event</h2>
				<p class="title-sub mini mr-b-mini">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>

				<div class="bdr-1 bg-glass-dark-04 bdr-op-light-2 pd-mini rd-6" data-rgen-sm="pd-30">
					<div class="row gt20 middle-md">
						<div class="col-md-8 align-l" data-rgen-sm="mr-b-20 align-c">
							<p class="mr-0"><span class="iconbox fs40 mr-r-20" data-rgen-sm="fs20"><i class="fa fa-calendar"></i></span> <span class="fs30 bold-1" data-rgen-sm="fs20">April 10th, 2018</span></p>
						</div><!-- // END : column //  -->
						<div class="col-md-4">
							<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn btn-default solid block">Register Today</a>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->
					<hr class="light">
					<p class="mr-0"><strong>Location:</strong> PO Box 16122, Collins Street West, Victoria 8007, Australia</p>
				</div>
			</div>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.8)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/conference-bg-01.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->