<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-large" data-rgen-sm="pd-tb-small align-c" data-rgen-md="pd-b-0" id="home" data-bgcolor="#F7F6F3">
		<div class="container">
			<div class="w50" data-animate-in="fadeInLeft">
				<h1 class="title small italic">R.Gen Landing Pages</h1>
				<h2 class="title large txt-upper bold-5" data-rgen-sm="medium">Explore A New Way Of Presenting Your Business</h2>
				<hr>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolorsit ametcon setetur sadip scing elitr</p>
				<a href="#contact" class="btn btn-dark solid large" data-rgen-sm="medium">Contact us</a>
			</div>
		</div><!-- // END : container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(255, 255, 255, 0.2)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/business_intro.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->