<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-small bg-dark parallax" data-rgen-sm="pd-tb-medium"> 

		<div class="container small align-c">
			<h1 class="mr-0"><a href="#"><img src="images/logo-light.png" class="mr-auto"></a></h1>
			<div class="mr-tb-small">
				<h2 class="title txt-white f-2 txt-upper" data-rgen-sm="medium">Our awesome recent projects</h2>
				<p class="title-sub small txt-white op-07" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing eli</p>
			</div>
		</div>
		
		<div class="container">
			<div class="masonry-wrp" data-masonry-grid="y">
				<div class="masonry-grid row gt0 mb0 popgallery-widget">
					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/mockup-01.jpg" class="pop-img"><img src="images/mockup-01.jpg"></a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/mockup-02.jpg" class="pop-img"><img src="images/mockup-02.jpg"></a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/mockup-03.jpg" class="pop-img"><img src="images/mockup-03.jpg"></a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/mockup-horizontal-01.jpg" class="pop-img"><img src="images/mockup-horizontal-01.jpg"></a>
							</div>
						</figure>
					</div>
				</div>
			</div>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->