<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel vh100 flex-cc pd-0" id="home" data-rgen-sm="pd-30 h-reset">
		<div class="content w100 pos-rel z2 align-c">
			<div class="container">
				<div class="content align-c w75 mr-auto" data-animate-in="fadeIn">
					<!--=================================
					= Text content
					==================================-->
					<strong class="tag-text italic bg-dark1 fs22 lh-1 pd-tb-10 pd-lr-30 rd-4" data-rgen-sm="fs14">Thursday, Dec 31st at RGen Club</strong>
					<h2 class="title bold-5 lh-1 txt-white mr-b-30">
						<span class="fs170" data-rgen-sm="fs30">2017</span><br>
						<span class="fs80" data-rgen-sm="fs20">GREAT PARTY EVENT</span>
					</h2>
				</div><!-- // END : Content //  -->
			</div><!-- // END : Container //  -->

			<!--=================================
			= Counter block
			==================================-->
			<div class="countdown-widget pd-20 mr-b-50 z1 pos-rel bg-glass-dark-06 txt-white shadow-large fs20" data-animate-in="fadeIn|0.1">
				<div class="op-08" data-day="25" data-month="12" data-year="2019" data-hr="0" data-min="0" data-sec="0"></div>	
			</div>
			<a href="#popup-content" class="btn large bdr-2 btn-white set-popup round mr-b-20" data-rgen-sm="medium" data-animate-in="fadeInUp|0.2">RESERVE YOUR ENTRY</a>
			<p class="fs14 txt-white op-05" data-animate-in="fadeIn|0.3">* Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(255, 0, 71, 0.3)|rgb(0, 26, 99)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/party_intro.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->