<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-0 pos-rel">
		
		<!--=================================
		= App screen shots 
		==================================-->
		<div class="container pos-rel z3 pd-t-medium align-c typo-light" data-rgen-sm="pd-t-30">
			<div class="w75 mr-auto">
				<h1 class="title large" data-rgen-sm="fs30">Introducing R.Gen APP</h1>
				<p class="title-sub mr-b-40" data-rgen-sm="fs18">It’s time to say goodbye to all complex process</p>
				<a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="btn btn-white bdr-2 video-popup round" data-rgen-sm="medium">
					<i class="fa fa-play btn-icon"></i> <span class="btn-txt">Watch Video</span>
				</a>
			</div>

			<img src="images/intro-app-img-01.png" class="mr-auto" alt="app-image">
		</div>
		
		<!--=================================
		= Features content
		==================================-->
		<div class="pd-tb-mini pos-rel z3 typo-light align-c" data-rgen-sm="pd-tb-small" data-bgcolor="rgb(0, 51, 154)">
			<div class="container">
				<div class="row gt40 mb20">
					<div class="col-md-4">
						<div class="info-obj img-t g20 mini align-c pos-rel mr-0">
							<div class="img txt-white"><span class="iconwrp"><i class="icon-mobile"></i></span></div>
							<div class="info">
								<h3 class="title mini bold-2">Fully responsive</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
							</div>
						</div>
					</div><!-- column -->

					<div class="col-md-4">
						<div class="info-obj img-t g20 mini align-c pos-rel mr-0">
							<div class="img txt-white"><span class="iconwrp"><i class="icon-puzzle"></i></span></div>
							<div class="info">
								<h3 class="title mini bold-2">Flexible design blocks</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
							</div>
						</div>
					</div><!-- column -->

					<div class="col-md-4">
						<div class="info-obj img-t g20 mini align-c pos-rel mr-0">
							<div class="img txt-white"><span class="iconwrp"><i class="icon-paintbrush"></i></span></div>
							<div class="info">
								<h3 class="title mini bold-2">Easy to customize</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
							</div>
						</div>
					</div><!-- column -->
				</div><!-- row -->
				
				<hr class="light">

				<ul class="inline-list gt-small size-small reset op-05">
					<li><img src="images/award-logo-light-01.png" alt="award"></li>
					<li><img src="images/award-logo-light-02.png" alt="award"></li>
					<li><img src="images/award-logo-light-03.png" alt="award"></li>
					<li><img src="images/award-logo-light-04.png" alt="award"></li>
					<li><img src="images/award-logo-light-05.png" alt="award"></li>
				</ul>

			</div><!-- / container -->
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(19, 64, 154, 0.8)|rgba(93, 158, 255, 0.8)"></b>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg11.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg11.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->