<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pd-0">
		<!--=================================
		= carousel-widget
		==================================-->
		<div class="carousel-widget pager-in ctrl-light ctrl-1 align-c">
			<div class="owl-carousel"
				data-margin="40" 
				data-loop="true"
				data-dots="true" 
				data-autoplay="false" 
				data-center="false"
				data-nav="true">
				
				<div class="item pd-tb-large pos-rel caption-left" data-rgen-sm="pd-tb-small">
					<div class="container caption z2 typo-light">
						<div class="w75 mr-auto">
							<p class="title mini mr-b-10">All in one</p>
							<h2 class="title" data-rgen-sm="medium">HEALTH CARE SOLUTION</h2>
							<hr class="light">
							<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitrsed diam nonumy eirmod tempor invidunt utlabore</p>
							<a href="#popup-content" class="btn btn-white set-popup solid">Make an appointment</a>
						</div>
					</div>
					<b class="full-wh bg-dark op-05 z1"></b>
					<div class="full-wh bg-cc bg-cover" data-bg="images/medical_01.jpg"></div>
				</div><!-- /.item -->

				<div class="item pd-tb-large pos-rel caption-left"  data-rgen-sm="pd-tb-small">
					<div class="container caption z2 typo-light">
						<div class="w75 mr-auto">
							<p class="title mini mr-b-10">Reliable & Trusted</p>
							<h2 class="title" data-rgen-sm="medium">HIGHLY QUALIFIED DOCTORS</h2>
							<hr class="light">
							<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitrsed diam nonumy eirmod tempor invidunt utlabore</p>
							<a href="#popup-content" class="btn btn-white set-popup solid">Make an appointment</a>
						</div>
					</div>
					<b class="full-wh bg-dark op-05 z1"></b>
					<div class="full-wh bg-cc bg-cover" data-bg="images/medical_02.jpg"></div>
				</div><!-- /.item -->

			</div><!-- /.owl-carousel -->
		</div><!-- /.carousel-widget -->
	</section>
	<!-- ************** END : Intro section **************  -->