<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-0 bg-dark">
	
		<!--=================================
		= Image section
		==================================-->
		<div class="pos-rel z1 pd-t-1">
			<div class="container small align-c">
				<h1 class="mr-tb-mini" data-rgen-sm="mr-tb-mini"><a href="#"><img src="images/logo-light.png" class="mr-auto max-px-w150"></a></h1>
				<img src="images/intro-app-img-01.png" class="mr-auto" alt="App Image">
			</div>
			
			<!--
			=================================
			= Background holder
			=================================
			-->
			<div class="bg-holder full-wh z0">
				<!-- Overlay -->
				<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.8)"></b>
				<!-- Background video -->
				<div data-bgholder="video" class="videobg z4 full-wh"></div>
				<!-- bg slider -->
				<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
					<div class="bgslider full-wh"></div>
				</div>
				<!-- Parallax image -->
				<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-01.jpg"></div>
				<!-- Background image -->
				<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
			</div>

		</div>
		
		<!--=================================
		= Text section
		==================================-->
		<div class="pd-tb-small bg-default pos-rel z2" data-rgen-sm="pd-tb-small">
			<div class="container small align-c">
				<h2 class="title large txt-white f-2 bold-1" data-rgen-sm="medium">R.Gen Pack</h2>
				<p class="title-sub txt-white large" data-rgen-sm="small">Power, Easy and Beautiful way to showcase APP</p>

				<p class="txt-white mr-b-micro" data-rgen-sm="small">Available on App Store and Play store</p>
				<p>
					<a href="#" class="inline-block mr-10"><img src="images/btn-app-store.svg"></a>
					<a href="#" class="inline-block mr-10"><img src="images/btn-play-store.svg"></a>
				</p>
				
				<!--=================================
				= Newsletter section
				==================================-->
				<div class="subscribe-block _2 large w75 mr-auto">
					<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
						<div class="form-group">
							<button type="submit" data-loading-text="Pleae wait.." class="btn btn-dark solid fs26"><i class="far fa-envelope"></i></button>
							<input class="form-control bdr-glass w100 bg-white" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
						</div>
					</form>
				</div><!-- ======= END : Newsletter section =======  -->
			</div><!-- // END : Container //  -->
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->