<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-large pd-b-0 bg-dark parallax" data-rgen-sm="pd-tb-small align-c"> 

		<div class="container small align-c">
			<div class="w75 mr-auto typo-light" data-animate-in="fadeIn">
				<h3 class="f-2 bold-n mr-0" data-rgen-sm="fs20">Welcome</h3>
				<h1 class="title xlarge f-1 txt-upper mr-0" data-rgen-sm="large">The R.Gen Pack</h1>
				<img src="images/sep-01-light.png" class="mr-auto mr-tb-tiny" alt="seperator">
				<p class="title-sub mini w80 mr-b-medium mr-auto" data-rgen-sm="small mr-b-30">Expend your business with a powerful and easy to setup R.Gen multi-purpose landing pages</p>

				<span class="iconbox sq80 rd fs22 bg-white txt-dark mr-b-mini" data-rgen-sm="mr-0"><i class="fa fa-chevron-down"></i></span>
			</div>
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.3)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-09.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->