<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-large z1" data-rgen-sm="pd-tb-small align-c" data-rgen-md="pd-b-0">
		<div class="container">
			<div class="row gt20 mb20">
				<div class="col-md-6 typo-light" data-animate-in="fadeInLeft">
					<a href="#" class="inline-block max-px-w200 mr-b-60"><img src="images/logo1.png" alt="logo"></a>
					<h2 class="title large mr-b-40" data-rgen-sm="medium">Quick solution to design beautiful landing pages</h2>
					<p class="title-sub" data-rgen-sm="small">Easy and flexible way to create powerful landing pages with lots of design and customization options</p>
					<hr class="mr-tb-mini light" data-rgen-sm="mr-tb-20">
					<a href="#" class="btn btn-white solid" data-rgen-sm="block">Get started now</a>
					<a href="https://www.youtube.com/watch?v=dorZ3vag5PI" class="btn video-popup txt-white" data-rgen-sm="medium bold-n">
						<i class="fa fa-play-circle btn-icon fs30"></i> <span class="btn-txt">Watch Video</span>
					</a>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6"></div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
		

		<div class="img-half r pd-tb-small z2" data-stellar="y" data-stellar-ratio="0.8" data-rgen-sm="pos-rel pd-20" data-animate-in="fadeInRight">
			<img src="images/macbook-pro2.png" alt="macbook">
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/finance-bg1.png" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->