<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pd-tb-medium pos-rel min-vh-h100 flex-cc" data-rgen-sm="pd-tb-small align-c" data-rgen-md="pd-b-0">
		
		<!--=================================
		= Upper part content
		==================================-->
		<div class="container pos-rel z2">
			<div class="row gt20 middle-md">
				<div class="col-md-4">
					<img src="images/iphone-img-11.png" class="mr-auto" data-rgen-sm="max-px-w200 mr-b-20" alt="image">
				</div><!-- // END : column //  -->

				<div class="col-md-7 offset-md-1 typo-light">
					<h2 class="title fs40 mr-b-mini" data-rgen-sm="medium">Quick solution to design beautiful landing pages</h2>
					
					<div class="row gt20 mb20">
						<div class="col-md-4">
							<div class="info-obj img-t g20 mini align-c pd-tiny bg-glass-dark-02 rd-6" data-rgen-sm="mr-0">
								<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-download"></i></span></div>
								<div class="info">
									<h3 class="title tiny bold-n mr-0">IMPORT</h3>
								</div>
							</div>
						</div><!-- // END : column //  -->
						
						<div class="col-md-4">
							<div class="info-obj img-t g20 mini align-c pd-tiny bg-glass-dark-02 rd-6" data-rgen-sm="mr-0">
								<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-paint"></i></span></div>
								<div class="info">
									<h3 class="title tiny bold-n mr-0">CUSTOMIZE</h3>
								</div>
							</div>
						</div><!-- // END : column //  -->

						<div class="col-md-4">
							<div class="info-obj img-t g20 mini align-c pd-tiny bg-glass-dark-02 rd-6" data-rgen-sm="mr-0">
								<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-like2"></i></span></div>
								<div class="info">
									<h3 class="title tiny bold-n mr-0">EXPORT</h3>
								</div>
							</div>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->

					<p class="title-sub small">Easy and flexible way to create powerful landing pages with lots of design and customization options</p>
					<a href="#" class="inline-block mr-r-10"><img src="images/btn-app-store.svg" class="min-px-w180" alt="app store"></a>
					<a href="#" class="inline-block"><img src="images/btn-play-store.svg" class="min-px-w180" alt="play store"></a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(0, 74, 195, 0.8)|rgba(0, 153, 229, 0.8)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg26.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->