<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-0" id="home">
		<div class="swiper-gallery">

			<!-- Large images -->
			<div class="swiper-container gallery-top vh100">
				<div class="swiper-wrapper">
				
					<!-- Slide -->
					<div class="swiper-slide flex-cl" data-slide-bg="images/realestate_slide01.jpg">
						<div class="container caption-left align-l">
							<div class="caption delay-0-3s typo-light pos-rel z1 pd-tiny bg-dark max-px-w400 shadow-large">
								<strong class="pos-abs t0 r0 tag-text bg-secondary">BUY</strong>
								<h2 class="title small"><a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS">3884 Sunset Drive Stockbridge, GA 30281</a></h2>
								<hr class="light mr-tb-10">
								<p class="mr-0">3 Bed, 2 Bath, 2391 Sq Ft</p>
								<hr class="light mr-tb-10">
								<p class="fs36 txt-secondary">$330000</p>
								<a href="#popup-contact-form" class="btn btn-secondary small popup-contact">Contact Us</a>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cl" data-slide-bg="images/realestate_slide02.jpg">
						<div class="container caption-left align-l">
							<div class="caption delay-0-3s typo-light pos-rel z1 pd-tiny bg-dark max-px-w400 shadow-large">
								<strong class="pos-abs t0 r0 tag-text bg-secondary">BUY</strong>
								<h2 class="title small"><a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS">3884 Sunset Drive Stockbridge, GA 30281</a></h2>
								<hr class="light mr-tb-10">
								<p class="mr-0">3 Bed, 2 Bath, 2391 Sq Ft</p>
								<hr class="light mr-tb-10">
								<p class="fs36 txt-secondary">$1200/month</p>
								<a href="#popup-contact-form" class="btn btn-secondary small popup-contact">Contact Us</a>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cl" data-slide-bg="images/realestate_slide03.jpg">
						<div class="container caption-left align-l">
							<div class="caption delay-0-3s typo-light pos-rel z1 pd-tiny bg-dark max-px-w400 shadow-large">
								<strong class="pos-abs t0 r0 tag-text bg-secondary">BUY</strong>
								<h2 class="title small"><a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS">3884 Sunset Drive Stockbridge, GA 30281</a></h2>
								<hr class="light mr-tb-10">
								<p class="mr-0">4 Bed, 4 Bath, 3590 Sq Ft</p>
								<hr class="light mr-tb-10">
								<p class="fs36 txt-secondary">$530000</p>
								<a href="#popup-contact-form" class="btn btn-secondary small popup-contact">Contact Us</a>
							</div>
						</div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cl" data-slide-bg="images/realestate_slide04.jpg">
						<div class="container caption-left align-l">
							<div class="caption delay-0-3s typo-light pos-rel z1 pd-tiny bg-dark max-px-w400 shadow-large">
								<strong class="pos-abs t0 r0 tag-text bg-secondary">BUY</strong>
								<h2 class="title small"><a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS">3884 Sunset Drive Stockbridge, GA 30281</a></h2>
								<hr class="light mr-tb-10">
								<p class="mr-0">3 Bed, 2 Bath, 2391 Sq Ft</p>
								<hr class="light mr-tb-10">
								<p class="fs36 txt-secondary">$330000</p>
								<a href="#popup-contact-form" class="btn btn-secondary small popup-contact">Contact Us</a>
							</div>
						</div>
					</div>

				</div><!-- /.swiper-wrapper -->
				<!-- Navigation buttons -->
				<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
				<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
			</div><!-- /Large images -->

			<!-- Thumb images -->
			<div class="swiper-container gallery-thumbs sm-hide bg-glass-dark-07">
				<div class="swiper-wrapper">
				</div><!-- /.swiper-wrapper -->
				<b class="full-wh bg-glass-dark-03"></b>
			</div><!-- /.Thumb images -->
		</div><!-- /.swiper-gallery -->
	</section>
	<!-- ************** END : Intro section **************  -->