<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-0" id="home">
		<div class="container vh100 flex-cc">
			<div class="content align-c w75">

				<!--=================================
				= Text content
				==================================-->
				<a href="#" class="inline-block mr-b-mini" data-animate-in="fadeIn"><img src="images/logo-light.png" alt="logo"></a>
				<div class="pos-rel pd-small typo-light shadow-large bg-secondary rd-10" data-animate-in="fadeIn|0.1" data-rgen-sm="pd-20 mr-b-10">
					<h2 class="title large" data-rgen-sm="medium">PREMIUM COMING SOON DESIGN TEMPLATE</h2>
					<hr class="light">
					<p class="title-sub mini" data-rgen-sm="mini">Lorem ipsum dolorsit ametcon setetur sadip scing elitr</p>
				</div>

				<!--=================================
				= Counter block
				==================================-->
				<div class="countdown-widget pd-20 mr-b-50 -mr-t-50 z1 pos-rel bg-white inline-block shadow-large fs20 small rd-10" data-rgen-sm="mr-0 pd-10 mr-b-20" data-animate-in="fadeInUp|0.2">
					<div data-day="25" data-month="12" data-year="2019" data-hr="0" data-min="0" data-sec="0"></div>	
				</div><br>
				
				<!--=================================
				= Subscribe button
				==================================-->
				<a href="#popup-content" class="btn btn-white round solid hov-btn-dark set-popup" data-animate-in="fadeInUp|0.3">Subscribe Now</a>
			</div>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.4)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh" data-bgslider="images/comingsoon_slide02.jpg|images/comingsoon_slide03.jpg|images/comingsoon_slide01.jpg"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->