<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-large bg-dark parallax" data-rgen-sm="pd-tb-small align-c"> 

		<div class="container small">
			<div class="row gt20 middle-md">
				<div class="col-md-6">
					<h1 class="title xlarge bold-1 txt-white" data-rgen-sm="large" data-animate-in="fadeInUp">R.Gen Pack</h1>
					<h2 class="title-sub txt-white mini f-2" data-rgen-sm="small" data-animate-in="fadeInUp|0.1">Explore a new way of showcase your business with powerful and easy to setup R.Gen multi-purpose landing pages</h2>
					
					<!--=================================
					= Newsletter section
					==================================-->
					<div class="subscribe-block _2 mr-b-20 large" data-animate-in="fadeInUp|0.2">
						<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
							<div class="form-group">
								<button type="submit" data-loading-text="Pleae wait.." class="btn btn-white solid fs26"><i class="far fa-envelope"></i></button>
								<input class="form-control form-control-light bdr-2 bdr-white w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
							</div>
						</form>
					</div><!-- ======= END : Newsletter section =======  -->

				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1"></div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.3)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-06.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->