<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pd-tb-medium bg-dark" data-rgen-sm="pd-tb-small"> 
		<div class="container small typo-light align-c" data-animate-in="fadeIn">
			<img src="images/logo-light.png" alt="R.Genesis.Art" class="max-px-w150 mr-auto mr-b-small">

			<h5 class="title small bold-n txt-upper" data-rgen-sm="small">Free webinar</h5>
			<h2 class="title f-2 large lh-1 mr-b-small" data-rgen-sm="medium mr-b-30">Learn professional tricks to create powerful landing pages</h2>
			<p class="title-sub small w75 mr-auto" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>

			<!--=================================
			= Counter block
			==================================-->
			<div class="countdown-widget inline-block pd-micro bg-default txt-white bold-4 z1 pos-rel shadow-large mini fs20">
				<div data-day="25" data-month="12" data-year="2019" data-hr="0" data-min="0" data-sec="0"></div>	
			</div>
			
		</div><!-- // END : Container //  -->


		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.8)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1" data-bg="images/bg-img-05.jpg"></b>
		</div>

	</section>
	<!-- ************** END : Intro section **************  -->