<!--
	************************************************************
	* Intro section 
	************************************************************ -->
	<section class="pos-rel pd-tb-large z1" data-rgen-sm="pd-0">
		<div class="container small align-c pd-tb-small" data-rgen-sm="pd-tb-small">
			<div class="w75 mr-auto typo-light" data-animate-in="fadeIn">
				<h2 class="title large mr-b-mini" data-rgen-sm="medium">Complete Medical Solution At One Place</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolorsitamet consetetur sadipscing elitrsed diamn onumy eirmod etdolore magna aliquyamerat</p>
				
				<hr class="bdr-1 bdr-op-light-4 inline-block align-m px-w100">
				<a href="#popup-content" class="set-popup btn btn-white solid align-m mr-10 round">Make an appointment</a>
				<hr class="bdr-1 bdr-op-light-4 inline-block align-m px-w100">
			</div>
		</div>
	
		
		<div class="pos-abs bottom w100 mr-b-80 z2 align-c" data-rgen-sm="hide">
			<span class="iconbox sq80 fs60 bdr-3 bdr-op-light-5 rd txt-white animated infinite fadeInDown"><i class="fa fa-angle-down"></i></span>
		</div>
		
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5 op-08" data-gradient="y" data-g-colors="rgba(212, 76, 61, 0.8)|rgba(148, 42, 31, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-bgslider="images/medical_01.jpg|images/medical_02.jpg|images/medical_03.jpg|images/medical_04.jpg" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->