<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel vh70" data-rgen-sm="h-reset pd-tb-small" id="home">
		<div class="container pos-rel z2 h100 flex-cc">
			<div class="content w75 align-c typo-light">
				<div class="carousel-widget ctrl-1">
					<div class="owl-carousel"
						data-animation-in="flipInX"
						data-animation-out="fadeOut"
						data-nav="false">
						
						<div class="item">
							<h2 class="title large" data-rgen-sm="medium">INTRODUCING R.GEN LANDING PAGES</h2>
							<p class="title-sub italic" data-rgen-sm="small">Unique multipurpose premium landing page template collection</p>
						</div><!-- /.item -->

						<div class="item">
							<h2 class="title large" data-rgen-sm="medium">FLEXIBLE DESIGN LAYOUT</h2>
							<p class="title-sub italic" data-rgen-sm="small">Consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt</p>
						</div><!-- /.item -->

					</div><!-- /.owl-carousel -->
				</div><!-- /.carousel-widget -->

				<a href="#portfolio" class="btn btn-white bdr-2 small solid">OUR PORTFOLIO</a>
			</div>
		</div><!-- // END : Container //  -->

		
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgb(45, 51, 69, 0.5)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh" data-videoid="dorZ3vag5PI"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->