<!--
	************************************************************
	* Intro section
	************************************************************ -->
	<section class="pos-rel pd-medium" id="home" data-rgen-sm="pd-0" data-rgen-md="pd-lr-30 pd-b-30">
		<div class="carousel-widget ctrl-1 pos-rel z2 shadow-large rd-5 bdr-1 bdr-op-light-5">
			<div class="owl-carousel"
				data-animation-in="fadeIn"
				data-animation-out="fadeOut"
				data-nav="true">
				
				<div class="item caption-left">
					<div class="px-h800 pos-rel flex-bl" data-rgen-sm="h-auto px-h400">
						<div class="caption delay-1s pos-rel z2 mr-l-100 mr-b-100" data-rgen-sm="mr-10" data-rgen-md="mr-10">
							<h3 class="caption-1-hd txt-upper bg-white bold-5" data-rgen-sm="pd-10 fs20" data-rgen-md="pd-20 fs30">Creative Agency</h3>
							<p class="caption-1-sub-text bg-dark italic txt-white" data-rgen-sm="pd-10 fs16" data-rgen-md="pd-20 fs18">Seddiam nonumy eirmod tempor invidunt utlabore etdolore magna</p>
						</div>
						<div class="full-wh bg-cover bg-cc rgen-bg" data-bg="images/slide-img1.jpg"></div>
					</div>
				</div><!-- /.item -->

				<div class="item caption-left">
					<div class="px-h800 pos-rel flex-bl" data-rgen-sm="h-auto px-h400">
						<div class="caption delay-1s pos-rel z2 mr-l-100 mr-b-100" data-rgen-sm="mr-10" data-rgen-md="mr-10">
							<h3 class="caption-1-hd txt-upper bg-white bold-5" data-rgen-sm="pd-10 fs20" data-rgen-md="pd-20 fs30">Premium Quality</h3>
							<p class="caption-1-sub-text bg-dark italic txt-white" data-rgen-sm="pd-10 fs16" data-rgen-md="pd-20 fs18">Seddiam nonumy eirmod tempor invidunt utlabore etdolore magna</p>
						</div>
						<div class="full-wh bg-cover bg-cc rgen-bg" data-bg="images/slide-img2.jpg"></div>
					</div>
				</div><!-- /.item -->

				<div class="item caption-left">
					<div class="px-h800 pos-rel flex-bl" data-rgen-sm="h-auto px-h400">
						<div class="caption delay-1s pos-rel z2 mr-l-100 mr-b-100" data-rgen-sm="mr-10" data-rgen-md="mr-10">
							<h3 class="caption-1-hd txt-upper bg-white bold-5" data-rgen-sm="pd-10 fs20" data-rgen-md="pd-20 fs30">User Experience</h3>
							<p class="caption-1-sub-text bg-dark italic txt-white" data-rgen-sm="pd-10 fs16" data-rgen-md="pd-20 fs18">Seddiam nonumy eirmod tempor invidunt utlabore etdolore magna</p>
						</div>
						<div class="full-wh bg-cover bg-cc rgen-bg" data-bg="images/slide-img3.jpg"></div>
					</div>
				</div><!-- /.item -->

			</div><!-- /.owl-carousel -->
		</div><!-- /.carousel-widget -->
	
		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z1">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg10.png" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Intro section **************  -->