<!--
	************************************************************
	* Logo section 
	************************************************************ -->
	<section class="pd-tb-tiny bg-dark pos-rel" data-animate-in="fadeIn">
		<div class="container typo-light">
			<ul class="inline-list gt-small size-small reset op-05">
				<li><img src="images/award-logo-light-01.png" alt="brand"></li>
				<li><img src="images/award-logo-light-02.png" alt="brand"></li>
				<li><img src="images/award-logo-light-03.png" alt="brand"></li>
				<li><img src="images/award-logo-light-04.png" alt="brand"></li>
				<li><img src="images/award-logo-light-05.png" alt="brand"></li>
			</ul>
		</div><!-- // END : Container //  -->
	</section>
	<!-- ************** END : Logo section **************  -->