<!--
	************************************************************
	* Brand logo sections
	************************************************************ -->
	<section class="pd-tb-mini bg-gray" data-rgen-sm="pd-tb-small">
		<div class="container align-c" data-animate-in="fadeIn">
			<h2 class="title small">Trusted by some of amazing people</h2>
			<p class="title-sub small mr-b-10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy</p>

			<ul class="inline-list gt-small size-small reset op-05">
				<li><img src="images/brand-logo1.png" alt="brand"></li>
				<li><img src="images/brand-logo2.png" alt="brand"></li>
				<li><img src="images/brand-logo3.png" alt="brand"></li>
				<li><img src="images/brand-logo4.png" alt="brand"></li>
				<li><img src="images/brand-logo5.png" alt="brand"></li>
				<li><img src="images/brand-logo6.png" alt="brand"></li>
			</ul>
			
		</div>
	</section>
	<!-- ************** END : Brand logo sections **************  -->