<!--
	************************************************************
	* Brand logo sections
	************************************************************ -->
	<section class="pd-tb-mini bg-dark" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="row gt30 middle-md">
				<div class="col-md-4 typo-light" data-animate-in="fadeInLeft">
					<h2 class="title" data-rgen-sm="medium">Event Sponsors</h2>
					<p class="mr-0 title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-7 offset-md-1" data-animate-in="fadeInRight">
					<ul class="inline-list gt-small size-small reset op-05">
						<li><img src="images/brand-logo1_light.png" alt="brand"></li>
						<li><img src="images/brand-logo2_light.png" alt="brand"></li>
						<li><img src="images/brand-logo4_light.png" alt="brand"></li>
						<li><img src="images/brand-logo5_light.png" alt="brand"></li>
						<li><img src="images/brand-logo6_light.png" alt="brand"></li>
					</ul>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Brand logo sections **************  -->