<!--
	************************************************************
	* Client section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small align-c">
		<div class="container small">
			<div class="row mb20">
				<div class="col-md-4" data-animate-in="fadeInLeft">
					<h2 class="f-2 txt-upper lh-1 title">Trusted by some of amazing people</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-8" data-animate-in="fadeInRight">
					<div class="pd-l-50 mr-l-50 bdr-l bdr-op-1" data-rgen-sm="pd-30 mr-0 bdr-reset">
						
						<ul class="row gt40 mb40 popgallery-widget op-05 list-reset">
							<li class="col-md-4 col-xs-6"><img src="images/company-logo-01.png"></li>
							<li class="col-md-4 col-xs-6"><img src="images/company-logo-02.png"></li>
							<li class="col-md-4 col-xs-6"><img src="images/company-logo-03.png"></li>
							<li class="col-md-4 col-xs-6"><img src="images/company-logo-04.png"></li>
							<li class="col-md-4 col-xs-6"><img src="images/company-logo-01.png"></li>
							<li class="col-md-4 col-xs-6"><img src="images/company-logo-02.png"></li>
						</ul>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Client section **************  -->