<!--
	************************************************************
	* Header
	************************************************************ -->
	<header class="main-head dark" data-bgcolor="rgba(45, 51, 69, 1)">
		<div class="container">
			
			<div class="row gt0 align-items-center head-row" data-rgen-sm="h-reset">
				
				<!--=================================
				= Logo section
				==================================-->
				<div class="col-md-3 pos-rel">
					<a class="nav-handle" data-nav=".m-content" data-navopen="pe-7s-more" data-navclose="pe-7s-close"><i class="pe-7s-more"></i></a>
					<div class="header-logo-wrp">
						<a class="header-logo pd-tb-small" href="http://rgenesis.com"><img src="images/logo-light.png" alt="Brand logo"></a>
					</div>
				</div><!-- // END : Column //  -->
				
				<!--=================================
				= Navigation links
				==================================-->
				<div class="col-md-9 align-r m-content">
					<ul class="row gt20 justify-content-md-end mr-0 align-items-center">
						<li class="col-md-auto">
							<!--=========================================
							=  Social links
							=============================================-->
							<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 mr-2 rd-2 iconbox txt-white btn-default align-m"><i class="fab fa-facebook-f"></i></a>
							<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 mr-2 rd-2 iconbox txt-white btn-default align-m"><i class="fab fa-twitter"></i></a>
							<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 mr-2 rd-2 iconbox txt-white btn-default align-m"><i class="fab fa-google"></i></a>
							<a href="https://www.youtube.com/channel/UC6zqsNIOeHQUODHcP70fx8w" target="_blank" class="sq30 fs16 mr-2 rd-2 iconbox txt-white btn-default align-m"><i class="fab fa-youtube"></i></a>
							<a href="http://r-genesis-art.tumblr.com/" target="_blank" class="sq30 fs16 mr-2 rd-2 iconbox txt-white btn-default align-m"><i class="fab fa-tumblr"></i></a>
						</li>
						<li class="col-md-auto" data-rgen-sm="pd-0 pd-t-10 align-c">
							<a href="https://goo.gl/ZMxnYs" target="_blank" class="btn btn-white mini">Purchase</a>
						</li>
					</ul>

				</div><!-- // END : Column //  -->

			</div><!-- // END : row //  -->

		</div><!-- // END : container //  -->
	</header>
	<!-- ************** END : Header **************  -->