<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">

			<!--=================================
			= Rotate text
			==================================-->
			<div class="carousel-widget ctrl-1 align-c">
				<div class="owl-carousel"
					data-margin="40"
					data-autoplay="true"
					data-dots="false"
					data-nav="false">
					
					<div class="item">
						<h2 class="title f-1 bold-1" data-rgen-sm="medium">"Quick and easy way to manage data"</h2>
					</div><!-- /.item -->

					<div class="item">
						<h2 class="title f-1 bold-1" data-rgen-sm="medium">"Ultimate text display option"</h2>
					</div><!-- /.item -->

					<div class="item">
						<h2 class="title f-1 bold-1" data-rgen-sm="medium">"Quick and easy way to manage data"</h2>
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->

			<hr class="light mr-tb-30">
			
			<!--=================================
			= Award logos
			==================================-->
			<div class="op-05 align-c">
				<img src="images/award-1_light.png" alt="award" class="inline-block mr-20">
				<img src="images/award-2_light.png" alt="award" class="inline-block mr-20">
				<img src="images/award-3_light.png" alt="award" class="inline-block mr-20">
			</div>
		</div>
	

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.0)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg9.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Other section **************  -->