<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-0" data-rgen-sm="align-c" id="about">
		<div class="container typo-light">
			<div class="row gt20">
				<div class="col-md-6 pos-rel pd-tb-small flex-cc" data-rgen-sm="pd-tb-small">
					<div class="content w75 mr-auto pos-rel z1 align-c">
						<h2 class="title mr-b-40" data-rgen-sm="medium">Testimonials</h2>
						<!--=================================
						= carousel-widget
						==================================-->
						<div class="carousel-widget ctrl-light ctrl-1">
							<div class="owl-carousel"
								data-items="1"
								data-margin="30"
								data-xs-items="1"
								data-sm-items="1"
								data-md-items="1"
								data-lg-items="1"
								data-dots="true"
								data-autoplay="false"
								data-center="true"
								data-nav="false">
								
								<div class="item">
									<div class="info-obj img-t g20 medium align-c">
										<div class="img"><img src="images/person1.jpg" class="rd" alt="person image"></div>
										<div class="info">
											<p>
												<strong class="fs18">Oupsum dolor</strong><br>
												<em class="fs12">Creative Director</em>
											</p>
											<hr class="light">
											<p class="mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
										</div>
									</div><!-- info box -->
								</div><!-- /.item -->
								
								<div class="item">
									<div class="info-obj img-t g20 medium align-c">
										<div class="img"><img src="images/person2.jpg" class="rd" alt="person image"></div>
										<div class="info">
											<p>
												<strong class="fs18">Oupsum dolor</strong><br>
												<em class="fs12">Creative Director</em>
											</p>
											<hr class="light">
											<p class="mr-0">Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
										</div>
									</div><!-- info box -->
								</div><!-- /.item -->

								<div class="item">
									<div class="info-obj img-t g20 medium align-c">
										<div class="img"><img src="images/person3.jpg" class="rd" alt="person image"></div>
										<div class="info">
											<p>
												<strong class="fs18">Oupsum dolor</strong><br>
												<em class="fs12">Creative Director</em>
											</p>
											<hr class="light">
											<p class="mr-0">Sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
										</div>
									</div><!-- info box -->
								</div><!-- /.item -->

							</div><!-- /.owl-carousel -->
						</div><!-- /.carousel-widget -->
					</div>
					<b class="full-wh bg-default op-08"></b>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 pd-tb-small flex-cc" data-rgen-sm="pd-tb-small" data-animate-in="fadeInRight">
					<div class="content mr-l-100" data-rgen-sm="mr-0">
						<h2 class="title">About us</h2>
						<p class="title-sub mini">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
						<a href="#popup-content" class="btn btn-white solid set-popup">Contact us</a>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<div class="bg-holder full-wh z1">
			<b bg-holder="overlay" class="full-wh bg-dark z2 op-08"></b>
			<b bg-holder="bg-img" data-bg="images/travel-bg.jpg" class="full-wh bg-cover bg-cc"></b>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.8)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/travel-bg.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Other section **************  -->