<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-mini align-c" id="activities">
		<div class="container">
			<div class="w75 mr-auto align-c mr-b-mini" data-animate-in="fadeIn">
				<h3 class="f-2 bold-n mr-0 txt-primary" data-rgen-sm="fs20">Recommended</h3>
				<h2 class="title f-1 large txt-upper mr-b-mini" data-rgen-sm="large">Things to do in London</h2>

				<div class="row gt40 align-l">
					<div class="col-md">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam incidunt debitis molestias ex quam nobis</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
					</div><!-- // END : column //  -->
					
					<div class="col-md">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
						Ullam incidunt debitis molestias ex quam nobis ullamco laboris nisi ut aliquip</p>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
				
			</div>
			<div class="row gt40 mb40">
				
				<div class="col-md" data-animate-in="fadeInLeft|0.1">
					<div class="bg-default">
						<a href="https://goo.gl/G9rSM5"><img src="images/travel-800x600-01.jpg" alt="image"></a>
						<div class="pd-mini typo-light" data-rgen-sm="pd-20">
							<h2 class="title small"><a href="https://goo.gl/G9rSM5">Attraction Tickets</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam incidunt debitis molestias ex quam nobis</p>
							<a href="https://goo.gl/G9rSM5" class="btn btn-white small solid">More info</a>
						</div>
					</div><!-- // END : Product box //  -->

				</div><!-- / column -->

				<div class="col-md" data-animate-in="fadeInRight|0.1">
					<div class="bg-default">
						<a href="https://goo.gl/G9rSM5"><img src="images/travel-800x600-02.jpg" alt="image"></a>
						<div class="pd-mini typo-light" data-rgen-sm="pd-20">
							<h2 class="title small"><a href="https://goo.gl/G9rSM5">Bar, Club & Pub</a></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam incidunt debitis molestias ex quam nobis</p>
							<a href="https://goo.gl/G9rSM5" class="btn btn-white small solid">More info</a>
						</div>
					</div><!-- // END : Product box //  -->
				</div><!-- / column -->

			</div><!-- / row -->

			<div class="pd-mini bg-dark typo-light" data-animate-in="fadeIn|0.2">
				<div class="row middle-md">
					<div class="col-md-8">
						<h2 class="title mr-0" data-rgen-sm="medium mr-b-30">Explore amazing LONDON</h2>
					</div><!-- // END : column //  -->
					
					<div class="col-md-4 align-r" data-rgen-sm="align-c">
						<a href="https://goo.gl/G9rSM5" class="btn btn-white large solid" data-rgen-sm="medium">View all activities</a>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>

	</section>
	<!-- ************** END : Other section **************  -->