<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-small bg-default" data-rgen-sm="pd-tb-small">
		<div class="container small typo-light">
		
			<div class="row gt40 mb10 middle-md">
				<div class="col-md-7" data-animate-in="fadeInLeft">
					<div class="shadow-tiny bg-dark">
						<!-- Google map -->
						<section class="google-map-container pd-0" data-zoom="16" data-center="PO Box 16122, Collins Street West, Victoria 8007, Australia">
							<div class="google-map" style="height: 300px;"></div>
							<ul class="google-map-markers">
							</ul>
						</section>
						<!-- / Google map -->

						<div class="info-obj img-l g20 tiny pd-20">
							<div class="img txt-white"><span class="iconwrp"><i class="pe-7s-map-marker"></i></span></div>
							<div class="info">
								<p class="mr-0">Visit our clinic</p>
								<h3 class="title tiny">PO Box 16122, Collins Street West, Victoria 8007, Australia</h3>
							</div>
						</div><!-- info box -->
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-5" data-animate-in="fadeInRight">
					<div class="pd-l-tiny">
						<div class="info-obj img-l g20 mini">
							<div class="img txt-white"><span class="rd bg-dark iconwrp"><i class="pe-7s-call"></i></span></div>
							<div class="info">
								<p class="mr-0">Give us a call</p>
								<h3 class="title tiny">012 345 6789</h3>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g20 mini">
							<div class="img txt-white"><span class="rd bg-dark iconwrp"><i class="pe-7s-mail"></i></span></div>
							<div class="info">
								<p class="mr-0">Email us on</p>
								<h3 class="title tiny"><a href="#">medical@rgen.com</a></h3>
							</div>
						</div><!-- info box -->
						
						<hr class="mr-tb-tiny light">

						<h2 class="title mini">Opening Hours</h2>
						<ul class="list-3">
							<li><strong>Monday - Friday :</strong> 08:00 - 16:00</li>
							<li><strong>Saturday :</strong> 08:00 - 16:00</li>
							<li><strong>Sunday :</strong> 08:00 - 16:00</li>
						</ul>
						
					</div>
					
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : Container //  -->
		
		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->