<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="location">
		<div class="container typo-light align-c" data-animate-in="fadeIn">

			<span class="iconbox sq100 fs90 txt-white mr-b-20"><i class="pe-7s-clock"></i></span>
			<p class="title-sub mr-b-10" data-rgen-sm="small">Regular Opening Hours</p>
			<h2 class="title large" data-rgen-sm="medium">Monday to Saturday - 6:00am to 9:00pm</h2>
			<p class="title-sub mr-0" data-rgen-sm="small">PO Box 16122, Collins Street West, Victoria 8007, Australia</p>

			<hr class="light mr-tb-40">

			<span class="iconbox sq100 fs90 txt-white mr-b-20"><i class="pe-7s-call"></i></span>
			<p class="title-sub mr-b-10" data-rgen-sm="small">Call For Emergency Cases</p>
			<h2 class="title large" data-rgen-sm="medium">1-123-456-7890</h2>

			<hr class="light mr-tb-40">

			<a href="#popup-content" class="btn btn-white solid align-m mr-10 large set-popup" data-rgen-sm="medium">Make an appointment</a>
		</div><!-- // END : Container //  -->

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(220, 14, 33, 0.2)|rgba(220, 14, 33, 0.6)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg12.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Other section **************  -->