<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-small bg-dark typo-light" data-rgen-sm="align-c pd-tb-small">
		<div class="container small">

			<div class="row gt40 mr-auto middle-md">
				<div class="col-md-4" data-animate-in="fadeInLeft">
					<h2 class="title f-2" data-rgen-sm="medium">Oupsum dolor</h2>
					<p class="title-sub f-2 small" data-rgen-sm="small">Digital marketing expert</p>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeIn">
					<img src="images/person3.jpg" class="rd shadow-large" data-rgen-sm="mr-auto mr-b-30" alt="Author">
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInRight">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			<hr class="light mr-tb-mini" data-rgen-sm="mr-tb-20">
			<h2 class="title f-2 align-c mr-b-mini" data-rgen-sm="mr-tb-20 medium" data-animate-in="fadeInUp">Other books</h2>
			<div class="w75 mr-auto" data-animate-in="fadeInUp">
				<ul class="rw eq3 gt40 mb20">
					<li class="cl"><a href="#"><img src="images/book-img-04.jpg" class="shadow-large mr-auto" data-rgen-sm="max-px-w300" alt="book"></a></li>
					<li class="cl"><a href="#"><img src="images/book-img-02.jpg" class="shadow-large mr-auto" data-rgen-sm="max-px-w300" alt="book"></a></li>
					<li class="cl"><a href="#"><img src="images/book-img-03.jpg" class="shadow-large mr-auto" data-rgen-sm="max-px-w300" alt="book"></a></li>
				</ul>
			</div>
			

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->