<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-tb-medium" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">
			<div class="row gt50 mb20 mr-b-40">
				<div class="col-md-6" data-animate-in="fadeInLeft">
					<div class="info-obj img-l g20 medium mr-0" data-rgen-sm="img-t">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-clock"></i></span></div>
						<div class="info">
							<h3 class="title small" data-rgen-sm="medium">Regular Opening Hours</h3>
							<hr class="light">
							<p class="title-sub small mr-b-10" data-rgen-sm="small">Monday : 6:00 am to 9:00 pm</p>
							<p class="title-sub small mr-b-10" data-rgen-sm="small">Tuesday to Friday : 8:00 am to 7:00 pm</p>
							<p class="title-sub small mr-b-10" data-rgen-sm="small">Saturday : 8:00 am to 4:00 pm</p>
							<p class="title-sub small mr-b-10" data-rgen-sm="small">Sunday : 9:00 am to 1:00 pm</p>	
						</div>
					</div><!-- info box -->
					
				</div><!-- // END : column //  -->
				
				<div class="col-md-6" data-animate-in="fadeInRight">
					<div class="info-obj img-l g20 medium mr-0" data-rgen-sm="img-t">
						<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-map-marker"></i></span></div>
						<div class="info">
							<h3 class="title small" data-rgen-sm="medium">Locations</h3>
							<hr class="light">
							<p class="title-sub small mr-b-20" data-rgen-sm="small">PO Box 16122, Collins Street West, Victoria 8007, Australia</p>
							<p class="title-sub small mr-b-20" data-rgen-sm="small">Lorem ipsum dolor, Invidunt ut labore, Takimata sanctut, Australia</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
			<div class="bg-glass-dark-03 rd-6 pd-tiny" data-rgen-sm="pd-20" data-animate-in="fadeIn|0.1">
				<div class="row middle-md">
					<div class="col-md-8">
						<div class="info-obj img-l g20 small mr-0" data-rgen-sm="img-t">
							<div class="img"><span class="iconwrp txt-white"><i class="pe-7s-call"></i></span></div>
							<div class="info">
								<p class="title-sub mr-0" data-rgen-sm="small">Call For Emergency Cases</p>
								<h2 class="title mr-0" data-rgen-sm="medium">1-123-456-7890</h2>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-4 align-r" data-rgen-sm="align-c">
						<a href="#popup-content" class="btn btn-white solid align-m mr-10 set-popup">Make an appointment</a>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
			
		</div><!-- // END : Container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-gradient="y" data-g-colors="rgba(10, 26, 160, 0.45)|rgba(220, 14, 33, 0.6)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/bg11.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Other section **************  -->