<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-small pos-rel" data-rgen-sm="pd-tb-small">
		<div class="container typo-light">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h3 class="title" data-rgen-sm="medium">Our Departments</h3>
				<p class="title-sub small mr-0" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>

			<hr class="light mr-tb-60" data-rgen-sm="mr-tb-20">
			
			<div class="row gt50 mb20 tabs-auto side-tab" data-tb-active="bg-glass-light-02" data-pn-active="rg_fadeindown">
				<div class="col-md-5" data-animate-in="fadeInLeft|0.1">
					<ul class="tb-list">
						<li class="tb rd-6">
							<div class="info-obj img-l g20 small pd-20">
								<div class="img"><span class="txt-white iconwrp"><i class="pe-7s-diamond"></i></span></div>
								<div class="info">
									<h3 class="title small mr-b-4" data-rgen-sm="small">DIAGNOSTIC IMAGING</h3>
									<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								</div>
							</div><!-- info box -->
						</li>
						<li class="tb rd-6">
							<div class="info-obj img-l g20 small pd-20">
								<div class="img"><span class="txt-white iconwrp"><i class="pe-7s-bandaid"></i></span></div>
								<div class="info">
									<h3 class="title small mr-b-4" data-rgen-sm="small">CANCER CARE</h3>
									<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								</div>
							</div><!-- info box -->
						</li>
						<li class="tb rd-6">
							<div class="info-obj img-l g20 small pd-20">
								<div class="img"><span class="txt-white iconwrp"><i class="pe-7s-album"></i></span></div>
								<div class="info">
									<h3 class="title small mr-b-4" data-rgen-sm="small">TRANSPLANT CENTER</h3>
									<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								</div>
							</div><!-- info box -->
						</li>
						<li class="tb rd-6">
							<div class="info-obj img-l g20 small pd-20">
								<div class="img"><span class="txt-white iconwrp"><i class="pe-7s-hourglass"></i></span></div>
								<div class="info">
									<h3 class="title small mr-b-4" data-rgen-sm="small">DENTAL CARE</h3>
									<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								</div>
							</div><!-- info box -->
						</li>
						<li class="tb rd-6">
							<div class="info-obj img-l g20 small pd-20">
								<div class="img"><span class="txt-white iconwrp"><i class="pe-7s-medal"></i></span></div>
								<div class="info">
									<h3 class="title small mr-b-4" data-rgen-sm="small">BLOOD BANK</h3>
									<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								</div>
							</div><!-- info box -->
						</li>
					</ul><!-- /.tb-list -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-7" data-animate-in="fadeInRight|0.1">
					<div class="tb-content">
						<div class="tb-pn">
							<img src="images/800x800_1.jpg" alt="image" class="bdr-20 bdr-op-light-1">
						</div><!-- tab pane -->

						<div class="tb-pn">
							<img src="images/800x800_2.jpg" alt="image" class="bdr-20 bdr-op-light-1">
						</div><!-- tab pane -->

						<div class="tb-pn">
							<img src="images/800x800_3.jpg" alt="image" class="bdr-20 bdr-op-light-1">
						</div><!-- tab pane -->

						<div class="tb-pn">
							<img src="images/800x800_4.jpg" alt="image" class="bdr-20 bdr-op-light-1">
						</div><!-- tab pane -->

						<div class="tb-pn">
							<img src="images/800x800_5.jpg" alt="image" class="bdr-20 bdr-op-light-1">
						</div><!-- tab pane -->
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.2)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/blur-bg3.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Other section **************  -->