<!--
	************************************************************
	* Other sections
	************************************************************ -->
	<section class="pos-rel pd-0 bg-gray" data-rgen-sm="pd-0" id="testimonials">
		<div class="container-fluid pos-rel z2"> 
			<div class="row gt20">
				<div class="col-md-6 pd-tb-small flex-cr" data-rgen-sm="pd-tb-small block">
					<div class="content mr-r-small max-px-w450" data-rgen-sm="pd-20 mr-0">
						<h2 class="title small mr-b-40" data-animate-in="fadeInUp">What our customer say</h2>

						<div class="info-obj img-l g20 small mr-b-40" data-animate-in="fadeInUp|0.1">
							<div class="img"><img src="images/person1.jpg" class="rd" alt="person"></div>
							<div class="info">
								<p class="mr-b-10">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
								<p class="mr-0">
									<strong class="txt-dark">Oupsum dolor</strong><br>
									<em class="fs12">Creative Director</em>
								</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g20 small mr-b-40" data-animate-in="fadeInUp|0.2">
							<div class="img"><img src="images/person2.jpg" class="rd" alt="person"></div>
							<div class="info">
								<p class="mr-b-10">Consetetur sadipscing elitr, sed diam nonumy eimagna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
								<p class="mr-0">
									<strong class="txt-dark">Oupsum dolor</strong><br>
									<em class="fs12">Creative Director</em>
								</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g20 small mr-b-40" data-animate-in="fadeInUp|0.3">
							<div class="img"><img src="images/person3.jpg" class="rd" alt="person"></div>
							<div class="info">
								<p class="mr-b-10">Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
								<p class="mr-0">
									<strong class="txt-dark">Oupsum dolor</strong><br>
									<em class="fs12">Creative Director</em>
								</p>
							</div>
						</div><!-- info box -->

						<div class="info-obj img-l g20 small mr-b-40" data-animate-in="fadeInUp|0.4">
							<div class="img"><img src="images/person4.jpg" class="rd" alt="person"></div>
							<div class="info">
								<p class="mr-b-10">Sadipscing elitr, sed diam labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum</p>
								<p class="mr-0">
									<strong class="txt-dark">Oupsum dolor</strong><br>
									<em class="fs12">Creative Director</em>
								</p>
							</div>
						</div><!-- info box -->
					</div>
					
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 pd-tb-small typo-light flex-cl pos-rel" data-rgen-sm="pd-tb-small block">
					<div class="content mr-l-small max-px-w450 pos-rel z3" data-rgen-sm="pd-20 mr-0" data-animate-in="fadeInRight">
						<h2 class="title small">Locations</h2>
						<ul class="list-3">
							<li>PO Box 16122, Collins Street West, Victoria 8007, Australia</li>
							<li>Lorem ipsum dolor, Invidunt ut labore, Takimata sanctut, Australia</li>
						</ul>

						<hr class="light mr-tb-30">
						
						<h2 class="title small">Opening Hours</h2>
						<ul class="list-3">
							<li>Monday to Friday : 6:00 am to 8:00 pm</li>
							<li>Saturday : 8:00 am to 4:00 pm</li>
						</ul>
						
						<hr class="light mr-tb-30">

						<h2 class="title small">Call Us On</h2>
						<ul class="list-3">
							<li>1-123-456-7890</li>
							<li>1-123-456-7890</li>
						</ul>
						
						<hr class="light mr-tb-30">

						<a href="#popup-content" class="btn btn-white set-popup">Contact us</a>
					</div>


					<!--
					=================================
					= Background holder
					=================================
					-->
					<div class="bg-holder full-wh z0">
						<!-- Overlay -->
						<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.6)"></b>
						<!-- Background video -->
						<div data-bgholder="video" class="videobg z4 full-wh"></div>
						<!-- bg slider -->
						<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
							<div class="bgslider full-wh"></div>
						</div>
						<!-- Parallax image -->
						<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/gym_bg-img1.jpg"></div>
						<!-- Background image -->
						<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
	</section>
	<!-- ************** END : Other sections **************  -->