<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-medium align-c">
		<div class="container small">

			<div class="w75 mr-auto align-c mr-b-small" data-rgen-sm="mr-b-30" data-animate-in="fadeIn">
				<h2 class="title f-2" data-rgen-sm="medium">Get started</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et.</p>	
			</div>
			
			<!--=================================
			= Content 1
			==================================-->
			<div class="row gt0 middle-md">
				<div class="col-md-1 bg-default align-c">
					<h2 class="title txt-white f-2 pd-tb-tiny mr-0">01</h2>
				</div>

				<div class="col-md-5" data-rgen-sm="mr-b-20">
					<img src="images/800x600-01.jpg" alt="Step 1">
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1" data-rgen-sm="mr-b-30" data-animate-in="fadeInUp">
					<h2 class="title f-2" data-rgen-sm="medium">Send us you requirement</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
			<!--=================================
			= Content 2
			==================================-->
			<div class="row gt0 middle-md">
				<div class="col-md-5 last-md offset-md-1">
					<img src="images/800x600-02.jpg" alt="Step 2">
				</div><!-- // END : column //  -->
				<div class="col-md-1 bg-default align-c last-md" data-rgen-sm="mr-b-30">
					<h2 class="title txt-white f-2 pd-tb-tiny mr-0">02</h2>
				</div>
				
				<div class="col-md-5" data-animate-in="fadeInUp">
					<h2 class="title f-2" data-rgen-sm="medium">Get a FREE quote</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
			<hr class="mr-tb-mini" data-rgen-sm="mr-tb-30">
			<div class="align-c">
				<a href="#" class="btn btn-default large rd-0 bdr-4 hov-btn-default" data-rgen-sm="medium">Get started now</a>
			</div>

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->