<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pd-tb-medium bg-dark typo-light" data-rgen-sm="pd-tb-small align-c">
		<div class="container small align-c">
			<div class="w75 mr-auto mr-b-small" data-animate-in="fadeIn">
				<h2 class="title large f-2" data-rgen-sm="medium">Simple and easy process to search properties</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
				tempor incididunt ut laboreet dolore</p>
			</div>
			<div class="row gt20 mb20">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<span class="iconbox sq120 bg-default txt-white f-2 -mr-b-30">
						<b class="fs60">01</b>
					</span>
					<div class="pd-mini bg-glass-dark-04">
						<span class="sq60 fs50 txt-default"><i class="pe-7s-mail"></i></span>
						<h3 class="title mini">Drop us mail</h3>
						<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<span class="iconbox sq120 bg-default txt-white f-2 -mr-b-30">
						<b class="fs60">02</b>
					</span>
					<div class="pd-mini bg-glass-dark-04">
						<span class="sq60 fs50 txt-default"><i class="pe-7s-map-marker"></i></span>
						<h3 class="title mini">Select your location</h3>
						<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<span class="iconbox sq120 bg-default txt-white f-2 -mr-b-30">
						<b class="fs60">03</b>
					</span>
					<div class="pd-mini bg-glass-dark-04">
						<span class="sq60 fs50 txt-default"><i class="pe-7s-home"></i></span>
						<h3 class="title mini">Rent or Buy</h3>
						<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->