<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small" id="gallery">
		<div class="container">
			<div class="row gt20 mb20 middle-md">
				<div class="col-md-6">
					<img src="images/watch-img-01.png" data-animate-in="fadeIn" alt="apple watch">
				</div><!-- // END : column //  -->
				
				<div class="col-md-5 offset-md-1" data-animate-in="fadeIn" data-rgen-sm="align-c">
					<h2 class="title small">Fully functional and compatibly with Apple Watch</h2>
					<p class="title-sub mini">Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices</p>

					<!-- accordion-widget -->
					<div class="accordion-widget acc-style2" data-acc-handle="y" data-acc-openclass="fa fa-caret-down" data-acc-closeclass="fa fa-caret-up">
						<div class="acc-block">
							<div class="acc-hd">
								<div class="info-obj img-l mid g20 mini">
									<div class="img"><span class="iconwrp"><i class="pe-7s-rocket"></i></span></div>
									<h3 class="info bold-1 txt-upper fs16">Our Company Mission</h3>
								</div>
							</div>
							<div class="acc-content">
								<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
							</div><!-- / content -->
						</div><!-- / acc-block -->

						<div class="acc-block">
							<div class="acc-hd">
								<div class="info-obj img-l mid g20 mini">
									<div class="img"><span class="iconwrp"><i class="pe-7s-medal"></i></span></div>
									<h3 class="info bold-1 txt-upper fs16">Why Choose Us</h3>
								</div>
							</div>
							<div class="acc-content">
								<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
							</div><!-- / content -->
						</div><!-- / acc-block -->

						<div class="acc-block">
							<div class="acc-hd">
								<div class="info-obj img-l mid g20 mini">
									<div class="img"><span class="iconwrp"><i class="pe-7s-like2"></i></span></div>
									<h3 class="info bold-1 txt-upper fs16">Our Promise</h3>
								</div>
							</div>
							<div class="acc-content">
								<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
							</div><!-- / content -->
						</div><!-- / acc-block -->

						<div class="acc-block">
							<div class="acc-hd">
								<div class="info-obj img-l mid g20 mini">
									<div class="img"><span class="iconwrp"><i class="pe-7s-users"></i></span></div>
									<h3 class="info bold-1 txt-upper fs16">What We Do</h3>
								</div>
							</div>
							<div class="acc-content">
								<p>Mauris interdum fringilla augue vitae tincidunt. Curabitur vitae tortor id eros euismod ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent nulla mi, rutrum ut feugiat at, vestibulum ut neque? Cras tincidunt enim vel aliquet facilisis. Duis congue ullamcorper vehicula. Proin nunc lacus, semper sit amet elit sit amet, aliquet pulvinar erat. Nunc pretium quis sapien eu rhoncus. Suspendisse ornare gravida mi, et placerat tellus tempor vitae.</p>
							</div><!-- / content -->
						</div><!-- / acc-block -->
					</div><!-- / accordion-widget -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
				
			<hr class="mr-tb-40">

			<div class="carousel-widget ctrl-1 align-c" data-animate-in="fadeInUp">
				<div class="owl-carousel"
					data-margin="20"
					data-xs-items="1"
					data-sm-items="4"
					data-md-items="6"
					data-lg-items="6"
					data-dots="true"
					data-autoplay="false"
					data-center="false"
					data-nav="false">
					
					<div class="item">
						<img src="images/watch-screen-01.png" alt="image">
					</div><!-- /.item -->

					<div class="item">
						<img src="images/watch-screen-02.png" alt="image">
					</div><!-- /.item -->

					<div class="item">
						<img src="images/watch-screen-03.png" alt="image">
					</div><!-- /.item -->

					<div class="item">
						<img src="images/watch-screen-04.png" alt="image">
					</div><!-- /.item -->

					<div class="item">
						<img src="images/watch-screen-05.png" alt="image">
					</div><!-- /.item -->

					<div class="item">
						<img src="images/watch-screen-06.png" alt="image">
					</div><!-- /.item -->

					<div class="item">
						<img src="images/watch-screen-07.png" alt="image">
					</div><!-- /.item -->

					<div class="item">
						<img src="images/watch-screen-08.png" alt="image">
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->