<!--
	************************************************************
	* Other sections
	************************************************************ -->
	<section class="pos-rel pd-tb-medium bg-dark" data-rgen-sm="pd-tb-small" id="services">
		<div class="container align-c typo-light">
			<h2 class="title large mr-b-40" data-rgen-sm="medium" data-animate-in="fadeInUp">What we offer</h2>

			<!--=================================
			= Tab widget
			==================================-->
			<div class="tab-widget">
				<ul class="tb-list">
					<li class="tb mr-20" data-rgen-sm="mr-10" data-animate-in="fadeInUp|0.1">
						<a href="#" data-tb="#tab-pn1" class="iconbox sq120 rd fs60 mr-b-20" data-tb-normal="txt-white bg-glass-light-01" data-tb-active="bg-white txt-dark shadow-mini"><i class="pe-7s-global"></i></a>
						<p class="fs18 mr-0">Web</p>
					</li>
					<li class="tb mr-20" data-rgen-sm="mr-10" data-animate-in="fadeInUp|0.2">
						<a href="#" data-tb="#tab-pn2" class="iconbox sq120 rd fs60 mr-b-20" data-tb-normal="txt-white bg-glass-light-01" data-tb-active="bg-white txt-dark shadow-mini"><i class="pe-7s-way"></i></a>
						<p class="fs18 mr-0">SEO</p>
					</li>
					<li class="tb mr-20" data-rgen-sm="mr-10" data-animate-in="fadeInUp|0.3">
						<a href="#" data-tb="#tab-pn3" class="iconbox sq120 rd fs60 mr-b-20" data-tb-normal="txt-white bg-glass-light-01" data-tb-active="bg-white txt-dark shadow-mini"><i class="pe-7s-cart"></i></a>
						<p class="fs18 mr-0">E-Commerce</p>
					</li>
					<li class="tb mr-20" data-rgen-sm="mr-10" data-animate-in="fadeInUp|0.4">
						<a href="#" data-tb="#tab-pn4" class="iconbox sq120 rd fs60 mr-b-20" data-tb-normal="txt-white bg-glass-light-01" data-tb-active="bg-white txt-dark shadow-mini"><i class="pe-7s-phone"></i></a>
						<p class="fs18 mr-0">Mobile</p>
					</li>
					<li class="tb mr-20" data-rgen-sm="mr-10" data-animate-in="fadeInUp|0.5">
						<a href="#" data-tb="#tab-pn5" class="iconbox sq120 rd fs60 mr-b-20" data-tb-normal="txt-white bg-glass-light-01" data-tb-active="bg-white txt-dark shadow-mini"><i class="pe-7s-browser"></i></a>
						<p class="fs18 mr-0">Software</p>
					</li>
				</ul>
				<hr class="light mr-tb-60">
				<div class="tb-content mr-b-60">
					<div class="tb-pn" id="tab-pn1">
						<div class="w80 mr-auto">
							<h2 class="title bold-n" data-rgen-sm="medium">Website Development Service</h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>	
						</div>
					</div>
					<div class="tb-pn" id="tab-pn2">
						<div class="w80 mr-auto">
							<h2 class="title bold-n" data-rgen-sm="medium">Search Engine Optimization</h2>
							<p>Sed diam nonumy eirmod tempor invidunt ut labore orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>	
						</div>
					</div>
					<div class="tb-pn" id="tab-pn3">
						<div class="w80 mr-auto">
							<h2 class="title bold-n" data-rgen-sm="medium">Complete E-Commerce Solutions</h2>
							<p>Tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>	
						</div>
					</div>
					<div class="tb-pn" id="tab-pn4">
						<div class="w80 mr-auto">
							<h2 class="title bold-n" data-rgen-sm="medium">Mobile Application Development</h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>	
						</div>
					</div>
					<div class="tb-pn" id="tab-pn5">
						<div class="w80 mr-auto">
							<h2 class="title bold-n" data-rgen-sm="medium">Customize Software Development</h2>
							<p>Sed diam nonumy eirmod tempor invidunt ut labore orem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren</p>	
						</div>
					</div>
				</div>
				<!-- ======= END : Tab widget =======  -->
				
				<!--=================================
				= Button section
				==================================-->
				<div class="row gt40 middle-md" data-animate-in="fadeIn|0.6">
					<div class="col-md-4">
						<hr class="light">		
					</div><!-- // END : column //  -->
					
					<div class="col-md-4">
						<a href="#" class="btn btn-white bdr-2 round large block" data-rgen-sm="medium">Get started now</a>
					</div><!-- // END : column //  -->

					<div class="col-md-4">
						<hr class="light">		
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

			</div>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.2)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" data-bg="images/blur-bg4.jpg" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Other sections **************  -->