<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-default" data-rgen-sm="pd-tb-small align-c" id="download">
		<div class="container align-c typo-light">
			<h2 class="title f-1 bold-n txt-upper" data-rgen-sm="medium" data-animate-in="fadeIn">Order your book now</h2>
			<p data-animate-in="fadeIn"><span class="tag-text bg-dark fs20 bold-n f-1">SPECIAL OFFER GET 50% OFF</span></p>
			<ul class="inline-list gt-medium">
				<li class="min-px-w400" data-rgen-sm="w-reset" data-animate-in="fadeInLeft">
					<a href="#" class="btn btn-white solid large bdr-2 block mr-b-40" data-rgen-sm="medium"><i class="pe-7s-notebook fs40 btn-icon"></i> <span class="btn-txt fs20">Order Paper Book</span></a>
					
					<p class="mr-0 fs28"><span class="l-through">$200.00</span> &nbsp; <strong>$100.00</strong></p>
					<p class="mr-0">* Consectetur adipisicing elit</p>
				</li>
				<li class="min-px-w400" data-rgen-sm="w-reset" data-animate-in="fadeInRight">
					<a href="#" class="btn btn-white solid large bdr-2 block mr-b-40" data-rgen-sm="medium"><i class="pe-7s-phone fs40 btn-icon"></i> <span class="btn-txt fs20">Download eBook</span></a>

					<p class="mr-0 fs28"><span class="l-through">$100.00</span> &nbsp; <strong>$50.00</strong></p>
					<p class="mr-0">* Consectetur adipisicing elit</p>
				</li>
			</ul>
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->