<!--
	************************************************************
	* Other section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-primary" data-rgen-sm="pd-tb-small align-c">
		<div class="container align-c typo-light">
			<div class="row gt30 mb20 mr-b-tiny">
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<span class="iconbox sq80 fs70 txt-white mr-b-20"><i class="pe-7s-clock"></i></span>
					<h2 class="title small mr-b-10">TIMING</h2>
					<p class="title-sub small mr-0">7pm to 12pm</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6" data-animate-in="fadeInUp|0.2">
					<span class="iconbox sq80 fs70 txt-white mr-b-20"><i class="pe-7s-map-2"></i></span>
					<h2 class="title small mr-b-10">LOCATION</h2>
					<p class="title-sub small mr-0">PO Box 16122, Collins Street West, Victoria 8007, Australia</p>
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<span class="iconbox sq80 fs70 txt-white mr-b-20"><i class="pe-7s-call"></i></span>
					<h2 class="title small mr-b-10">CALL US ON</h2>
					<p class="title-sub small mr-0">1-123-456-7890</p>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
			<!--=================================
			= Map section
			==================================-->
			<!-- Google map -->
			<div class="google-map-container mr-b-40" data-zoom="16" data-center="New York, NY, United States">
				<div class="google-map" style="height: 500px;"></div>
				<ul class="google-map-markers">
				</ul>
			</div>

			<a href="#home" class="btn btn-dark solid large hov-btn-white" data-rgen-sm="medium" data-animate-in="fadeIn">Book your entry now</a>

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Other section **************  -->