<!--
	************************************************************
	* Popup form block
	************************************************************ -->
	
	<!-- form : "mfp-hide" Add this class before using -->
	<div id="popup-content" class="white-popup-block popup-content mfp-hide">
		<div class="pop-body bdr-30 bdr-secondary" data-rgen-sm="pd-20 bdr-reset">
			<span class="iconbox sq80 fs80 txt-secondary"><i class="pe-7s-mail"></i></span>
			<h2 class="title small" data-rgen-sm="small">Newsletter Subscription</h2>
			<p class="mr-b-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore magna aliqua</p>
			<!-- form-block -->
			<div class="form-block">
				<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
					<div class="field-wrp">
						<div class="form-group">
							<input class="form-control bdr-color1-light bdr-2" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
						</div>
						<div class="form-group">
							<input class="form-control bdr-color1-light bdr-2" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
						</div>
					</div>
					<button type="submit" class="btn solid btn-dark"><i class="fa fa-envelope-o"></i> SUBMIT</button>
				</form><!-- / form -->
			</div><!-- / form block -->
		</div>
	</div><!-- /#popup-content -->
	<!-- ************** END : Popup form block **************  -->