<!--
	************************************************************
	* Popup form block
	************************************************************ -->
	
	<!-- form : "mfp-hide" Add this class before using -->
	<div id="popup-content" class="white-popup-block popup-content max-w60 bg-default typo-light mfp-hide">
		<div class="flex-row">
			<div class="flex-col-md-6 pos-rel bg-cover bg-cc flex-cc" data-bg="images/bg-img8.jpg">
				<div class="content w75 pos-rel z2">
					<p class="sq90 inline-flex flex-cc fs80 mr-0"><i class="pe-7s-mail"></i></p>
					<h2 class="title" data-rgen-sm="small">DROP US A LINE</h2>
					<p class="title-sub mr-0 small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt labore magna aliqua</p>
				</div>
				<b class="full-wh z1 bg-dark op-08"></b>
			</div><!-- // END : column //  -->

			<div class="flex-col-md-6">
				<div class="pop-body" data-rgen-sm="pd-20">
					<!-- form-block -->
					<div class="form-block">
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="flex-row gt10">
									<div class="flex-col-md-6">
										<div class="form-group">
											<input class="form-control form-control-light" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
										</div>
									</div><!-- // END : column //  -->
									
									<div class="flex-col-md-6">
										<div class="form-group">
											<input class="form-control form-control-light" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
										</div>
									</div><!-- // END : column //  -->
								</div><!-- // END : row //  -->
								<div class="form-group">
									<input class="form-control form-control-light" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<input class="form-control form-control-light" data-label="Subject" required data-msg="Please enter subject." type="text" name="subject" placeholder="Enter subject">
								</div>
								<div class="form-group">
									<textarea class="form-control form-control-light" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
								</div>
							</div>
							<button type="submit" class="btn solid btn-white block"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->
				</div>
			</div><!-- // END : column //  -->
		</div><!-- // END : row //  -->
	</div><!-- /#popup-content -->
	<!-- ************** END : Popup form block **************  -->