<!--
	************************************************************
	* Popup form block
	************************************************************ -->
	
	<!-- form : "mfp-hide" Add this class before using -->
	<div id="popup-content" class="white-popup-block popup-content mfp-hide">
		<div class="bdr-20 bdr-default">
			<div class="pop-header align-c pd-b-0" data-rgen-sm="pd-20">
				<p class="sq80 iconbox fs70 txt-default mr-0 mr-b-mini rd"><i class="pe-7s-mail"></i></p>
				<h2 class="title f-2" data-rgen-sm="small">SIGN UP TODAY</h2>
				<p class="title-sub mr-0">Get best deals and offers directly in mail</p>
			</div>
			<div class="pop-body" data-rgen-sm="pd-20">
				<!-- form-block -->
				<div class="form-block">
					<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
						<div class="field-wrp">
							<div class="form-group">
								<input class="form-control rd-0 bdr-2 bdr-default" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
							</div>
							<div class="form-group">
								<input class="form-control rd-0 bdr-2 bdr-default" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
							</div>
						</div>
						<button type="submit" class="btn solid btn-default block"><i class="fa fa-envelope-o"></i> SUBMIT</button>
					</form><!-- / form -->
				</div><!-- / form block -->
			</div>
		</div>
	</div><!-- /#popup-content -->
	<!-- ************** END : Popup form block **************  -->