<!--
	************************************************************
	* Popup form block
	************************************************************ -->
	
	<!-- form : "mfp-hide" Add this class before using -->
	<div id="popup-content" class="white-popup-block popup-content container small mfp-hide reset _1">
		<div class="row bg-white">
			<div class="col-md-5 flex-cc pos-rel">
				<div class="content typo-light pos-rel z2 pd-small">
					<h2 class="title bold-1 mr-b-mini" data-rgen-sm="small">Let's talk about your project</h2>
					<p class="title-sub mini f-2 mr-0">Lorem ipsum dolor sit amet optio exercitationem idsapiente earerum illo Voluptas atque, dignissimos quisquam</p>
				</div>
				<b class="full-wh z1 bg-dark op-05"></b>
				<b class="full-wh bg-cc bg-cover" data-bg="images/half-bg-img-01.jpg"></b>
			</div><!-- // END : column //  -->
				
			<div class="col-md-7">
				<div class="pd-medium">
					<!-- form-block -->
					<div class="form-block">
						<form action="form-data/formdata.php" class="form-widget">
							<div class="field-wrp">
								<input type="hidden" name="to" value="r.genesis.art@gmail.com">
								<div class="form-group">
									<input class="form-control" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
								<div class="form-group">
									<input class="form-control" data-label="Email" required data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
								<div class="form-group">
									<input class="form-control" required data-label="Phone" data-msg="Please phone number." type="text" name="phone" placeholder="Enter your phone number">
								</div>
								<div class="form-group">
									<input class="form-control" data-label="Subject" required data-msg="Please enter subject." type="text" name="subject" placeholder="Enter subject">
								</div>
								<div class="form-group">
									<textarea class="form-control" data-label="Message" required data-msg="Please enter your message." name="message" placeholder="Add your message" cols="30" rows="10"></textarea>
								</div>
							</div>
							<button type="submit" class="btn solid btn-primary block"><i class="fa fa-envelope-o"></i> SUBMIT</button>
						</form><!-- / form -->
					</div><!-- / form block -->
				</div>
				
			</div><!-- // END : column //  -->
		</div><!-- // END : row //  -->
	</div><!-- /#popup-content -->
	<!-- ************** END : Popup form block **************  -->