<!--
	************************************************************
	* Portfolio gallery
	************************************************************ -->
	<section class="pd-tb-medium bg-gray" data-rgen-sm="pd-tb-small pd-lr-10" id="reviews">
		<div class="container">
			<div class="w75 mr-auto align-c mr-b-small" data-rgen-sm="mr-b-30" data-animate-in="fadeIn">
				<h3 class="f-2 bold-n mr-0 txt-primary" data-rgen-sm="fs20">Traveler's</h3>
				<h2 class="title large f-1 txt-upper mr-0" data-rgen-sm="medium">Review & Gallery</h2>
			</div>

			<div class="row gt20 mb20">
				<div class="col-md-5" data-animate-in="fadeInLeft|0.1">
					<h2 class="title mr-b-mini" data-rgen-sm="medium align-c"><span class="fs80 txt-default" data-rgen-sm="fs30">10000+</span><br>Happy travelers</h2>
					<div class="info-obj img-l g30 small mr-auto mr-0" data-rgen-sm="img-t align-c">
						<div class="img"><img src="images/person1.jpg" class="rd mr-auto"></div>
						<div class="info">
							<p>Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>

							<h3 class="title mini bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
					<hr class="mr-tb-tiny">
					<div class="info-obj img-l g30 small mr-auto mr-0" data-rgen-sm="img-t align-c">
						<div class="img"><img src="images/person2.jpg" class="rd mr-auto"></div>
						<div class="info">
							<p>Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>

							<h3 class="title mini bold-n mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-6 offset-md-1" data-animate-in="fadeInRight|0.1">
					<ul class="rw eq3 popgallery-widget gt10 mb10">
						<li class="cl"><a href="images/travel-600x600-01.jpg" class="pop-img"><img src="images/travel-600x600-01.jpg"></a></li>
						<li class="cl"><a href="images/travel-600x600-02.jpg" class="pop-img"><img src="images/travel-600x600-02.jpg"></a></li>
						<li class="cl"><a href="images/travel-600x600-03.jpg" class="pop-img"><img src="images/travel-600x600-03.jpg"></a></li>
						<li class="cl"><a href="images/travel-600x600-04.jpg" class="pop-img"><img src="images/travel-600x600-04.jpg"></a></li>
						<li class="cl"><a href="images/travel-600x600-05.jpg" class="pop-img"><img src="images/travel-600x600-05.jpg"></a></li>
						<li class="cl"><a href="images/travel-600x600-06.jpg" class="pop-img"><img src="images/travel-600x600-06.jpg"></a></li>
						<li class="cl"><a href="images/travel-600x600-07.jpg" class="pop-img"><img src="images/travel-600x600-07.jpg"></a></li>
						<li class="cl"><a href="images/travel-600x600-08.jpg" class="pop-img"><img src="images/travel-600x600-08.jpg"></a></li>
						<li class="cl"><a href="images/travel-600x600-09.jpg" class="pop-img"><img src="images/travel-600x600-09.jpg"></a></li>
					</ul>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>

		
	</section>
	<!-- ************** END : Portfolio gallery **************  -->