<!--
	************************************************************
	* Gallery sections
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small" id="work">
		<div class="container align-c">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Some of our works</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			</div>
		</div>
		<!-- carousel-widget -->
		<div class="carousel-widget ctrl-1 popgallery-widget w80 mr-auto z3 pos-rel" data-animate-in="fadeIn|0.1">
			<div class="owl-carousel"
				data-margin="10"
				data-xs-items="1"
				data-sm-items="1"
				data-md-items="3"
				data-lg-items="4"
				data-dots="true"
				data-autoplay="false"
				data-center="true"
				data-nav="true">
				
				<div class="item">
					<figure class="hover-box1">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc full-wh">
							<div class="content pos-rel z1">
								<a href="images/800x600_1.jpg" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox"><i class="pe-7s-link"></i></a>	
							</div>
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/800x600_1.jpg" alt="image">
					</figure>
				</div><!-- /.item -->

				<div class="item">
					<figure class="hover-box1">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc full-wh">
							<div class="content pos-rel z1">
								<a href="images/800x600_2.jpg" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox"><i class="pe-7s-link"></i></a>	
							</div>
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/800x600_2.jpg" alt="image">
					</figure>
				</div><!-- /.item -->

				<div class="item">
					<figure class="hover-box1">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc full-wh">
							<div class="content pos-rel z1">
								<a href="images/800x600_3.jpg" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox"><i class="pe-7s-link"></i></a>	
							</div>
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/800x600_3.jpg" alt="image">
					</figure>
				</div><!-- /.item -->

				<div class="item">
					<figure class="hover-box1">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc full-wh">
							<div class="content pos-rel z1">
								<a href="images/800x600_4.jpg" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox"><i class="pe-7s-link"></i></a>	
							</div>
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/800x600_4.jpg" alt="image">
					</figure>
				</div><!-- /.item -->

				<div class="item">
					<figure class="hover-box1">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc full-wh">
							<div class="content pos-rel z1">
								<a href="images/800x600_5.jpg" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox"><i class="pe-7s-link"></i></a>	
							</div>
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/800x600_5.jpg" alt="image">
					</figure>
				</div><!-- /.item -->

				<div class="item">
					<figure class="hover-box1">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc full-wh">
							<div class="content pos-rel z1">
								<a href="images/800x600_6.jpg" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" class="sq60 mr-6 bg-primary rd fs24 z1 iconbox"><i class="pe-7s-link"></i></a>	
							</div>
							<b class="full-wh bg-dark op-08"></b>
						</div>
						<img src="images/800x600_6.jpg" alt="image">
					</figure>
				</div><!-- /.item -->

			</div><!-- /.owl-carousel -->
		</div><!-- /.carousel-widget -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Gallery sections **************  -->