<!--
	************************************************************
	* Portfolio gallery
	************************************************************ -->
	<section class="pd-medium" data-rgen-sm="pd-tb-small pd-lr-10">
		<div class="container small align-c">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h3 class="f-2 bold-n mr-0 txt-default" data-rgen-sm="fs20">Delicious</h3>
				<h2 class="title xlarge f-1 txt-upper mr-0" data-rgen-sm="medium">Dishes</h2>
				<img class="mr-tb-mini mr-auto max-px-w150" src="images/sep-01.png" alt="seperator">
			</div>
		</div><!-- // END : Container //  -->
		
		<div class="container">
			<div class="masonry-wrp">
				<div class="masonry-grid row gt10 mb10 popgallery-widget" data-masonry-grid="y">
					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/restaurant-img-6x3-01.jpg" class="pop-img"><img src="images/restaurant-img-6x3-01.jpg"></a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/restaurant-img-6x6-01.jpg" class="pop-img"><img src="images/restaurant-img-6x6-01.jpg"></a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/restaurant-img-6x6-03.jpg" class="pop-img"><img src="images/restaurant-img-6x6-03.jpg"></a>
							</div>
						</figure>
					</div>
					
					<div class="masonry-item col-md-3">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/restaurant-img-6x6-04.jpg" class="pop-img"><img src="images/restaurant-img-6x6-04.jpg"></a>
							</div>
						</figure>
					</div>

					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/restaurant-img-6x6-02.jpg" class="pop-img"><img src="images/restaurant-img-6x6-02.jpg"></a>
							</div>
						</figure>
					</div>

					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/restaurant-img-6x3-02.jpg" class="pop-img"><img src="images/restaurant-img-6x3-02.jpg"></a>
							</div>
						</figure>
					</div>

					<div class="masonry-item col-md-6">
						<figure class="half">
							<div class="portfolio-item">
								<a href="images/restaurant-img-6x3-03.jpg" class="pop-img"><img src="images/restaurant-img-6x3-03.jpg"></a>
							</div>
						</figure>
					</div>

				</div>
			</div>
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Portfolio gallery **************  -->