<!--
	************************************************************
	* Portfolio section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small" id="projects">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">Our Projects</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>

			<ul class="rw eq4 gt10 mb10 popgallery-widget" data-animate-in="fadeIn|0.1">
				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/realestate_800x600_01.jpg" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" target="_blank" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Project name will come</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/realestate_800x600_01.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/realestate_800x600_02.jpg" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" target="_blank" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Project name will come</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/realestate_800x600_02.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/realestate_800x600_03.jpg" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" target="_blank" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Project name will come</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/realestate_800x600_03.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/realestate_800x600_04.jpg" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" target="_blank" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Project name will come</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/realestate_800x600_04.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/realestate_800x600_05.jpg" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" target="_blank" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Project name will come</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/realestate_800x600_05.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/realestate_800x600_06.jpg" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" target="_blank" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Project name will come</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/realestate_800x600_06.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/realestate_800x600_07.jpg" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" target="_blank" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Project name will come</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/realestate_800x600_07.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/realestate_800x600_08.jpg" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="#" target="_blank" class="iconbox sq40 bg-primary rd-2 fs20 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Project name will come</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/realestate_800x600_08.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->
			</ul><!-- // END : Row //  -->
			
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Portfolio section **************  -->