<!--
	************************************************************
	* Gallery section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small" id="gallery">
		<div class="w90 mr-auto pos-rel z1 align-c" data-animate-in="fadeIn">
			<span class="inline-flex sq100 flex-cc fs80 txt-default mr-b-20"><i class="pe-7s-photo"></i></span>
			<h2 class="title mr-b-50" data-rgen-sm="medium mr-b-20">View all features & screen shots of app</h2>
			
			<!-- carousel-widget -->
			<div class="carousel-widget ctrl-1 popgallery-widget zoom-carousel">
				<div class="owl-carousel"
					data-xs-items="1"
					data-sm-items="3"
					data-md-items="4"
					data-lg-items="5"
					data-dots="true"
					data-autoplay="false"
					data-center="true"
					data-nav="true">
					
					<div class="item">
						<div class="content"><a href="images/app-img-01.jpg" class="pop-img"><img src="images/app-img-01.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-02.jpg" class="pop-img"><img src="images/app-img-02.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-03.jpg" class="pop-img"><img src="images/app-img-03.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-04.jpg" class="pop-img"><img src="images/app-img-04.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-05.jpg" class="pop-img"><img src="images/app-img-05.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-06.jpg" class="pop-img"><img src="images/app-img-06.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-07.jpg" class="pop-img"><img src="images/app-img-07.jpg" alt="image"></a></div>
					</div><!-- /.item -->

					<div class="item">
						<div class="content"><a href="images/app-img-08.jpg" class="pop-img"><img src="images/app-img-08.jpg" alt="image"></a></div>
					</div><!-- /.item -->
					
				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->
		</div><!-- // END : container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Gallery section **************  -->