<!--
	************************************************************
	* Portfolio section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small" id="projects">
		<div class="container">
			<div class="w75 mr-auto align-c mr-b-40" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="small">Event Gallery</h2>
			</div>

			<ul class="rw eq4 gt10 mb10 popgallery-widget" data-animate-in="fadeIn">
				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/party_800x600_09.jpg" class="iconbox sq40 bg-default rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Consetetur sadipscing</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/party_800x600_09.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/party_800x600_10.jpg" class="iconbox sq40 bg-default rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Consetetur sadipscing</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/party_800x600_10.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/party_800x600_11.jpg" class="iconbox sq40 bg-default rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Consetetur sadipscing</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/party_800x600_11.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/party_800x600_12.jpg" class="iconbox sq40 bg-default rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Consetetur sadipscing</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/party_800x600_12.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/party_800x600_13.jpg" class="iconbox sq40 bg-default rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Consetetur sadipscing</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/party_800x600_13.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/party_800x600_14.jpg" class="iconbox sq40 bg-default rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Consetetur sadipscing</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/party_800x600_14.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/party_800x600_15.jpg" class="iconbox sq40 bg-default rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Consetetur sadipscing</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/party_800x600_15.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl">
					<figure class="hover-box1">
						<div class="overlay flex-bl typo-light">
							<div class="content mr-20 z2">
								<!-- Pop-up Image and link -->
								<a href="images/party_800x600_16.jpg" class="iconbox sq40 bg-default rd-2 fs20 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-6">Consetetur sadipscing</h3>
								<p class="mr-0 fs12 op-08">30 Dec, 2014</p>
							</div>
							<b class="full-wh bg-dark op-09 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/party_800x600_16.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->
			</ul><!-- // END : Row //  -->
			
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Portfolio section **************  -->