<!--
	************************************************************
	* Portfolio section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small" id="portfolio">
		<div class="container align-c">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="small">Our work</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	
			</div>

			<ul class="rw eq3 gt10 mb10 popgallery-widget">
				<li class="cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-01.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-01.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-02.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-02.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.3">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-03.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-03.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.1">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-04.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-04.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.2">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-05.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-05.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeInUp|0.3">
					<figure class="hover-box1">
						<div class="overlay flex-cc typo-light">
							<div class="content mr-30 z2">
								<!-- Pop-up Image and link -->
								<a href="images/mockup-06.jpg" class="iconbox sq50 bg-default rd fs24 mr-b-20 pop-img"><i class="pe-7s-expand1"></i></a>
								<a href="https://goo.gl/ZMxnYs" target="_blank" class="iconbox sq50 bg-default rd fs24 mr-b-20"><i class="pe-7s-exapnd2"></i></a>
								
								<!-- Text content -->
								<h3 class="title mini bold-n mr-b-10">Project name will come</h3>
								<p class="mr-0 fs12 op-08">Lorem ipsum dolor sit amet consectetur</p>
							</div>
							<b class="full-wh bg-dark op-08 z1 l0"></b>
						</div>
						<!-- Project image -->
						<img src="images/mockup-06.jpg" alt="image">
					</figure><!-- / hover box -->
				</li><!-- // END : column //  -->
			</ul><!-- // END : Row //  -->
			
			<a href="#" class="btn btn-dark large solid mr-t-40">View more our work</a>
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Portfolio section **************  -->