<!--
	************************************************************
	* Portfolio gallery
	************************************************************ -->
	<section class="pd-tb-medium" data-rgen-sm="pd-tb-small">
		<div class="container small align-c">
			<h2 class="title large mr-0 f-2" data-animate-in="fadeIn" data-rgen-sm="medium">Most Recent Projects</h2>
			<hr class="mr-tb-mini max-px-w140 bdr-b-2 mr-auto" data-rgen-sm="mr-tb-30">
			<ul class="rw eq3 gt30 mb30 popgallery-widget">
				<li class="cl" data-animate-in="fadeIn|0.1">
					<a href="images/mockup-01.jpg" class="pop-img block hov-shadow-medium hov-bdr-op-8 bdr-1 bdr-glass"><img src="images/mockup-01.jpg"></a>
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeIn|0.2">
					<a href="images/mockup-02.jpg" class="pop-img block hov-shadow-medium hov-bdr-op-8 bdr-1 bdr-glass"><img src="images/mockup-02.jpg"></a>
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeIn|0.3">
					<a href="images/mockup-03.jpg" class="pop-img block hov-shadow-medium hov-bdr-op-8 bdr-1 bdr-glass"><img src="images/mockup-03.jpg"></a>
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeIn|0.1">
					<a href="images/mockup-04.jpg" class="pop-img block hov-shadow-medium hov-bdr-op-8 bdr-1 bdr-glass"><img src="images/mockup-04.jpg"></a>
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeIn|0.2">
					<a href="images/mockup-05.jpg" class="pop-img block hov-shadow-medium hov-bdr-op-8 bdr-1 bdr-glass"><img src="images/mockup-05.jpg"></a>
				</li><!-- // END : column //  -->

				<li class="cl" data-animate-in="fadeIn|0.3">
					<a href="images/mockup-06.jpg" class="pop-img block hov-shadow-medium hov-bdr-op-8 bdr-1 bdr-glass"><img src="images/mockup-06.jpg"></a>
				</li><!-- // END : column //  -->
			</ul>
		</div><!-- // END : Container //  -->
	</section>
	<!-- ************** END : Portfolio gallery **************  -->