<!--
	************************************************************
	* Portfolio section
	************************************************************ -->
	<section class="pos-rel pd-0" id="portfolio">
		<div class="container-fluid pos-rel z2 pd-0">
			
			<div class="row gt0">

				<!--=================================
				= Testimonial content
				==================================-->
				<div class="col-md-3 bg-dark flex-cc pd-tb-small">
					<div class="w75 typo-light" data-rgen-sm="pd-20 align-c">
						<h2 class="title" data-rgen-sm="medium">Our portfolio</h2>
						<p class="title-sub small mr-0" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy</p>

						<hr class="light mr-tb-30">

						<div class="info-obj img-l g20 small align-l mr-0" data-rgen-sm="img-t" data-animate-in="fadeInUp">
							<div class="img txt-dark2"><img src="images/person1.jpg" class="rd" alt="Person"></div>
							<div class="info">
								<p class="op-05">"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."</p>
								<p class="mr-0">
									<strong>Oupsum dolor</strong><br>
									<em class="fs12">Creative Director</em>	
								</p>
							</div>
						</div>

						<hr class="light mr-tb-30">

						<div class="info-obj img-l g20 small align-l mr-0" data-rgen-sm="img-t" data-animate-in="fadeInUp">
							<div class="img txt-dark2"><img src="images/person2.jpg" class="rd" alt="Person"></div>
							<div class="info">
								<p class="op-05">"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."</p>
								<p class="mr-0">
									<strong>Oupsum dolor</strong><br>
									<em class="fs12">Creative Director</em>	
								</p>
							</div>
						</div>
					</div>
				</div><!-- // END : column //  -->
				
				<!--=================================
				= Portfolio gallery
				==================================-->
				<div class="col-md-9">
					<div class="swiper-gallery layout-2">

						<!-- Large images -->
						<div class="swiper-container gallery-top vh80">
							<div class="swiper-wrapper">

								<!-- Slide -->
								<div class="swiper-slide" data-slide-bg="images/gallery-img-01.jpg">
									<div class="hover-box1 full-wh">
										<div class="overlay full-wh z2 pd-40 flex-cc typo-light">
											<div class="content max-px-w350 pos-rel z2">
												<h3 class="title small">USER TESTING</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
												<a href="#" class="btn btn-white small solid">More details</a>
											</div><!-- info box -->
											<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
										</div>
									</div><!-- / hover box -->
								</div>

								<!-- Slide -->
								<div class="swiper-slide" data-slide-bg="images/gallery-img-02.jpg">
									<div class="hover-box1 full-wh">
										<div class="overlay full-wh z2 pd-40 flex-cc typo-light">
											<div class="content max-px-w350 pos-rel z2">
												<h3 class="title small">USER TESTING</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
												<a href="#" class="btn btn-white small solid">More details</a>
											</div><!-- info box -->
											<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
										</div>
									</div><!-- / hover box -->
								</div>

								<!-- Slide -->
								<div class="swiper-slide" data-slide-bg="images/gallery-img-03.jpg">
									<div class="hover-box1 full-wh">
										<div class="overlay full-wh z2 pd-40 flex-cc typo-light">
											<div class="content max-px-w350 pos-rel z2">
												<h3 class="title small">USER TESTING</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
												<a href="#" class="btn btn-white small solid">More details</a>
											</div><!-- info box -->
											<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
										</div>
									</div><!-- / hover box -->
								</div>

								<!-- Slide -->
								<div class="swiper-slide" data-slide-bg="images/gallery-img-04.jpg">
									<div class="hover-box1 full-wh">
										<div class="overlay full-wh z2 pd-40 flex-cc typo-light">
											<div class="content max-px-w350 pos-rel z2">
												<h3 class="title small">USER TESTING</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
												<a href="#" class="btn btn-white small solid">More details</a>
											</div><!-- info box -->
											<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
										</div>
									</div><!-- / hover box -->
								</div>

								<!-- Slide -->
								<div class="swiper-slide" data-slide-bg="images/gallery-img-05.jpg">
									<div class="hover-box1 full-wh">
										<div class="overlay full-wh z2 pd-40 flex-cc typo-light">
											<div class="content max-px-w350 pos-rel z2">
												<h3 class="title small">USER TESTING</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
												<a href="#" class="btn btn-white small solid">More details</a>
											</div><!-- info box -->
											<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
										</div>
									</div><!-- / hover box -->
								</div>

								<!-- Slide -->
								<div class="swiper-slide" data-slide-bg="images/gallery-img-06.jpg">
									<div class="hover-box1 full-wh">
										<div class="overlay full-wh z2 pd-40 flex-cc typo-light">
											<div class="content max-px-w350 pos-rel z2">
												<h3 class="title small">USER TESTING</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
												<a href="#" class="btn btn-white small solid">More details</a>
											</div><!-- info box -->
											<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
										</div>
									</div><!-- / hover box -->
								</div>

								<!-- Slide -->
								<div class="swiper-slide" data-slide-bg="images/gallery-img-07.jpg">
									<div class="hover-box1 full-wh">
										<div class="overlay full-wh z2 pd-40 flex-cc typo-light">
											<div class="content max-px-w350 pos-rel z2">
												<h3 class="title small">USER TESTING</h3>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
												<a href="#" class="btn btn-white small solid">More details</a>
											</div><!-- info box -->
											<div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
										</div>
									</div><!-- / hover box -->
								</div>

							</div><!-- /.swiper-wrapper -->
							<!-- Navigation buttons -->
							<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
							<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
						</div><!-- /Large images -->

						<!-- Thumb images -->
						<div class="swiper-container gallery-thumbs sm-hide bg-dark">
							<div class="swiper-wrapper">
							</div><!-- /.swiper-wrapper -->
							<b class="full-wh bg-glass-dark-03"></b>
						</div><!-- /.Thumb images -->

					</div><!-- /.swiper-gallery -->
				</div><!-- // END : column //  -->


			</div><!-- // END : row //  -->

		</div>
	</section>
	<!-- ************** END : Portfolio section **************  -->