<!--
	************************************************************
	* Price section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-color2" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">
			<div class="row gt20 mb20">
				<div class="col-md-3" data-animate-in="fadeInLeft">
					<h2 class="title" data-rgen-sm="medium">Entry pricing</h2>
					<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet consetetur sadipscing elitrsed diam nonumy eirmod tempor invidunt</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-9">
					<div class="row gt10 mb20 align-c">
						<div class="col-md-3" data-animate-in="fadeInUp|0.4">
							<div class="bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-white anim">
								<div class="bg-glass-light-02 overflow-hidden rd-6">
									<h2 class="bg-glass-light-01 pd-20 title mr-0 small bold-n">Adult</h2>
									<div class="pd-20">
										<strong class="fs50 txt-white">$20</strong>
										<hr class="light">
										<p>Lorem ipsum dolor sit amet consetetur</p>
										<a href="#" class="btn btn-white small">Book now</a>
									</div>
								</div>
							</div><!-- // END : Price box //  -->
						</div><!-- // END : column //  -->
						
						<div class="col-md-3" data-animate-in="fadeInUp|0.3">
							<div class="bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-white anim">
								<div class="bg-glass-light-02 overflow-hidden rd-6">
									<h2 class="bg-glass-light-01 pd-20 title mr-0 small bold-n">Children</h2>
									<div class="pd-20">
										<strong class="fs50 txt-white">$10</strong>
										<hr class="light">
										<p>Lorem ipsum dolor sit amet consetetur</p>
										<a href="#" class="btn btn-white small">Book now</a>
									</div>
								</div>
							</div><!-- // END : Price box //  -->
						</div><!-- // END : column //  -->

						<div class="col-md-3" data-animate-in="fadeInUp|0.2">
							<div class="bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-white anim">
								<div class="bg-glass-light-02 overflow-hidden rd-6">
									<h2 class="bg-glass-light-01 pd-20 title mr-0 small bold-n">Family</h2>
									<div class="pd-20">
										<strong class="fs50 txt-white">$60</strong>
										<hr class="light">
										<p>Lorem ipsum dolor sit amet consetetur</p>
										<a href="#" class="btn btn-white small">Book now</a>
									</div>
								</div>
							</div><!-- // END : Price box //  -->
						</div><!-- // END : column //  -->

						<div class="col-md-3" data-animate-in="fadeInUp|0.1">
							<div class="bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-white anim">
								<div class="bg-glass-light-02 overflow-hidden rd-6">
									<h2 class="bg-glass-light-01 pd-20 title mr-0 small bold-n">Group</h2>
									<div class="pd-20">
										<strong class="fs50 txt-white">$100</strong>
										<hr class="light">
										<p>Lorem ipsum dolor sit amet consetetur</p>
										<a href="#" class="btn btn-white small">Book now</a>
									</div>
								</div>
							</div><!-- // END : Price box //  -->
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- / container -->


		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(220, 14, 33, 0.6)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg17.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Price section **************  -->