<!--
	************************************************************
	* Price section
	************************************************************ -->
	<section class="pd-tb-small pos-rel" data-rgen-sm="pd-tb-small align-c" id="price">
		<div class="container">
			<div class="row gt20 mb20">
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="bdr-2 bdr-op-1 hov-bdr-dark hov-shadow-large anim rd-10 align-c">
						<h2 class="title small pd-20 bdr-b-2 bdr-op-1">Standard</h2>
						<div class="pd-tiny">
							<p class="lh-1 mr-b-30 txt-dark"><span class="fs50">$20</span>/mo*</p>
							<p>Basic customer support for small business</p>
							<hr>
							<p class="mr-b-30">$25 for monthly</p>
							<a href="#" class="btn btn-default small">Get started now</a>
						</div>
					</div>
					<div class="pd-tiny align-c">
						Up to 20 free project
						<hr class="mr-tb-10">
						Maximum 30 sub tasks
						<hr class="mr-tb-10">
						5 sharing
						<hr class="mr-tb-10">
						Limited to single device
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="bdr-2 bdr-default hov-bdr-dark hov-shadow-large anim rd-10 align-c pos-rel">
						<span class="tag-text rd-4 pos-abs t0 c-item -mr-t-40 bg-primary bold-3 pd-lr-20">
							POPULAR
							<i class="fs26 fa fa-caret-down pos-abs c-item txt-primary" style="bottom: -15px;"></i>
						</span>
						<h2 class="title small pd-20 bdr-b-2 bdr-op-1">Pro</h2>
						<div class="pd-tiny">
							<p class="lh-1 mr-b-30 txt-dark"><span class="fs50">$30</span>/mo*</p>
							<p>All-in-one customer support for small business</p>
							<hr>
							<p class="mr-b-30">$35 for monthly</p>
							<a href="#" class="btn btn-default small solid">Get started now</a>
						</div>
					</div>
					<div class="pd-tiny align-c">
						Up to 150 project
						<hr class="mr-tb-10">
						Maximum 300 sub tasks
						<hr class="mr-tb-10">
						20 sharing
						<hr class="mr-tb-10">
						Limited to 5 devices
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="bdr-2 bdr-op-1 hov-bdr-dark hov-shadow-large anim rd-10 align-c">
						<h2 class="title small pd-20 bdr-b-2 bdr-op-1">Business</h2>
						<div class="pd-tiny">
							<p class="lh-1 mr-b-30 txt-dark"><span class="fs50">$150</span>/mo*</p>
							<p>Business class customer support + One to one help</p>
							<hr>
							<p class="mr-b-30">$155 for monthly</p>
							<a href="#" class="btn btn-default small">Get started now</a>
						</div>
					</div>
					<div class="pd-tiny align-c">
						Up to 300 free project
						<hr class="mr-tb-10">
						Maximum 1000 sub tasks
						<hr class="mr-tb-10">
						100 sharing
						<hr class="mr-tb-10">
						Unlimited devices
					</div>
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="bdr-2 bdr-op-1 hov-bdr-dark hov-shadow-large anim rd-10 align-c">
						<h2 class="title small pd-20 bdr-b-2 bdr-op-1">Business Plus</h2>
						<div class="pd-tiny">
							<p class="lh-1 mr-b-30 txt-dark"><span class="fs50">$500</span>/mo*</p>
							<p>Business class customer support + One to one help</p>
							<hr>
							<p class="mr-b-30">$555 for monthly</p>
							<a href="#" class="btn btn-default small">Get started now</a>
						</div>
					</div>
					<div class="pd-tiny align-c">
						Unlimited project
						<hr class="mr-tb-10">
						Unlimited sub tasks
						<hr class="mr-tb-10">
						Unlimited sharing
						<hr class="mr-tb-10">
						Unlimited devices
					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Price section **************  -->