<!--
	************************************************************
	* Price section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="price">
		<div class="container align-c">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Simple pricing</h2>
				<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet consetetur sadipscing elitrsed diam nonumy eirmod tempor invidunt</p>
			</div>
			<div class="row gt20 mb20">
				<div class="col-md-3" data-animate-in="fadeInUp|0.1">
					<div class="pd-micro bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-dark anim">
						<div class="bg-primary overflow-hidden rd-6 -mr-b-10 typo-light">
							<h2 class="bg-glass-dark-01 pd-20 title mr-0 small bold-n">Standard</h2>
							<p class="mr-0 pd-tiny"><strong class="fs50">$20</strong>/mo*</p>
						</div>
						<div class="iconbox txt-dark block lh-1 -mr-b-20"><i class="fs60 fa fa-caret-up"></i></div>
						<div class="bg-gray overflow-hidden rd-6 pd-tiny bdr-t-4 bdr-dark">
							<p>Basic customer support for small business</p>
							<hr>
							<p>$25 for monthly</p>
							<a href="#" class="btn btn-primary solid small">Get started</a>
						</div>

						<div class="pd-tiny align-c">
							Up to 20 free project
							<hr class="mr-tb-10">
							Maximum 30 sub tasks
							<hr class="mr-tb-10">
							5 sharing
							<hr class="mr-tb-10">
							Limited to single device
						</div>
					</div><!-- // END : Price box //  -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.2">
					<div class="pd-micro bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-dark anim pos-rel">
						<span class="tag-text rd-4 pos-abs t0 c-item -mr-t-30 bg-default bold-3 pd-lr-20">
							POPULAR
							<i class="fs26 fa fa-caret-down pos-abs c-item txt-default" style="bottom: -15px;"></i>
						</span>
						<div class="bg-dark overflow-hidden rd-6 -mr-b-10 typo-light">
							<h2 class="bg-glass-dark-03 pd-20 title mr-0 small bold-n">Pro</h2>
							<p class="mr-0 pd-tiny"><strong class="fs50">$30</strong>/mo*</p>
						</div>
						<div class="iconbox txt-dark block lh-1 -mr-b-20"><i class="fs60 fa fa-caret-up"></i></div>
						<div class="bg-gray overflow-hidden rd-6 pd-tiny bdr-t-4 bdr-dark">
							<p>All-in-one customer support for small business</p>
							<hr>
							<p>$35 for monthly</p>
							<a href="#" class="btn btn-dark solid small">Get started</a>
						</div>

						<div class="pd-tiny align-c">
							Up to 150 project
							<hr class="mr-tb-10">
							Maximum 300 sub tasks
							<hr class="mr-tb-10">
							20 sharing
							<hr class="mr-tb-10">
							Limited to 5 devices
						</div>
					</div><!-- // END : Price box //  -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-3" data-animate-in="fadeInUp|0.3">
					<div class="pd-micro bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-dark anim">
						<div class="bg-primary overflow-hidden rd-6 -mr-b-10 typo-light">
							<h2 class="bg-glass-dark-01 pd-20 title mr-0 small bold-n">Business</h2>
							<p class="mr-0 pd-tiny"><strong class="fs50">$150</strong>/mo*</p>
						</div>
						<div class="iconbox txt-dark block lh-1 -mr-b-20"><i class="fs60 fa fa-caret-up"></i></div>
						<div class="bg-gray overflow-hidden rd-6 pd-tiny bdr-t-4 bdr-dark">
							<p>Business class customer support + One to one help</p>
							<hr>
							<p>$155 for monthly</p>
							<a href="#" class="btn btn-primary solid small">Get started</a>
						</div>

						<div class="pd-tiny align-c">
							Up to 300 free project
							<hr class="mr-tb-10">
							Maximum 1000 sub tasks
							<hr class="mr-tb-10">
							100 sharing
							<hr class="mr-tb-10">
							Unlimited devices
						</div>
					</div><!-- // END : Price box //  -->
				</div><!-- // END : column //  -->

				<div class="col-md-3" data-animate-in="fadeInUp|0.4">
					<div class="pd-micro bdr-2 hov-shadow-large rd-10 bdr-glass hov-bdr-dark anim">
						<div class="bg-primary overflow-hidden rd-6 -mr-b-10 typo-light">
							<h2 class="bg-glass-dark-01 pd-20 title mr-0 small bold-n">Business Plus</h2>
							<p class="mr-0 pd-tiny"><strong class="fs50">$500</strong>/mo*</p>
						</div>
						<div class="iconbox txt-dark block lh-1 -mr-b-20"><i class="fs60 fa fa-caret-up"></i></div>
						<div class="bg-gray overflow-hidden rd-6 pd-tiny bdr-t-4 bdr-dark">
							<p>Business class customer support + One to one help</p>
							<hr>
							<p>$555 for monthly</p>
							<a href="#" class="btn btn-primary solid small">Get started</a>
						</div>

						<div class="pd-tiny align-c">
							Unlimited project
							<hr class="mr-tb-10">
							Unlimited sub tasks
							<hr class="mr-tb-10">
							Unlimited sharing
							<hr class="mr-tb-10">
							Unlimited devices
						</div>
					</div><!-- // END : Price box //  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- / container -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Price section **************  -->