<!--
	************************************************************
	* Pricing section
	************************************************************ -->
	<section class="pd-tb-medium pos-rel" data-rgen-sm="pd-tb-small align-c" id="price">
		<div class="container pos-rel z1">
			<div class="row middle-md">
				<div class="col-md-4" data-rgen-sm="mr-b-20" data-animate-in="fadeIn">
					<h2 class="title" data-rgen-sm="medium">Straightforward Pricing</h2>
					<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur natus fugiat beatae blanditiis, in, molestias sequi.</p>
					<hr>
					<h3 class="title mini bold-n">Talk to us</h3>
					<p>Drop us a line and we'll get back to you shortly.</p>
					<a href="http://goo.gl/hs5BPz" class="btn btn-dark small bold-n">Contact Us</a>
				</div>

				<!--=====================================
				=            Pricing details            =
				======================================-->
				
				<div class="col-md-7 offset-md-1 align-c">
					<div class="row gt40 mb20">
						<div class="col-md-6" data-animate-in="fadeInUp">
							<!-- Price block -->
							<div class="price-table-1 anim align-c bdr-1 bdr-op-1 pd-tiny rd-5">
								<h2 class="title small pd-10">FREE</h2>

								<hr>
								
								<h3 class="fs60 bold-n mr-0">$0</h3>
								<p>Per Month</p>

								<hr>
								
								<p>Up to 20 free project</p>
								<p>Maximum 30 sub tasks</p>
								<p>5 sharing</p>
								<p>Limited to single device</p>
								
								<hr>

								<a href="http://goo.gl/hs5BPz" class="btn btn-dark solid mr-tb-20">GET STARTED</a>
							</div>
							<!-- Price block -->
						</div><!-- column -->

						<div class="col-md-6" data-animate-in="fadeInUp|0.1">
							<!-- Price block -->
							<div class="price-table-1 anim align-c bdr-1 bdr-default pd-tiny rd-5">
								<span class="tag-text bg-default">Most Popular</span>
								<h2 class="title small pd-10 txt-default">PREMIUM</h2>

								<hr>
								
								<h3 class="fs60 bold-n mr-0">$5.99</h3>
								<p>Per Month</p>

								<hr>

								<p>Unlimited project</p>
								<p>Unlimited sub tasks</p>
								<p>Unlimited sharing</p>
								<p>Unlimited all device</p>
								
								<hr>

								<a href="http://goo.gl/hs5BPz" class="btn btn-dark solid mr-tb-20">GET STARTED</a>
							</div>
							<!-- Price block -->
						</div><!-- column -->

					</div><!-- row -->
				</div><!-- column -->
			</div><!-- row -->

			<hr class="mr-tb-50">
			
			<!--=================================
			=            FAQ section            =
			==================================-->
			
			<h2 class="title small mr-b-40 align-c">Frequently Asked Questions</h2>

			<div class="row gt40 mb40" data-animate-in="fadeInUp">
				<div class="col-md-6">
					<h3 class="mr-b-10 fs18 bold-n">Lorem ipsum dolor sit amet</h3>
					<p>consectetur adipisicing elit. Minima vero incidunt vitae totam perferendis, facere esse explicabo corporis, fuga iure? Libero modi commodi quis eligendi, veniam quidem ab quam repellat</p>
				</div>

				<div class="col-md-6">
					<h3 class="mr-b-10 fs18 bold-n">Lorem ipsum dolor sit amet</h3>
					<p>consectetur adipisicing elit. Minima vero incidunt vitae totam perferendis, facere esse explicabo corporis, fuga iure? Libero modi commodi quis eligendi, veniam quidem ab quam repellat</p>
				</div>

				<div class="col-md-6">
					<h3 class="mr-b-10 fs18 bold-n">Lorem ipsum dolor sit amet</h3>
					<p>consectetur adipisicing elit. Minima vero incidunt vitae totam perferendis, facere esse explicabo corporis, fuga iure? Libero modi commodi quis eligendi, veniam quidem ab quam repellat</p>
				</div>

				<div class="col-md-6">
					<h3 class="mr-b-10 fs18 bold-n">Lorem ipsum dolor sit amet</h3>
					<p>consectetur adipisicing elit. Minima vero incidunt vitae totam perferendis, facere esse explicabo corporis, fuga iure? Libero modi commodi quis eligendi, veniam quidem ab quam repellat</p>
				</div>
			</div>
			
			<div class="row gt20 mb20 middle-md align-c">
				<div class="col-md-4"><hr></div>
				<div class="col-md-4">
					<a href="http://goo.gl/hs5BPz" class="btn btn-dark block small bold-n">Browse all FAQs &nbsp; <i class="fa fa-long-arrow-right"></i></a>	
				</div>
				<div class="col-md-4"><hr></div>
			</div>
			

		</div><!-- container -->
	</section>
	<!-- ************** END : Pricing section **************  -->