<!--
	************************************************************
	* Products section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="about">
		<div class="container align-c">
			<div class="w75 mr-auto" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="medium">Exclusive Collection</h2>
				<p class="title-sub mr-b-60" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua</p>
			</div>
			
			<!--=================================
			= carousel-widget
			==================================-->
			<div class="carousel-widget ctrl-1" data-animate-in="fadeIn|0.1">
				<div class="owl-carousel"
					data-margin="30"
					data-xs-items="1"
					data-sm-items="1"
					data-md-items="3"
					data-lg-items="3"
					data-dots="true"
					data-autoplay="false"
					data-center="false"
					data-nav="true">
					
					<div class="item">
						<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
							<div class="img pos-rel">
								<span class="tag-text pos-abs l2 t2 fs11 z1">SAVE 10%</span>
								<div class="sq90 fs16 rd bg-primary txt-white iconbox pos-abs z1 b0 r10 -mr-b-10 lh-3 align-c shadow-mini">
									<div class="content">
										<span class="l-through fs12">$50.00</span>
										<strong>$40.00</strong>
									</div>
								</div>
								<a href="#"><img src="images/prd_1.jpg" alt="product image"></a>
							</div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">Consetetur sadipsc</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
								<hr>
								<a href="#" class="btn btn-dark solid small">Buy now</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->
					
					<div class="item">
						<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
							<div class="img pos-rel">
								<span class="tag-text pos-abs l2 t2 fs11 z1">SAVE 10%</span>
								<div class="sq90 fs16 rd bg-primary txt-white iconbox pos-abs z1 b0 r10 -mr-b-10 lh-3 align-c shadow-mini">
									<div class="content">
										<span class="l-through fs12">$50.00</span>
										<strong>$40.00</strong>
									</div>
								</div>
								<a href="#"><img src="images/prd_2.jpg" alt="product image"></a>
							</div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">Consetetur sadipsc</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
								<hr>
								<a href="#" class="btn btn-dark solid small">Buy now</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
							<div class="img pos-rel">
								<div class="sq90 fs16 rd bg-primary txt-white iconbox pos-abs z1 b0 r10 -mr-b-10 lh-3 align-c shadow-mini">
									<div class="content">
										<strong>$40.00</strong>
									</div>
								</div>
								<a href="#"><img src="images/prd_3.jpg" alt="product image"></a>
							</div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">Consetetur sadipsc</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
								<hr>
								<a href="#" class="btn btn-dark solid small">Buy now</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
							<div class="img pos-rel">
								<div class="sq90 fs16 rd bg-primary txt-white iconbox pos-abs z1 b0 r10 -mr-b-10 lh-3 align-c shadow-mini">
									<div class="content">
										<strong>$40.00</strong>
									</div>
								</div>
								<a href="#"><img src="images/prd_4.jpg" alt="product image"></a>
							</div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">Consetetur sadipsc</h3>
								<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
								<hr>
								<a href="#" class="btn btn-dark solid small">Buy now</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->
			
			<div class="row gt20 middle-md" data-animate-in="fadeIn|0.2">
				<div class="col-md-4"><hr></div><!-- // END : column //  -->
				
				<div class="col-md-4">
					<a href="#" class="btn btn-dark solid round block">Shop full collection</a>
				</div><!-- // END : column //  -->

				<div class="col-md-4"><hr></div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Products section **************  -->