<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-mini align-c" id="courses">
		<div class="container">

			<!--=================================
			= Course blocks
			==================================-->
			<div class="row gt20 mb20">
				<div class="col-md-4" data-animate-in="fadeInLeft">
					<div class="pos-rel flex-bl pd-tiny min-px-h250 h100">
						<div class="content typo-light pos-rel z2 w100">
							<h2 class="title small txt-upper mr-b-10 bold-5" data-rgen-sm="small"><a href="https://goo.gl/G9rSM5" target="_blank">Learn to code</a></h2>
							<p class="mr-0 italic">Over 200 courses</p>
						</div>
						
						<a href="https://goo.gl/G9rSM5" target="_blank" class="full-wh z1 bg-dark op-04"></a>
						<b class="bg-cc bg-cover full-wh" data-bg="images/edu-800x600-01.jpg"></b>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-8" data-animate-in="fadeInRight">
					<div class="row gt20">
						<div class="col-md-6 mr-b-20">
							<div class="pos-rel flex-bl pd-tiny min-px-h250 h100">
								<div class="content typo-light pos-rel z2 w100">
									<h2 class="title small txt-upper mr-b-10 bold-5" data-rgen-sm="small"><a href="https://goo.gl/G9rSM5" target="_blank">Design & Illustration</a></h2>
									<p class="mr-0 italic">Over 300 courses</p>
								</div>
								
								<a href="https://goo.gl/G9rSM5" target="_blank" class="full-wh z1 bg-dark op-06"></a>
								<b class="bg-cc bg-cover full-wh" data-bg="images/edu-800x600-02.jpg"></b>
							</div>
						</div><!-- // END : column //  -->
						
						<div class="col-md-6 mr-b-20">
							<div class="pos-rel flex-bl pd-tiny min-px-h250 h100 w100">
								<div class="content typo-light pos-rel z2 w100">
									<h2 class="title small txt-upper mr-b-10 bold-5" data-rgen-sm="small"><a href="https://goo.gl/G9rSM5" target="_blank">Web Design</a></h2>
									<p class="mr-0 italic">Over 340 courses</p>
								</div>
								
								<a href="https://goo.gl/G9rSM5" target="_blank" class="full-wh z1 bg-dark op-06"></a>
								<b class="bg-cc bg-cover full-wh" data-bg="images/edu-800x600-03.jpg"></b>
							</div>
						</div><!-- // END : column //  -->

						<div class="col-md-6" data-rgen-sm="mr-b-20">
							<div class="pos-rel flex-bl pd-tiny min-px-h250 h100 w100">
								<div class="content typo-light pos-rel z2 w100">
									<h2 class="title small txt-upper mr-b-10 bold-5" data-rgen-sm="small"><a href="https://goo.gl/G9rSM5" target="_blank">Small business</a></h2>
									<p class="mr-0 italic">Over 300 courses</p>
								</div>
								
								<a href="https://goo.gl/G9rSM5" target="_blank" class="full-wh z1 bg-dark op-06"></a>
								<b class="bg-cc bg-cover full-wh" data-bg="images/edu-800x600-04.jpg"></b>
							</div>
						</div><!-- // END : column //  -->
						
						<div class="col-md-6">
							<div class="pos-rel flex-bl pd-tiny min-px-h250 h100 w100">
								<div class="content typo-light pos-rel z2 w100">
									<h2 class="title small txt-upper mr-b-10 bold-5" data-rgen-sm="small"><a href="https://goo.gl/G9rSM5" target="_blank">PHOTOGRAPHY & VIDEOGRAPHY</a></h2>
									<p class="mr-0 italic">Over 300 courses</p>
								</div>
								
								<a href="https://goo.gl/G9rSM5" target="_blank" class="full-wh z1 bg-dark op-06"></a>
								<b class="bg-cc bg-cover full-wh" data-bg="images/edu-800x600-05.jpg"></b>
							</div>
						</div><!-- // END : column //  -->
					</div><!-- // END : row //  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
			

			<!--=================================
			= Courses bottom content
			==================================-->
			<div class="pd-t-mini align-c">
				<h2 class="title bold-1 mr-b-small" data-rgen-sm="medium mr-b-20" data-animate-in="fadeIn|0.1">Get everything you wanted to learn</h2>
				<div class="row gt60 mb20 row-sep bdr-op-1">
					<div class="col-md-3" data-animate-in="fadeInUp|0.2">
						<div class="info-obj img-t g20 small align-c">
							<div class="img txt-primary"><span class="iconwrp"><i class="pe-7s-loop"></i></span></div>
							<div class="info">
								<h3 class="title mini">4000+ courses</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
					
					<div class="col-md-3" data-animate-in="fadeInUp|0.3">
						<div class="info-obj img-t g20 small align-c">
							<div class="img txt-primary"><span class="iconwrp"><i class="pe-7s-users"></i></span></div>
							<div class="info">
								<h3 class="title mini">Expert Instructors</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-3" data-animate-in="fadeInUp|0.4">
						<div class="info-obj img-t g20 small align-c">
							<div class="img txt-primary"><span class="iconwrp"><i class="pe-7s-id"></i></span></div>
							<div class="info">
								<h3 class="title mini">Lifetime access</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->

					<div class="col-md-3" data-animate-in="fadeInUp|0.5">
						<div class="info-obj img-t g20 small align-c">
							<div class="img txt-primary"><span class="iconwrp"><i class="pe-7s-phone"></i></span></div>
							<div class="info">
								<h3 class="title mini">Mobile learning</h3>
								<p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							</div>
						</div><!-- info box -->
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->
			</div>
			
		</div><!-- // END : container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Product section **************  -->