<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-mini align-c" id="destinations">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h3 class="f-2 bold-n mr-0 txt-primary" data-rgen-sm="fs20">Destinations</h3>
				<h2 class="title f-1 large txt-upper" data-rgen-sm="medium">Explore popular destinations</h2>
				<p class="title-sub mini" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam incidunt debitis molestias ex quam nobis</p>
			</div>
			<div class="row gt20 mb20">
				
				<div class="col-md-2" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g0 align-c">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/destination-01.jpg" alt="Image"></a></div>
						<div class="info pd-20 bg-default typo-light">
							<h2 class="title tiny mr-b-micro"><a href="https://goo.gl/G9rSM5">NEW YORK</a></h2>
							<a href="https://goo.gl/G9rSM5" class="btn btn-white mini solid">Explore</a>
						</div>
					</div><!-- feedback box -->
				</div><!-- / column -->

				<div class="col-md-2" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g0 align-c">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/destination-02.jpg" alt="Image"></a></div>
						<div class="info pd-20 bg-default typo-light">
							<h2 class="title tiny mr-b-micro"><a href="https://goo.gl/G9rSM5">LONDON</a></h2>
							<a href="https://goo.gl/G9rSM5" class="btn btn-white mini solid">Explore</a>
						</div>
					</div><!-- feedback box -->
				</div><!-- / column -->

				<div class="col-md-2" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g0 align-c">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/destination-03.jpg" alt="Image"></a></div>
						<div class="info pd-20 bg-default typo-light">
							<h2 class="title tiny mr-b-micro"><a href="https://goo.gl/G9rSM5">DUBAI</a></h2>
							<a href="https://goo.gl/G9rSM5" class="btn btn-white mini solid">Explore</a>
						</div>
					</div><!-- feedback box -->
				</div><!-- / column -->

				<div class="col-md-2" data-animate-in="fadeInUp|0.4">
					<div class="info-obj img-t g0 align-c">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/destination-04.jpg" alt="Image"></a></div>
						<div class="info pd-20 bg-default typo-light">
							<h2 class="title tiny mr-b-micro"><a href="https://goo.gl/G9rSM5">PARIS</a></h2>
							<a href="https://goo.gl/G9rSM5" class="btn btn-white mini solid">Explore</a>
						</div>
					</div><!-- feedback box -->
				</div><!-- / column -->

				<div class="col-md-2" data-animate-in="fadeInUp|0.5">
					<div class="info-obj img-t g0 align-c">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/destination-05.jpg" alt="Image"></a></div>
						<div class="info pd-20 bg-default typo-light">
							<h2 class="title tiny mr-b-micro"><a href="https://goo.gl/G9rSM5">LAS VEGAS</a></h2>
							<a href="https://goo.gl/G9rSM5" class="btn btn-white mini solid">Explore</a>
						</div>
					</div><!-- feedback box -->
				</div><!-- / column -->

				<div class="col-md-2" data-animate-in="fadeInUp|0.6">
					<div class="info-obj img-t g0 align-c">
						<div class="img"><a href="https://goo.gl/G9rSM5"><img src="images/destination-06.jpg" alt="Image"></a></div>
						<div class="info pd-20 bg-default typo-light">
							<h2 class="title tiny mr-b-micro"><a href="https://goo.gl/G9rSM5">SINGAPORE</a></h2>
							<a href="https://goo.gl/G9rSM5" class="btn btn-white mini solid">Explore</a>
						</div>
					</div><!-- feedback box -->
				</div><!-- / column -->

			</div><!-- / row -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Product section **************  -->