<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="properties">
		<div class="container">
			<div class="row gt80 mb20 row-sep">
				<div class="col-md-6" data-animate-in="fadeInLeft">
					<h2 class="title mr-b-40" data-rgen-sm="medium">Properties to Buy</h2>
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/realestate_800x600_01.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini mr-b-10">3140 Cherry Street Mobile, AL 36605</h3>
							<p class="mr-b-10">
								<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
								<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
								<i class="fa fa-building-o"></i> 1908 Sq Ft
							</p>
							<p class="mr-0">
								<strong class="fs22 align-m mr-r-20 txt-default">$300000</strong>
								<a href="#" class="btn btn-default mini">More info</a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/realestate_800x600_02.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini mr-b-10">3140 Cherry Street Mobile, AL 36605</h3>
							<p class="mr-b-10">
								<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
								<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
								<i class="fa fa-building-o"></i> 1908 Sq Ft
							</p>
							<p class="mr-0">
								<strong class="fs22 align-m mr-r-20 txt-default">$300000</strong>
								<a href="#" class="btn btn-default mini">More info</a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/realestate_800x600_03.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini mr-b-10">3140 Cherry Street Mobile, AL 36605</h3>
							<p class="mr-b-10">
								<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
								<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
								<i class="fa fa-building-o"></i> 1908 Sq Ft
							</p>
							<p class="mr-0">
								<strong class="fs22 align-m mr-r-20 txt-default">$300000</strong>
								<a href="#" class="btn btn-default mini">More info</a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/realestate_800x600_04.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini mr-b-10">3140 Cherry Street Mobile, AL 36605</h3>
							<p class="mr-b-10">
								<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
								<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
								<i class="fa fa-building-o"></i> 1908 Sq Ft
							</p>
							<p class="mr-0">
								<strong class="fs22 align-m mr-r-20 txt-default">$300000</strong>
								<a href="#" class="btn btn-default mini">More info</a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<a href="#" class="btn btn-dark solid">View all buying properties</a>

				</div><!-- // END : column //  -->
				
				<div class="col-md-6" data-animate-in="fadeInRight">
					<h2 class="title mr-b-40" data-rgen-sm="medium">Properties to Rent</h2>
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/realestate_800x600_05.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini mr-b-10">3140 Cherry Street Mobile, AL 36605</h3>
							<p class="mr-b-10">
								<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
								<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
								<i class="fa fa-building-o"></i> 1908 Sq Ft
							</p>
							<p class="mr-0">
								<strong class="fs22 align-m mr-r-20 txt-default">$300000</strong>
								<a href="#" class="btn btn-default mini">More info</a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/realestate_800x600_06.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini mr-b-10">3140 Cherry Street Mobile, AL 36605</h3>
							<p class="mr-b-10">
								<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
								<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
								<i class="fa fa-building-o"></i> 1908 Sq Ft
							</p>
							<p class="mr-0">
								<strong class="fs22 align-m mr-r-20 txt-default">$300000</strong>
								<a href="#" class="btn btn-default mini">More info</a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/realestate_800x600_07.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini mr-b-10">3140 Cherry Street Mobile, AL 36605</h3>
							<p class="mr-b-10">
								<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
								<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
								<i class="fa fa-building-o"></i> 1908 Sq Ft
							</p>
							<p class="mr-0">
								<strong class="fs22 align-m mr-r-20 txt-default">$300000</strong>
								<a href="#" class="btn btn-default mini">More info</a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/realestate_800x600_08.jpg" alt="image"></div>
						<div class="info">
							<h3 class="title mini mr-b-10">3140 Cherry Street Mobile, AL 36605</h3>
							<p class="mr-b-10">
								<i class="fa fa-bed"></i> 3 Bed, &nbsp;&nbsp; 
								<i class="fa fa-tint"></i> 2 Bath, &nbsp;&nbsp;
								<i class="fa fa-building-o"></i> 1908 Sq Ft
							</p>
							<p class="mr-0">
								<strong class="fs22 align-m mr-r-20 txt-default">$300000</strong>
								<a href="#" class="btn btn-default mini">More info</a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<a href="#" class="btn btn-dark solid">View all rental properties</a>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Product section **************  -->