<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small align-c" id="about">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="medium">Most Popular Packages</h2>
				<p class="title-sub mr-b-60" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
			
			<!--=================================
			= carousel-widget
			==================================-->
			<div class="carousel-widget ctrl-1">
				<div class="owl-carousel"
					data-items="1"
					data-margin="30"
					data-xs-items="1"
					data-sm-items="1"
					data-md-items="1"
					data-lg-items="1"
					data-dots="true"
					data-autoplay="false"
					data-center="true"
					data-nav="true">
					<div class="item pd-micro">
						<div class="row gt0 shadow-tiny">
							<div class="col-md-6">
								<a href="#"><img src="images/travel_800x600_01.jpg" alt="Image"></a>
							</div><!-- // END : column //  -->
							<div class="col-md-6 bg-white">
								<div class="pd-mini" data-rgen-sm="pd-20">
									<small class="tag-text mr-b-10 bg-primary">NEW YORK CITY</small>
									<h2 class="title small mr-b-30" data-rgen-sm="small">
										<a href="#" target="_blank">Empire State Building, Statue of Liberty and 9/11 Memorial</a>
									</h2>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
									<hr class="mr-tb-20">
									<div class="row gt20 middle-md">
										<div class="col-md-6 txt-default">
											<small class="fs16">From</small><br>
											<strong class="fs30">$99.00</strong>
										</div><!-- // END : column //  -->
										<div class="col-md-6 align-r" data-rgen-sm="align-c">
											<a href="#" target="_blank" class="btn btn-dark solid small bdr-2 bold-4">More info</a>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- /.item -->
					
					<div class="item pd-micro">
						<div class="row gt0 shadow-tiny">
							<div class="col-md-6">
								<a href="#"><img src="images/travel_800x600_02.jpg" alt="Image"></a>
							</div><!-- // END : column //  -->
							<div class="col-md-6 bg-white">
								<div class="pd-mini" data-rgen-sm="pd-20">
									<small class="tag-text mr-b-10 bg-primary">PARIS</small>
									<h2 class="title small mr-b-30" data-rgen-sm="small">
										<a href="#" target="_blank">Luxury Paris Day Trip and Eiffel Tower</a>
									</h2>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
									<hr class="mr-tb-20">
									<div class="row gt20 middle-md">
										<div class="col-md-6 txt-default">
											<small class="fs16">From</small><br>
											<strong class="fs30">$110.00</strong>
										</div><!-- // END : column //  -->
										<div class="col-md-6 align-r" data-rgen-sm="align-c">
											<a href="#" target="_blank" class="btn btn-dark solid small bdr-2 bold-4">More info</a>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- /.item -->

					<div class="item pd-micro">
						<div class="row gt0 shadow-tiny">
							<div class="col-md-6">
								<a href="#"><img src="images/travel_800x600_03.jpg" alt="Image"></a>
							</div><!-- // END : column //  -->
							<div class="col-md-6 bg-white">
								<div class="pd-mini" data-rgen-sm="pd-20">
									<small class="tag-text mr-b-10 bg-primary">LAS VEGAS</small>
									<h2 class="title small mr-b-30" data-rgen-sm="small">
										<a href="#" target="_blank">Las Vegas Hollywood Resort and Casino</a>
									</h2>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
									<hr class="mr-tb-20">
									<div class="row gt20 middle-md">
										<div class="col-md-6 txt-default">
											<small class="fs16">From</small><br>
											<strong class="fs30">$100.00</strong>
										</div><!-- // END : column //  -->
										<div class="col-md-6 align-r" data-rgen-sm="align-c">
											<a href="#" target="_blank" class="btn btn-dark solid small bdr-2 bold-4">More info</a>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- /.item -->
				
					<div class="item pd-micro">
						<div class="row gt0 shadow-tiny">
							<div class="col-md-6">
								<a href="#"><img src="images/travel_800x600_04.jpg" alt="Image"></a>
							</div><!-- // END : column //  -->
							<div class="col-md-6 bg-white">
								<div class="pd-mini" data-rgen-sm="pd-20">
									<small class="tag-text mr-b-10 bg-primary">ROME</small>
									<h2 class="title small mr-b-30" data-rgen-sm="small">
										<a href="#" target="_blank">Ancient Rome and Colosseum Walking Tour</a>
									</h2>
									<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
									<hr class="mr-tb-20">
									<div class="row gt20 middle-md">
										<div class="col-md-6 txt-default">
											<small class="fs16">From</small><br>
											<strong class="fs30">$110.00</strong>
										</div><!-- // END : column //  -->
										<div class="col-md-6 align-r" data-rgen-sm="align-c">
											<a href="#" target="_blank" class="btn btn-dark solid small bdr-2 bold-4">More info</a>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Product section **************  -->