<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small align-c" id="about">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="medium">Most Popular Classes</h2>
				<p class="title-sub mr-b-60" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
			
			<!--=================================
			= carousel-widget
			==================================-->
			<div class="carousel-widget ctrl-1" data-animate-in="fadeIn|0.1">
				<div class="owl-carousel"
					data-items="1"
					data-margin="30"
					data-xs-items="1"
					data-sm-items="1"
					data-md-items="1"
					data-lg-items="1"
					data-dots="true"
					data-autoplay="false"
					data-center="true"
					data-nav="true">
					<div class="item pd-micro">
						<div class="row shadow-tiny gt0">
							<div class="col-md-6">
								<a href="#"><img src="images/yoga_800x600_01.jpg" alt="Image"></a>
							</div><!-- // END : column //  -->
							<div class="col-md-6 bg-white">
								<div class="pd-mini" data-rgen-sm="pd-20">
									<small class="tag-text mr-b-10 bg-default">Time : 07:30 - 10:00</small>
									<h2 class="title small">
										<a href="#" target="_blank">Mixed Ability Yoga Classes</a>
									</h2>
									<p class="mr-b-40">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
									
									<h6 class="title mini">Yoga Trainer</h6>
									<hr class="mr-tb-10">
									<div class="row gt20 middle-md">
										<div class="col-md-6">

											<div class="info-obj img-l g20 small" data-rgen-sm="align-l">
												<div class="img"><img src="images/person1.jpg" class="rd" alt="Teacher"></div>
												<div class="info">
													<h3 class="title tiny bold-n mr-b-4">Jessie Mckinney</h3>
													<p class="mr-b-4">Mixed Yoga</p>
													<a href="#"><i class="fab fa-facebook-f"></i></a> &nbsp; 
													<a href="#"><i class="fab fa-twitter"></i></a> &nbsp; 
													<a href="#"><i class="fab fa-google-plus"></i></a> 
												</div>
											</div><!-- info box -->
										</div><!-- // END : column //  -->
										<div class="col-md-6 align-r" data-rgen-sm="align-c">
											<a href="#" target="_blank" class="btn btn-dark small bdr-2 bold-4">More info</a>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- /.item -->
					
					<div class="item pd-micro">
						<div class="row shadow-tiny gt0">
							<div class="col-md-6">
								<a href="#"><img src="images/yoga_800x600_02.jpg" alt="Image"></a>
							</div><!-- // END : column //  -->
							<div class="col-md-6 bg-white">
								<div class="pd-mini" data-rgen-sm="pd-20">
									<small class="tag-text mr-b-10 bg-default">Time : 07:30 - 10:00</small>
									<h2 class="title small">
										<a href="#" target="_blank">Mixed Ability Yoga Classes</a>
									</h2>
									<p class="mr-b-40">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
									
									<h6 class="title mini">Yoga Trainer</h6>
									<hr class="mr-tb-10">
									<div class="row gt20 middle-md">
										<div class="col-md-6">

											<div class="info-obj img-l g20 small" data-rgen-sm="align-l">
												<div class="img"><img src="images/person4.jpg" class="rd" alt="Teacher"></div>
												<div class="info">
													<h3 class="title tiny bold-n mr-b-4">Lydia Park</h3>
													<p class="mr-b-4">Mixed Yoga</p>
													<a href="#"><i class="fab fa-facebook-f"></i></a> &nbsp; 
													<a href="#"><i class="fab fa-twitter"></i></a> &nbsp; 
													<a href="#"><i class="fab fa-google-plus"></i></a> 
												</div>
											</div><!-- info box -->
										</div><!-- // END : column //  -->
										<div class="col-md-6 align-r" data-rgen-sm="align-c">
											<a href="#" target="_blank" class="btn btn-dark small bdr-2 bold-4">More info</a>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- /.item -->

					<div class="item pd-micro">
						<div class="row shadow-tiny gt0">
							<div class="col-md-6">
								<a href="#"><img src="images/yoga_800x600_03.jpg" alt="Image"></a>
							</div><!-- // END : column //  -->
							<div class="col-md-6 bg-white">
								<div class="pd-mini" data-rgen-sm="pd-20">
									<small class="tag-text mr-b-10 bg-default">Time : 08:00 - 10:00</small>
									<h2 class="title small">
										<a href="#" target="_blank">Beginners Yoga Classes</a>
									</h2>
									<p class="mr-b-40">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
									
									<h6 class="title mini">Yoga Trainer</h6>
									<hr class="mr-tb-10">
									<div class="row gt20 middle-md">
										<div class="col-md-6">

											<div class="info-obj img-l g20 small" data-rgen-sm="align-l">
												<div class="img"><img src="images/person2.jpg" class="rd" alt="Teacher"></div>
												<div class="info">
													<h3 class="title tiny bold-n mr-b-4">Alma Gomez</h3>
													<p class="mr-b-4">Beginners Yoga</p>
													<a href="#"><i class="fab fa-facebook-f"></i></a> &nbsp; 
													<a href="#"><i class="fab fa-twitter"></i></a> &nbsp; 
													<a href="#"><i class="fab fa-google-plus"></i></a> 
												</div>
											</div><!-- info box -->
										</div><!-- // END : column //  -->
										<div class="col-md-6 align-r" data-rgen-sm="align-c">
											<a href="#" target="_blank" class="btn btn-dark small bdr-2 bold-4">More info</a>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- /.item -->

					<div class="item pd-micro">
						<div class="row shadow-tiny gt0">
							<div class="col-md-6">
								<a href="#"><img src="images/yoga_800x600_04.jpg" alt="Image"></a>
							</div><!-- // END : column //  -->
							<div class="col-md-6 bg-white">
								<div class="pd-mini" data-rgen-sm="pd-20">
									<small class="tag-text mr-b-10 bg-default">Time : 07:30 - 10:00</small>
									<h2 class="title small">
										<a href="#" target="_blank">Intermediate Yoga Classes</a>
									</h2>
									<p class="mr-b-40">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam...</p>
									
									<h6 class="title mini">Yoga Trainer</h6>
									<hr class="mr-tb-10">
									<div class="row gt20 middle-md">
										<div class="col-md-6">

											<div class="info-obj img-l g20 small" data-rgen-sm="align-l">
												<div class="img"><img src="images/person3.jpg" class="rd" alt="Teacher"></div>
												<div class="info">
													<h3 class="title tiny bold-n mr-b-4">Peggy Washington</h3>
													<p class="mr-b-4">Mixed Yoga</p>
													<a href="#"><i class="fab fa-facebook-f"></i></a> &nbsp; 
													<a href="#"><i class="fab fa-twitter"></i></a> &nbsp; 
													<a href="#"><i class="fab fa-google-plus"></i></a> 
												</div>
											</div><!-- info box -->
										</div><!-- // END : column //  -->
										<div class="col-md-6 align-r" data-rgen-sm="align-c">
											<a href="#" target="_blank" class="btn btn-dark small bdr-2 bold-4">More info</a>
										</div><!-- // END : column //  -->
									</div><!-- // END : row //  -->
								</div>
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->

			<hr class="mr-tb-40">
			<div class="align-c">
				<a href="#" class="btn btn-dark mr-6 solid">View all yoga course</a>
				<a href="#" class="btn btn-dark mr-6 solid">Book your free trial</a>	
			</div>
			
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Product section **************  -->