<!--
	************************************************************
	* Product section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c" id="about">
		<div class="container">
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title large" data-rgen-sm="medium">Our Training Programs</h2>
				<p class="title-sub mr-b-60" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing elitr diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
			</div>
			
			<div class="row gt60 mb20">
				<div class="col-md-5" data-animate-in="fadeInLeft">
					<!--=================================
					= carousel-widget
					==================================-->
					<div class="carousel-widget ctrl-1">
						<div class="owl-carousel"
							data-margin="30"
							data-xs-items="1"
							data-sm-items="1"
							data-md-items="1"
							data-lg-items="1"
							data-dots="true"
							data-autoplay="false"
							data-center="true"
							data-nav="true">
							
							<div class="item">
								<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
									<div class="img pos-rel">
										<span class="tag-text pos-abs l2 t2 fs11 z1">Personal Training Plans</span>
										<div data-bgcolor="#DC0E28" class="sq90 fs16 rd txt-white iconbox pos-abs b0 r10 -mr-b-10 lh-3 align-c shadow-mini z1"><span>From<br>$43.00</span></div>
										<img src="images/gym_800x600_07.jpg" alt="Product image">
									</div>
									<div class="info pd-tiny bg-gray">
										<h3 class="title mini">Cardio Training</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
										<hr>
										<ul class="list-3">
											<li>Endless possibilities</li>
											<li>Easy from setup</li>
											<li>Advanced builder</li>
											<li>1300+ icons</li>
										</ul>
										<hr>
										<a href="#" class="btn btn-secondary solid mr-b-10 small">More info</a>
										<p class="fs12 mr-0">* Lorem ipsum dolor sit amet</p>
									</div>
								</div><!-- info box -->
							</div><!-- /.item -->
							
							<div class="item">
								<div class="info-obj img-t hov-shadow-medium bdr-1 bdr-glass hov-bdr-op-3 anim">
									<div class="img pos-rel">
										<span class="tag-text pos-abs l2 t2 fs11 z1">Personal Training Plans</span>
										<div data-bgcolor="#DC0E28" class="sq90 fs16 rd txt-white iconbox pos-abs b0 r10 -mr-b-10 lh-3 align-c shadow-mini z1"><span>From<br>$43.00</span></div>
										<img src="images/gym_800x600_08.jpg" alt="Product image">
									</div>
									<div class="info pd-tiny bg-gray">
										<h3 class="title mini">Power Training</h3>
										<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore</p>
										<hr>
										<ul class="list-3">
											<li>Endless possibilities</li>
											<li>Easy from setup</li>
											<li>Advanced builder</li>
											<li>1300+ icons</li>
										</ul>
										<hr>
										<a href="#" class="btn btn-secondary solid mr-b-10 small">More info</a>
										<p class="fs12 mr-0">* Lorem ipsum dolor sit amet</p>
									</div>
								</div><!-- info box -->
							</div><!-- /.item -->

						</div><!-- /.owl-carousel -->
					</div><!-- /.carousel-widget -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-7" data-animate-in="fadeInRight">
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/gym_800x600_01.jpg" alt="Image"></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="#">Indoor Cycling</a></h3>
							<p class="mr-b-10">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							<p class="mr-0">
								<strong class="fs20 align-m mr-r-10 txt-dark">$1500</strong>
								<a href="#" class="btn btn-secondary mini bdr-glass">More info &nbsp; <i class="fa fa-long-arrow-right"></i></a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/gym_800x600_02.jpg" alt="Image"></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="#">Heavy Weight</a></h3>
							<p class="mr-b-10">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							<p class="mr-0">
								<strong class="fs20 align-m mr-r-10 txt-dark">$1500</strong>
								<a href="#" class="btn btn-secondary mini bdr-glass">More info &nbsp; <i class="fa fa-long-arrow-right"></i></a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/gym_800x600_03.jpg" alt="Image"></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="#">Body Building</a></h3>
							<p class="mr-b-10">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							<p class="mr-0">
								<strong class="fs20 align-m mr-r-10 txt-dark">$1500</strong>
								<a href="#" class="btn btn-secondary mini bdr-glass">More info &nbsp; <i class="fa fa-long-arrow-right"></i></a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/gym_800x600_04.jpg" alt="Image"></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="#">Aerobics</a></h3>
							<p class="mr-b-10">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							<p class="mr-0">
								<strong class="fs20 align-m mr-r-10 txt-dark">$1500</strong>
								<a href="#" class="btn btn-secondary mini bdr-glass">More info &nbsp; <i class="fa fa-long-arrow-right"></i></a>
							</p>
						</div>
					</div><!-- info box -->
					<hr>
					<div class="info-obj img-l g20 large mid">
						<div class="img"><img src="images/gym_800x600_05.jpg" alt="Image"></div>
						<div class="info">
							<h3 class="title mini mr-b-4"><a href="#">Weight Loss</a></h3>
							<p class="mr-b-10">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
							<p class="mr-0">
								<strong class="fs20 align-m mr-r-10 txt-dark">$1500</strong>
								<a href="#" class="btn btn-secondary mini bdr-glass">More info &nbsp; <i class="fa fa-long-arrow-right"></i></a>
							</p>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Product section **************  -->