<!--
	************************************************************
	* Slider section
	************************************************************ -->
	<section class="pos-rel pd-tb-tiny bg-dark" id="popular">
		<div class="container">
			<!--=================================
			= carousel-widget
			==================================-->
			<div class="carousel-widget align-c typo-light" data-animate-in="fadeIn">
				<div class="owl-carousel"
					data-margin="40"  
					data-dots="false" 
					data-autoplay="true" 
					data-center="false"
					data-loop="true" 
					data-nav="false">
					
					<div class="item">
						<h2 class="title mr-0" data-rgen-sm="medium">Ultimate news display option</h2>
					</div><!-- /.item -->

					<div class="item">
						<h2 class="title mr-0" data-rgen-sm="medium">Quick and easy way to manage data</h2>
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Slider section **************  -->