<!--
	************************************************************
	* Slider section
	************************************************************ -->
	<section class="pd-tb-small pos-rel" data-rgen-sm="pd-tb-small">
		<div class="container">
			<div class="w75 mr-auto align-c mr-b-60" data-animate-in="fadeIn">
				<h3 class="title" data-rgen-sm="medium">Our Services</h3>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>

			<!--
			************************************************************
			* carousel-widget
			************************************************************ -->
			<div class="carousel-widget ctrl-1 align-c" data-animate-in="fadeIn|0.1">
				<div class="owl-carousel"
					data-margin="30" 
					data-xs-items="1" 
					data-sm-items="2" 
					data-md-items="3" 
					data-lg-items="3" 
					data-dots="true" 
					data-autoplay="false" 
					data-center="false"
					data-loop="false" 
					data-nav="true">
					
					<div class="item">
						<div class="info-obj img-t align-c">
							<div class="img"><img src="images/800x600_1.jpg"></div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">DIAGNOSTIC IMAGING</h3>
								<p>Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								<a href="#" class="btn solid small btn-default">Read more...</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c">
							<div class="img"><img src="images/800x600_2.jpg"></div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">CANCER CARE</h3>
								<p>Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								<a href="#" class="btn solid small btn-default">Read more...</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c">
							<div class="img"><img src="images/800x600_3.jpg"></div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">EMERGENCY SERVICES</h3>
								<p>Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								<a href="#" class="btn solid small btn-default">Read more...</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c">
							<div class="img"><img src="images/800x600_4.jpg"></div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">LABORATORY</h3>
								<p>Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								<a href="#" class="btn solid small btn-default">Read more...</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

					<div class="item">
						<div class="info-obj img-t align-c">
							<div class="img"><img src="images/800x600_5.jpg"></div>
							<div class="info pd-tiny bg-gray">
								<h3 class="title mini">SURGERY</h3>
								<p>Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
								<a href="#" class="btn solid small btn-default">Read more...</a>
							</div>
						</div><!-- info box -->
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->
		</div>

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Slider section **************  -->