<!--
	************************************************************
	* Slider section
	************************************************************ -->
	<section class="pos-rel pd-0" data-rgen-sm="pd-tb-small align-c" id="about">
		<div class="swiper-gallery">

			<!-- Large images -->
			<div class="swiper-container gallery-top vh100">
				<div class="swiper-wrapper">

					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/destination_01.jpg">
						<div class="caption-left">
							<div class="caption delay-0-3s typo-light pos-rel z1 align-c">
								<div class="content max-px-w600 pos-rel z2">
									<strong class="tag-text bg-primary fs14 mr-b-10">TRENDING DESTINATION</strong>
									<h3 class="title large" data-rgen-sm="medium">VENICE</h3>
									<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
									<a href="#" class="btn btn-white">Explore destinations</a>
								</div><!-- info box -->
							</div>
						</div>
						<div class="full-wh bg-dark op-07"></div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/destination_02.jpg">
						<div class="caption-left">
							<div class="caption delay-0-3s typo-light pos-rel z1 align-c">
								<div class="content max-px-w600 pos-rel z2">
									<strong class="tag-text bg-primary fs14 mr-b-10">TRENDING DESTINATION</strong>
									<h3 class="title large" data-rgen-sm="medium">PARIS</h3>
									<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
									<a href="#" class="btn btn-white">Explore destinations</a>
								</div><!-- info box -->
							</div>
						</div>
						<div class="full-wh bg-dark op-07"></div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/destination_03.jpg">
						<div class="caption-left">
							<div class="caption delay-0-3s typo-light pos-rel z1 align-c">
								<div class="content max-px-w600 pos-rel z2">
									<strong class="tag-text bg-primary fs14 mr-b-10">TRENDING DESTINATION</strong>
									<h3 class="title large" data-rgen-sm="medium">ROME</h3>
									<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
									<a href="#" class="btn btn-white">Explore destinations</a>
								</div><!-- info box -->
							</div>
						</div>
						<div class="full-wh bg-dark op-07"></div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/destination_04.jpg">
						<div class="caption-left">
							<div class="caption delay-0-3s typo-light pos-rel z1 align-c">
								<div class="content max-px-w600 pos-rel z2">
									<strong class="tag-text bg-primary fs14 mr-b-10">TRENDING DESTINATION</strong>
									<h3 class="title large" data-rgen-sm="medium">NEW YORK CITY</h3>
									<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
									<a href="#" class="btn btn-white">Explore destinations</a>
								</div><!-- info box -->
							</div>
						</div>
						<div class="full-wh bg-dark op-07"></div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/destination_05.jpg">
						<div class="caption-left">
							<div class="caption delay-0-3s typo-light pos-rel z1 align-c">
								<div class="content max-px-w600 pos-rel z2">
									<strong class="tag-text bg-primary fs14 mr-b-10">TRENDING DESTINATION</strong>
									<h3 class="title large" data-rgen-sm="medium">LONDON</h3>
									<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
									<a href="#" class="btn btn-white">Explore destinations</a>
								</div><!-- info box -->
							</div>
						</div>
						<div class="full-wh bg-dark op-07"></div>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/destination_06.jpg">
						<div class="caption-left">
							<div class="caption delay-0-3s typo-light pos-rel z1 align-c">
								<div class="content max-px-w600 pos-rel z2">
									<strong class="tag-text bg-primary fs14 mr-b-10">TRENDING DESTINATION</strong>
									<h3 class="title large" data-rgen-sm="medium">SAN FRANCISCO</h3>
									<p class="title-sub" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
									<a href="#" class="btn btn-white">Explore destinations</a>
								</div><!-- info box -->
							</div>
						</div>
						<div class="full-wh bg-dark op-07"></div>
					</div>

				</div><!-- /.swiper-wrapper -->
				<!-- Navigation buttons -->
				<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
				<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
			</div><!-- /Large images -->

			<!-- Thumb images -->
			<div class="swiper-container gallery-thumbs sm-hide bg-glass-dark-07">
				<div class="swiper-wrapper">
				</div><!-- /.swiper-wrapper -->
				<b class="full-wh bg-glass-dark-03"></b>
			</div><!-- /.Thumb images -->
		</div><!-- /.swiper-gallery -->
	</section>
	<!-- ************** END : Slider section **************  -->