<!--
	************************************************************
	* Slider section
	************************************************************ -->
	<section class="pd-tb-small pos-rel bg-dark" data-rgen-sm="pd-tb-small" id="template">
		<div class="container align-c">
			<div class="w75 mr-auto typo-light" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">Ready to use templates</h2>
				<p class="title-sub" data-rgen-sm="small">R.Gen Landing Pages come up with 35+ ready landing pages for multipurpose use it easy to customize</p>	
			</div>
			
			<!-- carousel-widget -->
			<div class="carousel-widget ctrl-1 ctrl-light popgallery-widget mr-auto zoom-carousel mr-b-40" data-animate-in="fadeIn|0.1">
				<div class="owl-carousel"
					data-margin="0" 
					data-xs-items="1" 
					data-sm-items="2" 
					data-md-items="3" 
					data-lg-items="3" 
					data-dots="true" 
					data-autoplay="false" 
					data-center="true"
					data-loop="false" 
					data-nav="true">
					
					<div class="item pd-10">
						<div class="content anim">
							<a href="http://themeforest.net/item/rgen-landing-pages-with-page-builder/13244840?ref=R_GENESIS" target="_blank"><img src="images/demo-07.png" alt="Image"></a>	
						</div>
					</div><!-- // END : item //  -->

					<div class="item pd-10">
						<div class="content anim">
							<a href="http://themeforest.net/item/rgen-landing-pages-with-page-builder/13244840?ref=R_GENESIS" target="_blank"><img src="images/demo-08.png" alt="Image"></a>	
						</div>
					</div><!-- // END : item //  -->

					<div class="item pd-10">
						<div class="content anim">
							<a href="http://themeforest.net/item/rgen-landing-pages-with-page-builder/13244840?ref=R_GENESIS" target="_blank"><img src="images/demo-01.png" alt="Image"></a>	
						</div>
					</div><!-- // END : item //  -->

					<div class="item pd-10">
						<div class="content anim">
							<a href="http://themeforest.net/item/rgen-landing-pages-with-page-builder/13244840?ref=R_GENESIS" target="_blank"><img src="images/demo-02.png" alt="Image"></a>	
						</div>
					</div><!-- // END : item //  -->

					<div class="item pd-10">
						<div class="content anim">
							<a href="http://themeforest.net/item/rgen-landing-pages-with-page-builder/13244840?ref=R_GENESIS" target="_blank"><img src="images/demo-03.png" alt="Image"></a>	
						</div>
					</div><!-- // END : item //  -->

					<div class="item pd-10">
						<div class="content anim">
							<a href="http://themeforest.net/item/rgen-landing-pages-with-page-builder/13244840?ref=R_GENESIS" target="_blank"><img src="images/demo-04.png" alt="Image"></a>	
						</div>
					</div><!-- // END : item //  -->

					<div class="item pd-10">
						<div class="content anim">
							<a href="http://themeforest.net/item/rgen-landing-pages-with-page-builder/13244840?ref=R_GENESIS" target="_blank"><img src="images/demo-05.png" alt="Image"></a>	
						</div>
					</div><!-- // END : item //  -->

					<div class="item pd-10">
						<div class="content anim">
							<a href="http://themeforest.net/item/rgen-landing-pages-with-page-builder/13244840?ref=R_GENESIS" target="_blank"><img src="images/demo-06.png" alt="Image"></a>	
						</div>
					</div><!-- // END : item //  -->
				</div>
			</div><!-- // END : carousel-widget //  -->
			
			<a href="#" class="btn btn-default round large solid" data-rgen-sm="medium">View all demo templates</a>
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Slider section **************  -->