<!--
	************************************************************
	* Slider section
	************************************************************ -->
	<section class="pos-rel pd-0" id="popular">
		<div class="swiper-gallery">

			<!-- Large images -->
			<div class="swiper-container gallery-top vh100">
				<h2 class="title large bg-glass-dark-02 pd-tiny align-c pos-abs w100 z10 txt-white" data-rgen-sm="small">MOST POPULAR PROPERTIES</h2>
				<div class="swiper-wrapper">
				
					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/realestate_slide01.jpg">
						<div class="container caption-left align-c">
							<div class="caption delay-0-3s typo-light w75 mr-auto">
								<strong class="tag-text bg-default">BUY</strong>
								<p class="fs50 bold-4" data-rgen-sm="fs30">$330000</p>
								<h2 class="title small bold-n mr-b-10" data-rgen-sm="small"><a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS">3884 Sunset Drive Stockbridge, GA 30281</a></h2>
								<p class="mr-0">3 Bed, 2 Bath, 2391 Sq Ft</p>
								<hr class="mr-auto max-px-w200 light">
								
								<a href="#popup-contact-form" class="btn btn-white small popup-contact">Contact Us</a>
							</div>
						</div>
						<b class="full-wh bg-dark op-06"></b>
					</div>

					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/realestate_slide02.jpg">
						<div class="container caption-left align-c">
							<div class="caption delay-0-3s typo-light w75 mr-auto">
								<strong class="tag-text bg-default">BUY</strong>
								<p class="fs50 bold-4" data-rgen-sm="fs30">$330000</p>
								<h2 class="title small bold-n mr-b-10" data-rgen-sm="small"><a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS">3884 Sunset Drive Stockbridge, GA 30281</a></h2>
								<p class="mr-0">3 Bed, 2 Bath, 2391 Sq Ft</p>
								<hr class="mr-auto max-px-w200 light">
								
								<a href="#popup-contact-form" class="btn btn-white small popup-contact">Contact Us</a>
							</div>
						</div>
						<b class="full-wh bg-dark op-06"></b>
					</div>

					
					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/realestate_slide03.jpg">
						<div class="container caption-left align-c">
							<div class="caption delay-0-3s typo-light w75 mr-auto">
								<strong class="tag-text bg-default">BUY</strong>
								<p class="fs50 bold-4" data-rgen-sm="fs30">$530000</p>
								<h2 class="title small bold-n mr-b-10" data-rgen-sm="small"><a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS">3884 Sunset Drive Stockbridge, GA 30281</a></h2>
								<p class="mr-0">4 Bed, 4 Bath, 3590 Sq Ft</p>
								<hr class="mr-auto max-px-w200 light">
								
								<a href="#popup-contact-form" class="btn btn-white small popup-contact">Contact Us</a>
							</div>
						</div>
						<b class="full-wh bg-dark op-06"></b>
					</div>
					

					<!-- Slide -->
					<div class="swiper-slide flex-cc" data-slide-bg="images/realestate_slide04.jpg">
						<div class="container caption-left align-c">
							<div class="caption delay-0-3s typo-light w75 mr-auto">
								<strong class="tag-text bg-default">BUY</strong>
								<p class="fs50 bold-4" data-rgen-sm="fs30">$530000</p>
								<h2 class="title small bold-n mr-b-10" data-rgen-sm="small"><a href="http://themeforest.net/item/rgen-landing-pages/13244840?ref=R_GENESIS">3884 Sunset Drive Stockbridge, GA 30281</a></h2>
								<p class="mr-0">4 Bed, 4 Bath, 3590 Sq Ft</p>
								<hr class="mr-auto max-px-w200 light">
								
								<a href="#popup-contact-form" class="btn btn-white small popup-contact">Contact Us</a>
							</div>
						</div>
						<b class="full-wh bg-dark op-06"></b>
					</div>

				</div><!-- /.swiper-wrapper -->
				<!-- Navigation buttons -->
				<div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
				<div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
			</div><!-- /Large images -->

			<!-- Thumb images -->
			<div class="swiper-container gallery-thumbs sm-hide bg-glass-dark-07">
				<div class="swiper-wrapper">
				</div><!-- /.swiper-wrapper -->
				<b class="full-wh bg-glass-dark-03"></b>
			</div><!-- /.Thumb images -->
		</div><!-- /.swiper-gallery -->
	</section>
	<!-- ************** END : Slider section **************  -->