<!--
	************************************************************
	* Slider section
	************************************************************ -->
	<section class="pd-tb-small pos-rel bg-dark" data-rgen-sm="pd-tb-small align-c">
		<div class="container">
			<div class="w75 mr-auto align-c typo-light" data-animate-in="fadeIn">
				<h3 class="title" data-rgen-sm="medium">Our Services</h3>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>
		</div>
		<!--
		************************************************************
		* carousel-widget
		************************************************************ -->
		<div class="carousel-widget mr-auto ctrl-light ctrl-1 z1 zoom-carousel">
			<div class="owl-carousel"
				data-margin="0" 
				data-xs-items="1" 
				data-sm-items="2" 
				data-md-items="3" 
				data-lg-items="3" 
				data-dots="true" 
				data-autoplay="false" 
				data-center="true"
				data-loop="false" 
				data-nav="true">
				
				<div class="item caption-up">
					<div class="content">
						<div class="caption bg-glass-dark-07 pos-abs b0 w100 z1 pd-tiny typo-light">
							<div class="flex-row gt30 bottom-md">
								<div class="flex-col-md-9">
									<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing unde</h2>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non</p>		
								</div><!-- // END : column //  -->
								<div class="flex-col-md-3">
									<a href="#" class="btn btn-default solid mini block hov-btn-white">Learn more...</a>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div><!-- // END : Caption //  -->
						<img src="images/food_img01.jpg">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content">
						<div class="caption bg-glass-dark-07 pos-abs b0 w100 z1 pd-tiny typo-light">
							<div class="flex-row gt30 bottom-md">
								<div class="flex-col-md-9">
									<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing unde</h2>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non</p>		
								</div><!-- // END : column //  -->
								<div class="flex-col-md-3">
									<a href="#" class="btn btn-default solid mini block hov-btn-white">Learn more...</a>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div><!-- // END : Caption //  -->
						<img src="images/food_img02.jpg">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content">
						<div class="caption bg-glass-dark-07 pos-abs b0 w100 z1 pd-tiny typo-light">
							<div class="flex-row gt30 bottom-md">
								<div class="flex-col-md-9">
									<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing unde</h2>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non</p>		
								</div><!-- // END : column //  -->
								<div class="flex-col-md-3">
									<a href="#" class="btn btn-default solid mini block hov-btn-white">Learn more...</a>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div><!-- // END : Caption //  -->
						<img src="images/food_img03.jpg">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content">
						<div class="caption bg-glass-dark-07 pos-abs b0 w100 z1 pd-tiny typo-light">
							<div class="flex-row gt30 bottom-md">
								<div class="flex-col-md-9">
									<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing unde</h2>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non</p>		
								</div><!-- // END : column //  -->
								<div class="flex-col-md-3">
									<a href="#" class="btn btn-default solid mini block hov-btn-white">Learn more...</a>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div><!-- // END : Caption //  -->
						<img src="images/food_img04.jpg">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content">
						<div class="caption bg-glass-dark-07 pos-abs b0 w100 z1 pd-tiny typo-light">
							<div class="flex-row gt30 bottom-md">
								<div class="flex-col-md-9">
									<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing unde</h2>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non</p>		
								</div><!-- // END : column //  -->
								<div class="flex-col-md-3">
									<a href="#" class="btn btn-default solid mini block hov-btn-white">Learn more...</a>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div><!-- // END : Caption //  -->
						<img src="images/food_img05.jpg">
					</div>
				</div><!-- /.item -->

				<div class="item caption-up">
					<div class="content">
						<div class="caption bg-glass-dark-07 pos-abs b0 w100 z1 pd-tiny typo-light">
							<div class="flex-row gt30 bottom-md">
								<div class="flex-col-md-9">
									<h2 class="title small mr-b-4" data-rgen-sm="small">Consectetur adipisicing unde</h2>
									<p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non</p>		
								</div><!-- // END : column //  -->
								<div class="flex-col-md-3">
									<a href="#" class="btn btn-default solid mini block hov-btn-white">Learn more...</a>
								</div><!-- // END : column //  -->
							</div><!-- // END : row //  -->
						</div><!-- // END : Caption //  -->
						<img src="images/food_img06.jpg">
					</div>
				</div><!-- /.item -->

			</div><!-- /.owl-carousel -->
		</div><!-- /.carousel-widget -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Slider section **************  -->