<!--
	************************************************************
	* Social action
	************************************************************ -->
	<section class="pd-0 align-c bg-gray">
		<div class="row">
			<div class="col-md col-xs-4">
				<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="h100 block fs30 pd-mini btn-primary"><i class="fab fa-facebook-f"></i></a>
			</div><!-- // END : column //  -->
			
			<div class="col-md col-xs-4">
				<a href="https://twitter.com/rgenesisart" target="_blank" class="h100 block fs30 pd-mini btn-primary"><i class="fab fa-twitter"></i></a>
			</div><!-- // END : column //  -->

			<div class="col-md col-xs-4">
				<a href="https://plus.google.com/+RGenesis" target="_blank" class="h100 block fs30 pd-mini btn-primary"><i class="fab fa-google"></i></a>
			</div><!-- // END : column //  -->

			<div class="col-md col-xs-4">
				<a href="https://www.youtube.com/channel/UC6zqsNIOeHQUODHcP70fx8w" target="_blank" class="h100 block fs30 pd-mini btn-primary"><i class="fab fa-youtube"></i></a>
			</div><!-- // END : column //  -->

			<div class="col-md col-xs-4">
				<a href="http://r-genesis-art.tumblr.com/" target="_blank" class="h100 block fs30 pd-mini btn-primary"><i class="fab fa-tumblr"></i></a>
			</div><!-- // END : column //  -->

			<div class="col-md col-xs-4">
				<a href="https://pinterest.com/rgenesis" target="_blank" class="h100 block fs30 pd-mini btn-primary"><i class="fab fa-pinterest-p"></i></a>
			</div><!-- // END : column //  -->
		</div><!-- // END : row //  -->
	</section>
	<!-- ************** END : Social action **************  -->