<!--
	************************************************************
	* Social section
	************************************************************ -->
	<section class="social-section pd-tb-mini bg-default">
		<div class="container typo-light">
			<div class="row gt20 mb20">
				<div class="col-md-2 align-c" data-animate-in="fadeInLeft">
					<a href="#" class="iconbox sq100 fs60 rd bg-white txt-default"><i class="fab fa-twitter"></i></a>
				</div><!-- // END : column //  -->
				
				<!-- 
				data-twitter-tplclass => parent block classes
				data-twitter-tplclass1 => title classes
				data-twitter-tplclass2 => button classes
				-->
				<div class="col-md-8" data-animate-in="fadeInRight">
					<div class="twitter-widget" 
						data-twitter-tpl="twitter3" 
						data-twitter-user="envatomarket"
						data-twitter-limit="6"
						data-twitter-length="200"
						data-twitter-tplclass1=" mini "
						data-twitter-tplclass2=" btn-white ">
						<!-- twitter slider -->
						<div class="twitter-carousel ctrl-2 ctrl-l" 
							data-items="1"
							data-itemrange="false"
							data-tdrag="false"
							data-mdrag="false"
							data-pdrag="false"
							data-autoplay="true" 
							data-loop="true"
							data-nav="false"
							data-pager="true">
							<div class="owl-carousel feed-data"></div>
						</div><!-- / twitter slider -->
					
					</div><!-- / twitter widget -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->
		
		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Social section **************  -->