<!--
	************************************************************
	* Newsletter section
	************************************************************ -->
	<section class="pos-rel pd-tb-mini bg-dark" data-rgen-sm="pd-tb-small">
		<div class="container pos-rel z1 typo-light">
			
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title mr-b-4" data-rgen-sm="medium">Always be the first to know</h2>
				<p class="title-sub mr-b-30" data-rgen-sm="small">Sign up for our newsletter!</p>


				<form action="form-data/notify-me.php" class="form-widget mr-b-20" data-rgen-sm="mr-0" data-formtype="newsletter">
					<div class="field-wrp">
						<div class="row gt10">
							<div class="col-md-5">
								<div class="form-group">
									<input class="form-control form-control-light bdr-op-light-4 w100" data-label="Name" required data-msg="Please enter name." type="text" name="name" placeholder="Enter your name">
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
									<input class="form-control form-control-light bdr-op-light-4 w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<button type="submit" data-loading-text="Pleae wait.." class="btn btn-default block btn-reset bold-n" style="height: 46px;"><i class="fas fa-long-arrow-alt-right fs30"></i></button>
								</div>
							</div>
						</div>
					</div>
				</form><!-- / form -->
				
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua</p>
			</div>
			
		</div><!-- // END : container //  -->
	</section>
	<!-- ************** END : Newsletter section **************  -->