<!--
	************************************************************
	* Newsletter section
	************************************************************ -->
	<section class="pos-rel pd-tb-mini bg-dark" data-animate-in="fadeIn" data-rgen-sm="pd-tb-small align-c">
		<div class="container pos-rel z1 typo-light">

			<div class="row gt40">
				<div class="col-md-6">
					<h2 class="title mr-b-4" data-rgen-sm="medium">Always be the first to know</h2>
					<p class="title-sub mr-0" data-rgen-sm="small mr-b-20">Sign up for our newsletter!</p>
				</div><!-- // END : column //  -->
				
				<div class="col-md-6">
					<!--=================================
					= Newsletter section
					==================================-->
					<div class="subscribe-block _2 large">
						<form action="form-data/notify-me.php" class="form-widget" data-formtype="newsletter">
							<div class="form-group">
								<input class="form-control form-control-light bdr-2 bdr-white w100" data-label="Email" data-msg="Please enter email." type="email" name="email" placeholder="Enter your email">
								<button type="submit" data-loading-text="Pleae wait.." class="btn btn-dark solid bdr-2 hov-btn-white fs26"><i class="far fa-envelope"></i></button>
							</div>
						</form>
					</div>
					<!-- ======= END : Newsletter section =======  -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : container //  -->
	</section>
	<!-- ************** END : Newsletter section **************  -->