<!--
	************************************************************
	* Team section
	************************************************************ -->
	<section class="pos-rel pd-tb-small bg-gray" data-rgen-sm="pd-tb-small">
		<div class="container">
			<div class="w75 mr-auto align-c mr-b-60" data-animate-in="fadeIn">
				<h3 class="title" data-rgen-sm="medium">Passionate people on our team</h3>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing unde tempore rem maxime laudantium rerum non incidunt sequi, suscipit modi id. Impedit, obcaecati</p>
			</div>

			<div class="row gt40 mb40">
				<div class="col-md-3 align-c" data-animate-in="fadeInUp|0.1">
					<div class="hover-box1 align-c typo-light mr-b-20">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc b0 h-auto">
							<div class="content pd-20 z2">
								<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
								<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1"></b>
						</div>

						<img src="images/person1.jpg" alt="person">
					</div><!-- / hover box -->

					<h3 class="title mr-b-4 mini bold-n">Jessica Doe</h3>
					<p class="mr-0 fs12"><em>Ent Surgery</em></p>
				</div><!-- // END : column //  -->

				<div class="col-md-3 align-c" data-animate-in="fadeInUp|0.2">
					<div class="hover-box1 align-c typo-light mr-b-20">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc b0 h-auto">
							<div class="content pd-20 z2">
								<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
								<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1"></b>
						</div>

						<img src="images/person2.jpg" alt="person">
					</div><!-- / hover box -->

					<h3 class="title mr-b-4 mini bold-n">Alma Gomez</h3>
					<p class="mr-0 fs12"><em>Invisalign</em></p>
				</div><!-- // END : column //  -->

				<div class="col-md-3 align-c" data-animate-in="fadeInUp|0.3">
					<div class="hover-box1 align-c typo-light mr-b-20">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc b0 h-auto">
							<div class="content pd-20 z2">
								<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
								<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1"></b>
						</div>

						<img src="images/person3.jpg" alt="person">
					</div><!-- / hover box -->

					<h3 class="title mr-b-4 mini bold-n">Peggy Washington</h3>
					<p class="mr-0 fs12"><em>Cosmetic Surgery</em></p>
				</div><!-- // END : column //  -->

				<div class="col-md-3 align-c" data-animate-in="fadeInUp|0.4">
					<div class="hover-box1 align-c typo-light mr-b-20">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc b0 h-auto">
							<div class="content pd-20 z2">
								<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
								<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1"></b>
						</div>

						<img src="images/person4.jpg" alt="person">
					</div><!-- / hover box -->

					<h3 class="title mr-b-4 mini bold-n">Lydia Park</h3>
					<p class="mr-0 fs12"><em>Plastic Surgery</em></p>
				</div><!-- // END : column //  -->

				<div class="col-md-3 align-c" data-animate-in="fadeInUp|0.1">
					<div class="hover-box1 align-c typo-light mr-b-20">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc b0 h-auto">
							<div class="content pd-20 z2">
								<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
								<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1"></b>
						</div>

						<img src="images/person5.jpg" alt="person">
					</div><!-- / hover box -->

					<h3 class="title mr-b-4 mini bold-n">John Turner</h3>
					<p class="mr-0 fs12"><em>Lasik Eye</em></p>
				</div><!-- // END : column //  -->

				<div class="col-md-3 align-c" data-animate-in="fadeInUp|0.2">
					<div class="hover-box1 align-c typo-light mr-b-20">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc b0 h-auto">
							<div class="content pd-20 z2">
								<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
								<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1"></b>
						</div>

						<img src="images/person6.jpg" alt="person">
					</div><!-- / hover box -->

					<h3 class="title mr-b-4 mini bold-n">Wilson Young</h3>
					<p class="mr-0 fs12"><em>Dental</em></p>
				</div><!-- // END : column //  -->

				<div class="col-md-3 align-c" data-animate-in="fadeInUp|0.3">
					<div class="hover-box1 align-c typo-light mr-b-20">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc b0 h-auto">
							<div class="content pd-20 z2">
								<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
								<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1"></b>
						</div>

						<img src="images/person1.jpg" alt="person">
					</div><!-- / hover box -->

					<h3 class="title mr-b-4 mini bold-n">Marshall Stevenson</h3>
					<p class="mr-0 fs12"><em>Acupuncture</em></p>
				</div><!-- // END : column //  -->

				<div class="col-md-3 align-c" data-animate-in="fadeInUp|0.4">
					<div class="hover-box1 align-c typo-light mr-b-20">
						<!--=================================
						= hover content
						==================================-->
						<div class="overlay flex-cc b0 h-auto">
							<div class="content pd-20 z2">
								<a href="https://www.facebook.com/rgenesisart/" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-facebook-f"></i></a>
								<a href="https://twitter.com/rgenesisart" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-twitter"></i></a>
								<a href="https://plus.google.com/+RGenesis" target="_blank" class="sq30 fs16 rd-4 iconbox btn-white"><i class="fab fa-google"></i></a>
							</div>
							<b class="full-wh bg-dark op-08 z1"></b>
						</div>

						<img src="images/person2.jpg" alt="person">
					</div><!-- / hover box -->

					<h3 class="title mr-b-4 mini bold-n">Frankie Padilla</h3>
					<p class="mr-0 fs12"><em>Laboratory</em></p>
				</div><!-- // END : column //  -->

			</div><!-- // END : row //  -->
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Team section **************  -->