<!--
	************************************************************
	* Testimonials
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small">
		<div class="container small">
			<h2 class="title large f-2 mr-b-tiny align-c" data-rgen-sm="medium" data-animate-in="fadeIn">500+ Happy readers</h2>
			<hr class="mr-tb-mini" data-rgen-sm="mr-tb-20">
			<div class="info-obj img-l g40 medium w75 mr-auto" data-animate-in="fadeInUp|0.1">
				<div class="img"><img src="images/person1.jpg" class="rd mr-auto"></div>
				<div class="info">
					<p class="fs16">Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>

					<h3 class="title mini bold-n mr-0">Oupsum dolor</h3>
					<em class="fs12">Creative Director</em>
				</div>
			</div><!-- info box -->
			<hr class="mr-tb-mini" data-rgen-sm="mr-tb-20">
			<div class="info-obj img-l g40 medium w75 mr-auto" data-animate-in="fadeInUp|0.3">
				<div class="img"><img src="images/person2.jpg" class="rd mr-auto"></div>
				<div class="info">
					<p class="fs16">Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>

					<h3 class="title mini bold-n mr-0">Oupsum dolor</h3>
					<em class="fs12">Creative Director</em>
				</div>
			</div><!-- info box -->

		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Testimonials **************  -->