<!--
	************************************************************
	* Testimonial section
	************************************************************ -->
	<section class="pd-tb-small pos-rel" data-rgen-sm="pd-tb-small" id="testimonials">
		<div class="container align-c pos-rel z1">
			
			<div class="w75 mr-auto align-c" data-animate-in="fadeIn">
				<h2 class="title" data-rgen-sm="medium">What our customer say</h2>
				<p class="title-sub small" data-rgen-sm="small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>	
			</div>


			<div class="row gt30 mb30">
				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c h100 bg-gray pd-tiny rd-6">
						<div class="img"><span class="iconwrp rd bg-white shadow-tiny"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
							<hr>
							<h3 class="fs16 mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c h100 bg-gray pd-tiny rd-6">
						<div class="img"><span class="iconwrp rd bg-white shadow-tiny"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat</p>
							<hr>
							<h3 class="fs16 mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c h100 bg-gray pd-tiny rd-6">
						<div class="img"><span class="iconwrp rd bg-white shadow-tiny"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Amet consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
							<hr>
							<h3 class="fs16 mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.1">
					<div class="info-obj img-t g20 small align-c h100 bg-gray pd-tiny rd-6">
						<div class="img"><span class="iconwrp rd bg-white shadow-tiny"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Psum dolor sit amet, consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
							<hr>
							<h3 class="fs16 mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
				
				<div class="col-md-4" data-animate-in="fadeInUp|0.2">
					<div class="info-obj img-t g20 small align-c h100 bg-gray pd-tiny rd-6">
						<div class="img"><span class="iconwrp rd bg-white shadow-tiny"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
							<hr>
							<h3 class="fs16 mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->

				<div class="col-md-4" data-animate-in="fadeInUp|0.3">
					<div class="info-obj img-t g20 small align-c h100 bg-gray pd-tiny rd-6">
						<div class="img"><span class="iconwrp rd bg-white shadow-tiny"><i class="fa fa-quote-left"></i></span></div>
						<div class="info">
							<p class="fs16">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
							<hr>
							<h3 class="fs16 mr-0">Oupsum dolor</h3>
							<em class="fs12">Creative Director</em>
						</div>
					</div><!-- info box -->
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->

		</div><!-- // END : container //  -->
		
		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Testimonial section **************  -->