<!--
	************************************************************
	* Testimonials
	************************************************************ -->
	<section class="pd-tb-small" data-rgen-sm="pd-tb-small align-c">
		<div class="container small">
			<div class="w75 mr-auto">
				<div class="row gt20">
					<div class="col-md-2" data-animate-in="fadeInLeft">
						<span class="sq120 iconbox fs120 txt-primary op-02"><i class="fa fa-quote-left"></i></span>
					</div><!-- // END : column //  -->
					
					<div class="col-md-9 offset-md-1" data-animate-in="fadeInRight">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

						<h4 class="title tiny mr-0">Oupsum dolor</h4>
						<p class="fs12"><em>Creative Director</em></p>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

				<hr class="mr-tb-small" data-rgen-sm="mr-tb-30">

				<div class="row gt20">
					<div class="col-md-2" data-animate-in="fadeInLeft|0.1">
						<span class="sq120 iconbox fs120 txt-primary op-02"><i class="fa fa-quote-left"></i></span>
					</div><!-- // END : column //  -->
					
					<div class="col-md-9 offset-md-1" data-animate-in="fadeInRight|0.1">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

						<h4 class="title tiny mr-0">Oupsum dolor</h4>
						<p class="fs12"><em>Creative Director</em></p>
					</div><!-- // END : column //  -->
				</div><!-- // END : row //  -->

			</div>
		</div><!-- // END : Container //  -->

		<!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
	</section>
	<!-- ************** END : Testimonials **************  -->