<!--
	************************************************************
	* Testimonial section
	************************************************************ -->
	<section class="pd-tb-small pos-rel bg-gray2" data-rgen-sm="pd-tb-small" id="testimonials">
		<div class="container typo-light align-c">
			
			<!-- carousel-widget -->
			<div class="carousel-widget w75 ctrl-1 ctrl-light mr-auto">
				<div class="owl-carousel"
					data-autoplay="true"
					data-dots="true"
					data-nav="false">
					
					<div class="item pd-10">
						<span class="iconbox sq80 fs60 txt-white op-02"><i class="fa fa-quote-right"></i></span>
						<p class="title-sub mr-0">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						
						<hr class="px-w200 bdr-t-2 mr-tb-30 bdr-op-light-2 mr-auto">
						
						<div class="inline-block">
							<img src="images/person1.jpg" class="rd max-px-w100 mr-auto bdr-10 bdr-op-light-1 shadow-small mr-b-10" alt="image">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<p class="fs12 italic op-05">Creative Director</p>
						</div>
					</div><!-- /.item -->

					<div class="item pd-10">
						<span class="iconbox sq80 fs60 txt-white op-02"><i class="fa fa-quote-right"></i></span>
						<p class="title-sub mr-0">Rem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						
						<hr class="px-w200 bdr-t-2 mr-tb-30 bdr-op-light-2 mr-auto">
						
						<div class="inline-block">
							<img src="images/person2.jpg" class="rd max-px-w100 mr-auto bdr-10 bdr-op-light-1 shadow-small mr-b-10" alt="image">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<p class="fs12 italic op-05">Creative Director</p>
						</div>
					</div><!-- /.item -->

					<div class="item pd-10">
						<span class="iconbox sq80 fs60 txt-white op-02"><i class="fa fa-quote-right"></i></span>
						<p class="title-sub mr-0">Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						
						<hr class="px-w200 bdr-t-2 mr-tb-30 bdr-op-light-2 mr-auto">
						
						<div class="inline-block">
							<img src="images/person3.jpg" class="rd max-px-w100 mr-auto bdr-10 bdr-op-light-1 shadow-small mr-b-10" alt="image">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<p class="fs12 italic op-05">Creative Director</p>
						</div>
					</div><!-- /.item -->

					<div class="item pd-10">
						<span class="iconbox sq80 fs60 txt-white op-02"><i class="fa fa-quote-right"></i></span>
						<p class="title-sub mr-0">Amet onsetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
						
						<hr class="px-w200 bdr-t-2 mr-tb-30 bdr-op-light-2 mr-auto">
						
						<div class="inline-block">
							<img src="images/person4.jpg" class="rd max-px-w100 mr-auto bdr-10 bdr-op-light-1 shadow-small mr-b-10" alt="image">
							<h3 class="fs16 bold-n mr-0">Oupsum dolor</h3>
							<p class="fs12 italic op-05">Creative Director</p>
						</div>
					</div><!-- /.item -->

				</div><!-- /.owl-carousel -->
			</div><!-- /.carousel-widget -->

		</div><!-- // END : container //  -->
		

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.6)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg8.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>
	</section>
	<!-- ************** END : Testimonial section **************  -->