<!--
	************************************************************
	* Testimonials section
	************************************************************ -->
	<section class="pos-rel pd-0">
		<div class="container-fluid pos-rel z2">
			<div class="row min-vh-h100">

				<!--=================================
				= Parallax background
				==================================-->
				<div class="col-md-4 pos-rel last-md">
					<!--
					=================================
					= Background holder
					=================================
					-->
					<div class="bg-holder full-wh z0">
						<!-- Overlay -->
						<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
						<!-- Parallax image -->
						<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/appintro_slide6.jpg"></div>
						<!-- Background image -->
						<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
					</div>
				</div><!-- // END : column //  -->
				
				<!--=================================
				= Content
				==================================-->
				<div class="col-md-8 pd-tb-medium flex-cc pos-rel" data-rgen-sm="pd-tb-small">
					<div class="w80 mr-auto align-c" data-rgen-sm="pd-20">
						<h2 class="title mr-b-40" data-rgen-sm="medium">What our customer say</h2>
						<div class="row gt60 mb40">
							<div class="col-md-6" data-animate-in="fadeInUp|0.1">
								<div class="info-obj img-l g20 small align-l">
									<div class="img"><img src="images/person1.jpg" class="rd" alt="Person"></div>
									<div class="info">
										<p>"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. "</p>

										<strong>- Oupsum dolor</strong><br>
										<em>&nbsp;&nbsp; Creative Director</em>
									</div>
								</div><!-- feedback box -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-6" data-animate-in="fadeInUp|0.2">
								<div class="info-obj img-l g20 small align-l">
									<div class="img"><img src="images/person2.jpg" class="rd" alt="Person"></div>
									<div class="info">
										<p>"Consetetur sadipscing elitr, sed diam nonumy eimagna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."</p>

										<strong>- Oupsum dolor</strong><br>
										<em>&nbsp;&nbsp; Creative Director</em>
									</div>
								</div><!-- feedback box -->
							</div><!-- // END : column //  -->

							<div class="col-md-6" data-animate-in="fadeInUp|0.3">
								<div class="info-obj img-l g20 small align-l">
									<div class="img"><img src="images/person3.jpg" class="rd" alt="Person"></div>
									<div class="info">
										<p>"Nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."</p>

										<strong>- Oupsum dolor</strong><br>
										<em>&nbsp;&nbsp; Creative Director</em>
									</div>
								</div><!-- feedback box -->
							</div><!-- // END : column //  -->
							
							<div class="col-md-6" data-animate-in="fadeInUp|0.4">
								<div class="info-obj img-l g20 small align-l">
									<div class="img"><img src="images/person4.jpg" class="rd" alt="Person"></div>
									<div class="info">
										<p>"Sadipscing elitr, sed diam labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum."</p>

										<strong>- Oupsum dolor</strong><br>
										<em>&nbsp;&nbsp; Creative Director</em>
									</div>
								</div><!-- feedback box -->
							</div><!-- // END : column //  -->
						</div><!-- // END : row //  -->

						<hr class="mr-tb-40" data-rgen-sm="mr-tb-20">
						
						<h2 class="title mr-b-30 small" data-animate-in="fadeInUp">Our awesome customers</h2>

						<ul class="inline-list gt-mini size-mini reset op-05" data-animate-in="fadeInUp">
							<li><img src="images/brand-logo1.png" alt="brand"></li>
							<li><img src="images/brand-logo2.png" alt="brand"></li>
							<li><img src="images/brand-logo3.png" alt="brand"></li>
							<li><img src="images/brand-logo4.png" alt="brand"></li>
							<li><img src="images/brand-logo5.png" alt="brand"></li>
							<li><img src="images/brand-logo6.png" alt="brand"></li>
						</ul>

					</div>
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>
	</section>
	<!-- ************** END : Testimonials section **************  -->
