<!--
	************************************************************
	* Video section
	************************************************************ -->
	<section class="pd-t-small pd-b-0" style="overflow: visible;" data-rgen-sm="pd-tb-medium">
		<div class="container small align-c typo-light">
			<h2 class="title f-2 mr-b-mini" data-rgen-sm="medium" data-animate-in="fadeIn">How we work on our projects</h2>
			
			<div class="video-box px-h500 px-w800 -mr-b-50 mr-auto z2 pos-rel" data-rgen-sm="w-reset px-h400 mr-0" data-animate-in="fadeInUp">
				<iframe width="100%" height="100%" src="https://www.youtube.com/embed/dorZ3vag5PI" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<div class="bg-holder full-wh z1">
			<b bg-holder="overlay" class="full-wh bg-dark z2 op-09"></b>
			<b bg-holder="bg-img" data-bg="images/bg-img-01.jpg" data-stellar="y" data-stellar-vertical-offset="-100" data-stellar-ratio="0.8" data-rgen-sm="h100" class="full-vh bg-cc bg-cover bg-dark"></b>
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0.9)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-01.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Video section **************  -->