<!--
	************************************************************
	* Video section
	************************************************************ -->
	<section class="pos-rel pd-tb-small" data-rgen-sm="pd-tb-small align-c">
		<div class="container typo-light">
			<div class="row gt20 mb20 middle-md">
				<div class="col-md-6 offset-md-1 last-md" data-animate-in="fadeInLeft">
					<div class="video-box">
						<iframe width="100%" height="400" src="https://www.youtube.com/embed/dorZ3vag5PI" frameborder="0" allowfullscreen=""></iframe>
						<div class="frameCover" data-type="video"></div>
					</div>
				</div><!-- // END : column //  -->
				
				<div class="col-md-5" data-animate-in="fadeInRight">
					<h2 class="title large f-1" data-rgen-sm="medium">Rental locations worldwide</h2>
					<p class="title-sub mr-0" data-rgen-sm="small">Lorem ipsum dolor sit amet, consetetur sadipscing	elitr diam nonumyeirmod tempor invidunt ut labore etdolore.</p>
					
				</div><!-- // END : column //  -->
			</div><!-- // END : row //  -->
		</div>

		<!--
		=================================
		= Background holder
		=================================
		-->
		<div class="bg-holder full-wh z0">
			<!-- Overlay -->
			<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(31, 34, 41, 0.7)"></b>
			<!-- Background video -->
			<div data-bgholder="video" class="videobg z4 full-wh"></div>
			<!-- bg slider -->
			<div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
				<div class="bgslider full-wh"></div>
			</div>
			<!-- Parallax image -->
			<div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg14.jpg"></div>
			<!-- Background image -->
			<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
		</div>

	</section>
	<!-- ************** END : Video section **************  -->